<div class="carousel" [class.carousel-fade]="fade">
  <div class="carousel-inner">
    <div
      *ngFor="let item of items; let i = index"
      class="carousel-item"
      [class.carousel-item-next]="i > currentItem"
      [class.carousel-item-prev]="i < currentItem"
      [class.active]="currentItem === i"
      [class.carousel-item-right]="!fade && nextItem != null && (currentItem === i || nextItem === i) && currentItem > nextItem"
      [class.carousel-item-left]="!fade && nextItem != null && (currentItem === i || nextItem === i) && currentItem < nextItem"
      (transitionend)="doDoneTransition(i)"
    >
      <div class="d-none" [class.d-block]="fixeHeight || i === currentItem || i === nextItem || i === prevItem">
        <ng-container *ngTemplateOutlet="item.templateRef"></ng-container>
      </div>
    </div>
  </div>
</div>
