<footer class="footer bg-secondary notch-footer-component">
  <div class="container">
    <nav class="row">
      <div class="col-12 col-md-8 offset-md-2 d-flex flex-column justify-content-center flex-md-row justify-content-md-around">
        <a class="d-none d-md-inline py-md-2 align-self-center btn btn-link text-white link" [routerLink]="['/']">{{ 'FOOTER_COMPONENT.HOME' | translate }}</a>
        <a class="py-md-2 align-self-center btn btn-link text-white link" [routerLink]="['/legal']">{{ 'FOOTER_COMPONENT.LEGAL' | translate }}</a>
        <a class="py-md-2 align-self-center btn btn-link text-white link" href="mailto:contact@moveecar.com">{{ 'FOOTER_COMPONENT.CONTACT' | translate }}</a>
      </div>
    </nav>
    <div class="row">
      <div class="col-12 text-center">
        <span class="text-white moveecar">{{ 'FOOTER_COMPONENT.MOVEECAR' | translate }}</span>
      </div>
    </div>
  </div>
</footer>
