@import '../../../../../variables';

.footer {
  width: 100%;
  height: 92px;

  @include media-breakpoint-up(md) {
    height: 64px;
    margin-top: 16px;
  }

  .link {
    @include font(300, 18, 20);
  }

  .moveecar {
    @include font(300, 14, 16);
  }
}
