<div class="container-fluid">
  <div class="row">
    <div class="col-12 mb-2">
      <mcit-search-field [loading]="waiting" [options]="options.table.searchOptions" [ngModel]="searchBox" (ngModelChange)="querySubject.next($event)">
        <div class="btn-group flex-grow-0 flex-lg-grow-0 d-flex flex-row justify-content-around mr-1" *ngIf="(options.crud?.export?.exportButton | basicCrudHiddenAction : true | async) === false">
          <button
            #exportButton
            type="button"
            class="btn btn-primary btn-block"
            (click)="exportElements(exportButton)"
            [disabled]="waiting || total > options.crud?.export?.exportLimit || (options.crud?.export?.exportDisabled | basicCrudHiddenAction : true | async) === false"
            [mcitTooltip]="options?.crud?.export?.exportDisabledTooltip && (options.crud?.export?.exportDisabled | basicCrudHiddenAction : true | async) === false ? (options?.crud?.export?.exportDisabledTooltip | translate) : ''"
          >
            <i class="far" [ngClass]="waiting ? 'fa-spinner fa-pulse' : 'fas fa-file-export'"></i>
            {{ options.crud?.export?.exportButtonText ?? 'COMMON.EXPORT' | translate : { limit: options.crud?.export?.exportLimit } }}
          </button>
        </div>
        <div class="btn-group flex-grow-0 flex-lg-grow-0 d-flex flex-row justify-content-around mr-1" *ngIf="(options.crud?.import?.importButton | basicCrudHiddenAction : true | async) === false">
          <button #importButton type="button" class="btn btn-primary" (click)="importElements(importButton)">
            <i class="fas fa-file-import mr-2"></i>
            {{ options.crud?.import?.importButtonText ?? 'COMMON.IMPORT' | translate }}
          </button>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" [mcitDropdown]="importMenuTemplate" *ngIf="options.crud?.import?.templateLink || options.crud?.import?.templateCall">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ng-template #importMenuTemplate let-dropdownRef="dropdownRef">
            <div class="mcit-dropdown-menu show" role="menu" aria-labelledby="button-basic">
              <a *ngIf="options.crud?.import?.templateLink" class="dropdown-item" [href]="options.crud?.import?.templateLink" (click)="dropdownRef.close()"> {{ 'COMMON.DOWNLOAD_IMPORT_TEMPLATE' | translate }}&#x2026; </a>
              <div *ngIf="!options.crud?.import?.templateLink && options.crud?.import?.templateCall" class="dropdown-item cursor-pointer" (click)="options.crud?.import?.templateCall(); dropdownRef.close()">
                {{ 'COMMON.DOWNLOAD_IMPORT_TEMPLATE' | translate }}&#x2026;
              </div>
            </div>
          </ng-template>
        </div>
        <div class="flex-grow-1 flex-lg-grow-0 d-flex flex-row justify-content-around" *ngIf="(options.crud?.upsert?.addButton | basicCrudHiddenAction : true | async) === false">
          <button class="btn btn-primary" (click)="addElement()">
            {{ 'COMMON.ADD' | translate }}
          </button>
        </div>
        <ng-content select="[afterSearch]"></ng-content>
      </mcit-search-field>
    </div>
  </div>

  <div class="row">
    <div *ngIf="options.facet" class="col-12 col-xl-3 mb-2">
      <ng-container *ngIf="categories$ | async as categories; else loading">
        <mcit-facet-field [options]="options.facet.facetOptions" [loading]="waitingCategories" [data]="categories" [ngModel]="facetBox" (ngModelChange)="facetSubject.next($event)"></mcit-facet-field>
      </ng-container>
    </div>

    <div class="col-12 mb-2" [class.col-xl-12]="!options.facet?.facetOptions" [class.col-xl-9]="!!options.facet?.facetOptions">
      <div *ngIf="elements$ | async as elements; else loading">
        <div class="row">
          <div *ngIf="!waiting && !elements.length && searchBox?.text?.length >= 3" class="col-12 text-center">
            <div class="font-weight-light mb-2" style="font-size: 2rem; line-height: 1.2">
              {{ 'COMMON.EMPTY_RESULT' | translate }}
            </div>
            <h2 class="text-danger">{{ searchBox.text }}</h2>
          </div>
          <div *ngIf="!waiting && !elements.length && searchBox?.text?.length < 3" class="col-12 text-center">
            <div class="font-weight-light mb-2" style="font-size: 2rem; line-height: 1.2">
              {{ 'COMMON.EMPTY_LIST' | translate }}
            </div>
          </div>
          <div *ngIf="waiting && !elements.length" class="col-12 text-center">
            <i class="fas fa-spinner fa-pulse fa-3x" aria-hidden="true"></i>
          </div>
          <div *ngIf="elements.length" class="col-12">
            <ng-container *ngIf="options.table.tableOptions; else itemsTemplate">
              <mcit-table [options]="options.table.tableOptions" [pagination]="{ page: page, total: total, per_page: perPage }" [items]="elements">
                <ng-container *ngIf="rowHeaderCustom">
                  <ng-template mcitRowHeaderCustom let-allArgs>
                    <ng-container [ngTemplateOutlet]="rowHeaderCustom.templateRef" [ngTemplateOutletContext]="allArgs"> </ng-container>
                  </ng-template>
                </ng-container>
                <ng-container *ngFor="let columnCustom of columnCustoms">
                  <ng-template [mcitColumnCustom]="columnCustom.elementKey" let-allArgs>
                    <ng-container [ngTemplateOutlet]="columnCustom.templateRef" [ngTemplateOutletContext]="allArgs"> </ng-container>
                  </ng-template>
                </ng-container>
                <ng-container *ngIf="rowExtensionCustom">
                  <ng-template mcitRowExtensionCustom let-allArgs>
                    <ng-container [ngTemplateOutlet]="rowExtensionCustom.templateRef" [ngTemplateOutletContext]="allArgs"> </ng-container>
                  </ng-template>
                </ng-container>
              </mcit-table>
            </ng-container>
            <ng-template #itemsTemplate>
              <div class="d-flex flex-row align-items-baseline ng-star-inserted">
                <div class="d-flex flex-row justify-content-end align-items-baseline" [mcitTranslatedContent]="total > 1 ? 'BASIC_CRUD.NB_ITEMS_FOUND' : 'BASIC_CRUD.ONE_ITEM_FOUND'">
                  <div *mcitTranslatedElement="'num'" style="font-size: 1.5rem; font-weight: 700">
                    {{ total }}
                  </div>
                </div>
              </div>

              <div
                class="my-grid"
                [class.my-grid-multi]="options?.table?.itemCustom?.grid === 'multi'"
                [style.grid-template-columns]="options?.table?.itemCustom?.grid === 'multi' ? 'repeat(auto-fit, minmax(min(100%, ' + (options?.table?.itemCustom?.multi?.minWidth ?? '350px') + '), 1fr))' : 'repeat(1, 1fr)'"
              >
                <div *ngFor="let element of elements; trackBy: trackByFn.bind(this); let i = index" class="my-grid-item">
                  <ng-container [ngTemplateOutlet]="itemCustom?.templateRef" [ngTemplateOutletContext]="{ item: element, index: i, $implicit: { item: element, index: i } }"></ng-container>
                </div>
              </div>
            </ng-template>
          </div>
        </div>

        <div class="row mb-2" *ngIf="elements && elements.length > 0">
          <div class="col-12">
            <mcit-pagination [options]="{ page: page, total: total, totalPages: totalPages, per_page: perPage }" (pageEvent)="doPage($event)" (perPageEvent)="doPerPage($event)"></mcit-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="row">
    <div class="col-12 text-center">
      <i class="fas fa-spinner fa-pulse fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</ng-template>
