<div class="modal-header">
  <h4 class="modal-title">
    {{ 'MEMBER_ROLE_FIELD.MODAL.SUBSCRIPTIONS.SUBSCRIPTION' | translate }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="goBack()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="form" (ngSubmit)="doValidate()" novalidate>
  <div class="modal-body">
    <div class="form-row">
      <div class="col-12 col-md-6 mb-2">
        <label for="event_type" class="mcit-mandatory">{{ 'MEMBER_ROLE_FIELD.MODAL.SUBSCRIPTIONS.EVENT_TYPE' | translate }}</label>
        <div class="input-group">
          <select id="event_type" name="event_type" class="custom-select last-child-form-control" formControlName="event_type" [control-active]="(form.controls['event_type'].dirty && form.controls['event_type'].touched) || submitAttempt">
            <option *ngFor="let eventType of eventTypes" [value]="eventType">
              {{ eventType | listdico : 'SUBSCRIPTION_EVENT_TYPES' }}
            </option>
          </select>
          <div class="invalid-feedback">
            {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="mode" class="mcit-mandatory">{{ 'MEMBER_ROLE_FIELD.MODAL.SUBSCRIPTIONS.MODE' | translate }}</label>
        <div class="input-group">
          <select id="mode" name="mode" class="custom-select last-child-form-control" formControlName="mode" [control-active]="(form.controls['mode'].dirty && form.controls['mode'].touched) || submitAttempt">
            <option *ngFor="let mode of modes" [value]="mode">{{ mode | listdico : 'SUBSCRIPTION_MODES' }}</option>
          </select>
          <div class="invalid-feedback">
            {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="level" class="mcit-mandatory">{{ 'MEMBER_ROLE_FIELD.MODAL.SUBSCRIPTIONS.LEVEL' | translate }}</label>
        <div class="input-group">
          <select id="level" name="level" class="custom-select last-child-form-control" formControlName="level" [control-active]="(form.controls['level'].dirty && form.controls['level'].touched) || submitAttempt">
            <option *ngFor="let level of levels" [value]="level">{{ level | listdico : 'SUBSCRIPTION_LEVELS' }}</option>
          </select>
          <div class="invalid-feedback">
            {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="template">{{ 'MEMBER_ROLE_FIELD.MODAL.SUBSCRIPTIONS.TEMPLATES' | translate }}</label>
        <div class="input-group">
          <select
            id="template"
            name="template"
            class="custom-select last-child-form-control"
            formControlName="template"
            [mcitTooltip]="'MEMBER_ROLE_FIELD.MODAL.SUBSCRIPTIONS.TEMPLATES_TOOLTIP' | translate"
            [control-active]="(form.controls['template'].dirty && form.controls['template'].touched) || submitAttempt"
          >
            <option [value]="''">{{ 'COMMON.NONE' | translate }}</option>
            <option *ngFor="let template of templates$ | async as templates" [value]="template._id">
              {{ template.code }}
              <span *ngIf="template.description">&nbsp;({{ template.description }})</span>
            </option>
          </select>
          <div class="invalid-feedback">
            {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="form.get('event_type').value as eventType">
      <div *ngIf="eventType === 'BEFORE_DAY_PICKUP' || eventType === 'BEFORE_DAY_DELIVERY' || eventType === 'NEAR_PICKUP' || eventType === 'NEAR_DELIVERY'" class="form-row">
        <div class="col-12">
          <mcit-before-day-context *ngIf="eventType === 'BEFORE_DAY_PICKUP' || eventType === 'BEFORE_DAY_DELIVERY'" formControlName="context"></mcit-before-day-context>
          <mcit-near-context *ngIf="eventType === 'NEAR_PICKUP' || eventType === 'NEAR_DELIVERY'" formControlName="context"></mcit-near-context>
        </div>
      </div>
    </ng-container>

    <div class="form-row">
      <div class="col-12 mb-2">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="use_member_role_contact" formControlName="use_member_role_contact" />
          <label class="custom-control-label" for="use_member_role_contact">{{ 'MEMBER_ROLE_FIELD.MODAL.SUBSCRIPTIONS.USE_MEMBER_ROLE_CONTACT' | translate }}</label>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-2">
        <label for="contacts">{{ 'MEMBER_ROLE_FIELD.MODAL.SUBSCRIPTIONS.CONTACTS' | translate }}</label>
        <div class="input-group">
          <textarea id="contacts" name="language" class="form-control last-child-form-control" formControlName="_contacts" rows="2"></textarea>
          <div class="invalid-feedback" [class.d-block]="form.errors?.contacts">
            {{ 'MEMBER_ROLE_FIELD.MODAL.SUBSCRIPTIONS.WRONG_CONTACT_FORMAT' | translate : { text: form.errors?.contacts } }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 col-md-6 mb-2">
        <label for="language">{{ 'MEMBER_ROLE_FIELD.MODAL.SUBSCRIPTIONS.LANGUAGE' | translate }}</label>
        <div class="input-group">
          <select id="language" name="language" class="custom-select last-child-form-control" formControlName="_language" [control-active]="(form.controls['_language'].dirty && form.controls['_language'].touched) || submitAttempt">
            <option *ngFor="let language of languages" [value]="language.code">{{ language.name | translate }}</option>
          </select>
          <div class="invalid-feedback">
            {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-row" *ngIf="!disabledTags">
      <div class="col-12 mb-2">
        <label>{{ 'MEMBER_ROLE_FIELD.MODAL.SUBSCRIPTIONS.TAGS' | translate }}</label>
        <mcit-tags-input [tagList]="form.get('tags').value" maxLength="10" [disabled]="disabledTags" (valueChange)="onTagListChange($event)"></mcit-tags-input>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary mr-1" type="button" (click)="goBack()">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button class="btn btn-primary ml-1" type="submit" [disabled]="form.invalid">
      {{ 'COMMON.VALIDATE' | translate }}
    </button>
  </div>
</form>
