<div class="d-flex flex-row flex-wrap" style="max-width: 400px">
  <button #editStringListButton class="btn" type="button" (click)="doShowFilterStringListEditModal()" data-toggle="tooltip" data-placement="bottom" title="{{ 'SEARCH_FIELD.FILTERS.STRINGLIST.EDIT' | translate : { objectKey: objectKey } }}">
    <i class="far fa-edit"></i>
  </button>
  <ng-container *ngIf="strings?.length > 0; else empty">
    <div *ngIf="strings?.length < 7">
      <div *ngFor="let line of strings" class="btn-group btn-group-sm mr-1 mb-1">
        <button class="btn rounded-pill" type="button" (click)="doRemove(line)" [mcitRandomColor]="line">{{ line }}&nbsp;<i class="far fa-times"></i></button>
      </div>
    </div>
    <div *ngIf="strings?.length >= 7" class="text-truncate pt-2">{{ strings.length }} {{ 'SEARCH_FIELD.FILTERS.STRINGLIST.OBJECTS' | translate : { objectKey: objectKey } }}</div>
  </ng-container>
  <ng-template #empty>
    <div class="pt-2">
      <span class="font-italic font-weight-light">{{ 'SEARCH_FIELD.FILTERS.STRINGLIST.NONE_OBJECT' | translate : { objectKey: objectKey } }}</span>
    </div>
  </ng-template>
</div>
