<ngx-loading [show]="openingFile"></ngx-loading>
<div class="modal-header">
  <h4 class="modal-title">{{ 'EXPENSES.ADD_EDIT_MODAL.TITLE' | translate }} {{ object_no }} <span class="text-warning">/</span></h4>
  <button *ngIf="expense | istolocked" (click)="doUnlockEdition()" [disabled]="!formDisabled" type="button" class="btn btn-sm m-auto py-0">
    <i *ngIf="!formDisabled" class="fa fa-lock-open" aria-hidden="true"></i>
    <i *ngIf="formDisabled" class="fa fa-lock" aria-hidden="true"></i>
    {{ (formDisabled === true ? 'EXPENSES.ADD_EDIT_MODAL.LOCKED' : 'EXPENSES.ADD_EDIT_MODAL.UNLOCKED') | translate }}
  </button>
  <button type="button" class="close" aria-label="Close" (click)="doClose(expense)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="expenseForm" (ngSubmit)="doSave()" novalidate>
  <fieldset [disabled]="formDisabled">
    <div class="modal-body">
      <div class="d-flex justify-content-between">
        <h4 class="modal-title">
          {{ 'EXPENSES.ADD_EDIT_MODAL.' + (isEditForm ? 'EDIT' : 'ADD') + '_TITLE' | translate : { expense_no: expense?.expense_no } }}
        </h4>
        <div
          class="badge mcit-badge-waiting"
          style="line-height: unset"
          [class.mcit-badge-executed]="expense?.status === ExpenseStatus.VAL"
          [class.mcit-badge-current]="expense?.status === ExpenseStatus.PEN"
          [class.mcit-badge-suspended]="expense?.status === ExpenseStatus.REJ"
        >
          {{ expense?.status | listdico : 'EXPENSES.STATUS' }}
        </div>
      </div>
      <hr />
      <div class="form-row">
        <div class="col-sm-12 col-md-6 mb-2">
          <label for="type">{{ 'EXPENSES.ADD_EDIT_MODAL.EXPENSE_TYPES' | translate }}<span class="text-danger">*</span></label>
          <div formGroupName="type_of_expense" class="input-group">
            <select
              id="type"
              formControlName="type"
              (change)="doChangeExpensesGroup($event)"
              [control-active]="(expenseForm['controls']['type_of_expense']['controls']['type'].dirty && expenseForm['controls']['type_of_expense']['controls']['type'].touched) || submitAttempt"
              class="custom-select"
              required
            >
              <optgroup *ngFor="let group of expensesTypesGroupsOptions" [label]="'CARRIER_RTO_INFO.ORDER-EXPENSES_COMPONENT.EXPENSES_GROUPS.' + group.groupName | joinForTranslate | translate">
                <option *ngFor="let option of group.options" [value]="option.value">
                  {{ 'EXPENSES.TYPES.' + option.name | joinForTranslate | translate }}
                </option>
              </optgroup>
            </select>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-2">
          <label for="code">{{ 'EXPENSES.ADD_EDIT_MODAL.AMOUNT' | translate }}<span class="text-danger">*</span></label>
          <div class="input-group">
            <input
              id="code"
              formControlName="amount"
              [control-active]="expenseForm['controls']['amount'].dirty || expenseForm['controls']['amount'].touched || submitAttempt"
              type="number"
              class="form-control"
              aria-label="Text input with dropdown button"
            />
            <div class="input-group-append">
              <button #menuButton class="btn btn-outline-secondary dropdown-toggle" type="button" (click)="doShowCurrencyMenu(menuButton)">
                {{ expenseForm['controls']['currency'].value }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12 mb-2">
          <label for="description">{{ 'EXPENSES.ADD_EDIT_MODAL.DESCRIPTION' | translate }}</label>
          <div class="input-group">
            <textarea
              rows="5"
              id="description"
              name="description"
              [control-active]="expenseForm['controls']['description'].dirty || expenseForm['controls']['description'].touched || submitAttempt"
              class="form-control last-child-form-control"
              formControlName="description"
            >
            </textarea>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div *ngIf="expense" class="col-12 mb-2">
          <hr />
          <label for="description">{{ 'EXPENSES.ADD_EDIT_MODAL.ATTACHMENTS' | translate }}</label>
          <div class="row">
            <div class="col-12">
              <ng-container *ngTemplateOutlet="picdel; context: { expense: expense, pickup: true, editable: true }"> </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button [class.w-100]="smallWindow" class="btn btn-primary" type="submit" [disabled]="expenseForm.invalid">
        {{ 'COMMON.SAVE' | translate }}
      </button>
    </div>
  </fieldset>
</form>

<!-- Attatchments -->
<ng-template #picdel let-expense="expense" let-pickup="pickup" let-editable="editable">
  <mat-grid-list [cols]="gridCols" rowHeight="1:1" [@pictures-anim]>
    <mat-grid-tile>
      <div class="btn btn-primary add-action-container">
        <input id="file" type="file" capture="camera" class="custom-file-input position-absolute" (change)="doAddExpensesAttachments($event, expense)" />
        <label for="file" class="add-action d-flex flex-column justify-content-center align-items-center">
          <i class="far fa-camera-alt" aria-hidden="true"></i>
        </label>
      </div>
      <ngx-loading [show]="upload" [config]="{ animationType: 'circleSwish' }"></ngx-loading>
    </mat-grid-tile>
    <div>
      <mat-grid-tile *ngFor="let attachment of expense?.attachments; let i = index" [@picture-anim]>
        <div class="image-preview-container">
          <img *ngIf="isImageFile(attachment.name)" [hidden]="!expensesAttachmentsLoad[i]" [src]="expensesAttachmentsUrls[i] | secure" (load)="onExpensesAttachmentsLoad(i)" (click)="doShowExpensesAttachments(i)" />
          <i *ngIf="!isImageFile(attachment.name)" (click)="doDownloadExpensesFile(expense, attachment)" class="fas fa-file file-icon align-middle d-flex justify-content-center"></i>
          <button type="button" *ngIf="editable" class="btn btn-icon delete" (click)="doDeleteAttachment(attachment.document_id, i)">
            <i class="fas fa-trash" aria-hidden="true"></i>
          </button>
        </div>
        <ngx-loading *ngIf="isImageFile(attachment.name)" [show]="!expensesAttachmentsLoad[i]" [config]="{ animationType: 'circleSwish' }"></ngx-loading>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</ng-template>
