@import 'projects/dispatcher/src/variables';

$add-pciture-icon-size: 96px;

.model-1 {
  @include font(700, 18, 20);
  color: $body-color;
  text-align: center;
  margin-bottom: 5px;
}

.model-2 {
  @include font(300, 18, 20);
  color: $body-color;
  text-align: center;
  margin-bottom: 20px;
}

mat-grid-tile {

  .image-preview-container {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .4s;
      cursor: pointer;
      image-orientation: from-image;

      &:hover {
        transform: scale(1.1);
      }
    }

    &:hover img {
      transform: scale(1.1);
    }

    .delete {
      position: absolute;
      bottom: 0;
      right: 0;
      color: $white;
      background-color: rgba($cool-gray_5, .85);
    }
  }

  .add-action-container {
    position: relative;
    width: 100%;
    height: 100%;

    .add-action {
      position: relative;
      width: 100%;
      height: 100%;
      cursor: pointer;

      i {
        width: $add-pciture-icon-size;
        height: $add-pciture-icon-size;
        line-height: $add-pciture-icon-size;
        font-size: $add-pciture-icon-size;
      }
    }
  }
}

#dropdown-menu {
    left: auto !important;
    right: 0px !important;
    top: 100% !important;
    transform: translateY(0px) !important;
    bottom: auto !important;
}

.w-15 {
    width: 15%;
}

.file-icon {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 5em;
  object-fit: cover;
  transition: all .4s;
  cursor: pointer;
  image-orientation: from-image;
  width: 100%;
}

.file-icon:hover {
  transform: scale(1.1);
}

.file-icon-container {
  background-color: #f1f1f2fa;
  cursor: pointer;
}
