<div class="minh-100" [ngClass]="{ container: isContainer }">
  <mat-grid-list [cols]="gridCols" rowHeight="1:1" [@pictures-anim]>
    <mat-grid-tile *ngIf="editable">
      <div class="btn btn-primary add-action-container">
        <ng-container *ngIf="!cordova">
          <label class="add-action d-flex flex-column justify-content-center align-items-center">
            <input type="file" [accept]="onlyImage ? 'image/jpeg' : ''" capture="camera" class="custom-file-input position-absolute" (change)="doAddPictureOnBrowser($event.target.files)" />
            <i [class]="iconCss"></i>
          </label>
        </ng-container>
        <ng-container *ngIf="cordova">
          <div class="add-action d-flex flex-column justify-content-center align-items-center" (click)="doOpenPhotosDialogOnCordova()">
            <i [class]="iconCss"></i>
          </div>
        </ng-container>
      </div>
      <ngx-loading [show]="upload" [config]="{ animationType: 'circleSwish' }"></ngx-loading>
    </mat-grid-tile>
    <ng-container *ngIf="attachments?.length > 0 && !localMode">
      <mat-grid-tile *ngFor="let attachRemote of attachments; trackBy: trackByFn; let i = index" [@picture-anim] [mcitTooltip]="attachRemote | attachMetadata">
        <div class="image-preview-container">
          <!-- Image -->
          <ng-container *ngIf="attachRemote | attachIsImage; else attachRemoteNotImage">
            <img *ngIf="attachRemote?.remote_url?.length" [src]="attachRemote?.remote_url | secure" (click)="doShowPicture(i)" [hidden]="!documentLoads[i]" (load)="onDocumentLoad(i)" />
            <img *ngIf="!attachRemote?.remote_url?.length" [src]="baseUrl + attachRemote?.document_id + (suffixUrl ? suffixUrl : '') | secure" (click)="doShowPicture(i)" [hidden]="!documentLoads[i]" (load)="onDocumentLoad(i)" />
            <img *ngIf="attachRemote?.document_id?.length" [src]="baseUrl + attachRemote?.document_id + (suffixUrl ? suffixUrl : '') | secure" (click)="doShowPicture(i)" [hidden]="!documentLoads[i]" (load)="onDocumentLoad(i)" />
          </ng-container>
          <!-- File -->
          <ng-template #attachRemoteNotImage>
            <label class="cursor-pointer add-action d-flex flex-column justify-content-center align-items-center" (click)="doDownloadFile(attachRemote)">
              <i class="fas fa-file file-icon"></i>
            </label>
          </ng-template>
          <ngx-loading [show]="!documentLoads[i]" [config]="{ animationType: 'circleSwish' }"> </ngx-loading>
          <button type="button" *ngIf="editable" class="btn btn-sm delete" (click)="doDeletePicture(attachRemote)">
            <i class="fas fa-trash"></i>
          </button>
        </div>
        <ngx-loading [show]="!documentLoads[i]" [config]="{ animationType: 'circleSwish' }"></ngx-loading>
      </mat-grid-tile>
    </ng-container>
    <ng-container *ngIf="attachments?.length > 0 && localMode">
      <mat-grid-tile *ngFor="let attachLocal of attachments; let i = index; trackBy: trackByFn" [@picture-anim] [mcitTooltip]="attachRemote | attachMetadata">
        <div class="image-preview-container">
          <div class="sync">
            <i *ngIf="(actions$ | async | attachSyncStatus : attachLocal) === OFFLINE_STATUS_ENUM.PENDING" class="far fa-fw fa-sync"></i>
            <i *ngIf="(actions$ | async | attachSyncStatus : attachLocal) === OFFLINE_STATUS_ENUM.INPROGRESS" class="far fa-fw fa-sync text-warning fa-spin"></i>
            <i *ngIf="(actions$ | async | attachSyncStatus : attachLocal) === OFFLINE_STATUS_ENUM.ERROR" class="far fa-fw fa-sync text-danger"></i>
          </div>
          <!-- Image -->
          <ng-container *ngIf="attachLocal | attachIsImage; else attachLocalNotImage">
            <img *ngIf="attachLocal?.local_url?.length" [src]="attachLocal | attachToBase64 | async" (click)="doShowPicture(i)" [hidden]="!attachLocal?.is_loaded" />
            <img *ngIf="!attachLocal?.local_url?.length && attachLocal?.remote_url?.length" [src]="attachLocal?.remote_url | secure" (click)="doShowPicture(i)" [hidden]="!attachLocal?.is_loaded && !!attachLocal?.local_url?.length" />
          </ng-container>
          <!-- File -->
          <ng-template #attachLocalNotImage>
            <label class="cursor-pointer add-action d-flex flex-column justify-content-center align-items-center" (click)="doDownloadFile(attachLocal)">
              <i class="fas fa-file file-icon"></i>
            </label>
          </ng-template>
          <ngx-loading [show]="!attachLocal?.is_loaded && !!attachLocal?.local_url?.length" [config]="{ animationType: 'circleSwish' }"></ngx-loading>
          <button type="button" *ngIf="editable" class="btn btn-sm delete" (click)="doDeletePicture(attachLocal)">
            <i class="fas fa-trash"></i>
          </button>
        </div>
        <ngx-loading [show]="!attachLocal?.is_loaded && !!attachLocal?.local_url?.length" [config]="{ animationType: 'circleSwish' }"></ngx-loading>
      </mat-grid-tile>
    </ng-container>
    <ng-container *ngIf="withEmptyPics">
      <mat-grid-tile *ngFor="let i of emptyPics" class="dashed"> </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
  <ng-container *ngFor="let attach of attachments; let i = index; trackBy: trackByFn">
    <div *ngIf="!(attach | attachIsImage)" class="row no-gutters font-italic">
      {{ attach.name }}
    </div>
  </ng-container>

  <ng-template #empty>
    <small>{{ 'VEHICLE-PHOTOS_COMPONENT.PHOTO_UNAVAILABLE' | translate }}</small>
  </ng-template>
</div>
