@import '../../../variables.scss';

$add-picture-icon-size: 45px;

.dashed {
  border: 1px dashed #b9b9b9; 
}

.model-1 {
  @include font(700, 18, 20);
  color: $body-color;
  text-align: center;
  margin-bottom: 5px;
}

.txt {
	color: #31394D;
	font-family: Roboto;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
}

.model-2 {
  @include font(300, 18, 20);
  color: $body-color;
  text-align: center;
  margin-bottom: 20px;
}

mat-grid-tile {

  .image-preview-container {
    position: relative;
    width: 100%;
    height: 100%;

    .sync {
        position: absolute;
        height: max-content;
        top: 0;
        right: 0;
        z-index: 1;
        background-color: rgba($white, 0.95)
    }

    .fa-sync {
        padding: 5px 20px 5px 5px;
    }
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .4s;
      cursor: pointer;
      image-orientation: from-image;

      &:hover {
        transform: scale(1.1);
      }
    }

    &:hover img {
      transform: scale(1.1);
    }

    .delete {
      position: absolute;
      bottom: 0;
      right: 0;
      color: $white;
      background-color: rgba($cool-gray_5, .85);
    }
  }

  .add-action-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .add-action {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;

    i {
      width: $add-picture-icon-size;
      height: $add-picture-icon-size;
      line-height: $add-picture-icon-size;
      font-size: $add-picture-icon-size;
    }
  }
}
