<div class="d-flex flex-column" [formGroup]="groupForm">
  <div class="input-group input-group-sm mb-2">
    <div class="input-group-prepend">
      <button *ngIf="options?.save?.history || options?.save?.favorite" #saveButton type="button" class="btn btn-outline-secondary dropdown-toggle" (click)="doShowHistory(saveButton)">
        <i class="far fa-history" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-outline-secondary" (click)="doOpenAll()" [mcitTooltip]="'FACET_FIELD.CATEGORIES.OPEN_ALL' | translate">
        <i class="far fa-chevron-double-down" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-outline-secondary" (click)="doCloseAll()" [mcitTooltip]="'FACET_FIELD.CATEGORIES.CLOSE_ALL' | translate">
        <i class="far fa-chevron-double-right" aria-hidden="true"></i>
      </button>
    </div>
    <input type="text" class="form-control" [placeholder]="'FACET_FIELD.CATEGORIES.SEARCH_CATEGORY' | translate" [(ngModel)]="searchBox" [ngModelOptions]="{ standalone: true }" />
    <div class="input-group-append">
      <button *ngIf="options?.save?.favorite" type="button" class="btn btn-outline-secondary" (click)="doSaveFavorite()" [disabled]="groupForm.value | categoriesempty">
        <i class="fa-star" [ngClass]="currentFavorite ? 'fas' : 'far'" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-outline-secondary" (click)="doClearAll()" [disabled]="groupForm.value | categoriesempty" [mcitTooltip]="'FACET_FIELD.CATEGORIES.CLEAR_ALL' | translate">
        <i class="far fa-eraser" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="d-flex flex-column mcb-2">
    <ng-container *ngFor="let k of options?.categories?.categoriesConfig | categoriesDisable | async | keys | sortBySettings : settings?.positions | sortByData : groupForm.value">
      <ng-container *ngIf="options.categories.categoriesConfig[k] as categoryConfig">
        <ng-container *ngIf="categoryConfig.nameKey | translate as name">
          <div class="d-none bg-white border shadow-sm p-2" [class.d-block]="name | ismatch : searchBox">
            <mcit-simple-accordion #generalAccordion [open]="k | isOpenCategory : categoryConfig : settings">
              <div simple-accordion-header class="d-flex flex-row align-items-center p-1">
                <h6 class="flex-grow-1 m-0 text-uppercase my-title" [class.not-empty]="groupForm.get(k)?.value != null">
                  {{ name }}
                </h6>
                <button *ngIf="groupForm.get(k)?.value != null" class="btn btn-link btn-sm py-0 border-0" style="font-size: 0.7rem" type="button" (click)="doClearCategory($event, k)">
                  {{ 'COMMON.CLEAR' | translate }}
                </button>
                <div *ngIf="groupForm.get(k)?.value == null && data[k]?.length > 0" class="font-size-0_75 mr-1 my-count-data">
                  {{ data[k].length }}
                </div>
                <i class="fas" [ngClass]="generalAccordion.open ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
              </div>
              <div class="position-relative">
                <ng-container [ngSwitch]="categoryConfig.type">
                  <ng-container *ngSwitchCase="'standard'">
                    <mcit-category-standard-facet-container [key]="k" [options]="options" [categoryConfig]="categoryConfig | asCategoryStandardConfig" [data]="data[k]" [formControlName]="k"> </mcit-category-standard-facet-container>
                  </ng-container>
                  <ng-container *ngSwitchCase="'bucket'">
                    <mcit-category-bucket-facet-container [key]="k" [options]="options" [defaultValue]="defaultValue" [categoryConfig]="categoryConfig | asCategoryBucketConfig" [data]="data[k]" [formControlName]="k">
                    </mcit-category-bucket-facet-container>
                  </ng-container>
                  <ng-container *ngSwitchCase="'bucketAuto'">
                    <mcit-category-bucket-auto-facet-container [key]="k" [options]="options" [categoryConfig]="categoryConfig | asCategoryBucketAutoConfig" [data]="data[k]" [formControlName]="k"> </mcit-category-bucket-auto-facet-container>
                  </ng-container>
                  <ng-container *ngSwitchCase="'geoDistance'">
                    <mcit-category-geo-distance-facet-container [key]="k" [options]="options" [categoryConfig]="categoryConfig | asCategoryGeoDistanceConfig" [data]="data[k]" [formControlName]="k">
                    </mcit-category-geo-distance-facet-container>
                  </ng-container>
                  <ng-container *ngSwitchCase="'daysSince'">
                    <mcit-category-days-since-facet-container [key]="k" [options]="options" [categoryConfig]="categoryConfig | asCategoryDaysSinceConfig" [data]="data[k]" [formControlName]="k"> </mcit-category-days-since-facet-container>
                  </ng-container>
                </ng-container>
                <ngx-loading class="my-backdrop" [show]="loading"></ngx-loading>
              </div>
            </mcit-simple-accordion>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
