@import "../../../../../variables";

.my-title {
  font-size: 0.875rem;

  &.not-empty {
    color: $bleu_primaire;
  }
}

.my-backdrop {
  ::ng-deep {
    .backdrop {
      z-index: 5;
    }
  }
}

.my-count-data {
  color: $prune;
}