<div [formGroup]="groupForm">
  <ng-container *ngIf="list$ | async as tmp; else waiting">
    <select class="custom-select custom-select-sm border" formControlName="value">
      <option [ngValue]="null">
        {{ (filterConfig.asyncSelectList.emptyNameKey ? filterConfig.asyncSelectList.emptyNameKey : 'COMMON.NONE') | translate }}
      </option>
      <option *ngFor="let value of tmp" [ngValue]="value.id">{{ value.name }}</option>
    </select>
  </ng-container>
</div>
<ng-template #waiting>
  <div class="d-flex flex-row justify-content-center align-items-center">
    <i class="far fa-spin fa-sync-alt my-waiting"></i>
  </div>
</ng-template>
