<div class="row" *ngIf="displayInternalExternalSwitchButton">
  <div class="col-12">
    <div class="d-flex flex-column bd-highlight">
      <div *ngIf="editable" class="model-1 text-center my-title m-1">
        {{ 'INSPECTIONS.DAMAGES.LIST.MESSAGE' | translate }}
      </div>
      <div class="p-2 bd-highlight d-flex justify-content-center">
        <div class="btn-group-toggle">
          <label class="btn" [ngClass]="damageType === vehicleElementType.EXTERNAL ? 'btn-secondary' : 'btn-outline-secondary'">
            <input type="radio" name="options" id="option1" value="{{ vehicleElementType.EXTERNAL }}" [ngModel]="damageType" [checked]="damageType === vehicleElementType.EXTERNAL" (ngModelChange)="doChangeZoneType($event)" />
            <i class="fa fa-car-crash" aria-hidden="true"></i> {{ 'INSPECTIONS.DAMAGES.EXTERNAL' | translate }}
          </label>
          <label class="btn" [ngClass]="damageType === vehicleElementType.INTERNAL ? 'btn-secondary' : 'btn-outline-secondary'">
            <input type="radio" name="options" id="option2" value="{{ vehicleElementType.INTERNAL }}" [ngModel]="damageType" [checked]="damageType === vehicleElementType.INTERNAL" (ngModelChange)="doChangeZoneType($event)" />
            <i class="fa fa-car-alt" aria-hidden="true"></i> {{ 'INSPECTIONS.DAMAGES.INTERNAL' | translate }}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-12 col-lg-6 col-md-12 col-sm-12 p-1">
    <!-- INTERNAL VEHICLE SVG -->
    <ng-container *ngIf="damageType === vehicleElementType.INTERNAL">
      <mcit-internal-vehicle-svg
        #internalVehicleSvgComponent
        [editable]="editable"
        [points]="internalPoints"
        [svgComponentType]="svgComponentType"
        [wheelPosition]="wheelPosition"
        [displaySwitchWheelPositionButton]="displaySwitchWheelPositionButton"
        (wheelPositionChanged)="wheelPositionChangedFct($event)"
        (damageLocationAdded)="damageLocationAddedFct($event)"
        (damageLocationSelected)="damageLocationSelectedFct($event)"
      ></mcit-internal-vehicle-svg>
    </ng-container>
    <!--/ INTERNAL VEHICLE SVG -->

    <!-- EXTERNAL VEHICLE SVG -->
    <ng-container *ngIf="damageType === vehicleElementType.EXTERNAL">
      <mcit-external-vehicle-svg
        #externalVehicleSvgComponent
        [editable]="editable"
        [points]="externalPoints"
        [svgComponentType]="svgComponentType"
        (damageLocationAdded)="damageLocationAddedFct($event)"
        (damageLocationSelected)="damageLocationSelectedFct($event)"
      ></mcit-external-vehicle-svg>
    </ng-container>
    <!--/ EXTERNAL VEHICLE SVG -->
  </div>

  <ng-content></ng-content>
</div>
