<mcit-svg-map
  #svg
  [zones]="zones"
  [points]="points"
  [viewportWidth]="viewportWidth"
  [viewportHeight]="viewportHeight"
  [svgSource]="svgSource"
  (pointAdded)="damageLocationAddedFct($event, svg.selectedZone)"
  (pointSelected)="damageLocationSelectedFct($event, svg.selectedZone)"
  class="d-block"
></mcit-svg-map>
<button style="border-radius: 100%; aspect-ratio: 1;" *ngIf="svgComponentType === 'COMPOUND' && editable" type="button" class="btn btn-primary mx-auto mb-4 d-block" (click)="addDamageWithoutLocation()">
  <i class="far fa-plus fa-fw" aria-hidden="true"></i>
</button>
