<div class="sticky-top notch-header-damage-component col-12 d-flex flex-row align-items-center reference-rto text-truncate">
  <div class="close cursor-pointer" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </div>
  <h4 class="pl-2 pt-2 modal-title text-truncate">
    <ng-container *ngIf="damagedElement.type === 'INT'">{{ 'INSPECTIONS.DAMAGES.SHOW.TITLE_INT' | translate }}</ng-container>
    <ng-container *ngIf="damagedElement.type === 'EXT'">{{ 'INSPECTIONS.DAMAGES.SHOW.TITLE_EXT' | translate }}</ng-container>
  </h4>
</div>
<div class="mt-2">
  <mcit-damage-show [damagedElement]="damagedElement" [attachmentUrls]="attachmentUrls" [attachmentLocals]="attachmentLocals" [wheelPosition]="wheelPosition"></mcit-damage-show>
</div>
