<div class="modal-header">
  <h4 class="modal-title">{{ title | translate : extras?.titleParams }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-row">
    <div class="form-row">
      <p>{{ messageKey | translate : extras?.messageParams }}</p>
    </div>
    <form [formGroup]="form" novalidate>
      <div class="form-row mb-4">
        <div class="col-12 col-md col-lg mb-2">
          <div class="input-group">
            <input id="value" type="text" autocorrect="off" autocapitalize="off" spellcheck="false" autocomplete="off" class="form-control" formControlName="value" />
            <div class="input-group-append" *ngIf="form.get('value')?.value">
              <button type="button" class="btn btn-outline-secondary" (click)="form.get('value').setValue('')" tabindex="-1">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary ml-1" (click)="doConfirm()" [disabled]="form.invalid">
    {{ (extras?.extrasActionKey ? extras?.extrasActionKey : 'COMMON.OK') | translate }}
  </button>
</div>
