<div *ngIf="data?.length > 0; else emptyData" class="d-flex flex-column">
  <ng-container *ngIf="value != null">
    <div class="d-flex flex-row align-items-center badge badge-light px-1 py-0" [class.font-size-0_75]="options?.categories?.size === 'sm'">
      <div class="flex-grow-1 d-flex flex-row align-items-center minw-0">
        <div class="flex-grow-1 mx-1">
          {{ 'FACET_FIELD.CATEGORIES.MIN_TO_MAX' | translate : { min: value.gt != null ? value.gt : value.gte, max: value.lt != null ? value.lt : value.lte } }}
        </div>
      </div>
      <button type="button" class="btn btn-auto py-0 pr-0 text-inherit" (click)="doClear()">
        <i class="far fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="border-bottom my-1"></div>
  </ng-container>
  <ng-container *ngFor="let line of data; let isLast = last">
    <div class="d-flex flex-row align-items-center" [class.font-size-0_75]="options?.categories?.size === 'sm'">
      <div class="flex-grow-1 d-flex flex-row align-items-center cursor-pointer minw-0" (click)="doSet(line._id, isLast)">
        <i class="far fa-square" aria-hidden="true"></i>
        <div class="flex-grow-1 mx-1">
          {{ 'FACET_FIELD.CATEGORIES.MIN_TO_MAX' | translate : { min: line._id.min, max: line._id.max } }}
        </div>
        <div *ngIf="line.count != null" class="my-count">({{ line.count }})</div>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #emptyData>
  <div class="text-muted font-italic text-center font-size-0_75">
    {{ 'FACET_FIELD.CATEGORIES.NO_DATA' | translate }}
  </div>
</ng-template>
