<div class="modal-header">
  <h4 class="modal-title">
    {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_TITLE' | translate }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="goBack()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="distancePricingForm" (ngSubmit)="doSave()">
  <div class="modal-body">
    <h4 class="modal-title">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.PRICE' | translate }}</h4>
    <div class="form-row mt-1 ml-1 mb-button-row" formGroupName="_distance_pricing_item">
      <div class="col-12 col-md-6 col-xl mb-2">
        <label for="tarif_code">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.TARIF_CODE' | translate }}</label>
        <div class="input-group">
          <input
            type="text"
            id="tarif_code"
            class="form-control last-child-form-control"
            formControlName="tarif_code"
            [control-active]="distancePricingForm.get('_distance_pricing_item.tarif_code').dirty && distancePricingForm.get('_distance_pricing_item.tarif_code').touched"
            placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.TARIF_CODE' | translate }}"
          />
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl mb-2">
        <label for="country_crossed">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.COUNTRY_CROSSED' | translate }}</label>
        <div class="input-group">
          <mcit-country-field (countryEvent)="countryOnChange($event)" id="country_crossed" placeholder="{{ 'MEMBER_ROLE_FIELD.MODAL.WRITE_COUNTRY' | translate }}"> </mcit-country-field>
        </div>
      </div>
    </div>
    <div class="form-row mt-1 ml-1 mb-button-row" formGroupName="_distance_pricing_item">
      <div class="col-12 col-md-6 col-xl mb-2" formGroupName="pricing">
        <label for="threshold" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_PRICE.THRESHOLD' | translate }}</label>
        <div class="input-group">
          <input
            type="number"
            id="threshold"
            min="0"
            class="form-control last-child-form-control"
            formControlName="threshold"
            placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_PRICE.PLACEHOLDER_THRESHOLD' | translate }}"
            [control-active]="distancePricingForm.get('_distance_pricing_item.pricing.threshold').dirty && distancePricingForm.get('_distance_pricing_item.pricing.threshold').touched"
          />
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-2" formGroupName="pricing">
        <div class="mb-2">
          <label for="base_price" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_PRICE.BASE_PRICE' | translate }}</label>
          <div class="input-group">
            <input
              type="number"
              id="base_price"
              min="0"
              class="form-control last-child-form-control"
              formControlName="base_price"
              placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_PRICE.PLACEHOLDER_PRICE' | translate }}"
              [control-active]="distancePricingForm.get('_distance_pricing_item.pricing.base_price').dirty && distancePricingForm.get('_distance_pricing_item.pricing.base_price').touched"
            />
          </div>
        </div>
        <div>
          <label for="included_bunker_base_price">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.INCLUDED_BUNKER_DISTANCE_BASE_PRICE' | translate }}</label>
          <div class="input-group">
            <input
              type="number"
              id="included_bunker_base_price"
              class="form-control last-child-form-control"
              formControlName="included_bunker_base_price"
              [control-active]="distancePricingForm.get('_distance_pricing_item.pricing.included_bunker_base_price').dirty && distancePricingForm.get('_distance_pricing_item.pricing.included_bunker_base_price').touched"
              placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.INCLUDED_BUNKER_DISTANCE_BASE_PRICE' | translate }}"
            />
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-2" formGroupName="pricing">
        <div class="mb-2">
          <label for="unit_price" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_PRICE.UNIT_PRICE' | translate }}</label>
          <div class="input-group">
            <input
              type="number"
              id="unit_price"
              min="0"
              class="form-control last-child-form-control"
              formControlName="unit_price"
              placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_PRICE.PLACEHOLDER_PRICE' | translate }}"
              [control-active]="distancePricingForm.get('_distance_pricing_item.pricing.unit_price').dirty && distancePricingForm.get('_distance_pricing_item.pricing.unit_price').touched"
            />
          </div>
        </div>
        <div>
          <label for="included_bunker_unit_price">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.INCLUDED_BUNKER_DISTANCE_PER_KM' | translate }}</label>
          <div class="input-group">
            <input
              type="number"
              id="included_bunker_unit_price"
              class="form-control last-child-form-control"
              formControlName="included_bunker_unit_price"
              [control-active]="distancePricingForm.get('_distance_pricing_item.pricing.included_bunker_unit_price').dirty && distancePricingForm.get('_distance_pricing_item.pricing.included_bunker_unit_price').touched"
              placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.INCLUDED_BUNKER_DISTANCE_PER_KM' | translate }}"
            />
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-2" formGroupName="pricing">
        <div class="mb-2">
          <label for="min_price" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_PRICE.MIN_PRICE' | translate }}</label>
          <div class="input-group">
            <input
              type="number"
              id="min_price"
              min="0"
              class="form-control last-child-form-control"
              formControlName="min_price"
              placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_PRICE.PLACEHOLDER_PRICE' | translate }}"
              [control-active]="distancePricingForm.get('_distance_pricing_item.pricing.min_price').dirty && distancePricingForm.get('_distance_pricing_item.pricing.min_price').touched"
            />
          </div>
        </div>
        <div>
          <label for="included_bunker_min_price">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.INCLUDED_BUNKER_DISTANCE_MIN' | translate }}</label>
          <div class="input-group">
            <input
              type="number"
              id="included_bunker_min_price"
              class="form-control last-child-form-control"
              formControlName="included_bunker_min_price"
              [control-active]="distancePricingForm.get('_distance_pricing_item.pricing.included_bunker_min_price').dirty && distancePricingForm.get('_distance_pricing_item.pricing.included_bunker_min_price').touched"
              placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.INCLUDED_BUNKER_DISTANCE_MIN' | translate }}"
            />
          </div>
        </div>
      </div>

      <div *ngIf="!modalData.isDisabled" class="col-12 col-xl mt-2 button-bottom">
        <button type="button" class="btn btn-primary btn-block" [disabled]="distancePricingForm.get('_distance_pricing_item').invalid" (click)="doAddItem()">
          {{ 'COMMON.ADD' | translate }}
        </button>
      </div>
    </div>
    <!-- TODO:  -->
    <ng-container *ngIf="distancePricingForm.get('distance_pricing_grid').value as list">
      <div *ngIf="list.length" class="form-row">
        <div class="col-12 text-center pt-4 table-container pl-5 pr-5 d-none d-lg-table">
          <table class="table table-bordered table-sm table-design">
            <tbody>
              <tr>
                <td scope="col" class="large-col text-center align-middle">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.TARIF_CODE' | translate }}
                </td>
                <td scope="col" class="large-col text-center align-middle">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.COUNTRY_CROSSED' | translate }}
                </td>
                <td scope="col" class="small-col text-center align-middle">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_PRICE.THRESHOLD' | translate }}
                </td>
                <td scope="col" class="small-col text-center align-middle">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_PRICE.BASE_PRICE' | translate }}
                </td>
                <td scope="col" class="small-col text-center align-middle">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_PRICE.UNIT_PRICE' | translate }}
                </td>
                <td scope="col" class="small-col text-center align-middle">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_PRICE.MIN_PRICE' | translate }}
                </td>
              </tr>
              <tr *ngFor="let item of list; let i = index">
                <th class="text-center align-middle">{{ item.tarif_code }}</th>
                <th class="text-center align-middle" *ngIf="item?.country_crossed?.id | countryResolver | async as countryName">{{ countryName }}</th>
                <th class="text-center align-middle">{{ item.pricing.threshold }}</th>
                <th class="text-center align-middle">{{ item.pricing.base_price + (item.pricing.included_bunker_base_price ? ' (bunker: ' + item.pricing.included_bunker_base_price + ')' : '') }}</th>
                <th class="text-center align-middle">{{ item.pricing.unit_price + (item.pricing.included_bunker_unit_price ? ' (bunker: ' + item.pricing.included_bunker_unit_price + ')' : '') }}</th>
                <th class="text-center align-middle">{{ item.pricing.min_price + (item.pricing.included_bunker_min_price ? ' (bunker: ' + item.pricing.included_bunker_min_price + ')' : '') }}</th>
                <th *ngIf="!modalData.isDisabled">
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-icon btn-sm" (click)="doDeleteItem(i)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive d-lg-none table-container pt-3">
          <table class="table table-bordered table-sm">
            <tbody>
              <tr>
                <td scope="row">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.TARIF_CODE' | translate }}
                </td>
                <th *ngFor="let item of list; let i = index" class="text-center align-middle">{{ item.tarif_code }}</th>
              </tr>
              <tr>
                <td scope="row">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.COUNTRY_CROSSED' | translate }}
                </td>
                <th *ngFor="let item of list; let i = index" class="text-center align-middle">
                  <span *ngIf="item?.country_crossed?.id | countryResolver | async as countryName">{{ countryName }}</span>
                </th>
              </tr>
              <tr>
                <td scope="row">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_PRICE.THRESHOLD' | translate }}
                </td>
                <th *ngFor="let item of list; let i = index" class="text-center align-middle">
                  {{ item.pricing.threshold }}
                </th>
              </tr>
              <tr>
                <td scope="row">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_PRICE.BASE_PRICE' | translate }}
                </td>
                <th *ngFor="let item of list; let i = index" class="text-center align-middle">
                  {{ item.pricing.base_price + (item.pricing.included_bunker_base_price ? ' (bunker: ' + item.pricing.included_bunker_base_price + ')' : '') }}
                </th>
              </tr>
              <tr>
                <td scope="row">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_PRICE.UNIT_PRICE' | translate }}
                </td>
                <th *ngFor="let item of list; let i = index" class="text-center align-middle">
                  {{ item.pricing.unit_price + (item.pricing.included_bunker_unit_price ? ' (bunker: ' + item.pricing.included_bunker_unit_price + ')' : '') }}
                </th>
              </tr>
              <tr>
                <td scope="row">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_PRICE.MIN_PRICE' | translate }}
                </td>
                <th *ngFor="let item of list; let i = index" class="text-center align-middle">
                  {{ item.pricing.min_price + (item.pricing.included_bunker_min_price ? ' (bunker: ' + item.pricing.included_bunker_min_price + ')' : '') }}
                </th>
              </tr>
              <tr *ngIf="!modalData.isDisabled">
                <td class="empty-cell"></td>
                <th *ngFor="let item of list; let i = index">
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-icon btn-sm" (click)="doDeleteItem(i)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary mr-1" type="button" (click)="goBack()">
      {{ (modalData.isDisabled ? 'COMMON.CLOSE' : 'COMMON.CANCEL') | translate }}
    </button>
    <button *ngIf="!modalData.isDisabled" class="btn btn-primary ml-1" [disabled]="distancePricingForm.get('distance_pricing_grid').invalid" type="submit">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</form>
