@media (min-width: 1200px) {
    .spaces-l-r {
        margin-left: 2rem !important;
    }
    .mb-button-row {
        margin-bottom: 3rem !important;
    }
}

@media (max-width: 1199px) { 
    .mb-button-row {
        margin-bottom: 1.5rem !important;
    }
}

.table-container {
    border-top: 1px solid #dee2e6;
}

td, th {
    background-color: #fff;
}

.table-design {
    border: 0px;
}

.large-col {
    width: 36%;
}
.small-col {
    width: 16%;
}

.empty-cell {
    visibility:hidden;
    border: 0px;
}