<div class="modal-header">
  <h4 class="modal-title">{{ data.title }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="goBack()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="d-flex flex-column bd-highlight mb-3">
    <ng-container *ngIf="data?.trace?.created_by">
      <div>
        <label class="m-0">{{ 'INFO_TRACE.CREATED_BY' | translate }}: </label>
      </div>
      <div class="ml-2">
        <span class="badge badge-secondary">{{ data?.trace?.created_by }}</span>
      </div>
    </ng-container>

    <ng-container *ngIf="data?.trace?.created_date">
      <div>
        <label class="m-0">{{ 'INFO_TRACE.CREATED_DATE' | translate }}:</label>
      </div>
      <div class="ml-2">
        <span class="badge badge-secondary">{{ data?.trace.created_date | dateTranslate : 'date_time' }}</span>
      </div>
    </ng-container>

    <ng-container *ngIf="data?.trace?.updated_by">
      <div>
        <label class="m-0">{{ 'INFO_TRACE.UPDATED_BY' | translate }}:</label>
      </div>
      <div class="ml-2">
        <span class="badge badge-secondary">{{ data?.trace?.updated_by }}</span>
      </div>
    </ng-container>

    <ng-container *ngIf="data?.trace?.updated_date">
      <div>
        <label class="m-0">{{ 'INFO_TRACE.UPDATED_DATE' | translate }}:</label>
      </div>
      <div class="ml-2">
        <span class="badge badge-secondary">{{ data?.trace?.updated_date | dateTranslate : 'date_time' }}</span>
      </div>
    </ng-container>

    <ng-container *ngIf="data?.trace?.users">
      <div>
        <label class="m-0">{{ 'INFO_TRACE.USERS' | translate }}:</label>
      </div>
      <div class="ml-2">
        <span class="badge badge-secondary">{{ data?.trace?.users | join : ',' }}</span>
      </div>
    </ng-container>
  </div>
</div>
