<ul class="nav d-flex flex-column" [formGroup]="groupForm">
  <li class="nav-item">
    <div class="custom-control custom-radio">
      <input class="custom-control-input" type="radio" [name]="key" [id]="key + '_0'" [value]="null" [formControlName]="key" />
      <label class="custom-control-label" [for]="key + '_0'">
        {{ (filterConfig.radioList.emptyNameKey ? filterConfig.radioList.emptyNameKey : 'COMMON.NONE') | translate }}
      </label>
    </div>
  </li>
  <li *ngFor="let value of filterConfig.radioList.values; let i = index" class="nav-item">
    <div class="custom-control custom-radio">
      <input class="custom-control-input" type="radio" [name]="key" [id]="key + '_' + (i + 1)" [value]="value.code" [formControlName]="key" />
      <label class="custom-control-label" [for]="key + '_' + (i + 1)">
        {{ value.ignoreTranslate ? value.nameKey : (value.nameKey | translate : value.params) }}
      </label>
    </div>
  </li>
</ul>
