<div *ngIf="groups$ | async as groups">
  <div *ngFor="let group of groups; trackBy: trackByGroup" class="btn-group btn-group-sm mr-2">
    <button type="button" class="btn btn-dark rounded-left text-truncate d-inline-block" (click)="doChangeToggleGroupDirection(group.key)">
      <i class="far fa-fw" aria-hidden="true" [ngClass]="group.direction === 'UP' ? 'fa-sort-numeric-down' : 'fa-sort-numeric-up'"></i>
      &nbsp;
      {{ options[group.key].nameKey | translate }}
    </button>
    <button type="button" class="btn btn-primary rounded-right" (click)="doChangeDeleteGroupKey(group.key)">
      <i class="far fa-times" aria-hidden="true"></i>
    </button>
  </div>

  <button type="button" class="btn btn-sm btn-light dropdown-toggle" [mcitDropdown]="axeDropdownTemplate" [disabled]="groups.length >= 3">
    <i class="far fa-layer-group fa-fw" aria-hidden="true"></i>&nbsp;{{ 'GROUPAGE_COMPONENT.GROUPING' | translate }}
  </button>
  <ng-template #axeDropdownTemplate let-dropdownRef="dropdownRef">
    <div class="mcit-dropdown-menu show" role="menu" aria-labelledby="button-basic">
      <a *ngFor="let key of options | keys" class="dropdown-item" href="javascript:void(0)" (click)="dropdownRef.close(); doChangeAddGroupKey(key)">
        {{ options[key].nameKey | translate }}
      </a>
    </div>
  </ng-template>
</div>
