<div
  class="position-relative tooltip show bs-tooltip-auto"
  [ngClass]="tooltipClass"
  [class.my-1]="position === 'top' || position === 'bottom'"
  [class.mx-1]="position === 'right' || position === 'left'"
  [class.my-large]="size === 'large'"
  [class.my-small]="size === 'small'"
>
  <div class="tooltip-inner">
    <ng-container [ngSwitch]="renderMethod">
      <span *ngSwitchCase="'text'" [innerHTML]="message | sanitizeHtml"></span>
      <ng-container *ngSwitchCase="'template'">
        <ng-container *ngTemplateOutlet="message; context: context"></ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
