<div class="modal-header">
  <h4 class="modal-title">{{ 'SEARCH_ADDRESS.TITLE' | translate }}</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12 mb-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="far" aria-hidden="true" [ngClass]="waiting ? 'fa-spinner fa-pulse' : 'fa-search'"></i>
          </span>
        </div>
        <input
          class="form-control"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          autocomplete="off"
          placeholder="{{ 'COMMON.SEARCH' | translate }}"
          type="text"
          [(ngModel)]="searchBox"
          (ngModelChange)="querySubject.next(searchBox)"
          (keyup.enter)="doEnter()"
        />
      </div>
    </div>
  </div>
  <div *ngIf="!items.length && searchBox.length >= 1 && !waiting" class="row">
    <div class="col-12 text-center text-white">
      <div class="font-weight-light mb-2" style="font-size: 2rem; line-height: 1.2">
        {{ 'COMMON.EMPTY_RESULT' | translate }}
      </div>
      <h2 class="text-danger">{{ searchBox }}</h2>
    </div>
  </div>
  <div *ngIf="!items.length && searchBox.length < 1" class="row">
    <div class="col-12 text-center text-white">
      <h2>{{ 'COMMON.WRITE_SEARCH' | translate }}</h2>
    </div>
  </div>
  <div *ngIf="items.length > 0" class="row">
    <div class="col-12 mb-2">
      <div class="list-group">
        <a *ngFor="let item of items" href="javascript:void(0)" class="list-group-item list-group-item-action flex-column align-items-start cursor-pointer" (click)="doSelect(item)">
          <div class="d-flex flex-row justify-content-between w-100">
            <h5 class="mb-1">{{ item.name }}</h5>
            <small>{{ item.roles | listdico : 'ROLES' }}</small>
          </div>
          <small>{{ [item.address, item.zip, item.city, item.country.name] | join : ' ' }}</small>
        </a>
      </div>
    </div>
    <div class="col-12 mb-2 text-right">
      <span *ngIf="total <= per_page" class="badge badge-pill badge-secondary">{{ 'PAGINATION_COMPONENT.TOTAL_COUNT' | translate : { total: total } }}</span>
      <span *ngIf="total > per_page" class="badge badge-pill badge-secondary">{{ 'PAGINATION_COMPONENT.RESULT_COUNT' | translate : { current: per_page, total: total } }}</span>
    </div>
  </div>
</div>
