<div class="modal-backdrop"></div>
<div class="modal-card">
  <div class="modal-header">
    <h6 class="mb-0">Link Library Source</h6>
    <button class="btn btn-sm btn-outline-secondary" type="button" (click)="close.emit()">Close</button>
  </div>
  <div class="modal-body">
    <div class="library-row" *ngFor="let item of libraryItems">
      <span>{{ item.name }}</span>
      <button class="btn btn-sm btn-outline-secondary" type="button">Link</button>
    </div>
    <button class="btn btn-sm btn-primary mt-2" type="button">Create New</button>
  </div>
</div>
