<div class="d-flex flex-column">
  <div class="input-group border-force input-group-sm">
    <input class="form-control" type="text" [(ngModel)]="text" (ngModelChange)="doChange(text)" />

    <div class="input-group-append">
      <button class="btn btn-outline-secondary last-child-form-control" type="button" (click)="doClear()" tabindex="-1">
        <i class="far fa-times"></i>
      </button>
    </div>
  </div>
  <div *ngIf="checkbox" class="row mb-2 mt-2">
    <div class="col-12 col-md-12">
      <div class="custom-control custom-checkbox">
        <input (change)="doCheckboxChecked()" [(ngModel)]="checkboxChecked" class="custom-control-input" id="checkboxChecked" type="checkbox" />
        <label for="checkboxChecked" class="custom-control-label">{{ checkbox | translate }}</label>
      </div>
    </div>
  </div>
  <div *ngIf="filledOption" class="row">
    <div class="col-12 col-md-12">
      <div class="custom-control custom-checkbox">
        <input (change)="doFilledOptionChecked()" [(ngModel)]="filledOptionChecked" class="custom-control-input" id="filledOptionChecked" type="checkbox" />
        <label for="filledOptionChecked" class="custom-control-label">{{ 'COMMON.FILLED' | translate }}</label>
      </div>
    </div>
  </div>
  <div *ngIf="emptyOption" class="row">
    <div class="col-12 col-md-12">
      <div class="custom-control custom-checkbox">
        <input (change)="doEmptyOptionChecked()" [(ngModel)]="emptyOptionChecked" class="custom-control-input" id="emptyOptionChecked" type="checkbox" />
        <label for="emptyOptionChecked" class="custom-control-label">{{ 'COMMON.EMPTY' | translate }}</label>
      </div>
    </div>
  </div>
</div>
