<ion-header>
  <ion-toolbar>
    <ion-title>Plan Week</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="plan-week-content ion-padding">
  <p class="plan-intro">Set 2 lesson anchors and 3 podcast anchors for {{ weekStart }}.</p>

  <ion-list lines="none" class="plan-list">
    <ion-item>
      <ion-label position="stacked">Lesson 1</ion-label>
      <ion-select [(ngModel)]="draft.lesson_1.ar_lesson_id" interface="action-sheet">
        <ion-select-option value="">Continue last / not assigned</ion-select-option>
        @for (lesson of lessons(); track lesson.id) {
          <ion-select-option [value]="lesson.id">{{ lesson.title }}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Lesson 2</ion-label>
      <ion-select [(ngModel)]="draft.lesson_2.ar_lesson_id" interface="action-sheet">
        <ion-select-option value="">Continue last / not assigned</ion-select-option>
        @for (lesson of lessons(); track lesson.id) {
          <ion-select-option [value]="lesson.id">{{ lesson.title }}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Podcast 1 Topic</ion-label>
      <ion-input [(ngModel)]="draft.podcast_1.topic" placeholder="Topic"></ion-input>
      <ion-input type="number" [(ngModel)]="draft.podcast_1.episode_no" placeholder="Episode #"></ion-input>
      <ion-input type="datetime-local" [(ngModel)]="draft.podcast_1.recording_at" placeholder="Recording date"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Podcast 2 Topic</ion-label>
      <ion-input [(ngModel)]="draft.podcast_2.topic" placeholder="Topic"></ion-input>
      <ion-input type="number" [(ngModel)]="draft.podcast_2.episode_no" placeholder="Episode #"></ion-input>
      <ion-input type="datetime-local" [(ngModel)]="draft.podcast_2.recording_at" placeholder="Recording date"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Podcast 3 Topic</ion-label>
      <ion-input [(ngModel)]="draft.podcast_3.topic" placeholder="Topic"></ion-input>
      <ion-input type="number" [(ngModel)]="draft.podcast_3.episode_no" placeholder="Episode #"></ion-input>
      <ion-input type="datetime-local" [(ngModel)]="draft.podcast_3.recording_at" placeholder="Recording date"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="cancelLater()">Later Today</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="km-btn" (click)="savePlan()">Save Plan</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
