<div class="d-flex flex-column">
  <div class="d-flex flex-row mb-1">
    <div class="input-group input-group-sm w-50">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="far fa-search" aria-hidden="true"></i>
        </span>
      </div>
      <input id="find" name="find" type="text" class="form-control" [placeholder]="'ACE_EDITOR_FIND_REPLACE.FIND_FIELD' | translate" (focus)="doSearchFocus()" [(ngModel)]="search" (ngModelChange)="doSearchChange()" />
      <div class="input-group-append">
        <button *ngIf="search" type="button" class="btn btn-outline-secondary" (click)="doClearSearch()" tabindex="-1">
          <i class="far fa-times" aria-hidden="true"></i>
        </button>

        <button type="button" class="btn" [ngClass]="caseSensitive ? 'btn-outline-dark' : 'btn-outline-secondary'" [mcitTooltip]="'ACE_EDITOR_FIND_REPLACE.MATCH_CASE' | translate" (click)="doToggleCaseSensitive()" tabindex="-1">
          <i class="fa-font-case" [ngClass]="caseSensitive ? 'fas' : 'fal'" aria-hidden="true"></i>
        </button>
        <button
          type="button"
          class="btn"
          [ngClass]="wholeWord ? 'btn-outline-dark font-weight-bold' : 'btn-outline-secondary font-weight-light'"
          [mcitTooltip]="'ACE_EDITOR_FIND_REPLACE.WHOLE_WORDS' | translate"
          (click)="doToggleWholeWord()"
          tabindex="-1"
        >
          W
        </button>
        <button
          type="button"
          class="btn"
          [ngClass]="regExp ? 'btn-outline-dark font-weight-bold' : 'btn-outline-secondary font-weight-light'"
          [mcitTooltip]="'ACE_EDITOR_FIND_REPLACE.REGEXP' | translate"
          (click)="doToggleRegExp()"
          tabindex="-1"
        >
          .*
        </button>
      </div>
    </div>
    <div class="align-self-center ml-2 text-center" style="min-width: 12.5%">
      <span *ngIf="noMatch || !allFind" [class.text-danger]="noMatch">
        {{ 'ACE_EDITOR_FIND_REPLACE.NO_MATCH' | translate }}
      </span>
      <span *ngIf="allFind > 0">
        {{ 'ACE_EDITOR_FIND_REPLACE.BEFORE_OF_ALL' | translate : { before: beforeFind, all: allFind > maxCount ? maxCount + '+' : allFind } }}
      </span>
    </div>
    <div class="align-self-center ml-2 d-flex flex-row">
      <button type="button" class="btn btn-sm btn-light" [mcitTooltip]="'ACE_EDITOR_FIND_REPLACE.PREVIOUS_OCCURRENCE' | translate" [disabled]="!allFind" (click)="doFindPrevious()" tabindex="-1">
        <i class="far fa-arrow-up" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-sm btn-light ml-1" [mcitTooltip]="'ACE_EDITOR_FIND_REPLACE.NEXT_OCCURRENCE' | translate" [disabled]="!allFind" (click)="doFindNext()" tabindex="-1">
        <i class="far fa-arrow-down" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-sm btn-light ml-1" [mcitTooltip]="'ACE_EDITOR_FIND_REPLACE.SELECT_ALL_OCCURRENCES' | translate" [disabled]="!allFind" (click)="doFindAll()" tabindex="-1">
        <i class="far fa-check-double" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div *ngIf="!editor.getReadOnly()" class="d-flex flex-row mb-1">
    <div class="input-group input-group-sm w-50">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="far fa-search" aria-hidden="true"></i>
        </span>
      </div>
      <input id="replace" name="replace" type="text" class="form-control" [placeholder]="'ACE_EDITOR_FIND_REPLACE.REPLACE_FIELD' | translate" (focus)="doReplaceFocus()" [(ngModel)]="replace" />
      <div *ngIf="replace" class="input-group-append">
        <button type="button" class="btn btn-outline-secondary" (click)="doClearReplace()" tabindex="-1">
          <i class="far fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-sm ml-2" [disabled]="!allFind" (click)="doReplace()">
      {{ 'ACE_EDITOR_FIND_REPLACE.REPLACE' | translate }}
    </button>
    <button type="button" class="btn btn-primary btn-sm ml-1" [disabled]="!allFind" (click)="doReplaceAll()">
      {{ 'ACE_EDITOR_FIND_REPLACE.REPLACE_ALL' | translate }}
    </button>
  </div>
</div>
