@import '../../../variables';

$my-card-height: 113px;
$my-card-md-height: 172px;
$my-favorite-circle: 80px;

.my-big-menu {
  .my-favorite-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .my-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }


  .my-favorite-card-body {
    position: relative;
    width: 100%;
    height: 34px;
    color: $body-color;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      height: 52px;
    }

    .my-poster {
      position: relative;
      overflow: hidden;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 400ms ease;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 68px;
        bottom: -34px;
        background: $white-87-opacity;
        border-bottom: 2px $jaune-gefco solid;
        transition: all 400ms ease;
        z-index: 1;

        @include media-breakpoint-up(md) {
          height: 104px;
          bottom: -52px;
        }
      }
    }

    .my-information {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      transition: all 400ms ease;
      z-index: 2;

      .my-title {
        @include font(500, 12, 14);
      }

      .my-line-2 {
        position: relative;
        width: 100%;
        height: 1px;
        // background: linear-gradient(to right, transparent, $gray-400);
        opacity: 0;
        transition: all 400ms ease;

        .my-button {
          padding: 8px;
          position: absolute;
          top: -12px;
          right: 0;
          width: 24px;
          height: 24px;

          i {
            font-size: 8px;
            line-height: 8px;
          }
        }
      }
    }

    &:hover {
      .my-poster {
        img {
          filter: blur(5px);
        }

        &:before {
          bottom: 0;
        }
      }

      .my-information {
        .my-line-2 {
          opacity: 1;
        }
      }
    }
  }

  .my-card-body {
    position: relative;
    width: 100%;
    height: $my-card-height;
    color: $body-color;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      height: $my-card-md-height;
    }

    .my-poster {
      position: relative;
      overflow: hidden;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 400ms ease;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        bottom: 34px - $my-card-height;
        background: $white-87-opacity;
        border-bottom: 2px $jaune-gefco solid;
        transition: all 400ms ease;
        z-index: 1;

        @include media-breakpoint-up(md) {
          bottom: 52px - $my-card-md-height;
        }
      }
    }

    .my-information {
      position: absolute;
      left: 0;
      bottom: 24px - $my-card-height;
      width: 100%;
      height: 100%;
      transition: all 400ms ease;
      z-index: 2;

      @include media-breakpoint-up(md) {
        bottom: 35px - $my-card-md-height;
      }

      .my-title {
        @include font(500, 14, 16);
      }

      .my-line-2 {
        position: relative;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, transparent, $gray-400);
        opacity: 0;
        transition: all 400ms ease;

        .my-button {
          padding: 8px;
          position: absolute;
          top: -12px;
          right: 0;
          width: 24px;
          height: 24px;

          i {
            font-size: 8px;
            line-height: 8px;
          }
        }
      }

      .my-text {
        opacity: 0;
        transition: all 400ms ease;

        @include font(300, 12, 14);
      }
    }

    &:hover {
      .my-poster {
        img {
          filter: blur(5px);
          transform: translateY(-34px);

          @include media-breakpoint-up(md) {
            transform: translateY(-52px);
          }
        }

        &:before {
          bottom: 0;
        }
      }

      .my-information {
        bottom: -40px;

        @include media-breakpoint-up(md) {
          bottom: calc(-#{$my-card-md-height} / 2);
        }

        .my-line-2 {
          opacity: 1;
        }

        .my-text {
          opacity: 1;
        }
      }
    }
  }

  .my-favorite {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;

    .my-back {
      position: absolute;
      top: calc(-#{$my-favorite-circle} / 2);
      right: calc(-#{$my-favorite-circle} / 2);
      width: $my-favorite-circle;
      height: $my-favorite-circle;
      background: $white-87-opacity;
      border-radius: calc(#{$my-favorite-circle} / 2);
      z-index: -1;
    }

    .my-button {
      .fa-stack {
        font-size: .85em;
        width: 28px;
        height: 28px;

        .my-star {
          opacity: 1;
          color: $gray-600;
        }

        .my-star-hover {
          opacity: 0;
        }

        i {
          vertical-align: middle;
        }
      }

      &:hover {
        .fa-stack {
          .my-star {
            opacity: 0;
          }

          .my-star-hover {
            opacity: 1;
          }
        }
      }

      &.active {
        .fa-stack {
          .my-star {
            opacity: 0;
          }

          .my-star-hover {
            opacity: 1;
            color: $jaune-gefco;
          }
        }
      }
    }
  }

  &.my-size-large {
    .my-favorite-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;

      @include media-breakpoint-up(md) {
        grid-template-columns: repeat(3, 1fr);
      }

      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    .my-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;

      @include media-breakpoint-up(md) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;
      }
    }

    .my-favorite-card-body {
      .my-information {
        .my-title {
          @include font(500, 14, 16);

          @include media-breakpoint-up(md) {
            @include font(500, 16, 18);
          }
        }
      }
    }

    .my-card-body {
      .my-information {
        .my-title {
          @include font(500, 16, 18);

          @include media-breakpoint-up(md) {
            @include font(500, 18, 20);
          }
        }
      }
    }
  }
}
