<ng-container [formGroup]="form">
  <div class="form-row">
    <div class="col-12 col-md-6 mb-2">
      <label for="source" class="mcit-mandatory">{{ 'MEMBER_ROLE_FIELD.MODAL.SUBSCRIPTIONS.BEFORE_DAY.SOURCE' | translate }}</label>
      <div class="input-group">
        <select id="source" name="source" class="form-control custom-select" formControlName="source">
          <option *ngFor="let o of ['RDV_DATE', 'ESTIMATED_DATE']" [value]="o">{{ o }}</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-2">
      <label for="days" class="mcit-mandatory">{{ 'MEMBER_ROLE_FIELD.MODAL.SUBSCRIPTIONS.BEFORE_DAY.DAYS' | translate }}</label>
      <div class="input-group">
        <input id="days" name="days" class="form-control" type="number" formControlName="days" />
      </div>
    </div>
  </div>
</ng-container>
