<form class="input-group border-force input-group-sm mb-1" (submit)="doAdd(text)" novalidate>
  <input class="form-control" type="text" autocomplete="off" [(ngModel)]="text" [ngModelOptions]="{ standalone: true }" />
</form>
<div *ngIf="tags?.length > 0; else empty" class="d-flex flex-row flex-wrap">
  <div *ngFor="let tag of tags" class="btn-group btn-group-sm mr-1 mb-1">
    <button class="btn rounded-pill" type="button" (click)="doRemove(tag)" [mcitRandomColor]="tag">{{ tag }}&nbsp;<i class="far fa-times"></i></button>
  </div>
</div>
<ng-template #empty>
  <div class="d-flex flex-row justify-content-center text-truncate">
    <!-- for reusing the component in other cases rather than only tags -->
    <span *ngIf="!filterConfig.tags.isNotTag" class="font-italic font-weight-light small">{{ 'SEARCH_FIELD.FILTERS.TAGS.NONE_TAG' | translate }}</span>
  </div>
</ng-template>
