<ng-container *ngIf="message$ | async as message">
  <div class="modal-header">
    <h4 *ngIf="total === 1" class="modal-title">{{ message?.objects | meaning }}</h4>
    <h4 *ngIf="total > 1" class="modal-title">
      {{ 'NOTIFICATION.PAGE_MESSAGE_TITLE' | translate : { object: (message?.objects | meaning), current: current, total: total } }}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="doClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div [innerHTML]="message?.bodies | meaning | markdown"></div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" [class.mr-1]="hasNext" (click)="doClose()">{{ 'COMMON.CLOSE' | translate }}</button>
    <button *ngIf="hasNext" class="btn btn-primary ml-1" type="button" (click)="doNext()">
      {{ 'NOTIFICATION.NEXT_MESSAGE' | translate }}
    </button>
  </div>
</ng-container>
