<form [formGroup]="countryFieldForm" novalidate>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="far fa-fw" [ngClass]="countryLoading ? 'fa-spinner fa-pulse' : 'fa-globe'"></i>
      </span>
    </div>
    <input
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      autocomplete="off"
      placeholder="{{ placeholder }}"
      class="form-control"
      formControlName="country"
      [typeahead]="countryDataSource"
      [typeaheadOptionField]="'name'"
      (typeaheadLoading)="doChangeCountryLoading($event)"
      (typeaheadOnSelect)="doCountrySelected($event)"
      [control-active]="(countryFieldForm.controls['country'].dirty && countryFieldForm.controls['country'].touched) || submitAttempt"
      [required]="required"
    />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary last-child-form-control" type="button" (click)="doClearCountry()" tabindex="-1" [disabled]="countryFieldForm.controls['country'].disabled">
        <i class="far fa-times"></i>
      </button>
    </div>
    <div class="invalid-feedback">
      {{ getCountryErrorMessage() | translate }}
    </div>
  </div>
</form>
