<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="row justify-content-center mb-2">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" (click)="doPrev()" tabindex="-1">
          <i class="far fa-fw fa-chevron-left"></i>
        </button>
      </div>
      <input type="text" class="form-control bg-white text-center" disabled [(ngModel)]="selectedYear" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary last-child-form-control" type="button" (click)="doNext()" tabindex="-1">
          <i class="far fa-fw fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <div class="mcit-table-container">
      <table class="table">
        <tr>
          <ng-container *ngFor="let i of [1, 2, 3, 4]">
            <td>
              <mcit-month-calendar
                (selectDateEvent)="doSelectDate($event)"
                (setDerogatoryDate)="setDerogatory($event)"
                [selectedCalendar]="selectedCalendar"
                [displayDerogatory]="displayDerogatory"
                [year]="selectedYear"
                [month]="i"
                [checkedDates]="monthDates[i]"
              ></mcit-month-calendar>
            </td>
          </ng-container>
        </tr>
        <tr>
          <ng-container *ngFor="let i of [5, 6, 7, 8]">
            <td>
              <mcit-month-calendar
                (selectDateEvent)="doSelectDate($event)"
                (setDerogatoryDate)="setDerogatory($event)"
                [selectedCalendar]="selectedCalendar"
                [displayDerogatory]="displayDerogatory"
                [year]="selectedYear"
                [month]="i"
                [checkedDates]="monthDates[i]"
              ></mcit-month-calendar>
            </td>
          </ng-container>
        </tr>
        <tr>
          <ng-container *ngFor="let i of [9, 10, 11, 12]">
            <td>
              <mcit-month-calendar
                (selectDateEvent)="doSelectDate($event)"
                (setDerogatoryDate)="setDerogatory($event)"
                [selectedCalendar]="selectedCalendar"
                [displayDerogatory]="displayDerogatory"
                [year]="selectedYear"
                [month]="i"
                [checkedDates]="monthDates[i]"
              ></mcit-month-calendar>
            </td>
          </ng-container>
        </tr>
      </table>
    </div>
  </div>
</div>
