<div class="modal-header">
  <h4 class="modal-title d-flex flex-column">
    {{ 'EDIT_POLYGON_MAP_MODAL.CHOOSE_POLYGON' | translate }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()" tabIndex="-1">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-0">
  <mat-grid-list cols="1" rowHeight="3:2">
    <mat-grid-tile>
      <mcit-map [config]="{ useCTRLZoom: false, useSatellite: true, withRoadNames: true }" (mapLoadEvent)="doLoadedMap($event)"></mcit-map>
      <div class="my-panel d-flex flex-column">
        <div class="my-name m-3 p-2 text-center border border-dark rounded-lg font-weight-normal">
          {{ currentFeatureCollection?.features?.length > 0 ? ('EDIT_POLYGON_MAP_MODAL.NUM_POLYGONS' | translate : { num: currentFeatureCollection.features.length, area: area }) : ('EDIT_POLYGON_MAP_MODAL.USE_DRAW_TOOLS' | translate) }}
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-primary mr-1" type="button" (click)="doClose()">
    {{ 'COMMON.CANCEL' | translate }}
  </button>
  <button class="btn btn-primary ml-1" type="submit" [disabled]="currentFeatureCollection == null || !currentFeatureCollection.features?.length" (click)="doSelect()">
    {{ 'COMMON.VALIDATE' | translate }}
  </button>
</div>
