<div class="modal-header">
  <h4 class="modal-title" [innerHTML]="setTitle()"></h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="closingDateForm" (ngSubmit)="doSubmit()">
  <div class="modal-body">
    <ng-container>
      {{ 'CALENDARS.PERIOD_DETAIL_MODEL.SALES.TITLE' | translate }}
      <ul>
        <li>
          {{ 'CALENDARS.PERIOD_DETAIL_MODEL.SALES.CLOSING_DATE' | translate }}
          <mcit-date-time-local-field id="sales_closing_date" [formControlName]="valueFormClosingDate.SALES_CLOSING_DATE" [minDate]="minDate" [maxDate]="maxDate" [startAt]="startAt"> </mcit-date-time-local-field>
        </li>
        <li>
          {{ 'CALENDARS.PERIOD_DETAIL_MODEL.SALES.ACCRUALS_CLOSING_DATE' | translate }}
          <mcit-date-time-local-field id="sales_accruals_closing_date" [formControlName]="valueFormClosingDate.SALES_ACCRUALS_CLOSING_DATE" [minDate]="minDate" [maxDate]="maxDate" [startAt]="startAt"> </mcit-date-time-local-field>
        </li>
      </ul>
    </ng-container>
    <ng-container>
      {{ 'CALENDARS.PERIOD_DETAIL_MODEL.PURCHASE.TITLE' | translate }}
      <ul>
        <li>
          {{ 'CALENDARS.PERIOD_DETAIL_MODEL.PURCHASE.CLOSING_DATE' | translate }}
          <mcit-date-time-local-field id="purchase_closing_date" [formControlName]="valueFormClosingDate.PURCHASE_CLOSING_DATE" [minDate]="minDate" [maxDate]="maxDate" [startAt]="startAt"> </mcit-date-time-local-field>
        </li>
        <li>
          {{ 'CALENDARS.PERIOD_DETAIL_MODEL.PURCHASE.ACCRUALS_CLOSING_DATE' | translate }}
          <mcit-date-time-local-field id="purchase_accruals_closing_date" [formControlName]="valueFormClosingDate.PURCHASE_ACCRUALS_CLOSING_DATE" [minDate]="minDate" [maxDate]="maxDate" [startAt]="startAt"> </mcit-date-time-local-field>
        </li>
      </ul>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary mr-1" type="button" (click)="doClose()">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button class="btn btn-primary ml-1" [disabled]="!editable" type="submit">{{ 'COMMON.SAVE' | translate }}</button>
  </div>
</form>
