<div *ngIf="data?.length > 0 || values?.length > 0; else emptyData" class="d-flex flex-column">
  <div *ngIf="data?.length > (categoryConfig.standard?.maxLines || 5) && !categoryConfig.standard?.disableSearch" class="input-group input-group-xs border-force mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="far fa-search fa-sm"></i>
      </span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="search" [placeholder]="'FACET_FIELD.CATEGORIES.SEARCH' | translate" />
    <div *ngIf="search" class="input-group-append">
      <button type="button" class="btn btn-outline-secondary" (click)="search = null">
        <i class="far fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <ng-container *ngIf="data | datafilter : search : categoryConfig : values : key | async as lines">
    <ng-container *ngIf="lines?.length > 0; else notFound">
      <ng-container [ngTemplateOutlet]="linesTemplate" [ngTemplateOutletContext]="{ lines: lines }"> </ng-container>
      <ng-container *ngIf="lines.length > (categoryConfig.standard?.maxLines || 5)">
        <div *ngIf="maxLines < lines.length; else hide" class="d-flex flex-row">
          <button *ngIf="maxLines > (categoryConfig.standard?.maxLines || 5)" (click)="doHide()" class="font-size-0_75 btn p-0 font-weight-light">
            <i class="far fa-chevron-double-up" aria-hidden="true"></i>
          </button>
          <button (click)="doShowMore(lines)" class="flex-grow-1 font-size-0_75 btn p-0 font-weight-light">
            <i class="far fa-chevron-down" aria-hidden="true"></i>
            <span class="mx-1">{{ 'FACET_FIELD.CATEGORIES.SHOW_MORE' | translate : { num: lines.length - maxLines } }}</span>
            <i class="far fa-chevron-down" aria-hidden="true"></i>
          </button>
          <div *ngIf="maxLines > (categoryConfig.standard?.maxLines || 5)" (click)="doHide()" class="text-muted font-size-0_75 btn p-0 font-weight-light">
            <i class="far fa-chevron-double-up" aria-hidden="true"></i>
          </div>
        </div>
        <ng-template #hide>
          <div class="d-flex flex-row justify-content-center">
            <button class="font-size-0_75 btn p-0 font-weight-light" (click)="doHide()">
              <i class="far fa-chevron-double-up" aria-hidden="true"></i>
              <span class="mx-1">{{ 'FACET_FIELD.CATEGORIES.HIDE' | translate }}</span>
              <i class="far fa-chevron-double-up" aria-hidden="true"></i>
            </button>
          </div>
        </ng-template>
      </ng-container>
    </ng-container>
    <ng-template #notFound>
      <div class="text-muted font-italic text-center font-size-0_75">
        {{ 'FACET_FIELD.CATEGORIES.NO_FOUND' | translate }}
      </div>
    </ng-template>
  </ng-container>
</div>
<ng-template #emptyData>
  <div class="text-muted font-italic text-center font-size-0_75">
    {{ 'FACET_FIELD.CATEGORIES.NO_DATA' | translate }}
  </div>
</ng-template>
<ng-template #linesTemplate let-lines="lines">
  <ng-container *ngFor="let line of lines | unique : '_id' | mcitLimit : maxLines">
    <div class="d-flex flex-row align-items-center" [class.font-size-0_75]="options?.categories?.size === 'sm'">
      <div class="flex-grow-1 d-flex flex-row align-items-center cursor-pointer minw-0" (click)="doCheckChange(line._id)" [class.font-weight-normal]="line._id | isSelectedFacetValue : values : categoryConfig">
        <i class="far" [ngClass]="(line._id | isSelectedFacetValue : values : categoryConfig) ? 'fa-check-square' : 'fa-square'" aria-hidden="true"></i>
        <div class="flex-grow-1 mx-1" [class.text-break]="categoryConfig.standard?.textBreak" [class.text-truncate]="!categoryConfig.standard?.textBreak" [mcitTooltip]="text" [mcitTooltipShowDelay]="500" [mcitTooltipShowIfTruncated]="true">
          <ng-container *ngTemplateOutlet="text"></ng-container>
        </div>
        <ng-template #text>
          <ng-container [ngSwitch]="categoryConfig.standard?.sub_type">
            <ng-container *ngSwitchCase="'listdico'">
              {{ line._id | listdico : categoryConfig.standard?.listdico.prefixKey : categoryConfig.standard?.listdico.forceUpperCase }}
            </ng-container>
            <ng-container *ngSwitchCase="'async'">
              {{ line | lineAsync : key : categoryConfig | async }}
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ line | lineText : key : categoryConfig }}
            </ng-container>
          </ng-container>
        </ng-template>
        <div *ngIf="line.count != null" class="my-count">({{ line.count }})</div>
      </div>
      <div *ngIf="categoryConfig.standard?.lineAction as action">
        <ng-container *ngIf="action.action">
          <button
            #button
            class="btn btn-auto p-0 ml-1"
            [ngClass]="action | lineactionstringorfn : 'cssClass' : line : key"
            (click)="action.action(line, key, button)"
            [mcitTooltip]="action.nameKey | translate : (action | lineactionparams : line : key)"
            [mcitTooltipDisabled]="!action.nameKey || action.disableTooltip"
            [disabled]="action | lineactiondisabled : line : key"
            [class.d-none]="action | lineactionhidden : line : key"
          >
            <i [ngClass]="action | lineactionstringorfn : 'icon' : line : key" aria-hidden="true"></i>
          </button>
        </ng-container>
        <ng-container *ngIf="action.routerLink">
          <a
            class="btn btn-auto p-0 ml-1"
            [ngClass]="action | lineactionstringorfn : 'cssClass' : line : key"
            [routerLink]="action.routerLink(line, key)"
            [queryParams]="action.routerQueryParam ? action.routerQueryParam(line, key) : null"
            [state]="action.routerState ? action.routerState(line, key) : null"
            [mcitTooltip]="action.nameKey | translate : (action | lineactionparams : line : key)"
            [mcitTooltipDisabled]="!action.nameKey || action.disableTooltip"
            [class.disabled]="action | lineactiondisabled : line : key"
            [class.d-none]="action | lineactionhidden : line : key"
          >
            <i [ngClass]="action | lineactionstringorfn : 'icon' : line : key" aria-hidden="true"></i>
          </a>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-template>
