<div class="modal-header">
  <h4 class="modal-title">
    {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_TITLE' | translate }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="goBack()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="distanceRangePricingForm" (ngSubmit)="doSave()">
  <div class="modal-body">
    <h4 class="modal-title">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.PRICE' | translate }}</h4>
    <div class="form-row mt-1 ml-1 mb-button-row" formGroupName="_distance_range_pricing_item">
      <div class="col-12 col-md-6 col-xl-3 mb-2">
        <label for="tarif_code">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.TARIF_CODE' | translate }}</label>
        <div class="input-group">
          <input
            type="text"
            id="tarif_code"
            class="form-control last-child-form-control"
            formControlName="tarif_code"
            [control-active]="distanceRangePricingForm.get('_distance_range_pricing_item.tarif_code').dirty && distanceRangePricingForm.get('_distance_range_pricing_item.tarif_code').touched"
            placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.TARIF_CODE' | translate }}"
          />
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl spaces-l-r mb-2" formGroupName="pricing">
        <label for="min" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_RANGE_PRICE.MIN' | translate }}</label>
        <div class="input-group">
          <input
            type="number"
            id="min"
            min="0"
            class="form-control last-child-form-control"
            [class.is-invalid]="checkMinMaxError() || distanceRangePricingForm.get('_distance_range_pricing_item.pricing.min')?.value < 0"
            formControlName="min"
            placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_RANGE_PRICE.PLACEHOLDER_MIN' | translate }}"
            [control-active]="distanceRangePricingForm.get('_distance_range_pricing_item.pricing.min').dirty && distanceRangePricingForm.get('_distance_range_pricing_item.pricing.min').touched"
          />
        </div>
        <div class="invalid-feedback d-block" *ngIf="checkMinMaxError()">
          {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.RANGE.ERROR' | translate }}
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl mb-2" formGroupName="pricing">
        <label for="max" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_RANGE_PRICE.MAX' | translate }}</label>
        <div class="input-group">
          <input
            type="number"
            id="max"
            min="0"
            class="form-control last-child-form-control"
            formControlName="max"
            [class.is-invalid]="checkMinMaxError() || distanceRangePricingForm.get('_distance_range_pricing_item.pricing.range.max')?.value < 0"
            placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_RANGE_PRICE.PLACEHOLDER_MAX' | translate }}"
            [control-active]="distanceRangePricingForm.get('_distance_range_pricing_item.pricing.max').dirty && distanceRangePricingForm.get('_distance_range_pricing_item.pricing.max').touched"
          />
        </div>
        <div class="invalid-feedback d-block" *ngIf="checkMinMaxError()">
          {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.RANGE.ERROR' | translate }}
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-2" formGroupName="pricing">
        <div class="mb-2">
          <label for="price" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_RANGE_PRICE.PRICE' | translate }}</label>
          <div class="input-group">
            <input
              type="number"
              id="price"
              min="0"
              class="form-control last-child-form-control"
              formControlName="price"
              placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_RANGE_PRICE.PLACEHOLDER_PRICE' | translate }}"
              [control-active]="distanceRangePricingForm.get('_distance_range_pricing_item.pricing.price').dirty && distanceRangePricingForm.get('_distance_range_pricing_item.pricing.price').touched"
            />
          </div>
        </div>
        <div>
          <label for="distance_per_km_included_bunker_unit_price">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.INCLUDED_BUNKER_DISTANCE_PER_KM' | translate }}</label>
          <div class="input-group">
            <input
              type="number"
              id="distance_per_km_included_bunker_unit_price"
              class="form-control last-child-form-control"
              formControlName="distance_per_km_included_bunker_unit_price"
              [control-active]="
                distanceRangePricingForm.get('_distance_range_pricing_item.pricing.distance_per_km_included_bunker_unit_price').dirty &&
                distanceRangePricingForm.get('_distance_range_pricing_item.pricing.distance_per_km_included_bunker_unit_price').touched
              "
              placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.INCLUDED_BUNKER_DISTANCE_PER_KM' | translate }}"
            />
          </div>
        </div>
      </div>

      <div *ngIf="!modalData.isDisabled" class="col-12 col-xl mt-2">
        <button type="button" class="btn btn-primary btn-block" [disabled]="distanceRangePricingForm.get('_distance_range_pricing_item').invalid || checkMinMaxError()" (click)="doAddItem()">
          {{ 'COMMON.ADD' | translate }}
        </button>
      </div>
    </div>
    <ng-container *ngIf="distanceRangePricingForm.get('distance_range_pricing_grid')?.value as list">
      <div *ngIf="list.length" class="form-row">
        <div class="col-12 text-center pt-4 table-container pl-5 pr-5 d-none d-lg-table">
          <table class="table table-bordered table-sm table-design">
            <tbody>
              <tr>
                <td scope="col" class="large-col text-center align-middle">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.TARIF_CODE' | translate }}
                </td>
                <td scope="col" class="small-col text-center align-middle">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_RANGE_PRICE.MIN' | translate }}
                </td>
                <td scope="col" class="small-col text-center align-middle">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_RANGE_PRICE.MAX' | translate }}
                </td>
                <td scope="col" class="small-col text-center align-middle">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_RANGE_PRICE.PRICE' | translate }}
                </td>
              </tr>
              <tr *ngFor="let item of list; let i = index">
                <th class="text-center align-middle">{{ item.tarif_code }}</th>
                <th class="text-center align-middle">{{ item.pricing.min }}</th>
                <th class="text-center align-middle">{{ item.pricing.max }}</th>
                <th class="text-center align-middle">{{ item.pricing.price + (item.pricing.distance_per_km_included_bunker_unit_price ? ' (bunker: ' + item.pricing.distance_per_km_included_bunker_unit_price + ')' : '') }}</th>
                <th *ngIf="!modalData.isDisabled">
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-icon btn-sm" (click)="doDeleteItem(i)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive d-lg-none table-container pt-3">
          <table class="table table-bordered table-sm">
            <tbody>
              <tr>
                <td scope="row">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.TARIF_CODE' | translate }}
                </td>
                <th *ngFor="let item of list; let i = index" class="text-center align-middle">{{ item.tarif_code }}</th>
              </tr>
              <tr>
                <td scope="row">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_RANGE_PRICE.MIN' | translate }}
                </td>
                <th *ngFor="let item of list; let i = index" class="text-center align-middle">
                  {{ item.pricing.min }}
                </th>
              </tr>
              <tr>
                <td scope="row">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_RANGE_PRICE.MAX' | translate }}
                </td>
                <th *ngFor="let item of list; let i = index" class="text-center align-middle">
                  {{ item.pricing.max }}
                </th>
              </tr>
              <tr>
                <td scope="row">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.DISTANCE_RANGE_PRICE.PRICE' | translate }}
                </td>
                <th *ngFor="let item of list; let i = index" class="text-center align-middle">
                  {{ item.pricing.price + (item.pricing.distance_per_km_included_bunker_unit_price ? ' (bunker: ' + item.pricing.distance_per_km_included_bunker_unit_price + ')' : '') }}
                </th>
              </tr>
              <tr *ngIf="!modalData.isDisabled">
                <td class="empty-cell"></td>
                <th *ngFor="let item of list; let i = index">
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-icon btn-sm" (click)="doDeleteItem(i)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary mr-1" type="button" (click)="goBack()">
      {{ (modalData.isDisabled ? 'COMMON.CLOSE' : 'COMMON.CANCEL') | translate }}
    </button>
    <button *ngIf="!modalData.isDisabled" class="btn btn-primary ml-1" [disabled]="distanceRangePricingForm.get('distance_range_pricing_grid').invalid" type="submit">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</form>
