<div [formGroup]="groupForm">
  <select class="custom-select custom-select-sm border mb-1" formControlName="mode">
    <option [value]="'range'">{{ 'SEARCH_FIELD.FILTERS.DATE.MODES.RANGE' | translate }}</option>
  </select>
  <ng-container *ngIf="groupForm.get('mode').value === 'range'">
    <div class="input-group border-force input-group-sm mb-1" formGroupName="min">
      <input type="text" formControlName="value" class="form-control" autocomplete="off" [matDatepicker]="minDatePicker" placeholder="{{ 'SEARCH_FIELD.FILTERS.DATE.FROM' | translate }}" />
      <mat-datepicker #minDatePicker autoTouchUi></mat-datepicker>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary last-child-form-control" type="button" (click)="minDatePicker.open()" tabindex="-1" [disabled]="groupForm.get('min.value').disabled">
          <i class="far fa-calendar-alt"></i>
        </button>
      </div>
    </div>
    <div class="input-group border-force input-group-sm" formGroupName="max">
      <input type="text" formControlName="value" class="form-control" autocomplete="off" [matDatepicker]="maxDatePicker" placeholder="{{ 'SEARCH_FIELD.FILTERS.DATE.TO' | translate }}" />
      <mat-datepicker #maxDatePicker autoTouchUi></mat-datepicker>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary last-child-form-control" type="button" (click)="maxDatePicker.open()" tabindex="-1" [disabled]="groupForm.get('max.value').disabled">
          <i class="far fa-calendar-alt"></i>
        </button>
      </div>
    </div>
  </ng-container>
</div>
