<div class="modal-header">
  <h4 class="modal-title">
    {{ options?.noTranslate ? data.title : (data.title | translate) }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="form" (ngSubmit)="doSubmit()">
  <div class="modal-body">
    <div class="input-group h-100">
      <div class="form-control h-100 p-0 overflow-hidden">
        <mcit-ace-editor [mode]="options?.mode ?? 'json'" [style.min-height]="500 + 'px'" [readOnly]="options?.readonly ?? false" formControlName="value" class="text-monospace font-size-0_75 h-100"></mcit-ace-editor>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <ng-container *ngIf="options?.readonly ?? false; else normaTemplate">
      <button type="button" class="btn btn-outline-primary" (click)="doClose()">
        {{ 'COMMON.CLOSE' | translate }}
      </button>
    </ng-container>
    <ng-template #normaTemplate>
      <button type="button" class="btn btn-outline-primary" (click)="doClose()">
        {{ 'COMMON.CANCEL' | translate }}
      </button>
      <button type="submit" class="btn btn-primary ml-1" [disabled]="form.invalid">
        {{ 'COMMON.SAVE' | translate }}
      </button>
    </ng-template>
  </div>
</form>
