@import '../../../../variables';

.notification-container {
  background-color: $white;
  min-height: 60px;
  margin: 0.5rem;
  border-radius: $border-radius;
  border: $card-border-color solid $card-border-width;
}

.clickable {
  cursor: pointer;
}

.object-container {
  text-overflow: ellipsis;
  overflow: hidden;

  .my-title {
    @include font(400, 16, 18);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 4px;
  }

  .my-footer {
    @include font(300, 12, 25);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.full-height {
  height: 90%;
}

.read {
  opacity: 0.6
}

.my-icon {
  color: $noir-bleu;

  &.my-warning {
    color: $jaune-safran;
  }

  &.my-important {
    color: $rouge-assistance;
  }
}