<div class="container full-height" *ngIf="notifications$ | async as notifications; else waiting">
  <div class="row justify-content-center align-content-center full-height" *ngIf="notifications.length === 0">
    <h2 class="col-auto">
      {{ 'NOTIFICATION.NO_NOTIFICATIONS' | translate }}
    </h2>
  </div>
  <ng-container *ngIf="notifications.length > 0">
    <div class="row align-items-center justify-content-between m-2">
      <div class="col-auto align-items-center">
        <label class="align-items-center mb-0">
          <input class="mr-1" type="checkbox" [checked]="selectedNotifications.length === notifications.length" (click)="selectAll(notifications)" />
          {{ 'NOTIFICATION.SELECT_ALL' | translate }}
        </label>
      </div>
      <div class="col-auto align-items-center">
        <button class="btn btn-danger btn-sm" [disabled]="selectedNotifications.length === 0" (click)="deleteAll()">
          {{ 'NOTIFICATION.DELETE.BUTTON' | translate : { quantity: selectedNotifications.length } }}
        </button>
      </div>
    </div>
    <div class="row align-items-center notification-container clickable" [ngClass]="{ read: notification.read }" *ngFor="let notification of notifications" (click)="openNotification(notification._id)">
      <div class="col-auto col-lg-1 align-items-center">
        <input type="checkbox" (click)="$event.stopPropagation(); selectNotification(notification._id)" [checked]="selectedNotifications.indexOf(notification._id) >= 0" />
        <span class="my-icon ml-2 ml-md-2 ml-lg-0 float-right" [class.my-warning]="notification.severity === 'WARN'" [class.my-important]="notification.severity === 'IMPORTANT'">
          <i class="fas fa-bell"></i>
        </span>
      </div>
      <div class="col-7 col-sm-8 col-md-9 col-lg-10 object-container align-items-center mr-md-auto">
        <span class="my-title">{{ notification.objects | meaning }}</span>
        <span class="my-footer float-md-right">
          -
          {{ 'NOTIFICATION.BY_USER_DATE' | translate : { user: notification.from_name, date: (notification.created_date | dateTranslate : 'date_time') } }}</span
        >
      </div>
      <div class="col-1">
        <button type="button" (click)="$event.stopPropagation(); doDeleteNotification(notification._id)" class="btn btn-icon btn-sm">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 align-items-center">
        <mcit-pagination [options]="{ page: page, total: total, totalPages: totalPages, per_page: per_page }" (pageEvent)="doPage($event)" (perPageEvent)="doPerPage($event)"></mcit-pagination>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #waiting>
  <div class="d-flex flex-row justify-content-center align-items-center">
    <i class="far fa-spin fa-sync-alt my-waiting"></i>
  </div>
</ng-template>
