<div class="container-fluid">
  <div class="row">
    <div class="col-12 mb-2">
      <mcit-search-field [loading]="waiting" [options]="searchOptions" (clearEvent)="clearMultipleFilters()" [ngModel]="searchBox" (ngModelChange)="querySubject.next($event)">
        <div *ngIf="refreshButton" class="flex-grow-1 flex-lg-grow-0 d-flex flex-row justify-content-around ml-1" (click)="doRefresh()">
          <button class="btn btn-secondary fas fa-sync btn-sm"></button>
        </div>
        <div class="flex-grow-1 flex-lg-grow-0 d-flex flex-row justify-content-around" *ngIf="!addElementHidden">
          <button class="btn btn-primary" (click)="addElement()">
            {{ 'COMMON.ADD' | translate }}
          </button>
        </div>
        <button *ngIf="referenceTypes" input-group-prepend class="btn btn-outline-secondary btn-sm" (click)="doOpenMultipleFilters()">
          <i class="fa-clone" [ngClass]="multipleFiltersLength > 0 ? 'fas' : 'far'"></i>
          <ng-container *ngIf="multipleFiltersLength > 0"> &nbsp;({{ multipleFiltersLength }}) </ng-container>
        </button>
        <ng-content select="[afterSearch]"></ng-content>
      </mcit-search-field>
    </div>
  </div>

  <div class="row">
    <div *ngIf="facetOptions" class="col-12 col-xl-3 mb-2">
      <ng-container *ngIf="categories$ | async as categories; else loading">
        <mcit-facet-field [options]="facetOptions" [loading]="waitingCategories" [data]="categories" [ngModel]="facetBox" (ngModelChange)="facetSubject.next($event)"></mcit-facet-field>
      </ng-container>
    </div>

    <div class="col-12 mb-2" [class.col-xl-12]="!facetOptions" [class.col-xl-9]="!!facetOptions">
      <div *ngIf="elements$ | async as elements; else loading">
        <div class="row">
          <div *ngIf="!waiting && !elements.length && searchBox?.text?.length >= 3" class="col-12 text-center">
            <div class="font-weight-light mb-2" style="font-size: 2rem; line-height: 1.2">
              {{ 'COMMON.EMPTY_RESULT' | translate }}
            </div>
            <h2 class="text-danger">{{ searchBox.text }}</h2>
          </div>
          <div *ngIf="!waiting && !elements.length && searchBox?.text?.length < 3" class="col-12 text-center">
            <div class="font-weight-light mb-2" style="font-size: 2rem; line-height: 1.2">
              {{ 'COMMON.EMPTY_LIST' | translate }}
            </div>
          </div>
          <div *ngIf="waiting" class="col-12 text-center">
            <i class="fas fa-spinner fa-pulse fa-3x" aria-hidden="true"></i>
          </div>
          <div *ngIf="!waiting && elements.length > 0" class="col-12">
            <mcit-table [options]="tableOptions" [pagination]="{ page: page, total: total, per_page: perPage }" [items]="elements">
              <ng-container *ngIf="rowHeaderCustom">
                <ng-template mcitRowHeaderCustom let-allArgs>
                  <ng-container [ngTemplateOutlet]="rowHeaderCustom.templateRef" [ngTemplateOutletContext]="allArgs"> </ng-container>
                </ng-template>
              </ng-container>
              <ng-container *ngFor="let columnCustom of columnCustoms">
                <ng-template [mcitColumnCustom]="columnCustom.elementKey" let-allArgs>
                  <ng-container [ngTemplateOutlet]="columnCustom.templateRef" [ngTemplateOutletContext]="allArgs"> </ng-container>
                </ng-template>
              </ng-container>
              <ng-container *ngIf="rowExtensionCustom">
                <ng-template mcitRowExtensionCustom let-allArgs>
                  <ng-container [ngTemplateOutlet]="rowExtensionCustom.templateRef" [ngTemplateOutletContext]="allArgs"> </ng-container>
                </ng-template>
              </ng-container>
            </mcit-table>
          </div>
        </div>

        <div class="row mb-2" *ngIf="!waiting && elements?.length > 0">
          <div class="col-12">
            <mcit-pagination [options]="{ page: page, total: total, totalPages: totalPages, per_page: perPage }" (pageEvent)="doPage($event)" (perPageEvent)="doPerPage($event)"></mcit-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="row">
    <div class="col-12 text-center">
      <i class="fas fa-spinner fa-pulse fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</ng-template>
