<div *ngIf="hasBackdrop && showBackdrop" [ngClass]="backdropClass" [@offcanvasBackdrop]="state"></div>
<div
  role="document"
  class="offcanvas show my-force-transform-z visible"
  [style]="style"
  [ngClass]="offcanvasClass"
  [class.offcanvas-start]="position === 'start'"
  [class.offcanvas-end]="position === 'end'"
  [class.offcanvas-top]="position === 'top'"
  [class.offcanvas-bottom]="position === 'bottom'"
  [@offcanvasContainer]="state"
  (@offcanvasContainer.start)="onAnimationStart($event)"
  (@offcanvasContainer.done)="onAnimationDone($event)"
>
  <ng-container *ngIf="allowResize">
    <div *ngIf="position === 'start'" class="resize-border right" (mousedown)="startResizing($event)"></div>
    <div *ngIf="position === 'end'" class="resize-border left" (mousedown)="startResizing($event)"></div>
    <div *ngIf="position === 'top'" class="resize-border down" (mousedown)="startResizing($event)"></div>
    <div *ngIf="position === 'bottom'" class="resize-border up" (mousedown)="startResizing($event)"></div>
  </ng-container>

  <div *ngIf="allowResize" class="resize-buttons">
    <button class="btn btn-light btn-sm" *ngIf="allowReposition.includes('start') && position !== 'start'" (click)="setPosition('start')">
      <i class="fa-solid fa-left-to-line"></i>
    </button>
    <button class="btn btn-light btn-sm" *ngIf="allowReposition.includes('end') && position !== 'end'" (click)="setPosition('end')">
      <i class="fa-solid fa-right-to-line"></i>
    </button>
    <button class="btn btn-light btn-sm" *ngIf="allowReposition.includes('top') && position !== 'top'" (click)="setPosition('top')">
      <i class="fa-solid fa-up-to-line"></i>
    </button>
    <button class="btn btn-light btn-sm" *ngIf="allowReposition.includes('bottom') && position !== 'bottom'" (click)="setPosition('bottom')">
      <i class="fa-solid fa-down-to-line"></i>
    </button>
  </div>

  <ng-template cdkPortalOutlet></ng-template>
</div>
