@import '../../../theme/colors';

.my-force-transform-z {
  -webkit-transform: translateZ(0) !important;
}

.background-chat {
  top: 78px;
  width: 800px;
  background-color: $background-color;
}

.resize-border {
  background-color: $bleu_primaire;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  z-index: 1000;

  &:hover {
    opacity: 0.5;
  }

  &.left {
    left: -2.5px;
    width: 5px;
    height: 100%;
    cursor: ew-resize;
  }

  &.right {
    right: -2.5px;
    width: 5px;
    height: 100%;
    cursor: ew-resize;
  }

  &.up {
    top: -2.5px;
    height: 5px;
    width: 100%;
    cursor: ns-resize;
  }

  &.down {
    bottom: -2.5px;
    height: 5px;
    width: 100%;
    cursor: ns-resize;
  }
}

.resize-buttons {
  position: absolute;
  bottom: 4px;
  right: 4px;
  display: flex;
  gap: 3px;
  flex-direction: row;
  z-index: 1000;
}
