<div class="modal-header">
  <h4 class="modal-title">{{ title | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p *ngIf="renderMessageAsHtml" [innerHTML]="message | translate : params"></p>
  <p *ngIf="!renderMessageAsHtml">{{ message | translate : params }}</p>
  <p *ngIf="message2">{{ message2 }}</p>
  <p *ngIf="message3">{{ message3 }}</p>
  <a *ngIf="link?.url" class="font-italic" [href]="link.url"> {{ link?.content ?? link.url }}</a>
</div>
