.users-card + .card {
  margin-top: 1rem;
}
.table-responsive {
  max-height: 250px;
  overflow-y: auto;
}
.card-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.table-responsive table {
  margin-bottom: 0;
}
.table-responsive td,
.table-responsive th {
  white-space: nowrap;
}
