<ng-container *ngIf="groupedChecksQuestions; else loading">
  <div class="container bg-color" *ngIf="(groupedChecksQuestions | objectKeys)?.length > 0; else empty">
    <!-- <div class="container bg-color" [class.disable-action]="!(isEditable$ | async)" *ngIf="(groupedChecksQuestions | objectKeys)?.length > 0; else empty"> -->
    <div class="row">
      <div class="col-12">
        <ng-container *ngIf="inspectionForm">
          <form [formGroup]="inspectionForm">
            <ng-container *ngFor="let grpChkQuestion of groupedChecksQuestions | keyvalue; let i = index">
              <mcit-simple-accordion #accordion [open]="grpChkQuestion | openChecks : (isEditable$ | async) : initGroupProgress : resumeGroupKey">
                <div simple-accordion-header class="mcit-accordion-header d-flex flex-row justify-content-between align-items-center p-2 mb-2" accordion-heading>
                  <div class="my-title w-75"><i class="fas" [ngClass]="accordion.open ? 'fa-chevron-down' : 'fa-chevron-right'" aria-hidden="true"></i>&nbsp;{{ grpChkQuestion?.value[0]?.group_name | meaning }}</div>
                  <mcit-simple-progress class="align-content-end" [max]="2" [value]="groupProgress[grpChkQuestion.key]"> </mcit-simple-progress>
                </div>
                <div>
                  <div *ngFor="let checkQuestion of grpChkQuestion.value" class="text-primary text-left container p-0 mb-2">
                    <ng-container *ngIf="checkQuestion?.free_text" [formGroupName]="checkQuestion._id">
                      <mcit-check-free-text
                        [formControlName]="checkQuestion.type"
                        [freetextQuestion]="checkQuestion.free_text"
                        [environment]="environment"
                        [isEditable$]="isEditable$"
                        [forceA4]="forceA4"
                        [prefix_attach_url]="prefix_attach_url"
                        [suffix_attach_url]="suffix_attach_url"
                        [baseUrl]="baseUrl"
                        [localMode]="localMode"
                        [localAttachmentsDirectoryName]="localAttachmentsDirectoryName"
                        (attachAdded)="onAttachAdded($event)"
                        [actions$]="actions$"
                        (click)="doChangeCheckPath(checkQuestion._id, 'free_text.check_attachment')"
                      ></mcit-check-free-text>
                    </ng-container>

                    <ng-container *ngIf="checkQuestion?.unique_answer" [formGroupName]="checkQuestion._id">
                      <mcit-check-unique-answer
                        [formControlName]="checkQuestion.type"
                        [uniqueQuestion]="checkQuestion.unique_answer"
                        [environment]="environment"
                        [isEditable$]="isEditable$"
                        [forceA4]="forceA4"
                        [prefix_attach_url]="prefix_attach_url"
                        [suffix_attach_url]="suffix_attach_url"
                        [baseUrl]="baseUrl"
                        [localMode]="localMode"
                        [localAttachmentsDirectoryName]="localAttachmentsDirectoryName"
                        (attachAdded)="onAttachAdded($event)"
                        [actions$]="actions$"
                        (checkPathChanged)="onCheckPathChanged(checkQuestion._id, 'unique_answer', $event)"
                      ></mcit-check-unique-answer>
                    </ng-container>

                    <ng-container *ngIf="checkQuestion?.multi_answers" [formGroupName]="checkQuestion._id">
                      <mcit-check-multi-answers
                        [formControlName]="checkQuestion.type"
                        [multiQuestion]="checkQuestion.multi_answers"
                        [environment]="environment"
                        [isEditable$]="isEditable$"
                        [forceA4]="forceA4"
                        [prefix_attach_url]="prefix_attach_url"
                        [suffix_attach_url]="suffix_attach_url"
                        [baseUrl]="baseUrl"
                        [localMode]="localMode"
                        [localAttachmentsDirectoryName]="localAttachmentsDirectoryName"
                        (attachAdded)="onAttachAdded($event)"
                        [actions$]="actions$"
                        (checkPathChanged)="onCheckPathChanged(checkQuestion._id, 'multi_answers', $event)"
                      ></mcit-check-multi-answers>
                    </ng-container>

                    <ng-container *ngIf="checkQuestion?.yes_no" [formGroupName]="checkQuestion._id">
                      <mcit-check-yes-no
                        [formControlName]="checkQuestion.type"
                        [yesNoQuestion]="checkQuestion.yes_no"
                        [environment]="environment"
                        [isEditable$]="isEditable$"
                        [forceA4]="forceA4"
                        [prefix_attach_url]="prefix_attach_url"
                        [suffix_attach_url]="suffix_attach_url"
                        [baseUrl]="baseUrl"
                        [localMode]="localMode"
                        [localAttachmentsDirectoryName]="localAttachmentsDirectoryName"
                        (attachAdded)="onAttachAdded($event)"
                        [actions$]="actions$"
                        (checkPathChanged)="onCheckPathChanged(checkQuestion._id, 'yes_no', $event)"
                      >
                      </mcit-check-yes-no>
                    </ng-container>

                    <ng-container *ngIf="checkQuestion?.attachment" [formGroupName]="checkQuestion._id">
                      <mcit-check-attachment
                        [formControlName]="checkQuestion.type"
                        [attachmentQuestion]="checkQuestion.attachment"
                        [environment]="environment"
                        [isEditable$]="isEditable$"
                        [forceA4]="forceA4"
                        [prefix_attach_url]="prefix_attach_url"
                        [suffix_attach_url]="suffix_attach_url"
                        [baseUrl]="baseUrl"
                        [localMode]="localMode"
                        [localAttachmentsDirectoryName]="localAttachmentsDirectoryName"
                        (attachAdded)="onAttachAdded($event)"
                        [actions$]="actions$"
                        (click)="doChangeCheckPath(checkQuestion._id, 'attachment.value')"
                      ></mcit-check-attachment>
                    </ng-container>
                  </div>
                </div>
              </mcit-simple-accordion>
            </ng-container>
          </form>
        </ng-container>
        <div *ngIf="(isEditable$ | async) && (groupedChecksQuestions | objectKeys)?.length > 0" class="d-flex flex-row justify-content-end p-4">
          <button class="btn btn-primary text-center" (click)="doSave()">{{ 'COMMON.SAVE' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <div class="d-flex flex-column justify-content-center h-100">
    <h2 class="text-center">{{ 'COMMON.PLEASE_WAIT' | translate }}</h2>
  </div>
</ng-template>
<ng-template #empty>
  <div class="d-flex flex-column justify-content-center h-100">
    <h2 class="text-center">{{ 'COMMON.EMPTY_DATA' | translate }}</h2>
  </div>
</ng-template>
