@import '../../../../variables.scss';

::ng-deep .card.custom .card-header,
::ng-deep .panel-header.custom
 {
    background-color:$noir-bleu;
    border-radius: 0.25rem !important;
    cursor: pointer;
}


::ng-deep .card.custom,
::ng-deep .card.custom .card-header,
::ng-deep .panel-header.custom,
::ng-deep .accordion-toggle,
::ng-deep .btn.btn-link
{
color: white;
text-align: center

}
.disable-action {
    pointer-events: none;
}

.reference-rto {
    background-color: $blanc;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1)
}
.close {
font-size: 3rem;
line-height: 1.2;
}
.bg-color {
    background-color: #F5F6FA;
}
.sticky-top {
    top: 3.5rem
}

