<ng-container *ngIf="freetextQuestion; else empty">
  <ng-container *ngIf="checkForm?.controls?.value">
    <form [formGroup]="checkForm" class="row no-gutters">
      <div *ngIf="(freetextQuestion?.check_name | meaning) !== '!NOTHING_LABEL!'" class="col-12 p-2">
        <strong>{{ freetextQuestion?.check_name | meaning }}</strong>
      </div>

      <div class="col-12 p-2">
        <textarea *ngIf="freetextQuestion?.type === 'string'" class="col p-1 border" rows="2" formControlName="value" placeholder="{{ 'INSPECTIONS.CHECKS.COMMENTS' | translate }}" [mcitAutofocus]="false"></textarea>
        <input *ngIf="freetextQuestion?.type === 'number'" class="col p-1 border" type="number" min="0" oninput="validity.valid||(value='');" rows="2" formControlName="value" [mcitAutofocus]="false" />
        <input *ngIf="freetextQuestion?.type === 'float'" class="col p-1 border" type="number" step="0.01" rows="2" formControlName="value" [mcitAutofocus]="false" />
        <input *ngIf="freetextQuestion?.type === 'phone_number'" class="col p-1 border" type="tel" rows="2" formControlName="value" [mcitAutofocus]="false" />
        <input *ngIf="freetextQuestion?.type === 'email'" class="col p-1 border" type="email" rows="2" formControlName="value" [mcitAutofocus]="false" />
      </div>

      <div class="col-12" *ngIf="freetextQuestion?.check_attachment">
        <div class="m-1 pl-1 my-sub-text">
          <em *ngIf="freetextQuestion?.check_attachment?.required === true"> {{ 'INSPECTIONS.CHECKS.MANDATORY_PICTURE' | translate }}</em>
        </div>
        <mcit-attachments
          [localMode]="localMode"
          [directoryName]="localAttachmentsDirectoryName"
          [attachments]="checkForm?.controls?.check_attachment?.value"
          (attachlistChanged)="onChoiceAttachListChanged($event)"
          (attachAdded)="onAttachAdded($event)"
          [environment]="environment"
          [editable]="isEditable$ | async"
          [forceGrid4]="forceA4"
          [baseUrl]="prefix_attach_url || baseUrl"
          [suffixUrl]="suffix_attach_url"
          [actions$]="actions$"
        >
        </mcit-attachments>
      </div>
    </form>
  </ng-container>
</ng-container>
<ng-template #empty>
  <div class="d-flex flex-column justify-content-center h-100">
    <h4 class="text-center">{{ 'COMMON.EMPTY_DATA' | translate }}</h4>
  </div>
</ng-template>
