<form [formGroup]="contractFieldForm" novalidate>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="far fa-fw" [ngClass]="contractLoading ? 'fa-spinner fa-pulse' : 'fa-globe'"></i>
      </span>
    </div>
    <input
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      autocomplete="off"
      placeholder="{{ placeholder }}"
      class="form-control"
      formControlName="contract"
      [typeahead]="contractDataSource"
      [typeaheadOptionField]="'displayValue'"
      (typeaheadLoading)="doChangeContractLoading($event)"
      (typeaheadOnSelect)="doContractSelected($event)"
      [control-active]="(contractFieldForm.controls['contract'].dirty && contractFieldForm.controls['contract'].touched) || submitAttempt"
      [required]="required"
    />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary last-child-form-control" type="button" (click)="doClearContract()" tabindex="-1" [disabled]="contractFieldForm.controls['contract'].disabled">
        <i class="far fa-times"></i>
      </button>
    </div>
    <div class="invalid-feedback">
      {{ getContractErrorMessage() | translate }}
    </div>
  </div>
</form>
