<div class="color-picker d-flex">
  <div class="no-colors d-flex align-items-center">
    <i class="far fa-ban clickable" (click)="deleteColor()"></i>
  </div>
  <div class="colors">
    <div *ngFor="let paint of defaultColors" class="d-flex flex-wrap">
      <div>
        <div class="d-flex flex-row align-items-center">
          <input type="checkbox" id="{{ paint }}" name="scales" (change)="changeColor(paint)" [checked]="paint === color" />
          <div class="circle mx-2 my-1" [ngStyle]="{ background: paint }"></div>
        </div>
      </div>
    </div>
  </div>
</div>
