$margin: 7px;
$padding: 7px;
$size: 12px;
.color-picker {
  background: #fff;
  width: 55%;
  border: #7d91a7 solid 1px;
  border-radius: 5px;

  .circle {
    height: $size;
    width: $size;
    box-sizing: border-box;
    border-radius: 100%;
  }

  .no-colors {
    padding: $padding;
    font-size: $size;
    border-right: #7d91a7 solid 1px;
    .clickable {
      cursor: pointer;
    }
  }

  .colors {
    padding: $padding;
    display: flex;
    flex-wrap: wrap;

    .circle {
      margin-right: $margin;
      
      &:nth-child(-n+6) {
        margin-bottom: $margin;
      };

      &:nth-child(6n) {
        margin-right: 0;
      };
    }
    
  }
  .selected {
    border: #fff solid 0.5px;
    box-shadow: 0px 0px 1px 1px#7d91a7;
    border-radius: 50%;
  }
}
