div{
  .disabled {
    opacity: 0.5;
  }
}

.table {
  th, td {
    padding: 0.1rem;
  }
}

.box-services-line {
  cursor: move;
  background-color: #F5F6FA;
  z-index: 1050 !important;
}

.my-fa-light{
  font-size: 14px;
  font-weight: 100;
}

input.ng-invalid {
  border: 1px solid #d52b1e;
}

.box-grouped-checks {
  cursor: move;
  background-color: #F5F6FA;
  z-index: 1050 !important;
}

.box-check-array {
  cursor: move;
  background-color: #F5F6FA;
  z-index: 1050 !important;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .box-pricing-line:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.col-1-5 {
  flex: 0 0 12.3333333333%;
  max-width: 12.3333333333%;
}

.col-0-5 {
  flex: 0 0 4.3333333333%;
  max-width: 4.3333333333%;
}

.price {
  max-width: 70%;
}
