<div class="modal-header">
  <h4 class="modal-title">{{ 'COMMON_CONTRACTS.MODAL.SERVICE_FIX_MODAL.ADD_SERVICES' | translate }} "{{ contract?.name }}"</h4>
  <button type="button" class="close" aria-label="Close" (click)="goBack()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="servicesForm" (ngSubmit)="doSave()" novalidate>
  <div class="modal-body">
    <div class="form-row">
      <div class="col-12">
        <div class="form-group w-100 mb-0">
          <div class="mb-1">{{ 'COMMON_CONTRACTS.MODAL.VERSION.SELECT_VERSION_MESSAGE' | translate }}</div>
          <select class="form-control custom-select" id="versionFormControlSelect" formControlName="version_id">
            <ng-container>
              <option *ngFor="let version of versionsRef; let i = index" [ngValue]="version._id">
                <b>#{{ i + 1 }}</b>
                ( {{ version.date_start | dateTranslate : 'date' : null }}
                <ng-container *ngIf="version.date_end"> &rarr; {{ version.date_end | dateTranslate : 'date' : null }} </ng-container>
                )
              </option>
            </ng-container>
          </select>
        </div>
      </div>
    </div>
    <hr />
    <h5 class="mb-4">
      <i class="fal fa-cart-plus m-2" aria-hidden="true"></i>
      {{ 'COMMON_CONTRACTS.MODAL.VERSION.DECLARE_SERVICES_MODAL' | translate }}
      <ng-container *ngIf="contract?.transport?.service_type"> - {{ 'SERVICE_TYPES.' + contract?.transport?.service_type | translate }} </ng-container>
    </h5>

    <div class="form-row" *ngIf="servicesForm.get('service_lines')" formArrayName="service_lines">
      <div class="col-12 mb-2" cdkDropList (cdkDropListDropped)="drop($event, servicesForm.get('service_lines')['controls'])">
        <div class="form-row align-items-center box-services-line" *ngFor="let services_line of servicesForm.get('service_lines')['controls']; let j = index" [formGroupName]="j" cdkDrag>
          <div class="col-auto mb-1 mt-1">
            <button class="btn btn-icon fas fa-grip-lines" style="cursor: move"></button>
          </div>
          <div class="col">
            <div class="form-row">
              <div class="col-12 col-md-4 mb-1 mt-1">
                <div class="input-group">
                  <select class="form-control custom-select last-child-form-control" formControlName="formula" [control-active]="services_line.controls['formula'].dirty && services_line.controls['formula'].touched">
                    <option [hidden]="true">
                      {{ 'COMMON_CONTRACTS.FORMULAS.' + services_line.get('formula').value | translate }}
                    </option>
                    <ng-container *ngFor="let servicesFormula of servicesFormulas">
                      <option *ngIf="servicesFormula === 'SERVICES_GRID'" [value]="servicesFormula">
                        {{ 'COMMON_CONTRACTS.FORMULAS.' + servicesFormula | translate }}
                      </option>
                    </ng-container>
                  </select>
                </div>
              </div>
              <div class="col-12 col-md-8 mb-1 mt-1">
                <div class="form-row">
                  <div class="col-12">
                    <div class="input-group">
                      <input type="text" class="form-control last-child-form-control" value="{{ services_line.getRawValue() | additionalservicelineparameter }}" readonly />
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" (click)="doAddServices(services_line.controls.formula.value, services_line)">
                          <i class="far fa-edit" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto mb-1 mt-1">
            <button class="btn btn-icon text-danger" type="button" (click)="doDeleteServicesLine(j)">
              <i class="fas fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-3">
        <button class="btn btn-primary" type="button" (click)="doAddServiceLine()">
          {{ 'COMMON_CONTRACTS.MODAL.VERSION.ADD_SERVICES_LINE' | translate }}
        </button>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-primary mr-1" type="button" (click)="goBack()">
        {{ 'COMMON.CANCEL' | translate }}
      </button>
      <button class="btn btn-primary ml-1" type="submit" [disabled]="servicesForm.invalid" (click)="doSave()">
        {{ 'COMMON.SAVE' | translate }}
      </button>
    </div>
  </div>
</form>
