<div class="modal-header">
  <h4 class="modal-title">{{ options?.titleKey ?? 'EDIT_PARK_STRUCTURE_SQUARE_MODAL.TITLE' | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="textForm" (ngSubmit)="doSubmit()" novalidate>
  <div class="modal-body">
    <div class="form-row">
      <div class="col-12 col-md-4 col-lg mb-2">
        <label for="squares">{{ 'EDIT_PARK_STRUCTURE_SQUARE_MODAL.SUBTITLE' | translate }}</label>
        <div class="border rounded">
          <ngx-codemirror id="squares" formControlName="squares" [options]="{ lineNumbers: true, theme: 'default', readOnly: isDisabled }"></ngx-codemirror>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary mr-1" type="button" (click)="doClose()">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button *ngIf="!isDisabled" class="btn btn-primary ml-1" type="submit" [disabled]="textForm.invalid">
      {{ 'COMMON.VALIDATE' | translate }}
    </button>
  </div>
</form>
