<section class="study-tab study-tab--reading">
  <div class="study-reading-wrap" *ngIf="renderAyahs.length; else noReadingAyahs">
    <p class="study-reading-flow" dir="rtl" translate="no">
      <ng-container *ngFor="let ayah of renderAyahs; trackBy: trackByAyah">
        <ng-container *ngFor="let word of ayah.words; trackBy: trackByWord">
          <span class="study-word">{{ word }}</span>{{ ' ' }}
        </ng-container>
        <span class="study-reading-marker" *ngIf="ayah.marker">{{ ayah.marker }}</span>{{ ' ' }}
      </ng-container>
    </p>

    <div class="study-reading-translations" *ngIf="hasTranslations">
      <ng-container *ngFor="let ayah of renderAyahs; trackBy: trackByAyah">
        <p class="study-reading-translation" *ngIf="ayah.translation">
          <span class="study-reading-translation-marker" *ngIf="ayah.marker">{{ ayah.marker }}</span>
          {{ ayah.translation }}
        </p>
      </ng-container>
    </div>
  </div>

  <ng-template #noReadingAyahs>
    <p class="study-empty">Reading text is not available for this lesson.</p>
  </ng-template>
</section>
