@import "../../../variables";

.my-traffic-light {
  padding: .25rem;
  border-radius: 1rem 1rem;
  border: .25rem solid #E5E5E5;
  background-color: #3B3B3B;

  .my-circle {
    width: 1rem;
    height: 1rem;
    border: 2px solid #646464;
    background-color: #646464;
    box-sizing: border-box;

    &.active {
      &.my-red {
        border-color: #EA4949;
        background-color: #F25F5F;
      }

      &.my-yellow {
        border-color: #EAB42D;
        background-color: #EDCB3B;
      }

      &.my-green {
        border-color: #2BBF60;
        background-color: #3CCE6C;
      }
    }
  }

  &.flex-row {
    .my-circle {
      &:nth-child(2), &:nth-child(3) {
        margin-left: .25rem;
      }
    }
  }

  &.flex-column {
    .my-circle {
      &:nth-child(2), &:nth-child(3) {
        margin-top: .25rem;
      }
    }
  }

  &.my-sm {
    padding: .125rem;
    border-radius: .5rem .5rem;
    border-width: .125rem;

    .my-circle {
      width: .5rem;
      height: .5rem;
      border-width: 1px;
    }

    &.flex-row {
      .my-circle {
        &:nth-child(2), &:nth-child(3) {
          margin-left: .125rem;
        }
      }
    }

    &.flex-column {
      .my-circle {
        &:nth-child(2), &:nth-child(3) {
          margin-top: .125rem;
        }
      }
    }
  }

  &.my-lg {
    padding: .375rem;
    border-radius: 1.5rem 1.5rem;
    border-width: .375rem;

    .my-circle {
      width: 1.5rem;
      height: 1.5rem;
      border-width: 3px;
    }

    &.flex-row {
      .my-circle {
        &:nth-child(2), &:nth-child(3) {
          margin-left: .375rem;
        }
      }
    }

    &.flex-column {
      .my-circle {
        &:nth-child(2), &:nth-child(3) {
          margin-top: .375rem;
        }
      }
    }
  }
}