<div class="my-traffic-light d-flex flex-row" [class.my-sm]="size === 'sm'" [class.my-lg]="size === 'lg'" [class.flex-row]="orientation === 'horizontal'" [class.flex-column]="orientation === 'vertical'" [ngSwitch]="mode">
  <ng-container *ngSwitchCase="'ONE'">
    <div class="my-circle rounded-circle" [class.active]="red || yellow || green" [class.my-red]="red && !yellow && !green" [class.my-yellow]="yellow && !green" [class.my-green]="green"></div>
  </ng-container>
  <ng-container *ngSwitchCase="'TWO'">
    <div class="my-circle my-red rounded-circle" [class.active]="red"></div>
    <div class="my-circle my-red rounded-circle" [class.active]="yellow || green" [class.my-yellow]="yellow && !green" [class.my-green]="green"></div>
  </ng-container>
  <ng-container *ngSwitchCase="'THREE'">
    <div class="my-circle my-red rounded-circle" [class.active]="red"></div>
    <div class="my-circle my-yellow rounded-circle" [class.active]="yellow"></div>
    <div class="my-circle my-green rounded-circle" [class.active]="green"></div>
  </ng-container>
</div>
