<form [formGroup]="meaningFieldForm" novalidate>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="far fa-language" aria-hidden="true"></i></span>
      <button #modeButton class="btn btn-outline-secondary dropdown-toggle" type="button" (click)="doChangeMode(modeButton)" [disabled]="disableLangOpt">
        {{ mode }}
      </button>
    </div>
    <input
      *ngIf="mode === '**'"
      name="default"
      class="form-control"
      formControlName="default"
      type="text"
      [required]="required"
      [control-active]="(meaningFieldForm.controls['default'].dirty && meaningFieldForm.controls['default'].touched) || submitAttempt"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      autocomplete="off"
      [placeholder]="placeholder"
    />
    <ng-container *ngFor="let language of languages">
      <input
        *ngIf="mode === language.code"
        [name]="language.code"
        class="form-control"
        [formControlName]="language.code"
        type="text"
        [control-active]="(meaningFieldForm.controls[language.code].dirty && meaningFieldForm.controls[language.code].touched) || submitAttempt"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        autocomplete="off"
        [placeholder]="placeholder"
      />
    </ng-container>
    <div *ngIf="showResume" class="input-group-append">
      <span class="input-group-text">{{ getNotEmpty() }}</span>
    </div>
  </div>
</form>
