<ng-container *ngIf="multiQuestion.choices as checkChoices; else empty">
  <ng-container *ngIf="checkForm?.controls?.choices">
    <form [formGroup]="checkForm">
      <div *ngIf="(multiQuestion?.check_name | meaning) !== '!NOTHING_LABEL!'" class="col-12 p-2">
        <strong>{{ multiQuestion?.check_name | meaning }}</strong>
      </div>

      <div *ngFor="let current of checkChoices; let index = index" class="row m-0 minh25">
        <ng-container formArrayName="choices">
          <ng-container [formGroupName]="index">
            <div class="col-12 row pr-0" (click)="doChangeCheckPath('.choices.' + index + '.choice_attachment')">
              <label class="col p-0 pl-2 m-1 minh25 bg-white mb-1 text-left d-flex align-items-center" [class.selected]="choicesControl?.controls[index]?.controls?.checkbox?.value === true">
                <input type="checkbox" class="d-none" formControlName="checkbox" />
                <i *ngIf="choicesControl?.controls[index]?.controls?.checkbox?.value === true" class="fas fa-check-square pr-1 text-success h5 m-0"></i>
                <i *ngIf="choicesControl?.controls[index]?.controls?.checkbox?.value !== true" class="fas fa-square pr-1 text-secondary h5 m-0"></i>
                {{ current.choice | meaning }}
              </label>

              <button
                [disabled]="!current?.choice_attachment || !(choicesControl?.controls[index]?.controls?.checkbox?.value === true)"
                [class.notvalid]="
                  current?.choice_attachment?.required === true &&
                  (choicesControl?.controls[index]?.controls?.choice_attachment?.value === null || choicesControl?.controls[index]?.controls?.choice_attachment?.value?.length === 0) &&
                  choicesControl?.controls[index]?.controls?.checkbox?.value === true
                "
                class="btn btn-icon btn-sm col-1 m-1"
                [class.bg-white]="current?.choice_attachment"
                (click)="showAttachment(index)"
              >
                <i *ngIf="current?.choice_attachment" class="fas fa-camera-alt fa-sm cursor-pointer">
                  <span *ngIf="choicesControl?.controls[index]?.controls?.choice_attachment?.value?.length > 0" class="my-badge">{{
                    choicesControl?.controls[index]?.controls?.choice_attachment?.value?.length > 9 ? '9+' : choicesControl?.controls[index]?.controls?.choice_attachment?.value?.length
                  }}</span>
                  <span *ngIf="current?.choice_attachment?.required === true"> *</span>
                </i>
              </button>
              <button
                [disabled]="!current?.choice_comment || !(choicesControl?.controls[index]?.controls?.checkbox?.value === true)"
                [class.notvalid]="
                  current?.choice_comment?.required === true &&
                  (choicesControl?.controls[index]?.controls?.choice_comment?.value === null || choicesControl?.controls[index]?.controls?.choice_comment?.value?.length === 0) &&
                  choicesControl?.controls[index]?.controls?.checkbox?.value === true
                "
                class="btn btn-icon btn-sm col-1 m-1"
                [class.bg-white]="current?.choice_comment"
                (click)="showComment(index)"
              >
                <i *ngIf="current?.choice_comment" class="fas fa-comment-plus fa-sm cursor-pointer">
                  <span *ngIf="choicesControl?.controls[index]?.controls?.choice_comment?.value?.length > 0" class="my-badge">1</span>
                  <span *ngIf="current?.choice_comment?.required === true"> *</span>
                </i>
              </button>

              <div class="col-12">
                <ng-container *ngIf="choicesControl?.controls[index]?.controls?.choice_attachment?.value?.length > 0 || (isShownAttachment[index] && choicesControl?.controls[index]?.controls?.checkbox?.value === true)">
                  <div class="m-1 pl-1 my-sub-text">
                    <em *ngIf="current?.choice_attachment?.required === true"> {{ 'INSPECTIONS.CHECKS.MANDATORY_PICTURE' | translate }}</em>
                  </div>
                  <mcit-attachments
                    [localMode]="localMode"
                    [directoryName]="localAttachmentsDirectoryName"
                    [attachments]="choicesControl?.controls[index]?.controls?.choice_attachment?.value"
                    (attachlistChanged)="onChoiceAttachListChanged($event, index)"
                    (attachAdded)="onAttachAdded($event)"
                    [environment]="environment"
                    [editable]="isEditable$ | async"
                    [forceGrid4]="forceA4"
                    [baseUrl]="prefix_attach_url || baseUrl"
                    [suffixUrl]="suffix_attach_url"
                    [actions$]="actions$"
                  >
                  </mcit-attachments>
                </ng-container>
              </div>
              <div class="col-12" *ngIf="choicesControl">
                <ng-container *ngIf="choicesControl?.controls[index]?.controls?.choice_comment.value?.length > 0 || (isShownComment[index] && choicesControl?.controls[index]?.controls?.checkbox?.value === true)">
                  <textarea
                    class="col-12 p-1 border"
                    rows="2"
                    formControlName="choice_comment"
                    placeholder="{{ (choicesControl?.controls[index]?.controls?.choice_comment?.required === true ? 'INSPECTIONS.CHECKS.MANDATORY_COMMENTS' : 'INSPECTIONS.CHECKS.COMMENTS') | translate }}"
                  ></textarea>
                </ng-container>
              </div>
            </div>
            <mcit-subchecks
              class="col"
              *ngIf="choicesControl?.controls[index]?.controls?.choice_subcheck?.controls && choicesControl?.controls[index]?.controls?.checkbox?.value === true"
              [subcheckForm]="choicesControl?.controls[index]"
              [localMode]="localMode"
              [localAttachmentsDirectoryName]="localAttachmentsDirectoryName"
              [subcheckQuestion]="current?.choice_subcheck"
              [environment]="environment"
              [isEditable$]="isEditable$"
              [forceA4]="forceA4"
              [baseUrl]="baseUrl"
              [prefix_attach_url]="prefix_attach_url"
              [suffix_attach_url]="suffix_attach_url"
              [actions$]="actions$"
              (attachAdded)="onAttachAdded($event)"
              (checkPathChanged)="onCheckPathChanged('.choices.' + index, $event)"
              (click)="$event.stopPropagation()"
            ></mcit-subchecks>
          </ng-container>
        </ng-container>
      </div>
    </form>
  </ng-container>
</ng-container>

<ng-template #empty>
  <div class="d-flex flex-column justify-content-center h-100">
    <h4 class="text-center">{{ 'COMMON.EMPTY_DATA' | translate }}</h4>
  </div>
</ng-template>
