.my-title {
  text-align: center !important;
  background: aliceblue;
  border: 3px #f0f8ffc7 solid;
}

.my-damage {
  line-height: 1em;
}

.my-damage-tag {
  color: black;
  background-color: #ffc107;
  cursor: pointer;
}

.my-ok-tag {
  background-color: rgb(0, 128, 7);
}
.disable-action {
  pointer-events: none;
}