<div class="container" [class.disable-action]="disableClick">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12" [ngClass]="forceVertical ? '' : 'col-lg-6'">
      <div class="d-flex flex-column bd-highlight">
        <div class="p-2 bd-highlight d-flex justify-content-center">
          <mcit-internal-external-vehicle-svg
            class="col-12"
            #internalExternalVehicleSvgComponent
            [displayInternalExternalSwitchButton]="!disableClick"
            [editable]="editable"
            [damageType]="damageType"
            [externalPoints]="externalDamageLocations"
            [internalPoints]="internalDamageLocations"
            [wheelPosition]="vehicleData?.wheelPosition"
            (zoneChanged)="doChangeZoneType($event)"
            (wheelPositionChanged)="wheelPositionChanged($event)"
          >
          </mcit-internal-external-vehicle-svg>
        </div>
      </div>
    </div>
    <div *ngIf="!disableClick" class="col-12 col-md-12 col-sm-12 mb-1 d-flex justify-content-center align-items-center notch-footer-damage-component" [ngClass]="forceVertical ? '' : 'col-lg-6'">
      <div class="bd-highlight w-100">
        <ul class="list-group">
          <ng-container *ngFor="let damage of damageList; let i = index">
            <li *ngIf="damage?.type === damageType" class="list-group-item p-1">
              <footer class="d-flex flex-row">
                <span class="badge badge-secondary align-self-center m-2" style="color: black; background-color: #ffc107; cursor: pointer" (click)="doShowDamage(damage)">{{ i + 1 }}</span>
                <div class="d-flex flex-column w-100 p-1" style="cursor: pointer" (click)="doShowDamage(damage)">
                  <div class="my-damage">{{ damage?.element?.name | meaning }}</div>
                  <div class="my-damage">
                    <small> {{ damage?.element?.damage?.name | meaning }} </small>
                    <small *ngIf="damage?.element?.damage?.dimensions">-- {{ damage?.element?.damage?.dimensions }} mm</small>
                  </div>
                </div>
                <!-- <button *ngIf="editable" class="fa fa-trash float-right btn" (click)="doDeleteDamage(damage)"></button> -->
              </footer>
            </li>
          </ng-container>
        </ul>
        <div *ngIf="showNonDamagedElements">
          <hr />
          <ul class="list-group">
            <ng-container *ngFor="let element of nonDamagedElements[damageType]; let i = index">
              <li *ngIf="element?.type === damageType" class="list-group-item p-1">
                <footer class="d-flex flex-row">
                  <span class="badge badge-secondary align-self-center m-2 my-ok-tag">OK</span>
                  <div class="d-flex flex-column w-100 pt-2">
                    <div class="my-damage">{{ element?.name | meaning }}</div>
                  </div>
                </footer>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
