<div class="input-group input-group-sm border-force mb-1">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="far fa-fw" [ngClass]="placeLoading ? 'fa-spinner fa-pulse' : 'fa-location-arrow'"></i></span>
  </div>
  <input
    #mytypeahead="bs-typeahead"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false"
    autocomplete="off"
    placeholder="{{ 'FACET_FIELD.CATEGORIES.WRITE_PLACE' | translate }}"
    class="form-control"
    [(ngModel)]="input"
    [typeahead]="placeDataSource"
    [typeaheadOptionField]="'name'"
    (typeaheadLoading)="doChangePlaceLoading($event)"
    (typeaheadOnSelect)="doPlaceSelected($event)"
    [optionsListTemplate]="myListTemplate"
    [disabled]="base?.isPoint"
  />
  <div class="input-group-append">
    <button class="btn btn-outline-secondary last-child-form-control" type="button" (click)="doClearPlace()" tabindex="-1" [disabled]="input == null">
      <i class="far fa-times"></i>
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="doBaseChange()">
      <i class="far fa-map" aria-hidden="true"></i>
    </button>
  </div>
</div>
<ng-template #myItemTemplate let-match="match" let-query="query" let-item="item">
  <div class="d-flex flex-row">
    <div class="d-flex flex-column justify-content-center align-items-center mr-1">
      <i class="fa-fw fa-lg" [ngClass]="item.types | placeicon"></i>
    </div>
    <div class="flex-grow-1 d-flex flex-column">
      <div style="flex: 1.5" [innerHtml]="mytypeahead?._container?.highlight(match, query)"></div>
      <small class="font-weight-light" style="flex: 0.5; font-size: 80%">{{ item.structured_formatting?.secondary_text }}</small>
    </div>
  </div>
</ng-template>
<ng-template #myListTemplate let-matches="matches" let-query="query">
  <ng-template ngFor let-match let-i="index" [ngForOf]="matches">
    <h6 *ngIf="match.isHeader()" class="dropdown-header">{{ match }}</h6>
    <ng-template [ngIf]="!match.isHeader()">
      <button
        class="dropdown-item px-2 py-1 font-weight-normal"
        style="font-size: 95%"
        (click)="mytypeahead?._container?.selectMatch(match, $event)"
        (mouseenter)="mytypeahead?._container?.selectActive(match)"
        [class.active]="mytypeahead?._container?.isActive(match)"
      >
        <ng-template [ngTemplateOutlet]="myItemTemplate" [ngTemplateOutletContext]="{ item: match.item, index: i, match: match, query: query }"></ng-template>
      </button>
    </ng-template>
  </ng-template>
</ng-template>

<div class="d-flex flex-column">
  <ng-container *ngIf="customValue && value; else normalTemplate" [ngTemplateOutlet]="lineContainerTemplate" [ngTemplateOutletContext]="{ boundary: value, line: { count: data | map : 'count' | sum } }"> </ng-container>
  <ng-template #normalTemplate>
    <ng-container *ngFor="let boundary of categoryConfig.geoDistance?.boundaries">
      <ng-container [ngTemplateOutlet]="lineContainerTemplate" [ngTemplateOutletContext]="{ boundary: boundary, line: (boundary.value | find : data : '_id') }"> </ng-container>
    </ng-container>
  </ng-template>

  <ng-container>
    <form [formGroup]="customForm" (ngSubmit)="doCustomBoundary()">
      <div class="input-group input-group-sm mt-2 border-force">
        <div class="input-group-prepend">
          <span class="input-group-text">{{ 'FACET_FIELD.CATEGORIES.FROM' | translate }}</span>
        </div>
        <input type="text" class="form-control" placeholder="{{ 'FACET_FIELD.CATEGORIES.MIN' | translate }}" formControlName="min" name="custom-min" />
        <div class="input-group-append input-group-prepend">
          <span class="input-group-text">{{ unit }}</span>
          <span class="input-group-text">{{ 'FACET_FIELD.CATEGORIES.TO' | translate }}</span>
        </div>
        <input type="text" class="form-control" placeholder="{{ 'FACET_FIELD.CATEGORIES.MAX' | translate }}" formControlName="max" name="custom-min" />
        <div class="input-group-append">
          <span class="input-group-text">{{ unit }}</span>
          <button type="submit" class="btn btn-outline-secondary" [disabled]="customForm?.invalid || !base">
            <i class="far fa-check fa-fw" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </form>
  </ng-container>

  <ng-template #lineContainerTemplate let-boundary="boundary" let-line="line">
    <ng-container *ngIf="!categoryConfig.geoDistance?.showOnlyWithCount || (line?.count || 0) > 0">
      <ng-container *ngIf="!customValue || value == null || (value?.value === boundary.value && value?.min === boundary.min && value?.max === boundary.max)">
        <ng-container [ngTemplateOutlet]="lineTemplate" [ngTemplateOutletContext]="{ boundary: boundary, count: line?.count || 0 }"> </ng-container>
      </ng-container>
    </ng-container>
  </ng-template>
</div>

<ng-template #emptyData>
  <ng-container *ngIf="value != null" [ngTemplateOutlet]="lineTemplate" [ngTemplateOutletContext]="{ boundary: value, count: 0 }"> </ng-container>
  <div class="text-muted font-italic text-center font-size-0_75">
    {{ 'FACET_FIELD.CATEGORIES.NO_DATA' | translate }}
  </div>
</ng-template>

<ng-template #lineTemplate let-boundary="boundary" let-count="count">
  <div class="d-flex flex-row align-items-center" [class.font-size-0_75]="options?.categories?.size === 'sm'">
    <div
      class="my-line flex-grow-1 d-flex flex-row align-items-center cursor-pointer minw-0"
      [class.disabled]="count === 0 && value?.value !== boundary.value"
      (click)="doCheckChange(boundary)"
      [class.font-weight-normal]="value?.value === boundary.value"
    >
      <i class="far" [ngClass]="value?.value === boundary.value ? 'fa-check-square' : 'fa-square'" aria-hidden="true"></i>
      <div class="flex-grow-1 mx-1">
        <ng-container *ngIf="boundary.max != null; else plus">
          {{
            'FACET_FIELD.CATEGORIES.MIN_TO_MAX'
              | translate
                : {
                    min: boundary.min * 1000 | distance,
                    max: boundary.max * 1000 | distance
                  }
          }}
        </ng-container>
        <ng-template #plus>
          {{ 'FACET_FIELD.CATEGORIES.PLUS_MIN' | translate : { min: boundary.min * 1000 | distance } }}
        </ng-template>
      </div>
      <div *ngIf="count != null" class="my-count">({{ count }})</div>
    </div>
  </div>
</ng-template>
