<div [formGroup]="groupForm">
  <div *ngIf="filterConfig.custom.data?.params?.display?.third_party ?? true">
    <div>
      <div class="input-group input-group-sm border-force mt-1">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <div *ngIf="!waitingThirdParty" class="medium-font-size">{{ 'FILTER_TPZC.THIRD_PARTY' | translate }}</div>
            <i *ngIf="waitingThirdParty" class="fa-fw" [ngClass]="'far fa-spinner fa-pulse'"></i>
          </span>
        </div>
        <input
          [mcitDisableControlNoEvent]="groupForm.get('checkboxChecked')?.value === true"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          autocomplete="off"
          placeholder="{{ 'COMMON.SEARCH' | translate }}"
          class="form-control medium-font-size"
          formControlName="third_party"
        />
        <select *ngIf="this.filterConfig.showThirdPlaceOperator" class="form-control medium-font-size w-auto filter-operator-size" formControlName="third_place_operator">
          <option value="IN">{{ 'FILTER_TPZC.THIRD_PARTY_OPERATOR_IN' | translate }}</option>
          <option value="NOT_IN">{{ 'FILTER_TPZC.THIRD_PARTY_OPERATOR_NOT_IN' | translate }}</option>
        </select>
        <div *ngIf="this.groupForm.get('third_party').value" class="input-group-append">
          <button class="btn btn-outline-secondary last-child-form-control medium-font-size" type="button" (click)="doClear('third_party')" tabindex="-1">
            <i class="far fa-times"></i>
          </button>
        </div>
      </div>
      <div *ngIf="thirdParties && thirdParties.length > 0; else thirdPartyEmpty" class="d-flex flex-column border mt-1 mb-1 text-truncate" [ngStyle]="thirdParties.length > 5 ? { 'max-height': '200px', 'overflow-y': 'scroll' } : {}">
        <div *ngFor="let l of thirdParties">
          <button class="dropdown-item p-1" type="button" (click)="doThirdPartySelected(l)">
            <div class="d-flex flex-column" style="min-width: 0">
              <div class="text-truncate">{{ l.name }}</div>
              <div class="font-weight-light text-truncate" style="font-size: 0.875rem">{{ l.description }}</div>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row" *ngIf="thirdPartiesList?.length > 0">
      <div class="flex-grow-1">
        <div class="d-flex flex-row flex-wrap grey-background pl-1 pr-1">
          <div *ngFor="let thirdPartyElement of thirdPartiesList; let i = index" class="filter-list-container btn-group btn-group-sm">
            <div class="filter-list-element pl-1">{{ thirdPartyElement.name }}&nbsp;<i style="cursor: pointer" *ngIf="thirdPartiesList.length > 1" class="pl-1 pr-1 far fa-times" (click)="doRemove(thirdPartiesList, i)"></i></div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="clear-list">
          <i style="cursor: pointer" class="far fa-times" (click)="doClearList(thirdPartiesList)"></i>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="filterConfig.custom.data?.params?.display?.place ?? true">
    <div>
      <div class="input-group input-group-sm border-force mt-1">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <div *ngIf="!waitingPlaces" class="medium-font-size">{{ 'FILTER_TPZC.PLACE' | translate }}</div>
            <i *ngIf="waitingPlaces" class="fa-fw" [ngClass]="'far fa-spinner fa-pulse'"></i>
          </span>
        </div>
        <input
          [mcitDisableControlNoEvent]="groupForm.get('checkboxChecked')?.value === true"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          autocomplete="off"
          placeholder="{{ 'COMMON.SEARCH' | translate }}"
          class="form-control medium-font-size"
          formControlName="place"
        />
        <select *ngIf="this.filterConfig.showInNotInOperator" class="form-control medium-font-size w-auto filter-operator-size" formControlName="place_operator">
          <option value="IN">{{ 'FILTER_TPZC.THIRD_PARTY_OPERATOR_IN' | translate }}</option>
          <option value="NOT_IN">{{ 'FILTER_TPZC.THIRD_PARTY_OPERATOR_NOT_IN' | translate }}</option>
        </select>
        <div *ngIf="this.groupForm.get('place').value" class="input-group-append">
          <button class="btn btn-outline-secondary last-child-form-control medium-font-size" type="button" (click)="doClear('place')" tabindex="-1">
            <i class="far fa-times"></i>
          </button>
        </div>
      </div>
      <div *ngIf="places && places.length > 0; else placeEmpty" class="d-flex flex-column border mt-1 text-truncate mb-1">
        <div *ngFor="let l of places">
          <button class="dropdown-item p-1" type="button" (click)="doPlaceSelected(l)">
            <div class="d-flex flex-column" style="min-width: 0">
              <div class="text-truncate">{{ l.name }}</div>
              <div class="font-weight-light text-truncate" style="font-size: 0.875rem">{{ l.description }}</div>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row" *ngIf="placesList?.length > 0">
      <div class="flex-grow-1">
        <div class="d-flex flex-row flex-wrap grey-background pl-1 pr-1">
          <div *ngFor="let placeElement of placesList; let i = index" class="filter-list-container btn-group btn-group-sm">
            <div class="filter-list-element pl-1">{{ placeElement.name }}&nbsp;<i style="cursor: pointer" *ngIf="placesList.length > 1" class="pl-1 pr-1 far fa-times" (click)="doRemove(placesList, i)"></i></div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="clear-list">
          <i style="cursor: pointer" class="far fa-times" (click)="doClearList(placesList)"></i>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="filterConfig.custom.data?.params?.display?.zip ?? true">
    <div>
      <div class="input-group border-force input-group-sm mt-1">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <div *ngIf="!waitingCP" class="medium-font-size">{{ 'FILTER_TPZC.ZIP' | translate }}</div>
            <i *ngIf="waitingCP" class="fa-fw" [ngClass]="'far fa-spinner fa-pulse'"></i>
          </span>
        </div>
        <input
          [mcitDisableControlNoEvent]="groupForm.get('checkboxChecked')?.value === true"
          #zipInput
          name="zip"
          class="form-control medium-font-size"
          type="text"
          formControlName="zip"
          placeholder="{{ 'COMMON.SEARCH' | translate }}"
          enterkeyhint="done"
          (keydown.enter)="onKeyCP($event)"
        />
        <select *ngIf="this.filterConfig.showInNotInOperator" class="form-control medium-font-size w-auto filter-operator-size" formControlName="zip_operator">
          <option value="IN">{{ 'FILTER_TPZC.THIRD_PARTY_OPERATOR_IN' | translate }}</option>
          <option value="NOT_IN">{{ 'FILTER_TPZC.THIRD_PARTY_OPERATOR_NOT_IN' | translate }}</option>
        </select>
        <div *ngIf="this.groupForm.get('zip').value" class="input-group-append">
          <button class="btn btn-outline-secondary last-child-form-control medium-font-size" type="button" (click)="doClear('zip')" tabindex="-1">
            <i class="far fa-times"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row" *ngIf="zipList?.length > 0">
      <div class="flex-grow-1">
        <div class="d-flex flex-row flex-wrap grey-background pl-1 pr-1">
          <div *ngFor="let zip of zipList; let i = index" class="filter-list-container btn-group btn-group-sm">
            <div class="filter-list-element pl-1">{{ zip.zip }}&nbsp;<i style="cursor: pointer" *ngIf="zipList.length > 1" class="pl-1 pr-1 far fa-times" (click)="doRemove(zipList, i)"></i></div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="clear-list">
          <i style="cursor: pointer" class="far fa-times" (click)="doClearList(zipList)"></i>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="filterConfig.custom?.data?.params?.display?.city ?? true">
    <div>
      <div class="input-group border-force input-group-sm mt-1">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <div *ngIf="!waitingCity" class="medium-font-size">{{ 'FILTER_TPZC.CITY' | translate }}</div>
            <i *ngIf="waitingCity" class="fa-fw" [ngClass]="'far fa-spinner fa-pulse'"></i>
          </span>
        </div>
        <input
          [mcitDisableControlNoEvent]="groupForm.get('checkboxChecked')?.value === true"
          #cityInput
          name="city"
          class="form-control medium-font-size"
          type="text"
          formControlName="city"
          placeholder="{{ 'COMMON.SEARCH' | translate }}"
          enterkeyhint="done"
          (keydown.enter)="onKeyCity($event)"
        />
        <select *ngIf="this.filterConfig.showInNotInOperator" class="form-control medium-font-size w-auto filter-operator-size" formControlName="city_operator">
          <option value="IN">{{ 'FILTER_TPZC.THIRD_PARTY_OPERATOR_IN' | translate }}</option>
          <option value="NOT_IN">{{ 'FILTER_TPZC.THIRD_PARTY_OPERATOR_NOT_IN' | translate }}</option>
        </select>
        <div *ngIf="this.groupForm.get('city').value" class="input-group-append">
          <button class="btn btn-outline-secondary last-child-form-control medium-font-size" type="button" (click)="doClear('city')" tabindex="-1">
            <i class="far fa-times"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row" *ngIf="citiesList?.length > 0">
      <div class="flex-grow-1">
        <div class="d-flex flex-row flex-wrap grey-background pl-1 pr-1">
          <div *ngFor="let city of citiesList; let i = index" class="filter-list-container btn-group btn-group-sm">
            <div class="filter-list-element pl-1">{{ city.city }}&nbsp;<i style="cursor: pointer" *ngIf="citiesList.length > 1" class="pl-1 pr-1 far fa-times" (click)="doRemove(citiesList, i)"></i></div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="clear-list">
          <i style="cursor: pointer" class="far fa-times" (click)="doClearList(citiesList)"></i>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="filterConfig.custom.data?.params?.display?.state">
    <div>
      <div class="input-group border-force input-group-sm mt-1">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <div *ngIf="!waitingState" class="medium-font-size">{{ 'FILTER_TPZC.STATE' | translate }}</div>
            <i *ngIf="waitingState" class="fa-fw" [ngClass]="'far fa-spinner fa-pulse'"></i>
          </span>
        </div>
        <input
          [mcitDisableControlNoEvent]="groupForm.get('checkboxChecked')?.value === true"
          #stateInput
          name="state"
          class="form-control medium-font-size"
          type="text"
          formControlName="state"
          placeholder="{{ 'COMMON.SEARCH' | translate }}"
          (keydown.enter)="onKeyState($event)"
        />
        <select *ngIf="this.filterConfig.showInNotInOperator" class="form-control medium-font-size w-auto filter-operator-size" formControlName="state_operator">
          <option value="IN">{{ 'FILTER_TPZC.THIRD_PARTY_OPERATOR_IN' | translate }}</option>
          <option value="NOT_IN">{{ 'FILTER_TPZC.THIRD_PARTY_OPERATOR_NOT_IN' | translate }}</option>
        </select>
        <div *ngIf="this.groupForm.get('state').value" class="input-group-append">
          <button class="btn btn-outline-secondary last-child-form-control medium-font-size" type="button" (click)="doClear('state')" tabindex="-1">
            <i class="far fa-times"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row" *ngIf="stateList?.length > 0">
      <div class="flex-grow-1">
        <div class="d-flex flex-row flex-wrap grey-background pl-1 pr-1">
          <div *ngFor="let state of stateList; let i = index" class="filter-list-container btn-group btn-group-sm">
            <div class="filter-list-element pl-1">{{ state.state }}&nbsp;<i style="cursor: pointer" *ngIf="stateList.length > 1" class="pl-1 pr-1 far fa-times" (click)="doRemove(stateList, i)"></i></div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="clear-list">
          <i class="far fa-times cursor-pointer" (click)="doClearList(stateList)"></i>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="filterConfig.custom.data?.params?.display?.country ?? true">
    <div>
      <div class="input-group input-group-sm border-force mt-1">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <div *ngIf="!waitingCountry" class="medium-font-size">{{ 'FILTER_TPZC.COUNTRY' | translate }}</div>
            <i *ngIf="waitingCountry" class="fa-fw" [ngClass]="'far fa-spinner fa-pulse'"></i>
          </span>
        </div>
        <input
          [mcitDisableControlNoEvent]="groupForm.get('checkboxChecked')?.value === true"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          autocomplete="off"
          placeholder="{{ 'COMMON.SEARCH' | translate }}"
          class="form-control medium-font-size"
          formControlName="country"
          enterkeyhint="done"
        />
        <select *ngIf="this.filterConfig.showInNotInOperator" class="form-control medium-font-size w-auto filter-operator-size" formControlName="country_operator">
          <option value="IN">{{ 'FILTER_TPZC.THIRD_PARTY_OPERATOR_IN' | translate }}</option>
          <option value="NOT_IN">{{ 'FILTER_TPZC.THIRD_PARTY_OPERATOR_NOT_IN' | translate }}</option>
        </select>
        <div *ngIf="this.groupForm.get('country').value" class="input-group-append">
          <button class="btn btn-outline-secondary last-child-form-control medium-font-size" type="button" (click)="doClear('country')" tabindex="-1">
            <i class="far fa-times"></i>
          </button>
        </div>
      </div>
      <div *ngIf="countries && countries.length > 0; else countryEmpty" class="d-flex flex-column border mt-1 mb-1 text-truncate">
        <div *ngFor="let l of countries">
          <button class="dropdown-item p-1" type="button" (click)="doCountrySelected(l)">
            <div class="d-flex flex-column" style="min-width: 0">
              <div class="text-truncate">{{ l.names | meaning }}</div>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row" *ngIf="countryList?.length > 0">
      <div class="flex-grow-1">
        <div *ngIf="countryList?.length > 0" class="d-flex flex-row flex-wrap grey-background pl-1 pr-1">
          <div *ngFor="let countryElement of countryList; let i = index" class="filter-list-container btn-group btn-group-sm">
            <div class="filter-list-element pl-1">{{ countryElement.name }}&nbsp;<i style="cursor: pointer" *ngIf="countryList.length > 1" class="pl-1 pr-1 far fa-times" (click)="doRemove(countryList, i)"></i></div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="clear-list">
          <i style="cursor: pointer" class="far fa-times" (click)="doClearList(countryList)"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- ZONE -->
  <div *ngIf="filterConfig.custom.data.contextId">
    <div>
      <div class="input-group input-group-sm border-force mt-1">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <div *ngIf="!waitingZone" class="medium-font-size">
              {{ 'CARRIER_PLANNING_COMPONENT.FILTER_AVAILABLE.ZONE' | translate }}
            </div>
            <i *ngIf="waitingZone" class="fa-fw" [ngClass]="'far fa-spinner fa-pulse'"></i>
          </span>
        </div>
        <input
          [mcitDisableControlNoEvent]="groupForm.get('checkboxChecked')?.value === true"
          id="zone"
          name="zone"
          type="text"
          class="form-control medium-font-size"
          maxlength="256"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="off"
          autocomplete="off"
          formControlName="zone"
          placeholder="{{ 'COMMON.SEARCH' | translate }}"
        />
        <select *ngIf="this.filterConfig.showInNotInOperator" class="form-control medium-font-size w-auto filter-operator-size" formControlName="zone_operator">
          <option value="IN">{{ 'FILTER_TPZC.THIRD_PARTY_OPERATOR_IN' | translate }}</option>
          <option value="NOT_IN">{{ 'FILTER_TPZC.THIRD_PARTY_OPERATOR_NOT_IN' | translate }}</option>
        </select>
        <div *ngIf="this.groupForm.get('zone').value" class="input-group-append">
          <button class="btn btn-outline-secondary last-child-form-control medium-font-size" type="button" (click)="doClear('zone')" tabindex="-1">
            <i class="far fa-times"></i>
          </button>
        </div>
      </div>
      <div *ngIf="zones && zones.length > 0; else zoneEmpty" class="d-flex flex-column border mt-1 mb-1 text-truncate">
        <div *ngFor="let l of zones">
          <button class="dropdown-item p-1" type="button" (click)="doZoneSelected(l)">
            <div class="d-flex flex-column" style="min-width: 0">
              <div class="text-truncate">{{ l.name }}</div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row" *ngIf="zoneList?.length > 0">
    <div class="flex-grow-1">
      <div *ngIf="zoneList?.length > 0" class="d-flex flex-row flex-wrap grey-background pl-1 pr-1">
        <div *ngFor="let zoneElement of zoneList; let i = index" class="filter-list-container btn-group btn-group-sm">
          <div class="filter-list-element pl-1">{{ zoneElement.name }}&nbsp;<i style="cursor: pointer" *ngIf="zoneList.length > 1" class="pl-1 pr-1 far fa-times" (click)="doRemove(zoneList, i)"></i></div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <div class="clear-list">
        <i style="cursor: pointer" class="far fa-times" (click)="doClearList(zoneList)"></i>
      </div>
    </div>
  </div>
  <div *ngIf="checkbox" class="row mb-2 mt-2">
    <div class="col-12 col-md-12">
      <div class="custom-control custom-checkbox">
        <input
          (change)="doCheckboxChecked()"
          [(ngModel)]="checkboxChecked"
          [mcitDisableControlNoEvent]="thirdPartiesList?.length > 0 || placesList?.length > 0 || stateList?.length > 0 || zipList?.length > 0 || zoneList?.length > 0 || countryList?.length > 0 || citiesList?.length > 0"
          class="custom-control-input"
          id="checkboxChecked"
          formControlName="checkboxChecked"
          type="checkbox"
        />
        <label for="checkboxChecked" class="custom-control-label">{{ checkbox | translate }}</label>
      </div>
    </div>
  </div>
</div>
<ng-template #thirdPartyEmpty>
  <div *ngIf="groupForm.get('third_party').value || waitingThirdParty" class="d-flex flex-row justify-content-center mt-1">
    <span class="font-italic font-weight-light small">{{ waitingThirdParty ? '...' : ('COMMON.EMPTY_RESULT' | translate) }}</span>
  </div>
</ng-template>
<ng-template #placeEmpty>
  <div *ngIf="groupForm.get('place').value || waitingPlaces" class="d-flex flex-row justify-content-center mt-1">
    <span class="font-italic font-weight-light small">{{ waitingPlaces ? '...' : ('COMMON.EMPTY_RESULT' | translate) }}</span>
  </div>
</ng-template>
<ng-template #countryEmpty>
  <div *ngIf="groupForm.get('country').value || waitingCountry" class="d-flex flex-row justify-content-center mt-1">
    <span class="font-italic font-weight-light small">{{ waitingCountry ? '...' : ('COMMON.EMPTY_RESULT' | translate) }}</span>
  </div>
</ng-template>
<ng-template #zoneEmpty>
  <div *ngIf="groupForm.get('zone').value || waitingZone" class="d-flex flex-row justify-content-center mt-1">
    <span class="font-italic font-weight-light small">{{ waitingZone ? '...' : ('COMMON.EMPTY_RESULT' | translate) }}</span>
  </div>
</ng-template>
