@import '../../../../../variables';

.grey-background {
  background-color: #ededed;
}

.filter-list-container {
  margin: 0.1rem;
  .filter-list-element {
    background-color: $noir-bleu;
    color: $blanc;
    font-family: Roboto;
    font-size: 0.6rem;
    line-height: 1rem;
    font-weight: 400;
    text-align: left;
    border-radius: 2px;
  }
}

.clear-list {
  color: #9da3a9;
  line-height: 1rem;
}

.medium-font-size {
  font-family: Roboto;
  font-size: 0.725rem !important;
  line-height: 1rem !important;
}

::placeholder {
  font-family: Roboto;
  font-size: 0.725rem;
  line-height: 1rem;
  color: #d0d0d0;
}

.filter-operator-size {
  max-width: fit-content;
}
