<div [formGroup]="groupForm">
  <div *ngIf="filterConfig.custom.data?.params?.display?.zone ?? true">
    <div class="form-row">
      <div class="col-11">
        <div class="input-group input-group-sm border-force mt-1">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <div *ngIf="!waitingZones" class="medium-font-size">{{ 'FILTER_POSITION.ZONE' | translate }}</div>
              <i *ngIf="waitingZones" class="fa-fw" [ngClass]="'far fa-spinner fa-pulse'"></i>
            </span>
          </div>
          <input
            [mcitDisableControlNoEvent]="groupForm.get('checkboxChecked')?.value === true"
            (focus)="zoneOnFocus()"
            (input)="zoneOnFocus()"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            autocomplete="off"
            placeholder="{{ 'COMMON.SEARCH' | translate }}"
            class="form-control medium-font-size"
            formControlName="zone"
          />
          <div *ngIf="this.groupForm.get('zone').value" class="input-group-append">
            <button class="btn btn-outline-secondary last-child-form-control medium-font-size" type="button" (click)="doClear('zone')" tabindex="-1">
              <i class="far fa-times"></i>
            </button>
          </div>
        </div>
        <ul *ngIf="zones && zones.length > 0; else zoneEmpty" class="nav flex-column border mt-1 text-truncate">
          <li *ngFor="let l of zones">
            <button class="dropdown-item" type="button" (click)="doZoneSelected(l)">
              <div class="d-flex flex-column">
                <div style="flex: 1.5">{{ l.name }}</div>
                <div class="font-weight-light" style="flex: 0.5; font-size: 80%">{{ l.description }}</div>
              </div>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-row" *ngIf="zonesList?.length > 0">
      <div class="col-11">
        <div class="d-flex flex-row flex-wrap grey-background pl-1 pr-1">
          <div *ngFor="let zoneElement of zonesList; let i = index" class="filter-list-container btn-group btn-group-sm">
            <div class="filter-list-element pl-1">{{ zoneElement.name }}&nbsp;<i style="cursor: pointer" class="pl-1 pr-1 far fa-times" (click)="doRemove(zonesList, i)"></i></div>
          </div>
        </div>
      </div>
      <div class="col-1 d-flex align-items-center">
        <div class="clear-list">
          <i style="cursor: pointer" class="far fa-times" (click)="doClearList(zonesList)"></i>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="filterConfig.custom.data?.params?.display?.driveway ?? true">
    <div class="form-row">
      <div class="col-11">
        <div class="input-group input-group-sm border-force mt-1">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <div *ngIf="!waitingDriveway" class="medium-font-size">{{ 'FILTER_POSITION.DRIVEWAY' | translate }}</div>
              <i *ngIf="waitingDriveway" class="fa-fw" [ngClass]="'far fa-spinner fa-pulse'"></i>
            </span>
          </div>
          <input
            [mcitDisableControlNoEvent]="groupForm.get('checkboxChecked')?.value === true"
            (focus)="drivewayOnFocus()"
            (input)="drivewayOnFocus()"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            autocomplete="off"
            placeholder="{{ 'COMMON.SEARCH' | translate }}"
            class="form-control medium-font-size"
            formControlName="driveway"
          />
          <div *ngIf="this.groupForm.get('driveway').value" class="input-group-append">
            <button class="btn btn-outline-secondary last-child-form-control medium-font-size" type="button" (click)="doClear('driveway')" tabindex="-1">
              <i class="far fa-times"></i>
            </button>
          </div>
        </div>
        <ul *ngIf="driveways && driveways.length > 0; else drivewayEmpty" class="nav flex-column border mt-1 text-truncate">
          <li *ngFor="let l of driveways">
            <button class="dropdown-item" type="button" (click)="doDrivewaySelected(l)">
              <div class="d-flex flex-column">
                <div style="flex: 1.5">{{ l.code }}{{ ' (' + l.area_code + ')' }}</div>
              </div>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-row" *ngIf="drivewaysList?.length > 0">
      <div class="col-11">
        <div class="d-flex flex-row flex-wrap grey-background pl-1 pr-1">
          <div *ngFor="let drivewayElement of drivewaysList; let i = index" class="filter-list-container btn-group btn-group-sm">
            <div class="filter-list-element pl-1">{{ drivewayElement.code }}{{ ' (' + drivewayElement.area_code + ')' }}&nbsp;<i style="cursor: pointer" class="pl-1 pr-1 far fa-times" (click)="doRemove(drivewaysList, i)"></i></div>
          </div>
        </div>
      </div>
      <div class="col-1 d-flex align-items-center">
        <div class="clear-list">
          <i style="cursor: pointer" class="far fa-times" (click)="doClearList(drivewaysList)"></i>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="filterConfig.custom.data?.params?.display?.square ?? true">
    <div class="form-row">
      <div class="col-11">
        <div class="input-group input-group-sm border-force mt-1">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <div *ngIf="!waitingSquare" class="medium-font-size">{{ 'FILTER_POSITION.SQUARE' | translate }}</div>
              <i *ngIf="waitingSquare" class="fa-fw" [ngClass]="'far fa-spinner fa-pulse'"></i>
            </span>
          </div>
          <input
            [mcitDisableControlNoEvent]="groupForm.get('checkboxChecked')?.value === true"
            (focus)="squareOnFocus()"
            (input)="squareOnFocus()"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            autocomplete="off"
            placeholder="{{ 'COMMON.SEARCH' | translate }}"
            class="form-control medium-font-size"
            formControlName="square"
          />
          <div *ngIf="this.groupForm.get('square').value" class="input-group-append">
            <button class="btn btn-outline-secondary last-child-form-control medium-font-size" type="button" (click)="doClear('square')" tabindex="-1">
              <i class="far fa-times"></i>
            </button>
          </div>
        </div>
        <ul *ngIf="squares && squares.length > 0; else squareEmpty" class="nav flex-column border mt-1 text-truncate">
          <li *ngFor="let l of squares">
            <button class="dropdown-item" type="button" (click)="doSquareSelected(l)">
              <div class="d-flex flex-column">
                <div style="flex: 1.5">{{ l.name }} {{ ' (' + l.driveway_code + ')' }}{{ ' (' + l.area_code + ')' }}</div>
              </div>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-row" *ngIf="squaresList?.length > 0">
      <div class="col-11">
        <div class="d-flex flex-row flex-wrap grey-background pl-1 pr-1">
          <div *ngFor="let squareElement of squaresList; let i = index" class="filter-list-container btn-group btn-group-sm">
            <div class="filter-list-element pl-1">
              {{ squareElement.name }}{{ ' (' + squareElement.driveway_code + ')' }}{{ ' (' + squareElement.area_code + ')' }}&nbsp;<i style="cursor: pointer" class="pl-1 pr-1 far fa-times" (click)="doRemove(squaresList, i)"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1 d-flex align-items-center">
        <div class="clear-list">
          <i style="cursor: pointer" class="far fa-times" (click)="doClearList(squaresList)"></i>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="filterConfig.custom.data?.params?.xSquare">
    <div class="form-row">
      <div class="col-11">
        <div class="input-group input-group-sm border-force mt-1">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <div class="medium-font-size">{{ 'FILTER_POSITION.X_SQUARE' | translate }}</div>
            </span>
          </div>
          <input
            [mcitDisableControlNoEvent]="groupForm.get('checkboxChecked')?.value === true"
            autocapitalize="off"
            spellcheck="false"
            autocomplete="off"
            placeholder="{{ 'COMMON.SEARCH' | translate }}"
            class="form-control medium-font-size"
            type="text"
            formControlName="xSquare"
            enterkeyhint="done"
            (keydown.enter)="onKeyXsquare($event)"
          />
          <div *ngIf="this.groupForm.get('xSquare').value" class="input-group-append">
            <button class="btn btn-outline-secondary last-child-form-control medium-font-size" type="button" (click)="doClear('xSquare')" tabindex="-1">
              <i class="far fa-times"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row" *ngIf="xSquaresList?.length > 0">
      <div class="col-11">
        <div class="d-flex flex-row flex-wrap grey-background pl-1 pr-1">
          <div *ngFor="let xSquareElement of xSquaresList; let i = index" class="filter-list-container btn-group btn-group-sm">
            <div class="filter-list-element pl-1">{{ xSquareElement }}&nbsp;<i style="cursor: pointer" class="pl-1 pr-1 far fa-times" (click)="doRemove(xSquaresList, i)"></i></div>
          </div>
        </div>
      </div>
      <div class="col-1 d-flex align-items-center">
        <div class="clear-list">
          <i style="cursor: pointer" class="far fa-times" (click)="doClearList(xSquaresList)"></i>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="filterConfig.custom.data?.params?.activityType">
    <div class="form-row">
      <div class="col-11">
        <div class="input-group input-group-sm border-force mt-1">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <div class="medium-font-size">{{ 'FILTER_POSITION.ACTIVITY_TYPE' | translate }}</div>
            </span>
          </div>
          <input
            [mcitDisableControlNoEvent]="groupForm.get('checkboxChecked')?.value === true"
            (focus)="activityTypeOnFocus()"
            (input)="activityTypeOnFocus()"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            autocomplete="off"
            placeholder="{{ 'COMMON.SEARCH' | translate }}"
            class="form-control medium-font-size"
            formControlName="activityType"
          />
          <div *ngIf="this.groupForm.get('activityType').value" class="input-group-append">
            <button class="btn btn-outline-secondary last-child-form-control medium-font-size" type="button" (click)="doClear('activityType')" tabindex="-1">
              <i class="far fa-times"></i>
            </button>
          </div>
        </div>
        <ul *ngIf="activityTypes?.length > 0" class="nav flex-column border mt-1 text-truncate">
          <li *ngFor="let activityType of activityTypes">
            <button class="dropdown-item" type="button" (click)="doActivityTypeSelected(activityType)">
              <div class="d-flex flex-column">
                <div style="flex: 1.5">{{ 'PARK_ACTIVITY_TYPES.' + activityType | translate }}</div>
              </div>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-row" *ngIf="activityTypesList?.length > 0">
      <div class="col-11">
        <div class="d-flex flex-row flex-wrap grey-background pl-1 pr-1">
          <div *ngFor="let activityTypeElement of activityTypesList; let i = index" class="filter-list-container btn-group btn-group-sm">
            <div class="filter-list-element pl-1">{{ 'PARK_ACTIVITY_TYPES.' + activityTypeElement | translate }}&nbsp;<i style="cursor: pointer" class="pl-1 pr-1 far fa-times" (click)="doRemove(activityTypesList, i)"></i></div>
          </div>
        </div>
      </div>
      <div class="col-1 d-flex align-items-center">
        <div class="clear-list">
          <i style="cursor: pointer" class="far fa-times" (click)="doClearList(activityTypesList)"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- ZONE -->
  <div *ngIf="filterConfig.custom.data?.contextId">
    <div class="form-row">
      <div class="col-11">
        <div class="input-group input-group-sm border-force mt-1">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <div *ngIf="!waitingZone" class="medium-font-size">
                {{ 'CARRIER_PLANNING_COMPONENT.FILTER_AVAILABLE.ZONE' | translate }}
              </div>
              <i *ngIf="waitingZone" class="fa-fw" [ngClass]="'far fa-spinner fa-pulse'"></i>
            </span>
          </div>
          <input
            [mcitDisableControlNoEvent]="groupForm.get('checkboxChecked')?.value === true"
            id="zone"
            name="zone"
            type="text"
            class="form-control medium-font-size"
            maxlength="256"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="off"
            autocomplete="off"
            formControlName="zone"
            placeholder="{{ 'COMMON.SEARCH' | translate }}"
          />
          <div *ngIf="this.groupForm.get('zone').value" class="input-group-append">
            <button class="btn btn-outline-secondary last-child-form-control medium-font-size" type="button" (click)="doClear('zone')" tabindex="-1">
              <i class="far fa-times"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="checkbox" class="row mb-2 mt-2">
    <div class="col-12 col-md-12">
      <div class="custom-control custom-checkbox">
        <input (change)="doCheckboxChecked()" [(ngModel)]="checkboxChecked" class="custom-control-input" id="checkboxChecked" formControlName="checkboxChecked" type="checkbox" />
        <label for="checkboxChecked" class="custom-control-label">{{ checkbox | translate }}</label>
      </div>
    </div>
  </div>

  <div *ngIf="checkWith" class="row mb-2 mt-2">
    <div class="col-12 col-md-12">
      <div class="custom-control custom-checkbox">
        <input (change)="doCheckWithChecked()" [(ngModel)]="checkWithChecked" class="custom-control-input" id="checkWithChecked" formControlName="checkWithChecked" type="checkbox" />
        <label for="checkWithChecked" class="custom-control-label">{{ checkWith | translate }}</label>
      </div>
    </div>
  </div>

  <div *ngIf="checkCovered" class="row mb-2 mt-2">
    <div class="col-12 col-md-12">
      <div class="custom-control custom-checkbox">
        <input (change)="doCheckboxChecked()" [(ngModel)]="checkCoveredChecked" class="custom-control-input" id="checkCoveredChecked" formControlName="checkCoveredChecked" type="checkbox" />
        <label for="checkCoveredChecked" class="custom-control-label">{{ 'VEHICLE_PARK.TABLE.CHECK_COVERED' | translate }}</label>
      </div>
    </div>
  </div>

  <div *ngIf="checkCustom" class="row mb-2 mt-2">
    <div class="col-12 col-md-12">
      <div class="custom-control custom-checkbox">
        <input (change)="doCheckboxChecked()" [(ngModel)]="checkCustomChecked" class="custom-control-input" id="checkCustomChecked" formControlName="checkCustomChecked" type="checkbox" />
        <label for="checkCustomChecked" class="custom-control-label">{{ 'VEHICLE_PARK.TABLE.CHECK_CUSTOM' | translate }}</label>
      </div>
    </div>
  </div>
</div>

<ng-template #zoneEmpty>
  <div *ngIf="groupForm.get('zone').value || waitingZones" class="d-flex flex-row justify-content-center mt-1">
    <span class="font-italic font-weight-light small">{{ waiting ? '...' : ('COMMON.EMPTY_RESULT' | translate) }}</span>
  </div>
</ng-template>
<ng-template #drivewayEmpty>
  <div *ngIf="groupForm.get('driveway').value || waitingDriveways" class="d-flex flex-row justify-content-center mt-1">
    <span class="font-italic font-weight-light small">{{ waiting ? '...' : ('COMMON.EMPTY_RESULT' | translate) }}</span>
  </div>
</ng-template>
<ng-template #squareEmpty>
  <div *ngIf="groupForm.get('square').value || waitingSquares" class="d-flex flex-row justify-content-center mt-1">
    <span class="font-italic font-weight-light small">{{ waiting ? '...' : ('COMMON.EMPTY_RESULT' | translate) }}</span>
  </div>
</ng-template>
