<div class="modal-header">
  <h4 class="modal-title">
    {{ 'MRE_CONTRACTS.MODAL.' + (data.isDisabled ? 'INFORMATION' : data.isEditForm ? 'EDIT' : 'ADD') + '_TITLE' | translate }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="goBack()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="contractForm" (ngSubmit)="doSave()" novalidate>
  <div class="modal-body">
    <div class="form-row">
      <div class="col-12 col-md-6 mb-2">
        <label for="code" class="mcit-mandatory">{{ 'MRE_CONTRACTS.MODAL.CODE' | translate }}</label>
        <div class="input-group">
          <input
            id="code"
            name="code"
            class="form-control last-child-form-control"
            formControlName="code"
            type="text"
            maxlength="256"
            required
            autocomplete="no"
            mcitUppercase
            [control-active]="(contractForm.controls['code'].dirty && contractForm.controls['code'].touched) || submitAttempt"
          />
          <div *ngIf="contractForm.controls['code'].invalid && contractForm.controls['code'].errors.required" class="invalid-feedback">
            {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
          </div>
          <div *ngIf="contractForm.controls['code'].invalid && contractForm.controls['code'].errors.pattern" class="invalid-feedback">
            {{ 'MRE_CONTRACTS.MODAL.PATTERN_ERROR' | translate }}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="name" class="mcit-mandatory">{{ 'MRE_CONTRACTS.MODAL.NAME' | translate }}</label>
        <div class="input-group">
          <input
            id="name"
            name="name"
            class="form-control"
            formControlName="name"
            type="text"
            maxlength="256"
            required
            autocomplete="no"
            [control-active]="(contractForm.controls['name'].dirty && contractForm.controls['name'].touched) || submitAttempt"
          />
          <div class="invalid-feedback">
            {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 col-md-6 mb-2">
        <label for="supplier" class="mcit-mandatory">{{ 'MRE_CONTRACTS.MODAL.PROVIDER' | translate }}</label>
        <mcit-member-role-field id="supplier" name="supplier" formControlName="supplier" [options]="{ useThirdParty: true, editable: true, useSubscriptions: true, apiRoute: data.apiRoute }" [submitAttempt]="submitAttempt" [role]="'MRE'">
        </mcit-member-role-field>
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="activity_code" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.ACTIVITY_CODE' | translate }}</label>
        <div class="input-group">
          <select
            id="activity_code"
            name="activity_code"
            class="form-control custom-select last-child-form-control"
            formControlName="activity_code"
            [control-active]="(contractForm.controls['activity_code'].dirty && contractForm.controls['activity_code'].touched) || submitAttempt"
          >
            <option [value]="''">{{ 'COMMON.NONE' | translate }}</option>
            <option *ngFor="let activity of activityCodes" [value]="activity">
              {{ 'ACTIVITY_CODES.' + activity | translate }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-row mb-2">
      <div class="col-1">
        <label for="'currency'" class="mcit-mandatory">{{ 'MRE_CONTRACTS.MODAL.CURRENCY' | translate }}</label>
        <div class="input-group">
          <select
            id="'currency'"
            name="currency"
            class="form-control custom-select last-child-form-control"
            formControlName="currency"
            [control-active]="(contractForm.controls['currency'].dirty && contractForm.controls['currency'].touched) || submitAttempt"
          >
            <option *ngFor="let c of currencyOptions" [value]="c.name">
              {{ c.symbol }}
            </option>
          </select>
          <div class="invalid-feedback">
            {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
          </div>
        </div>
      </div>
      <div class="col-2">
        <label [for]="'distance_calculator'" class="mcit-mandatory">{{ 'MRE_CONTRACTS.MODAL.DISTANCE_CALCULATOR' | translate }}</label>
        <div class="input-group">
          <select
            [id]="'distance_calculator'"
            name="distance_calculator"
            class="form-control custom-select last-child-form-control"
            formControlName="distance_calculator"
            [control-active]="(contractForm.controls['distance_calculator'].dirty && contractForm.controls['distance_calculator'].touched) || submitAttempt"
          >
            <option *ngFor="let d of distanceCalculatorList" [value]="d.code">{{ d.code }}</option>
          </select>
        </div>
      </div>
      <div class="col-3">
        <label for="empty_distance_retribution" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.EMPTY_DISTANCE_RETRIBUTION_OPTION.LABEL' | translate }}</label>
        <div class="input-group">
          <select
            id="empty_distance_retribution"
            name="empty_distance_retribution"
            class="form-control custom-select last-child-form-control"
            formControlName="empty_distance_retribution"
            [control-active]="contractForm.controls['empty_distance_retribution'].dirty && contractForm.controls['empty_distance_retribution'].touched"
            (change)="controlSplitKilometersInvoice($event.target.value)"
          >
            <option *ngFor="let emptyDistanceRetributionOption of EMPTY_DISTANCE_RETRIBUTION_OPTIONS" [value]="emptyDistanceRetributionOption">
              {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.EMPTY_DISTANCE_RETRIBUTION_OPTION.' + emptyDistanceRetributionOption | translate }}
            </option>
          </select>
        </div>
        <div class="form-row mb-2 text-nowrap" *ngIf="contractForm.get('empty_distance_retribution').value === EMPTY_DISTANCE_RETRIBUTION_OPTIONS_ENUM.EMPTY_DISTANCE_AFTER_TRIP">
          <div class="ml-3 custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="trips_distance_calculation" formControlName="trips_distance_calculation" />
            <label class="custom-control-label" for="trips_distance_calculation">
              {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.MEANS_PRICING.TRIPS_DISTANCE_CALCULATION' | translate }}
            </label>
          </div>
        </div>
      </div>
      <div class="col-3">
        <label for="split">{{ 'MRE_CONTRACTS.MODAL.SPLIT_EMPTY_KILOMETERS.LABEL' | translate }}</label>
        <div class="d-flex flex-row form-control">
          <ui-switch id="split_empty_kilometers" formControlName="split_empty_kilometers" color="#31394D" size="small"></ui-switch>
          <span class="ml-2 font-weight-bold" [ngClass]="contractForm.get('split_empty_kilometers').value ? 'text-body' : 'text-secondary'">{{
            (contractForm.get('split_empty_kilometers').value ? 'MRE_CONTRACTS.MODAL.SPLIT_EMPTY_KILOMETERS.TRUE' : 'MRE_CONTRACTS.MODAL.SPLIT_EMPTY_KILOMETERS.FALSE') | translate
          }}</span>
        </div>
      </div>
      <div class="col-3">
        <label for="expenses_approval_required">{{ 'MRE_CONTRACTS.MODAL.EXPENSES_APPROVAL.LABEL' | translate }}</label>
        <div class="d-flex flex-row form-control">
          <ui-switch id="expenses_approval_required" formControlName="expenses_approval_required" color="#31394D" size="small"></ui-switch>
          <span class="ml-2 font-weight-bold" [ngClass]="contractForm.get('expenses_approval_required').value ? 'text-body' : 'text-secondary'">{{
            (contractForm.get('expenses_approval_required').value ? 'MRE_CONTRACTS.MODAL.EXPENSES_APPROVAL.MANUAL' : 'MRE_CONTRACTS.MODAL.EXPENSES_APPROVAL.AUTOMATED') | translate
          }}</span>
        </div>
      </div>
    </div>

    <div class="form-row" *ngIf="contractForm.get('versions')['controls'].length > 1">
      <div class="flex-grow-1 d-flex flex-row justify-content-start align-items-center ng-star-inserted col-2">
        <div class="list-group list-group-horizontal mr-2">
          <a
            href="javascript:void(0)"
            class="list-group-item list-group-item-action px-2 py-1"
            [class.active]="versionsOpenMode === 'first'"
            [mcitTooltip]="'GROUPAGE_COMPONENT.OPEN_MODES.FIRST' | translate"
            (click)="doToggleVersionsOpenMode('first')"
          >
            <i class="fas fa-1 fa-xs fa-fw" aria-hidden="true"></i>
          </a>
          <a
            href="javascript:void(0)"
            class="list-group-item list-group-item-action px-2 py-1"
            [class.active]="versionsOpenMode === 'all'"
            [mcitTooltip]="'GROUPAGE_COMPONENT.OPEN_MODES.ALL' | translate"
            (click)="doToggleVersionsOpenMode('all')"
          >
            <i class="fas fa-chevron-double-down fa-xs fa-fw" aria-hidden="true"></i>
          </a>
          <a
            href="javascript:void(0)"
            class="list-group-item list-group-item-action px-2 py-1"
            [class.active]="versionsOpenMode === 'close'"
            [mcitTooltip]="'GROUPAGE_COMPONENT.OPEN_MODES.CLOSE' | translate"
            (click)="doToggleVersionsOpenMode('close')"
          >
            <i class="fas fa-chevron-double-right fa-xs fa-fw" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 mb-2">
        <mcit-simple-accordion
          #versionsAccordion
          formArrayName="versions"
          *ngFor="let version of contractForm.get('versions')['controls']; let i = index"
          [open]="versionsOpenStatus[i] || ((version.value | isContractVersionActive) && versionsOpenMode !== 'close')"
          (openEvent)="doToggleVersionOpenStatus($event, i)"
        >
          <div simple-accordion-header class="mcit-accordion-header d-flex flex-row justify-content-between align-items-center p-2 mb-2" [ngClass]="(version.value | isContractVersionActive) ? 'accordion-header-active' : ''">
            <div class="my-title">
              <i class="fas" aria-hidden="true" [ngClass]="versionsAccordion.open ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
              {{ 'COMMON_CONTRACTS.MODAL.VERSION_NUM' | translate : { num: i + 1 } }}
              <div *ngIf="!versionsAccordion.open" class="original-capitalization d-inline ml-2">
                <span [ngClass]="!version.get('pricing_lines').length ? 'font-italic text-danger' : ''">
                  {{ version.get('pricing_lines').length ? 'Nb formulas: ' + version.get('pricing_lines').length : ('COMMON_CONTRACTS.MODAL.VERSION.NO_FORMULA' | translate) }}
                </span>
              </div>
            </div>
            <div *ngIf="!versionsAccordion.open">
              <span class="font-italic">
                {{ (version.get('date_start').value | dateTranslate : 'date') || ('COMMON_CONTRACTS.MODAL.VERSION.NO_VERSION_START_DATE' | translate) }}
                -
                {{ (version.get('date_end').value | dateTranslate : 'date') || ('COMMON_CONTRACTS.MODAL.VERSION.NO_VERSION_END_DATE' | translate) }}
              </span>
            </div>
          </div>
          <div [formGroupName]="i">
            <div class="form-row">
              <div class="col-6 mb-2">
                <label [for]="'date_start_' + i" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.VERSION.DATE_START' | translate }}</label>
                <mcit-date-local-field [id]="'date_start_' + i" formControlName="date_start" [required]="true" [maxDate]="version.get('date_end').value" [submitAttempt]="submitAttempt" [isDisabled]="data.isDisabled"></mcit-date-local-field>
              </div>
              <div class="col-6 mb-2">
                <label [for]="'date_end_' + i">{{ 'COMMON_CONTRACTS.MODAL.VERSION.DATE_END' | translate }}</label>
                <mcit-date-local-field [id]="'date_end_' + i" formControlName="date_end" [minDate]="version.get('date_start').value" [submitAttempt]="submitAttempt" [isDisabled]="data.isDisabled"></mcit-date-local-field>
              </div>
            </div>

            <div class="form-row" *ngIf="version.get('pricing_lines')" formArrayName="pricing_lines">
              <div class="col-12 mb-2" cdkDropList (cdkDropListDropped)="drop($event, version.get('pricing_lines')['controls'])">
                <label [for]="'formula_' + i" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.FORMULA' | translate }}</label>
                <div class="form-row align-items-center box-pricing-line" *ngFor="let pricing_line of version.get('pricing_lines')['controls']; let j = index" [formGroupName]="j" cdkDrag>
                  <div class="col-auto mb-1 mt-1">
                    <button class="btn btn-icon fas fa-grip-lines" style="cursor: move"></button>
                  </div>
                  <div class="col">
                    <div class="form-row">
                      <div class="col-12 col-md-4 mb-1 mt-1">
                        <div class="input-group">
                          <select
                            [id]="'formula_' + j"
                            name="formula"
                            class="form-control custom-select last-child-form-control"
                            formControlName="formula"
                            [control-active]="(pricing_line.controls['formula'].dirty && pricing_line.controls['formula'].touched) || submitAttempt"
                          >
                            <option [hidden]="true">
                              {{ 'COMMON_CONTRACTS.FORMULAS.' + pricing_line.get('formula').value | translate }}
                            </option>
                            <option *ngFor="let pricingFormula of pricingFormulas" [value]="pricingFormula">
                              {{ 'COMMON_CONTRACTS.FORMULAS.' + pricingFormula | translate }}
                            </option>
                          </select>
                          <div class="invalid-feedback">
                            {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-8 mb-1 mt-1">
                        <div class="form-row">
                          <div class="ccol-6 col-md-8 mb-1 mt-1">
                            <div class="input-group">
                              <input type="text" class="form-control last-child-form-control" value="{{ pricing_line.getRawValue() | pricinglineparameter }}" readonly />
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" (click)="doEditPrice(pricing_line.controls.formula.value, pricing_line)">
                                  <i class="far fa-edit" aria-hidden="true"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="input-group">
                              <select [id]="'bunker_index_' + j" name="bunker_index" class="form-control custom-select last-child-form-control" formControlName="bunker_index">
                                <option [value]="null"></option>
                                <option *ngFor="let bunker of bunkers" [value]="bunker._id">
                                  {{ bunker.code }}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!data.isDisabled" class="col-auto mb-1 mt-1">
                    <button class="btn btn-icon text-danger" type="button" (click)="doDeletePricingLine(i, j)">
                      <i class="fas fa-trash" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="!data.isDisabled" class="form-row">
              <div class="col-12 mb=2 my-auto">
                <button class="btn btn-primary" type="button" (click)="doAddPricingLine(version)">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.ADD_PRICING_LINE' | translate }}
                </button>
              </div>
            </div>

            <div *ngIf="!data.isDisabled" class="form-row">
              <div class="col-12 mb-3 text-right my-auto">
                <button class="btn btn-danger btn-sm" type="button" (click)="doDeleteVersion(i)">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.DELETE_VERSION' | translate }}
                </button>
              </div>
            </div>
          </div>
        </mcit-simple-accordion>

        <div *ngIf="!data.isDisabled" class="form-row">
          <div class="col-12 mb-2">
            <button class="btn btn-primary" type="button" (click)="doAddVersion(null)">
              {{ 'COMMON_CONTRACTS.MODAL.VERSION.ADD_VERSION' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="contractForm.errors && contractForm.errors['noContract']" class="invalid-feedback">
    {{ 'MRE_CONTRACTS.MODAL.NO_CONTRACT' | translate }}
  </div>
  <div class="modal-footer">
    <span *ngIf="checkFormulasForMercurio()" class="text-danger mr-auto font-weight-bold">
      {{ 'MRE_CONTRACTS.MODAL.MERCURIO_ERROR' | translate }}
    </span>
    <button class="btn btn-outline-primary mr-1" type="button" (click)="goBack()">
      {{ (data.isDisabled ? 'COMMON.CLOSE' : 'COMMON.CANCEL') | translate }}
    </button>
    <button *ngIf="!data.isDisabled" class="btn btn-primary ml-1" type="submit" [disabled]="contractForm.invalid || checkFormulasForMercurio()">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</form>
