<div>
  <ng-container *ngIf="isMobile$ | async; else normal">
    <button type="button" class="btn btn-outline-secondary btn-sm border" (click)="doShowCategories()">
      {{ 'FACET_FIELD.SHOW_CATEGORIES' | translate : { num: categories | categoriescountnotempty } }}
    </button>
  </ng-container>
  <ng-template #normal>
    <mcit-categories-facet-container
      [loading]="loading"
      [options]="options"
      [defaultValue]="defaultValue"
      [categoriesConfig]="options.categories?.categoriesConfig"
      [data]="data"
      [settings]="settings$ | async"
      [(ngModel)]="categories"
      (ngModelChange)="doUpdateChange()"
    >
    </mcit-categories-facet-container>
  </ng-template>
</div>
