<div class="position-relative">
  <div class="d-flex flex-row border-bottom">
    <div class="input-group">
      <textarea class="form-control" type="text" [(ngModel)]="searchBox" (input)="onChange()" rows="10" (keydown.enter)="!isMaxLineReached()"> </textarea>
    </div>
  </div>
  <div class="d-flex flex-row align-items-center justify-content-between p-1">
    <div class="text-muted font-italic font-size-0_75" [ngClass]="isMaxLineReached() ? 'red-text' : ''">
      {{ 'SEARCH_FIELD.LIST.LINES' | translate : { num: getNbLines(), total: getNbMaxLines() } }}
    </div>
    <div>
      <button type="button" class="btn btn-outline-primary btn-sm mr-1" [mcitTooltip]="'SEARCH_FIELD.LIST.PASTE' | translate" (click)="doPaste()">
        <i class="far fa-paste" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-primary btn-sm" [disabled]="!searchBox" (click)="doClose()">
        <i class="far fa-search" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
