<div class="my-container" [formGroup]="groupForm">
  <ng-container *ngIf="key; else all">
    <div *ngIf="filtersConfig[key] as filterConfig">
      <div class="p-1">
        <h6 class="flex-grow-1 m-0 text-uppercase my-title" [class.not-empty]="groupForm.get(key).value">
          {{ filterConfig.nameKey | translate }}
        </h6>
      </div>
      <ng-container [ngTemplateOutlet]="filterTemplate" [ngTemplateOutletContext]="{ filterConfig: filterConfig, k: key, mode: 'single' }"></ng-container>
    </div>
  </ng-container>
  <ng-template #all>
    <ng-container *ngIf="filtersConfig | filtersDisable | async as enableFiltersConfig">
      <ng-container *ngFor="let k of enableFiltersConfig | keys">
        <ng-container *ngIf="enableFiltersConfig[k] as filterConfig">
          <ng-container *ngIf="initialFilters[k] || groupForm.get(k).value != null || showAllfilters || (settings?.filters[k]?.visibility !== 'hidden' && (filterConfig.availability !== 'onlyFilters' || !searchBox))">
            <div>
              <mcit-simple-accordion #generalAccordion [open]="initialFilters[k] != null" [disabled]="filterConfig.availability === 'onlyFilters' && !!searchBox">
                <div simple-accordion-header class="d-flex flex-row align-items-center p-1">
                  <i *ngIf="filterConfig.availability === 'onlyFilters' && !!searchBox" class="far fa-exclamation-circle mr-1" aria-hidden="true"></i>
                  <h6 class="flex-grow-1 m-0 text-uppercase my-title" [class.not-empty]="groupForm.get(k).value != null">
                    {{ filterConfig.nameKey | translate }}
                  </h6>
                  <button *ngIf="groupForm.get(k).value != null" class="btn btn-link btn-sm py-0 border-0" style="font-size: 0.7rem" type="button" (click)="doClearFilter($event, k)">
                    {{ 'COMMON.CLEAR' | translate }}
                  </button>
                  <i class="fas" [ngClass]="generalAccordion.open ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                </div>
                <div *ngIf="filterConfig.descriptionKey">{{ filterConfig.descriptionKey | translate }}</div>
                <ng-container [ngTemplateOutlet]="filterTemplate" [ngTemplateOutletContext]="{ filterConfig: filterConfig, k: k, mode: 'multi' }"></ng-container>
              </mcit-simple-accordion>
              <hr />
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
      <div *ngIf="groupForm.value | filtershidden : settings?.filters : enableFiltersConfig : searchBox">
        <button class="btn btn-block btn-light btn-sm" type="button" (click)="doToggleShowAllFilters()">
          {{ (showAllfilters ? 'SEARCH_FIELD.FILTERS.HIDE' : 'SEARCH_FIELD.FILTERS.SHOW_ALL') | translate }}
        </button>
      </div>
    </ng-container>
  </ng-template>
</div>
<ng-template #filterTemplate let-filterConfig="filterConfig" let-k="k" let-mode="mode">
  <ul *ngIf="filterConfig.showEmptySelector" class="nav d-flex flex-column" [formGroup]="groupForm">
    <li *ngFor="let filterValue of FilterValue | values" class="nav-item">
      <div class="custom-control custom-radio">
        <input class="custom-control-input" type="radio" [id]="k + '_' + filterValue" [value]="filterValue" [formControlName]="k + $FILTER_KIND$" (ngModelChange)="resetValue(k, $event)" />
        <label class="custom-control-label" [for]="k + '_' + filterValue">
          {{ 'SEARCH_FIELD.FILTERS.VALUE.' + (filterValue | replaceFilterValue) | translate }}
        </label>
      </div>
    </li>
  </ul>
  <div *ngIf="groupForm.get(k + $FILTER_KIND$)?.value === FilterValue.FILTERED" [ngSwitch]="filterConfig.type" [formGroup]="groupForm">
    <ng-container *ngSwitchCase="'radioList'">
      <mcit-filter-radio-list-search-container [key]="k" [filterConfig]="filterConfig" [initialFilter]="initialFilters[k]" [mode]="mode" [formControlName]="k"></mcit-filter-radio-list-search-container>
    </ng-container>
    <ng-container *ngSwitchCase="'selectList'">
      <mcit-filter-select-list-search-container [key]="k" [filterConfig]="filterConfig" [initialFilter]="initialFilters[k]" [mode]="mode" [formControlName]="k"></mcit-filter-select-list-search-container>
    </ng-container>
    <ng-container *ngSwitchCase="'checkList'">
      <mcit-filter-check-list-search-container [key]="k" [filterConfig]="filterConfig" [initialFilter]="initialFilters[k]" [mode]="mode" [formControlName]="k"></mcit-filter-check-list-search-container>
    </ng-container>
    <ng-container *ngSwitchCase="'asyncCheckList'">
      <mcit-filter-async-check-list-search-container [key]="k" [filterConfig]="filterConfig" [initialFilter]="initialFilters[k]" [mode]="mode" [formControlName]="k"></mcit-filter-async-check-list-search-container>
    </ng-container>
    <ng-container *ngSwitchCase="'text'">
      <mcit-filter-text-search-container [key]="k" [filterConfig]="filterConfig" [initialFilter]="initialFilters[k]" [checkbox]="checkbox" [mode]="mode" [formControlName]="k"></mcit-filter-text-search-container>
    </ng-container>
    <ng-container *ngSwitchCase="'number'">
      <mcit-filter-number-search-container [key]="k" [filterConfig]="filterConfig" [initialFilter]="initialFilters[k]" [mode]="mode" [formControlName]="k"></mcit-filter-number-search-container>
    </ng-container>
    <ng-container *ngSwitchCase="'simpleNumber'">
      <mcit-filter-simple-number-search-container [key]="k" [filterConfig]="filterConfig" [initialFilter]="initialFilters[k]" [formControlName]="k"></mcit-filter-simple-number-search-container>
    </ng-container>
    <ng-container *ngSwitchCase="'date'">
      <mcit-filter-date-search-container [key]="k" [filterConfig]="filterConfig" [initialFilter]="initialFilters[k]" [mode]="mode" [formControlName]="k"></mcit-filter-date-search-container>
    </ng-container>
    <ng-container *ngSwitchCase="'reduceDate'">
      <mcit-filter-reduced-date-search-container [key]="k" [filterConfig]="filterConfig" [initialFilter]="initialFilters[k]" [mode]="mode" [formControlName]="k"></mcit-filter-reduced-date-search-container>
    </ng-container>
    <ng-container *ngSwitchCase="'simpleDate'">
      <mcit-filter-simple-date-search-container [key]="k" [filterConfig]="filterConfig" [initialFilter]="initialFilters[k]" [formControlName]="k"></mcit-filter-simple-date-search-container>
    </ng-container>
    <ng-container *ngSwitchCase="'asyncSelectList'">
      <mcit-filter-async-select-list-search-container [key]="k" [filterConfig]="filterConfig" [initialFilter]="initialFilters[k]" [mode]="mode" [formControlName]="k"></mcit-filter-async-select-list-search-container>
    </ng-container>
    <ng-container *ngSwitchCase="'autocomplete'">
      <mcit-filter-autocomplete-search-container [key]="k" [filterConfig]="filterConfig" [initialFilter]="initialFilters[k]" [mode]="mode" [formControlName]="k"></mcit-filter-autocomplete-search-container>
    </ng-container>
    <ng-container *ngSwitchCase="'custom'">
      <mcit-filter-custom-search-container [key]="k" [filterConfig]="filterConfig" [initialFilter]="initialFilters[k]" [mode]="mode" [formControlName]="k"></mcit-filter-custom-search-container>
    </ng-container>
    <ng-container *ngSwitchCase="'tags'">
      <mcit-filter-tags-search-container [key]="k" [filterConfig]="filterConfig" [initialFilter]="initialFilters[k]" [mode]="mode" [formControlName]="k"></mcit-filter-tags-search-container>
    </ng-container>
    <ng-container *ngSwitchCase="'stringList'">
      <mcit-filter-stringlist-search-container [key]="k" [filterConfig]="filterConfig" [initialFilter]="initialFilters[k]" [mode]="mode" [formControlName]="k"></mcit-filter-stringlist-search-container>
    </ng-container>
    <ng-container *ngSwitchCase="'multiAutocomplete'">
      <mcit-filter-multi-autocomplete-search-container [key]="k" [filterConfig]="filterConfig" [initialFilter]="initialFilters[k]" [mode]="mode" [formControlName]="k"></mcit-filter-multi-autocomplete-search-container>
    </ng-container>
  </div>
</ng-template>
