@import "../../../../../variables";

.my-container {
  * {
    font-size: 0.875rem;
  }
}

.my-title {
  font-size: 0.875rem;

  &.not-empty {
    color: $bleu_primaire;
  }
}

hr {
  margin: 8px 0;
}
