<div class="modal-header">
  <h4 class="modal-title">
    {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.VIN_PRICING.CATEGORIES_FIXED.TITLE' | translate }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="goBack()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="vinCategoryFixedPriceForm" (ngSubmit)="doSave()">
  <div class="modal-body">
    <div class="form-row mt-3 mb-button-row" formGroupName="_category_item">
      <div class="col-12 col-md-9 col-xl mb-2">
        <label for="category_code">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.VIN_PRICING.CATEGORIES_FIXED.CATEGORY_CODE' | translate }}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="far fa-fw fa-car" aria-hidden="true"></i>
            </span>
          </div>
          <select name="category_code" class="custom-select" formControlName="category_code">
            <option [value]="''">
              {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.CATEGORIES.SELECT_CATEGORIE' | translate }}
            </option>
            <option *ngFor="let category of categories$ | async" [value]="category.code">{{ category.code }}</option>
          </select>
          <input
            name="price"
            formControlName="price"
            type="number"
            min="0"
            class="form-control"
            [class.is-invalid]="vinCategoryFixedPriceForm.get('_category_item.price').value < 0"
            placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.VIN_PRICING.CATEGORIES_FIXED.PLACEHOLDER_PRICE' | translate }}"
          />
        </div>
      </div>
      <div *ngIf="!modalData.isDisabled" class="col-12 mb-2 col-md-3 align-self-end col-lg-2">
        <button type="button" class="btn btn-primary btn-block" [disabled]="vinCategoryFixedPriceForm.get('_category_item').invalid" (click)="doAddItem()">
          {{ 'COMMON.ADD' | translate }}
        </button>
      </div>
    </div>
    <ng-container *ngIf="vinCategoryFixedPriceForm.get('categories_grid').value as list">
      <div *ngIf="list.length" class="form-row">
        <div class="col-12 text-center pt-4 table-container pl-5 pr-5 d-none d-lg-table">
          <table class="table table-bordered table-sm table-design">
            <tbody>
              <tr>
                <td scope="col" class="large-col text-center align-middle">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.VIN_PRICING.CATEGORIES_FIXED.CATEGORY_CODE' | translate }}
                </td>
                <td scope="col" class="small-col text-center align-middle">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.VIN_PRICING.CATEGORIES_FIXED.PRICE' | translate }}
                </td>
              </tr>
              <tr *ngFor="let item of list; let i = index">
                <th class="text-center align-middle">{{ item.category_code }}</th>
                <th class="text-center align-middle">{{ item.price }}</th>
                <th *ngIf="!modalData.isDisabled">
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-icon btn-sm" (click)="doDeleteCategoryItem(i)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive d-lg-none table-container pt-3">
          <table class="table table-bordered table-sm">
            <tbody>
              <tr>
                <td scope="row">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.VIN_PRICING.CATEGORIES_FIXED.CATEGORY_CODE' | translate }}
                </td>
                <th *ngFor="let item of list; let i = index" class="text-center align-middle">
                  {{ item.category_code }}
                </th>
              </tr>
              <tr>
                <td scope="row">
                  {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.VIN_PRICING.CATEGORIES_FIXED.PRICE' | translate }}
                </td>
                <th *ngFor="let item of list; let i = index" class="text-center align-middle">{{ item.price }}</th>
              </tr>
              <tr *ngIf="!modalData.isDisabled">
                <td class="empty-cell"></td>
                <th *ngFor="let item of list; let i = index">
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-icon btn-sm" (click)="doDeleteCategoryItem(i)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary mr-1" type="button" (click)="goBack()">
      {{ (modalData.isDisabled ? 'COMMON.CLOSE' : 'COMMON.CANCEL') | translate }}
    </button>
    <button *ngIf="!modalData.isDisabled" class="btn btn-primary ml-1" [disabled]="vinCategoryFixedPriceForm.get('categories_grid').invalid" type="submit">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</form>
