<div class="modal-header">
  <h4 class="modal-title">{{ 'FACET_FIELD.SAVE.SETTINGS.TITLE' | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div [formGroup]="groupForm" class="modal-body">
  <div class="form-row">
    <div class="col-12 col-md-6 mb-2">
      <label for="saveDisplayMode">{{ 'FACET_FIELD.SAVE.SETTINGS.SAVE_DISPLAY_MODE' | translate }}</label>
      <div class="input-group input-group-sm">
        <select id="saveDisplayMode" class="custom-select" name="saveDisplayMode" formControlName="saveDisplayMode">
          <option value="auto">{{ 'FACET_FIELD.SAVE.SETTINGS.AUTO' | translate }}</option>
          <option value="modal">{{ 'FACET_FIELD.SAVE.SETTINGS.MODAL' | translate }}</option>
          <option value="dropdown">{{ 'FACET_FIELD.SAVE.SETTINGS.DROPDOWN' | translate }}</option>
        </select>
      </div>
    </div>
  </div>

  <hr />

  <div class="form-row">
    <div class="col-12 mb-2">
      <h6>{{ 'FACET_FIELD.CATEGORIES.TITLE' | translate }}</h6>
    </div>
  </div>

  <ng-container formGroupName="categories">
    <div class="form-row">
      <ul class="col-12 list-group" cdkDropList (cdkDropListDropped)="doDrop($event)" cdkDropListLockAxis="y">
        <li *ngFor="let key of categoriesConfig | keys | sortBySettings : groupForm.get('positions').value" class="list-group-item p-1" cdkDrag [cdkDragData]="key" [formGroupName]="key">
          <div class="d-flex flex-row align-items-center">
            <div>
              <button type="button" class="btn btn-icon btn-sm" style="cursor: move">
                <i class="far fa-fw fa-grip-lines fa-sm" aria-hidden="true"></i>
              </button>
            </div>
            <div class="flex-grow-1 text-center" style="cursor: move">
              {{ categoriesConfig[key].nameKey | translate }}
            </div>
            <div>
              <div class="input-group input-group-sm">
                <select [id]="key + '-visibility'" class="custom-select" [name]="key + '-visibility'" formControlName="visibility">
                  <option value="open">{{ 'FACET_FIELD.SAVE.SETTINGS.OPEN' | translate }}</option>
                  <option value="close">{{ 'FACET_FIELD.SAVE.SETTINGS.CLOSE' | translate }}</option>
                </select>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </ng-container>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger mr-1" (click)="doReset()">
    {{ 'COMMON.RESET' | translate }}
  </button>
  <button type="button" class="btn btn-outline-primary ml-auto" (click)="doClose()">
    {{ 'COMMON.CLOSE' | translate }}
  </button>
</div>
