<div class="modal-header">
  <h4 class="modal-title" *ngIf="readOnly">{{ 'EDIT_STRING_LIST.VIEW_STRING_LIST' | translate }}</h4>
  <h4 class="modal-title" *ngIf="!readOnly">{{ 'EDIT_STRING_LIST.EDIT_STRING_LIST' | translate }}</h4>
</div>

<div class="modal-body">
  <form [formGroup]="formGroup" class="form-row" *ngIf="!readOnly" novalidate>
    <div class="col-12 col-md-5 mb-2">
      <label for="value">{{ 'EDIT_STRING_LIST.VALUE' | translate }}</label>
      <input id="value" type="text" class="form-control" formControlName="value" />
    </div>
    <div class="col-12 col-md-2 align-self-end mb-2">
      <button name="button" [disabled]="formGroup.invalid" (click)="doAddValue()" class="btn btn-primary btn-block">
        {{ 'COMMON.ADD' | translate }}
      </button>
    </div>
  </form>
  <hr />
  <div class="form-row my-string-list-table">
    <div class="col-12 text-center pt-4 table-container pl-5 pr-5 d-none d-md-table">
      <table class="table table-bordered table-sm table-design">
        <tbody>
          <tr>
            <th scope="col">{{ 'EDIT_STRING_LIST.VALUE' | translate }}</th>
          </tr>
          <tr *ngFor="let item of strings; let i = index">
            <td class="text-center align-middle text-break">
              {{ item }}
            </td>
            <td *ngIf="!readOnly">
              <div class="d-flex justify-content-center">
                <button type="button" (click)="doDeleteValue(i)" class="btn btn-icon btn-sm text-danger">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-outline-primary mr-1" type="button" (click)="doClose()">
    {{ 'COMMON.CANCEL' | translate }}
  </button>
  <button class="btn btn-primary ml-1" type="button" (click)="doSave()" *ngIf="!readOnly">
    {{ 'COMMON.APPLY' | translate }}
  </button>
</div>
