<div class="printable print-section m-auto" style="max-width: 20cm">
  <ngx-loading [show]="cmrByVehicle === undefined" [config]="{ animationType: 'circleSwish' }"></ngx-loading>

  <div id="mcit-cmr-by-vehicle" style="margin: auto !important">
    <!-- LOGO -->
    <div class="my-row d-flex align-items-center">
      <div class="my-col-3">
        <ng-container *ngIf="cmrByVehicle?.cmrDetails?.logo">
          <img class="mb-2 ceva-img" [src]="(cmrByVehicle?.cmrDetails?.logo === 'MOVEECAR' ? 'assets/shared/icons/logo-moveecar.png' : 'assets/shared/icons/ceva-horizontal-logo.png') | secure" />
        </ng-container>
      </div>
      <div class="my-col-6">
        <!-- TITRE CMR -->
        <div class="my-little-row">
          <div class="my-col-12 text-center my-title">
            <div>{{ 'CMR.PROOF_OF_DELIVERY' | translate }}</div>
            <span class="my-sub-text">
              {{ 'CMR.DATE' | translate }} :
              {{ cmrByVehicle?.cmrDetails?.localdate | dateTranslate : 'date' }}
              {{ cmrByVehicle?.cmrDetails?.localdate | dateTranslate : 'hour_minutes' }}
            </span>
          </div>
        </div>
      </div>
      <div class="my-col-3 text-right">
        <qr-code [value]="cmrByVehicle?.cmrDetails?.reference" [size]="50"></qr-code>
        <div class="my-sub-text">{{ cmrByVehicle?.cmrDetails?.reference }}</div>
      </div>
    </div>
    <!-- INFOS VEHICULE -->
    <div class="my-row">
      <div class="my-col-4 my-border p-1">
        <div class="my-sub-text">
          {{ 'CMR.MAKER' | translate }} :
          <span class="my-text font-weight-bold text-uppercase">{{ cmrByVehicle?.vehicle?.description?.maker ? cmrByVehicle?.vehicle?.description?.maker : ('CMR.VEHICLE_UNKNOWN' | translate) }}</span>
        </div>

        <div class="my-sub-text">
          {{ 'CMR.MODEL' | translate }} :
          <span class="my-text font-weight-bold text-uppercase">{{ cmrByVehicle?.vehicle?.description?.model ? cmrByVehicle?.vehicle?.description?.model : ('CMR.VEHICLE_UNKNOWN' | translate) }}</span>
        </div>

        <div class="my-sub-text">
          {{ 'CMR.COLOR' | translate }} :
          <span class="my-text font-weight-bold text-uppercase">{{ cmrByVehicle?.vehicle?.description?.color }}</span>
        </div>
      </div>
      <div class="my-col-4 my-border p-1">
        <div class="my-sub-text">
          {{ 'CMR.PLACE' | translate }} :
          <span class="my-text font-weight-bold text-uppercase">{{ cmrByVehicle?.vehicle?.description?.place }}</span>
        </div>

        <div class="my-sub-text">
          {{ 'CMR.VIN' | translate }} :
          <span class="my-text font-weight-bold text-uppercase">{{ cmrByVehicle?.vehicle?.description?.vin }}</span>
        </div>

        <div class="my-sub-text">
          {{ 'CMR.LICENSE_PLATE' | translate }} :
          <span class="my-text font-weight-bold text-uppercase"> {{ cmrByVehicle?.vehicle?.description?.license_plate }}</span>
        </div>
      </div>
      <div class="my-col-4 my-border p-1">
        <div class="my-sub-text">
          {{ 'CMR.WEIGHT' | translate }} :
          <span class="my-text font-weight-bold text-uppercase">{{ cmrByVehicle?.vehicle?.description?.weight }} </span>
        </div>

        <div class="my-sub-text">
          {{ 'CMR.INSURED_VALUE' | translate }} :
          <span class="my-text font-weight-bold text-uppercase"> {{ cmrByVehicle?.vehicle?.description?.insuredValue }}</span>
        </div>

        <div class="my-sub-text">
          {{ 'CMR.PICKUP_RESERVES' | translate }} :
          <span class="my-text font-weight-bold text-uppercase">{{ (cmrByVehicle?.vehicle?.description?.pickupReserves ? 'CMR.YES' : 'CMR.NO') | translate }}</span>
        </div>

        <div class="my-sub-text">
          {{ 'CMR.DELIVERY_RESERVES' | translate }} :
          <span class="my-text font-weight-bold text-uppercase">{{ (cmrByVehicle?.vehicle?.description?.deliveryReserves ? 'CMR.YES' : 'CMR.NO') | translate }}</span>
        </div>
      </div>
    </div>
    <!-- EXPEDITEUR / DESTINATAIRE -->
    <div class="my-row">
      <!-- EXPEDITEUR -->
      <div class="my-col-6 my-border p-1">
        <div class="my-little-row">
          <div class="my-col-12">
            <div class="my-sub-text py-1">{{ 'CMR.SENDER' | translate }} :</div>
            <div class="my-text font-weight-bold text-uppercase">{{ cmrByVehicle?.sender?.name }}</div>
            <div class="my-text font-weight-bold text-uppercase">{{ cmrByVehicle?.sender?.infos?.address }}</div>
            <div class="my-text font-weight-bold text-uppercase">
              {{ cmrByVehicle?.sender?.infos?.city }}<span *ngIf="cmrByVehicle?.sender?.infos?.city?.length > 0">,</span>
              {{ cmrByVehicle?.sender?.infos?.country }}
            </div>
            <div class="my-sub-text py-1">
              {{ 'CMR.PHONE' | translate }} :
              <span class="my-text font-weight-bold text-uppercase">{{ cmrByVehicle?.sender?.infos?.phone }}</span>
            </div>
          </div>
        </div>
        <div class="my-sub-text">{{ 'CMR.SENDER_OBS' | translate }} :</div>
        <div class="my-text">{{ cmrByVehicle?.sender?.observations }}</div>
        <div style="height: 40px"></div>
      </div>
      <!--  DESTINATAIRE -->
      <div class="my-col-6 my-border p-1">
        <div class="my-little-row">
          <div class="my-col-12">
            <div class="my-sub-text py-1">{{ 'CMR.CONSIGNEE' | translate }} :</div>
            <div class="my-text font-weight-bold text-uppercase">{{ cmrByVehicle?.consignee?.name }}</div>
            <div class="my-text font-weight-bold text-uppercase">{{ cmrByVehicle?.consignee?.infos?.address }}</div>
            <div class="my-text font-weight-bold text-uppercase">
              {{ cmrByVehicle?.consignee?.infos?.city }}<span *ngIf="cmrByVehicle?.consignee?.infos?.city?.length > 0">,</span>
              {{ cmrByVehicle?.consignee?.infos?.country }}
            </div>
            <div class="my-sub-text py-1">
              {{ 'CMR.PHONE' | translate }} :
              <span class="my-text font-weight-bold text-uppercase">{{ cmrByVehicle?.consignee?.infos?.phone }}</span>
            </div>
          </div>
        </div>
        <div class="my-sub-text">{{ 'CMR.CONSIGNEE_OBS' | translate }} :</div>
        <div class="my-text">{{ cmrByVehicle?.consignee?.observations }}</div>
        <div style="height: 40px"></div>
      </div>
    </div>

    <!-- TRANSPORTEUR / INFO TRANSPORT -->
    <div class="my-row">
      <!-- TRANSPORTEUR -->
      <div class="my-col-6 my-border p-1">
        <div class="my-little-row">
          <div class="my-col-12">
            <div class="my-sub-text py-1">{{ 'CMR.CARRIER' | translate }} :</div>
            <div class="my-text font-weight-bold text-uppercase">{{ cmrByVehicle?.real_carrier?.name }}</div>
            <div class="my-text font-weight-bold text-uppercase">
              {{ cmrByVehicle?.real_carrier?.infos?.address }}
            </div>
            <div class="my-text font-weight-bold text-uppercase">
              {{ cmrByVehicle?.real_carrier?.infos?.city }}<span *ngIf="cmrByVehicle?.real_carrier?.infos?.city?.length > 0">,</span>
              {{ cmrByVehicle?.real_carrier?.infos?.country }}
            </div>
            <div class="my-sub-text py-1">
              {{ 'CMR.PHONE' | translate }} :
              <span class="my-text font-weight-bold text-uppercase">{{ cmrByVehicle?.real_carrier?.infos?.phone }}</span>
            </div>
          </div>
        </div>
      </div>
      <!--  INFO TRANSPORT -->
      <div class="my-col-6 my-border p-1">
        <div class="my-sub-text">
          {{ 'CMR.IMMAT_TRACTEUR' | translate }} :
          <ng-container *ngIf="cmrByVehicle?.driver?.licensePlateList?.length > 0">
            <ng-container *ngFor="let licensePlate of cmrByVehicle?.driver?.licensePlateList">
              <span class="my-text font-weight-bold text-uppercase">{{ licensePlate }}</span>
            </ng-container>
          </ng-container>
        </div>
        <!-- <div> {{'CMR.IMMAT_REMORQUE' | translate}} : immatRemorque </div> -->
        <!-- <div> establishedAt </div> -->
        <div class="my-sub-text">
          {{ 'CMR.DRIVER_NAME' | translate }} :
          <ng-container *ngIf="cmrByVehicle?.driver?.nameList?.length > 0">
            <ng-container *ngFor="let name of cmrByVehicle?.driver?.nameList">
              <span class="my-text font-weight-bold text-uppercase">{{ name }}</span>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- SIGNATURES  -->
    <div class="my-row">
      <div class="my-col-6 p-1">
        <div class="my-little-sub-text text-center">{{ 'CMR.SENDER_SIGNATURE' | translate }} :</div>
        <div class="my-little-sub-text font-weight-bold text-uppercase text-center">
          {{ cmrByVehicle?.sender?.infos?.placeName }}
        </div>
        <div style="height: 80px; width: 170px">
          <ng-container *ngIf="cmrByVehicle?.sender?.signature">
            <img [src]="environment.apiUrl + cmrByVehicle?.sender?.signature | secure" height="80" width="170" />
          </ng-container>
        </div>
        <div class="my-little-sub-text">
          {{ 'CMR.SIGNATORY' | translate }} :<span class="font-weight-bold text-uppercase">
            {{ cmrByVehicle?.sender?.signature_contact }}
          </span>
        </div>
        <div class="my-little-sub-text">
          {{ 'CMR.SENDER_NAME' | translate }} :<span class="font-weight-bold text-uppercase">{{ cmrByVehicle?.sender?.contact }} </span>
        </div>
        <div class="my-little-sub-text">
          {{ 'CMR.START_DATE_TIME' | translate }} :
          {{ cmrByVehicle?.sender?.endDatetime | dateTranslate : 'date_time' }}
        </div>
        <div class="my-little-sub-text">{{ 'CMR.LOCATION' | translate }} : {{ cmrByVehicle?.sender?.endPosition }}</div>
      </div>

      <div class="my-col-6 p-1">
        <div class="my-little-sub-text text-center">{{ 'CMR.CONSIGNEE_SIGNATURE' | translate }} :</div>
        <div class="my-little-sub-text font-weight-bold text-uppercase text-center">
          {{ cmrByVehicle?.consignee?.infos?.placeName }}
        </div>
        <div style="height: 80px; width: 170px">
          <ng-container *ngIf="cmrByVehicle?.consignee?.signature">
            <img [src]="environment.apiUrl + cmrByVehicle?.consignee?.signature | secure" height="80" width="170" />
          </ng-container>
        </div>
        <div class="my-little-sub-text">
          {{ 'CMR.SIGNATORY' | translate }} :<span class="font-weight-bold text-uppercase">
            {{ cmrByVehicle?.consignee?.signature_contact }}
          </span>
        </div>
        <div class="my-little-sub-text">
          {{ 'CMR.CONSIGNEE_NAME' | translate }} :
          <span class="font-weight-bold text-uppercase">{{ cmrByVehicle?.consignee?.contact }}</span>
        </div>
        <div class="my-little-sub-text">
          {{ 'CMR.END_DATE_TIME' | translate }} :
          {{ cmrByVehicle?.consignee?.endDatetime | dateTranslate : 'date_time' }}
        </div>
        <div class="my-little-sub-text">{{ 'CMR.LOCATION' | translate }} : {{ cmrByVehicle?.consignee?.endPosition }}</div>
      </div>
    </div>

    <!-- COMMENTAIRES -->
    <div class="my-row" style="page-break-after: always">
      <!-- PICKUP -->
      <div class="my-col-6 my-border p-1">
        <div class="my-sub-text pb-2">{{ 'CMR.PICKUP_COMMENTS' | translate }} :</div>
        <div class="my-text p-2">{{ cmrByVehicle?.vehicle?.pickupComment }}</div>
        <div style="height: 40px"></div>
      </div>
      <!-- DELIVERY -->
      <div class="my-col-6 my-border p-1">
        <div class="my-sub-text pb-2">{{ 'CMR.DELIVERY_COMMENTS' | translate }} :</div>
        <div class="my-text p-2">{{ cmrByVehicle?.vehicle?.deliveryComment }}</div>
        <div style="height: 40px"></div>
      </div>
    </div>

    <!-- INSPECTIONS -->
    <div class="my-row" *ngIf="cmrByVehicle?.vehicle?.inspection?.summary?.pickup?.checks_required" style="page-break-after: always">
      <!-- PICKUP -->
      <div class="my-col-12 p-1 my-border">
        <div class="my-sub-text pb-2">
          {{ 'CMR.PICKUP_CHECKS' | translate }}
        </div>
        <ng-container *ngIf="cmrByVehicle?.vehicle?.inspection">
          <mcit-checks [inspection]="cmrByVehicle?.vehicle?.inspection" [step]="'pickup'" [isEditable$]="false | toObservable" [environment]="environment" [forceA4]="true" [baseUrl]="baseUrl"></mcit-checks>
        </ng-container>
      </div>
    </div>
    <!-- DAMAGES  -->
    <div class="my-row" *ngIf="cmrByVehicle?.vehicle?.inspection?.summary?.pickup?.damages_required" style="page-break-after: always">
      <!-- PICKUP -->
      <div class="my-col-12 my-border">
        <div class="my-sub-text" style="padding: 5px">
          {{ 'CMR.PICKUP_DAMAGES' | translate }}
        </div>
        <div style="padding: 5px">
          <ng-container *ngIf="cmrByVehicle?.vehicle?.damages?.vehicleData && cmrByVehicle?.vehicle?.damages?.pickupDamageList; else loading">
            <mcit-damage-list
              [vehicleData]="cmrByVehicle?.vehicle?.damages?.vehicleData"
              [step]="'pickup'"
              [editable]="false"
              [showNonDamagedElements]="true"
              [damageType]="'INT'"
              [damageList]="cmrByVehicle?.vehicle?.damages?.pickupDamageList"
              canvasDefaultScale="0.5"
              forceVertical="true"
              disableClick="true"
            >
            </mcit-damage-list>
            <mcit-damage-details-show [damageList]="cmrByVehicle?.vehicle?.damages?.pickupDamageList" [damageType]="'INT'" [environment]="environment" [baseUrl]="baseUrl"> </mcit-damage-details-show>
          </ng-container>
          <ng-container *ngIf="cmrByVehicle?.vehicle?.damages?.vehicleData && cmrByVehicle?.vehicle?.damages?.pickupDamageList; else loading">
            <mcit-damage-list
              [vehicleData]="cmrByVehicle?.vehicle?.damages?.vehicleData"
              [step]="'pickup'"
              [editable]="false"
              [showNonDamagedElements]="true"
              [damageType]="'EXT'"
              [damageList]="cmrByVehicle?.vehicle?.damages?.pickupDamageList"
              canvasDefaultScale="0.5"
              forceVertical="true"
              disableClick="true"
            >
            </mcit-damage-list>
            <mcit-damage-details-show [damageList]="cmrByVehicle?.vehicle?.damages?.pickupDamageList" [damageType]="'EXT'" [environment]="environment" [baseUrl]="baseUrl"> </mcit-damage-details-show>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- PHOTOS -->
    <div class="my-row" style="page-break-after: always" *ngIf="cmrByVehicle?.vehicle?.pickupPictures?.length > 0">
      <!-- PICKUP -->
      <div class="my-col-12 my-border p-1">
        <div class="my-sub-text pb-2">{{ 'CMR.PICKUP_PICTURES' | translate }} :</div>
        <ng-container *ngFor="let doc of cmrByVehicle?.vehicle?.pickupPictures">
          <img [src]="baseUrl + doc.document_id | secure" class="w-50 h-auto p-1" />
        </ng-container>
      </div>
    </div>

    <!-- INSPECTIONS -->
    <div class="my-row" *ngIf="cmrByVehicle?.vehicle?.inspection?.summary?.delivery?.checks_required" style="page-break-after: always">
      <!-- DELIVERY -->
      <div class="my-col-12 p-1 my-border">
        <div class="my-sub-text pb-2">
          {{ 'CMR.DELIVERY_CHECKS' | translate }}
        </div>
        <ng-container *ngIf="cmrByVehicle?.vehicle?.inspection">
          <mcit-checks [inspection]="cmrByVehicle?.vehicle?.inspection" [step]="'delivery'" [isEditable$]="false | toObservable" [environment]="environment" [baseUrl]="baseUrl"></mcit-checks>
        </ng-container>
      </div>
    </div>
    <!-- DAMAGES  -->
    <div class="my-row" *ngIf="cmrByVehicle?.vehicle?.inspection?.summary?.delivery?.damages_required" style="page-break-after: always">
      <!-- DELIVERY -->
      <div class="my-col-12 my-border">
        <div class="my-sub-text" style="padding: 5px">
          {{ 'CMR.DELIVERY_DAMAGES' | translate }}
        </div>
        <div style="padding: 5px">
          <ng-container *ngIf="cmrByVehicle?.vehicle?.damages?.vehicleData && cmrByVehicle?.vehicle?.damages?.deliveryDamageList; else loading">
            <mcit-damage-list
              [vehicleData]="cmrByVehicle?.vehicle?.damages?.vehicleData"
              [step]="'delivery'"
              [editable]="false"
              [showNonDamagedElements]="true"
              [damageType]="'INT'"
              [damageList]="cmrByVehicle?.vehicle?.damages?.deliveryDamageList"
              canvasDefaultScale="0.5"
              forceVertical="true"
              disableClick="true"
            >
            </mcit-damage-list>
            <mcit-damage-details-show [damageList]="cmrByVehicle?.vehicle?.damages?.deliveryDamageList" [damageType]="'INT'" [environment]="environment" [baseUrl]="baseUrl"> </mcit-damage-details-show>
          </ng-container>
          <ng-container *ngIf="cmrByVehicle?.vehicle?.damages?.vehicleData && cmrByVehicle?.vehicle?.damages?.deliveryDamageList; else loading">
            <mcit-damage-list
              [vehicleData]="cmrByVehicle?.vehicle?.damages?.vehicleData"
              [step]="'delivery'"
              [editable]="false"
              [showNonDamagedElements]="true"
              [damageType]="'EXT'"
              [damageList]="cmrByVehicle?.vehicle?.damages?.deliveryDamageList"
              canvasDefaultScale="0.5"
              forceVertical="true"
              disableClick="true"
            >
            </mcit-damage-list>
            <mcit-damage-details-show [damageList]="cmrByVehicle?.vehicle?.damages?.deliveryDamageList" [damageType]="'EXT'" [environment]="environment" [baseUrl]="baseUrl"></mcit-damage-details-show>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- PHOTOS -->
    <div class="my-row" style="page-break-after: always" *ngIf="cmrByVehicle?.vehicle?.deliveryPictures?.length > 0">
      <!-- DELIVERY -->
      <div class="my-col-12 my-border p-1">
        <div class="my-sub-text pb-2">{{ 'CMR.DELIVERY_PICTURES' | translate }} :</div>
        <ng-container *ngFor="let doc of cmrByVehicle?.vehicle?.deliveryPictures">
          <img [src]="baseUrl + doc.document_id | secure" class="w-50 h-auto p-1" />
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="d-flex flex-column justify-content-center h-100">
    <h2 class="text-center">{{ 'COMMON.PLEASE_WAIT' | translate }}</h2>
  </div>
</ng-template>
