<div *ngIf="init$ | async" class="all" [@show-anim]>
  <mat-toolbar class="top-toolbar notch-top-image-viewer-overlay-component">
    <mat-toolbar-row>
      <button *ngIf="pinchzoom.scale > 1" class="btn btn-icon" (click)="doReset()">
        <i class="far fa-search-minus text-white"></i>
      </button>
      <div class="w-100"></div>
      <button *ngIf="!cordova" class="btn btn-icon mr-1" (click)="doDownload()" [mcitTooltip]="'COMMON.DOWNLOAD' | translate">
        <i class="fas fa-download text-white fa-lg"></i>
      </button>
      <button class="btn btn-icon" (click)="doClose()">
        <i class="far fa-times text-white fa-lg"></i>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="full" [@image-anim]="loaded[current]">
    <mcit-pinch-zoom
      #pinchzoom
      height="100%"
      [class.d-none]="!loaded"
      (click)="doCloseClick($event)"
      (swipeleft)="doMoveToRight(true)"
      (swiperight)="doMoveToLeft(true)"
      [@move-image-anim]="stats"
      (@move-image-anim.done)="doMoveImageAnimDone()"
    >
      <ng-container *ngFor="let url of urls; let i = index">
        <img *ngIf="(loaded[i] || i === current) && loaded.length >= 0 && urls.length >= 0" #img [class.d-none]="i !== current" [hidden]="!loaded[i]" [src]="urls[i] | secure" (load)="onLoad(i)" />
      </ng-container>
      <ngx-loading [show]="!loaded[current]" [config]="{ animationType: 'circleSwish', backdropBackgroundColour: 'transparent' }"></ngx-loading>
    </mcit-pinch-zoom>
  </div>
  <mat-toolbar class="center-toolbar d-none d-md-flex flex-column justify-content-center">
    <mat-toolbar-row>
      <button class="btn btn-icon" (click)="doMoveToLeft()">
        <i class="far fa-angle-left text-white fa-lg"></i>
      </button>
      <div class="w-100"></div>
      <button class="btn btn-icon" (click)="doMoveToRight()">
        <i class="far fa-angle-right text-white fa-lg"></i>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar class="bottom-toolbar notch-bottom-image-viewer-overlay-component">
    <mat-toolbar-row>
      <button class="btn btn-icon d-block d-md-none" (click)="doMoveToLeft()">
        <i class="far fa-angle-left text-white fa-lg"></i>
      </button>
      <div class="w-100 text-center">{{ current + 1 }} / {{ urls.length }}</div>
      <button class="btn btn-icon d-block d-md-none" (click)="doMoveToRight()">
        <i class="far fa-angle-right text-white fa-lg"></i>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
