@import '../../../variables';

.all {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $mcit-backdrop-color;
}

.top-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  background: linear-gradient(180deg, rgba(0, 0, 0, .65) 0, transparent);

  color: $white;

  margin-top: 0;
}

.center-toolbar {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  background: transparent;

  color: $white;

  button {
    pointer-events: auto;
  }
}

.bottom-toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .65));

  color: $white;

  margin-bottom: 0;
}

.full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    image-orientation: from-image;
  }
}
