<div class="modal-header">
  <h4 class="modal-title" *ngIf="readOnly">{{ 'EDIT_TRANSCODING.VIEW_TITLE' | translate }}</h4>
  <h4 class="modal-title" *ngIf="!readOnly">{{ 'EDIT_TRANSCODING.EDIT_TITLE' | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <b aria-hidden="true">&times;</b>
  </button>
</div>

<div class="modal-body">
  <ng-container *ngIf="!readOnly">
    <form [formGroup]="form" class="form-row" novalidate>
      <div class="col-12 mb-2" *ngIf="showOutgoingTranscoding">
        <label for="check_outgoing_transcoding">
          <input id="check_outgoing_transcoding" name="check_outgoing_transcoding" type="checkbox" formControlName="check_outgoing_transcoding" />
          {{ 'EDIT_TRANSCODING.OUTGOING_CODIFICATION' | translate }}
        </label>
      </div>
      <div class="col-12 col-md-4 mb-2">
        <ng-container *ngIf="!autocomplete">
          <label for="entity_string" class="mcit-mandatory">{{ 'EDIT_TRANSCODING.ENTITY' | translate }}</label>
          <input id="entity_string" name="entity" type="text" class="form-control" formControlName="entity" />
        </ng-container>
        <ng-container *ngIf="autocomplete">
          <label for="entity_autocomplete" class="mcit-mandatory">{{ 'EDIT_TRANSCODING.ENTITY' | translate }}</label>
          <mcit-object-search-field
            id="entity_autocomplete"
            formControlName="entity"
            [autocomplete]="autocomplete"
            [displayedField]="'code'"
            [displayedSecondaryFields]="['meaning']"
            [typeaheadMinLength]="0"
            [placeholder]="'EDIT_TRANSCODING.ENTITY' | translate"
            [propagateMappingComplement]="{ flattenAttribute: 'code' }"
            [writeValueMapping]="writeValueMapping"
          >
          </mcit-object-search-field>
        </ng-container>
      </div>
      <div class="col-12 col-md-4 mb-2">
        <label for="x_code" class="mcit-mandatory">{{ 'EDIT_TRANSCODING.X_CODE' | translate }}</label>
        <input id="x_code" name="x_code" type="text" class="form-control" formControlName="x_code" />
      </div>
      <div class="col-12 col-md-4 mb-2" *ngIf="showExternalName">
        <label for="x_name">{{ 'EDIT_TRANSCODING.X_NAME' | translate }}</label>
        <input id="x_name" name="x_name" type="text" class="form-control" formControlName="x_name" />
      </div>
      <div class="col-12 align-self-end mb-2">
        <button name="button" [disabled]="form.invalid" (click)="doAddTranscoding()" class="btn btn-primary btn-block">
          {{ 'COMMON.ADD' | translate }}
        </button>
      </div>
    </form>
    <hr />
  </ng-container>

  <div class="form-row my-transcoding-table">
    <div class="col-12 text-center pt-3 table-container pl-5 pr-5 d-none d-md-table">
      <table class="table table-bordered table-sm table-design">
        <tbody>
          <tr>
            <th scope="col">{{ 'EDIT_TRANSCODING.ENTITY' | translate }}</th>
            <th scope="col">{{ 'EDIT_TRANSCODING.X_CODE' | translate }}</th>
            <th scope="col" *ngIf="showOutgoingTranscoding">{{ 'EDIT_TRANSCODING.OUTGOING_TRANSCODING' | translate }}</th>
            <th scope="col" *ngIf="showExternalName">{{ 'EDIT_TRANSCODING.X_NAME' | translate }}</th>
            <th scope="col" *ngIf="!readOnly">{{ 'COMMON.ACTIONS' | translate }}</th>
          </tr>
          <tr *ngFor="let item of transcoding; let i = index">
            <td class="text-center align-middle text-break">
              {{ item.entity }}
            </td>
            <td class="text-center align-middle text-break">
              {{ item.x_code }}
            </td>
            <td class="text-center align-middle" *ngIf="showOutgoingTranscoding">
              <i class="fas fa-check" *ngIf="item.check_outgoing_transcoding" style="color: green;"></i>
              <i class="fas fa-times" *ngIf="!item.check_outgoing_transcoding" style="color: red;"></i>
            </td>
            <td class="text-center align-middle text-break" *ngIf="showExternalName">
              {{ item.x_name }}
            </td>
            <td *ngIf="!readOnly">
              <div class="d-flex justify-content-center">
                <button type="button" (click)="doDeleteTranscoding(i)" class="btn btn-icon btn-sm text-danger">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-outline-primary mr-1" type="button" (click)="doClose()">
    {{ 'COMMON.CANCEL' | translate }}
  </button>
  <button class="btn btn-primary mr-1" type="button" (click)="doExport()" *ngIf="exportCallback">
    <i class="fas fa-file-export"></i>
    {{ exportLabel || 'COMMON.EXPORT' | translate }}
  </button>
  <button class="btn btn-primary ml-1" type="button" (click)="doSave()" *ngIf="!readOnly">
    {{ 'COMMON.APPLY' | translate }}
  </button>
</div>
