.my-transcoding-table {
  .table-container {

    td, th {
      background-color: #fff;
    }

    .table-design {
      border: 0;
    }

    .empty-cell {
      visibility: hidden;
      border: 0;
    }
  }
}