<div class="modal-header">
  <h4 class="modal-title">
    <div class="d-flex flex-row" *ngIf="role; else displayDefault">
      <div class="p-0" *ngFor="let uniqueRole of role.split(','); let isLast = last">{{ 'ROLES.' + uniqueRole | translate }}{{ isLast ? '' : '/' }}</div>
    </div>
    <ng-template #displayDefault>
      {{ 'MEMBER_ROLE_FIELD.MODAL.TITLE' | translate }}
    </ng-template>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="goBack()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="memberRoleForm" (ngSubmit)="doValidate()" novalidate>
  <div class="modal-body">
    <div class="form-row">
      <div class="col-12 col-md-6 mb-2">
        <label for="code">{{ 'MEMBER_ROLE_FIELD.MODAL.THIRD_PARTY' | translate }}</label>
        <input type="text" id="code" class="form-control last-child-form-control" formControlName="code" [control-active]="(memberRoleForm.controls['code'].dirty && memberRoleForm.controls['code'].touched) || submitAttempt" />
      </div>
      <div class="col-12 col-md-6 mb-2" *ngIf="displayLegalEntity && (hasAssociatedLegalEntity() || hasLegalEntity()); else noLegalEntity">
        <label for="check_derogatory_main_infos">{{ 'MEMBER_ROLE_FIELD.MODAL.ASSOCIATED_LEGAL_ENTITY' | translate }}</label>
        <input
          type="text"
          id="associated_legal_entity"
          [mcitTooltip]="composedAssociatedLegalEntity"
          class="form-control last-child-form-control"
          formControlName="associated_legal_entity"
          [control-active]="(memberRoleForm.controls['associated_legal_entity'].dirty && memberRoleForm.controls['associated_legal_entity'].touched) || submitAttempt"
        />
      </div>
    </div>
    <ng-template #noLegalEntity>
      <div *ngIf="displayLegalEntity" class="display-no-entity">
        <label for="associated_legal_entity">{{ 'MEMBER_ROLE_FIELD.MODAL.ASSOCIATED_LEGAL_ENTITY' | translate }}</label>
        <input
          type="text"
          id="associated_legal_entity"
          class="form-control last-child-form-control"
          formControlName="associated_legal_entity"
          placeholder="{{ 'MEMBER_ROLE_FIELD.MODAL.NO_ASSOCIATED_LEGAL_ENTITY' | translate }}"
          [control-active]="false"
        />
      </div>
    </ng-template>

    <div class="form-row" *ngIf="allowDerogatory">
      <div class="col-12 col-md-6 mb-2">
        <label for="check_derogatory_main_infos">{{ 'MEMBER_ROLE_FIELD.MODAL.DEROGATORY_INFORMATIONS.TITLE' | translate }}</label>
        <div>
          <span class="mr-2" [class.font-weight-bold]="!memberRoleForm.controls['check_derogatory_main_infos'].value">
            {{ 'MEMBER_ROLE_FIELD.MODAL.DEROGATORY_INFORMATIONS.NO' | translate }}
          </span>
          <ui-switch id="check_derogatory_main_infos" formControlName="check_derogatory_main_infos" color="#31394D" size="small" (change)="doDerogatoryChange($event)"></ui-switch>
          <span class="ml-2" [class.font-weight-bold]="memberRoleForm.controls['check_derogatory_main_infos'].value">
            {{ 'MEMBER_ROLE_FIELD.MODAL.DEROGATORY_INFORMATIONS.YES' | translate }}
          </span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 mb-2">
        <label for="name" class="mcit-mandatory">{{ 'MEMBER_ROLE_FIELD.MODAL.NAME' | translate }}</label>
        <div class="input-group">
          <input
            id="name"
            name="name"
            class="form-control last-child-form-control"
            formControlName="name"
            type="text"
            maxlength="256"
            autocomplete="on"
            [control-active]="(memberRoleForm.controls['name'].dirty && memberRoleForm.controls['name'].touched) || submitAttempt"
          />
          <div class="invalid-feedback">
            {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 mb-2">
        <label for="_place">{{ 'MEMBER_ROLE_FIELD.MODAL.PLACE' | translate }}</label>
        <mcit-place-field id="_place" formControlName="_place" placeholder="{{ 'MEMBER_ROLE_FIELD.MODAL.WRITE_PLACE' | translate }}" (placeEvent)="doPlaceChange($event)" [submitAttempt]="submitAttempt" [required]="false"></mcit-place-field>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 mb-2">
        <label for="address1" [class.mcit-mandatory]="requiredFields">{{ 'MEMBER_ROLE_FIELD.MODAL.ADDRESS1' | translate }}</label>
        <div class="input-group">
          <input
            id="address1"
            name="address1"
            class="form-control last-child-form-control"
            formControlName="address1"
            type="text"
            maxlength="256"
            autocomplete="on"
            [control-active]="(memberRoleForm.controls['address1'].dirty && memberRoleForm.controls['address1'].touched) || submitAttempt"
          />
          <div class="invalid-feedback">
            {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 col-md-6 mb-2">
        <label for="address2">{{ 'MEMBER_ROLE_FIELD.MODAL.ADDRESS2' | translate }}</label>
        <div class="input-group">
          <input
            id="address2"
            name="address2"
            class="form-control"
            formControlName="address2"
            type="text"
            maxlength="256"
            autocomplete="on"
            [control-active]="(memberRoleForm.controls['address2'].dirty && memberRoleForm.controls['address2'].touched) || submitAttempt"
          />
        </div>
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="address3">{{ 'MEMBER_ROLE_FIELD.MODAL.ADDRESS3' | translate }}</label>
        <div class="input-group">
          <input
            id="address3"
            name="address3"
            class="form-control"
            formControlName="address3"
            type="text"
            maxlength="256"
            autocomplete="on"
            [control-active]="(memberRoleForm.controls['address3'].dirty && memberRoleForm.controls['address3'].touched) || submitAttempt"
          />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 col-md-6 mb-2">
        <label for="zip" [class.mcit-mandatory]="requiredFields">{{ 'MEMBER_ROLE_FIELD.MODAL.ZIP' | translate }}</label>
        <div class="input-group">
          <input
            id="zip"
            name="zip"
            class="form-control last-child-form-control"
            formControlName="zip"
            type="text"
            maxlength="256"
            autocomplete="on"
            [control-active]="(memberRoleForm.controls['zip'].dirty && memberRoleForm.controls['zip'].touched) || submitAttempt"
          />
          <div class="invalid-feedback">
            {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="city" [class.mcit-mandatory]="requiredFields">{{ 'MEMBER_ROLE_FIELD.MODAL.CITY' | translate }}</label>
        <div class="input-group">
          <input
            id="city"
            name="city"
            class="form-control last-child-form-control"
            formControlName="city"
            type="text"
            maxlength="256"
            autocomplete="on"
            [control-active]="(memberRoleForm.controls['city'].dirty && memberRoleForm.controls['city'].touched) || submitAttempt"
          />
          <div class="invalid-feedback">
            {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 col-md-6 mb-2">
        <label for="_country" [class.mcit-mandatory]="requiredFields">{{ 'MEMBER_ROLE_FIELD.MODAL.COUNTRY' | translate }}</label>
        <mcit-country-field
          id="_country"
          formControlName="_country"
          placeholder="{{ 'MEMBER_ROLE_FIELD.MODAL.WRITE_COUNTRY' | translate }}"
          (countryEvent)="doCountryChange($event)"
          [submitAttempt]="submitAttempt"
          [required]="requiredFields"
        ></mcit-country-field>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 col-md-6 mb-2">
        <label>{{ 'MEMBER_ROLE_FIELD.MODAL.GEOPOSITION' | translate }}</label>
        <div class="input-group">
          <input class="form-control" type="text" [value]="memberRoleForm.get('geoposition').value ? ([memberRoleForm.get('geoposition').value.latitude, memberRoleForm.get('geoposition').value.longitude] | join : ', ') : ''" disabled />
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" [disabled]="memberRoleForm.get('geoposition').disabled" (click)="doEditGeoposition()">
              <i class="far fa-map" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 mb-2">
        <label for="timezone">{{ 'MEMBER_ROLE_FIELD.MODAL.TIMEZONE' | translate }}</label>
        <div class="input-group">
          <select
            id="timezone"
            name="timezone"
            class="form-control custom-select last-child-form-control"
            formControlName="timezone"
            [control-active]="(memberRoleForm.controls['timezone'].dirty && memberRoleForm.controls['timezone'].touched) || submitAttempt"
          >
            <option *ngFor="let tz of timezones" [value]="tz">{{ tz }}</option>
          </select>
          <div class="invalid-feedback">
            {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-2">
        <button type="button" class="btn btn-block btn-secondary btn-sm" [disabled]="memberRoleForm.get('area').disabled" (click)="doEditPolygon()">
          {{ 'MEMBER_ROLE_FIELD.MODAL.EDIT_POLYGON_MAP' | translate }}
        </button>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-2">
        <hr />
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 mb-2">
        <h6>{{ 'MEMBER_ROLE_FIELD.MODAL.CONTACT.TITLE' | translate }}</h6>
      </div>
    </div>
    <div formGroupName="contact">
      <div class="form-row">
        <div class="col-12 col-md-6 mb-2">
          <label for="contact_name">{{ 'MEMBER_ROLE_FIELD.MODAL.CONTACT.NAME' | translate }}</label>
          <div class="input-group">
            <input
              id="contact_name"
              name="contact_name"
              class="form-control"
              formControlName="name"
              type="text"
              maxlength="256"
              autocomplete="on"
              [control-active]="(memberRoleForm.get('contact.name').dirty && memberRoleForm.get('contact.name').touched) || submitAttempt"
            />
          </div>
        </div>
        <div class="col-12 col-md-6 mb-2">
          <label for="contact_phone">{{ 'MEMBER_ROLE_FIELD.MODAL.CONTACT.PHONE' | translate }}</label>
          <mcit-phone-field id="contact_phone" [submitAttempt]="submitAttempt" formControlName="phone"></mcit-phone-field>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12 col-md-6 mb-2">
          <label for="contact_email">{{ 'MEMBER_ROLE_FIELD.MODAL.CONTACT.EMAIL' | translate }}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="far fa-at" aria-hidden="true"></i>
              </span>
            </div>
            <input id="contact_email" name="contact_email" class="form-control" formControlName="email" type="email" maxlength="256" />
          </div>
        </div>
        <div class="col-12 col-md-6 mb-2">
          <label for="contact_language">{{ 'MEMBER_ROLE_FIELD.MODAL.CONTACT.LANGUAGE' | translate }}</label>
          <div class="input-group">
            <select
              id="contact_language"
              name="contact_language"
              class="custom-select"
              formControlName="language"
              [control-active]="(memberRoleForm.get('contact.language').dirty && memberRoleForm.get('contact.language').touched) || submitAttempt"
            >
              <option *ngFor="let language of languages" [value]="language.code">
                {{ language.name | translate }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-row justify-content-center mt-2" *ngIf="allowBillingContact()">
        <div>
          <button type="button" class="btn btn-primary btn-sm btn-block" (click)="doEditBillingContact()">
            {{ 'MEMBER_ROLE_FIELD.MODAL.BILLING_CONTACT' | translate }}
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12 mb-2">
          <hr />
        </div>
      </div>
    </div>

    <ng-container *ngIf="useSubscriptions">
      <div class="form-row">
        <div class="col-12 mb-2">
          <h6>{{ 'MEMBER_ROLE_FIELD.MODAL.SUBSCRIPTIONS.TITLE' | translate }}</h6>
        </div>
      </div>

      <div *ngIf="!isDisabled" class="form-row">
        <div class="col-12 mb-2">
          <button type="button" class="btn btn-sm btn-primary" (click)="doAddSubscription()">
            {{ 'COMMON.ADD' | translate }}
          </button>
        </div>
      </div>

      <div class="form-row" *ngIf="this.memberRoleForm.get('subscriptions').value?.length">
        <div class="col-12 mb-2">
          <table class="table table-sm" style="height: 1px">
            <thead>
              <tr>
                <th scope="col" style="width: 10px">#</th>
                <th scope="col" style="width: 25%">
                  {{ 'MEMBER_ROLE_FIELD.MODAL.SUBSCRIPTIONS.EVENT_TYPE' | translate }}
                </th>
                <th scope="col" style="width: 25%">{{ 'MEMBER_ROLE_FIELD.MODAL.SUBSCRIPTIONS.MODE' | translate }}</th>
                <th scope="col" style="width: 25%">
                  {{ 'MEMBER_ROLE_FIELD.MODAL.SUBSCRIPTIONS.NB_CONTACTS' | translate }}
                </th>
                <th scope="col" style="width: 50px"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sub of memberRoleForm.get('subscriptions').value; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td class="text-center align-middle">{{ sub.event_type | listdico : 'SUBSCRIPTION_EVENT_TYPES' }}</td>
                <td class="text-center align-middle">{{ sub.mode | listdico : 'SUBSCRIPTION_MODES' }}</td>
                <td class="align-middle">
                  <i *ngIf="sub.use_member_role_contact" class="far fa-id-badge" aria-hidden="true"></i>
                  {{ sub.contacts?.length }}
                </td>
                <td class="align-middle">
                  <div *ngIf="!isDisabled" class="d-flex flex-row justify-content-center align-items-center">
                    <button class="btn btn-icon text-primary" (click)="doEditSubscription(i, sub)" type="button">
                      <i class="fas fa-edit" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-icon text-danger" (click)="doDeleteSubscription(i)" type="button">
                      <i class="fas fa-trash" aria-hidden="true"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="modal-footer">
    <div *ngIf="useCarrierAddress" class="btn-group btn-group-sm mr-auto">
      <button #saveButton type="button" class="btn dropdown-toggle btn-outline-secondary" [disabled]="memberRoleForm.invalid" (click)="doSaveAddressMenu(saveButton)">
        {{ 'COMMON.SAVE' | translate }}
      </button>
    </div>
    <button class="btn btn-outline-primary mr-1" type="button" (click)="goBack()">
      {{ (isDisabled ? 'COMMON.CLOSE' : 'COMMON.CANCEL') | translate }}
    </button>
    <button *ngIf="!isDisabled" class="btn btn-primary ml-1" type="submit" [disabled]="memberRoleForm.invalid">
      {{ 'COMMON.VALIDATE' | translate }}
    </button>
  </div>
</form>
