<div class="modal-header">
  <h4 class="modal-title">{{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.TITLE' | translate }} "{{ contract?.name }}"</h4>
  <button type="button" class="close" aria-label="Close" (click)="goBack()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="contractVersionForm" (ngSubmit)="doSave()" novalidate>
  <div class="modal-body">
    <div class="form-row">
      <div class="col-12">
        <div class="form-group w-100 mb-0">
          <div class="mb-1">{{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.SELECT_VERSION_MESSAGE' | translate }}</div>
          <select class="form-control custom-select" id="versionFormControlSelect" formControlName="_id">
            <ng-container *ngIf="contract?.type === 'TRSP_ROAD'">
              <option *ngFor="let version of contract?.transport_road?.versions; let i = index" [ngValue]="version._id">
                <b>#{{ i + 1 }}</b>
                ( {{ version.date_start | dateTranslate : 'date' : null }}
                <ng-container *ngIf="version.date_end"> &rarr; {{ version.date_end | dateTranslate : 'date' : null }} </ng-container>
                )
              </option>
            </ng-container>
            <ng-container *ngIf="contract?.type === 'MEANS_ROAD'">
              <option *ngFor="let version of contract?.means_road?.versions; let i = index" [ngValue]="version._id">
                <b>#{{ i + 1 }}</b>
                ( {{ version.date_start | dateTranslate : 'date' : null }}
                <ng-container *ngIf="version.date_end"> &rarr; {{ version.date_end | dateTranslate : 'date' : null }} </ng-container>
                )
              </option>
            </ng-container>
          </select>
        </div>
      </div>
    </div>
    <hr />
    <div class="mb-2">{{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.CUSTOMIZE_DECLARATION' | translate }}</div>
    <div class="form-row" [class.disabled]="isDisabled">
      <div class="col-12">
        <ng-container formGroupName="transport_road">
          <mcit-simple-accordion #damageDeclarationAccordion class="my-accordion" [open]="false">
            <div simple-accordion-header class="my-accordion-header d-flex flex-row justify-content-between align-items-center mx-1 mb-1 bg-light">
              <div class="my-title d-flex align-items-center">
                <i class="far fa-fw" aria-hidden="true" [ngClass]="damageDeclarationAccordion.open ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                <h5 class="m-2"><i class="fal fa-car-crash m-2"></i>{{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.DECLARE_DAMAGES_MESSAGE' | translate }}</h5>
              </div>
            </div>
            <ng-container formGroupName="inspections">
              <div class="form-row">
                <div class="col-6 col-lg-6">
                  <div class="d-flex flex-row form-control justify-content-center align-items-center" formGroupName="pickup">
                    <ui-switch id="damageOnPickup1" color="#31394D" size="small" formControlName="damages" [mcitDisableControl]="isDisabled"></ui-switch>
                    <span class="ml-2 font-weight-bold">{{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.IN_PICKUP' | translate }}</span>
                  </div>
                </div>
                <div class="col-6 col-lg-6 mb-2">
                  <div class="d-flex flex-row form-control justify-content-center" formGroupName="delivery">
                    <ui-switch id="damageOnPickup2" color="#31394D" size="small" formControlName="damages" [mcitDisableControl]="isDisabled"></ui-switch>
                    <span class="ml-2 font-weight-bold">{{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.IN_DELIVERY' | translate }}</span>
                  </div>
                </div>
              </div>
            </ng-container>
          </mcit-simple-accordion>
          <mcit-simple-accordion #extraServicesAccordion class="my-accordion" [open]="false">
            <div simple-accordion-header class="my-accordion-header d-flex flex-row justify-content-between align-items-center mx-1 mb-1 bg-light">
              <div class="my-title d-flex align-items-center">
                <i class="far fa-fw" aria-hidden="true" [ngClass]="extraServicesAccordion.open ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                <h5 class="m-2">
                  <i class="fal fa-cart-plus m-2" aria-hidden="true"></i>
                  {{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.DECLARE_SERVICES_MODAL' | translate }}
                  <ng-container *ngIf="contract?.transport_road?.service_type"> - {{ 'SERVICE_TYPES.' + contract?.transport_road?.service_type | translate }} </ng-container>
                </h5>
              </div>
            </div>
            <div class="mb-2 form-row justify-content-around">
              <div class="col-5 d-flex flex-column justify-content-center">
                <label for="ref_service_name">{{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.SERVICE_COMMON_LABEL' | translate }}</label>
                <div class="input-group mb-1">
                  <ng-template #customItemTemplate let-service="item">
                    {{ service.code }} - {{ service.name | meaning }} <br />
                    <small>{{ service.description | meaning }}</small>
                  </ng-template>
                  <input
                    id="ref_service_name"
                    name="ref_service_name"
                    class="form-control"
                    formControlName="refServiceName"
                    placeholder="{{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.SERVICE_FROM_REFERENTIAL_PLACEHOLDER' | translate }}"
                    autocomplete="off"
                    type="text"
                    maxlength="256"
                    [typeahead]="dataSource"
                    [typeaheadOptionField]="'ref_service_name'"
                    (typeaheadLoading)="doChangeLoading($event)"
                    [typeaheadItemTemplate]="customItemTemplate"
                    (typeaheadOnSelect)="doSelected($event)"
                    [typeaheadMinLength]="0"
                  />
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="far" [ngClass]="loadingServices ? 'fa-spinner fa-pulse' : 'fa-search fa-sm'"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-5 d-flex flex-column">
                <label>{{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.SERVICE_CUSTOM_LABEL' | translate }}</label>
                <button class="border btn btn-icon text-primary w-100" type="button" (click)="doAddCustomService()">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  <span class="ml-1">{{ 'COMMON.ADD' | translate }}</span>
                </button>
              </div>
              <div *ngIf="contractVersionForm.get(['transport_road', 'services'])['controls'].length > 0" class="col-12 row">
                <div class="col-1"></div>
                <div class="col-4">{{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.SERVICE_NAME' | translate }}</div>
                <div class="col-1-5">{{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.PRICE' | translate }}</div>
                <div class="col-1-5">{{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.OPTION_INCLUDED' | translate }}</div>
                <div class="col-1-5">{{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.DEROGATORY_ARTICLE' | translate }}</div>
                <div class="col-1-5">{{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.ACTIVITY_CODE' | translate }}</div>
                <div class="col-1"></div>
              </div>
              <div class="col-12" formArrayName="services">
                <div cdkDropList class="m-1" (cdkDropListDropped)="drop($event, contractVersionForm.get(['transport_road', 'services'])['controls'])">
                  <div class="box-grouped-checks" *ngFor="let service of contractVersionForm.get(['transport_road', 'services'])['controls']; let j = index" [formGroupName]="j" cdkDrag>
                    <div class="form-inline p-1 justify-content-around">
                      <button class="btn btn-icon fas fa-grip-lines col-1" style="cursor: move"></button>
                      <ng-container formGroupName="name">
                        <input type="text" [id]="'name_' + j" class="form-control col-4" placeholder="{{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.SERVICE_NAME' | translate }}" formControlName="{{ currentLang }}" required />
                      </ng-container>
                      <div class="col-1-5 d-flex form-control justify-content-end">
                        <input class="w-100 price" type="number" min="0" [id]="'price_' + j" formControlName="price" required />
                        <span class="font-weight-bold">{{ contract.currency }}</span>
                      </div>
                      <div class="col-1-5 d-flex flex-row form-control justify-content-center">
                        <ui-switch [id]="'mandatoryService_' + j" color="#31394D" size="small" formControlName="mandatory" [mcitDisableControl]="isDisabled"></ui-switch>
                        <span class="ml-2 font-weight-bold" [ngClass]="service.get('mandatory').value ? 'text-body' : 'text-secondary'">{{
                          (service.get('mandatory').value ? 'COMMON_CONTRACTS.INSPECTIONS_MODAL.INCLUDED' : 'COMMON_CONTRACTS.INSPECTIONS_MODAL.OPTIONAL') | translate
                        }}</span>
                      </div>
                      <ng-container formGroupName="derogatory">
                        <select formControlName="article_code" class="form-control custom-select col-1-5">
                          <option [value]="''">{{ 'COMMON.NONE' | translate }}</option>
                          <option *ngFor="let article of articleCodes" [value]="article" [selected]="service | derogatoryInfosService : 'article_code' : article">
                            {{ 'ARTICLE_CODES.' + article | translate }}
                          </option>
                        </select>
                        <select formControlName="activity_code" class="form-control custom-select col-1-5">
                          <option [value]="''">{{ 'COMMON.NONE' | translate }}</option>
                          <option *ngFor="let activity of activityCodes" [value]="activity" [selected]="service | derogatoryInfosService : 'activity_code' : activity">
                            {{ 'ACTIVITY_CODES.' + activity | translate }}
                          </option>
                        </select>
                      </ng-container>
                      <button class="btn btn-icon text-danger col-1" type="button" (click)="doDeleteCustomService(j)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mcit-simple-accordion>
          <mcit-simple-accordion #expenseEntryAccordion class="my-accordion" [open]="false">
            <div simple-accordion-header class="my-accordion-header d-flex flex-row justify-content-between align-items-center mx-1 mb-1 bg-light">
              <div class="my-title d-flex align-items-center">
                <i class="far fa-fw" aria-hidden="true" [ngClass]="expenseEntryAccordion.open ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                <h5 class="m-2">
                  <span class="fa-stack small">
                    <i class="fal fa-file fa-stack-2x"></i>
                    <i class="fa fa-euro-sign fa-stack-1x"></i>
                  </span>
                  {{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.EXPENSES_REINVOICING' | translate }}
                </h5>
              </div>
            </div>
            <div class="col-12" formArrayName="expenses_reinvoicing_rules">
              <div *ngFor="let group of expensesTypesGroupsOptions; let i = index" [formGroupName]="i">
                <div class="row">
                  <div class="col-6">{{ group.groupName.meaning | translate }}</div>
                  <ng-container *ngIf="i === 0">
                    <div class="col-3 text-center"></div>
                    <div class="col-1-5">{{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.DEROGATORY_ARTICLE' | translate }}</div>
                    <div class="col-1-5">{{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.ACTIVITY_CODE' | translate }}</div>
                  </ng-container>
                </div>

                <div *ngFor="let option of group.options; let j = index" class="row pl-3" [formGroupName]="j">
                  <div class="col-6 form-control" style="justify-content: space-between">
                    {{ option.meaning | translate }}
                    <ui-switch style="float: right" color="#31394D" size="small" formControlName="invoicing"></ui-switch>
                  </div>
                  <div class="col-1"></div>
                  <ng-container *ngIf="this.contractVersionForm.get(['transport_road', 'expenses_reinvoicing_rules', i, j, 'invoicing']).value">
                    <div class="col-2 d-flex form-control justify-content-end">
                      {{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.MARK_UP' | translate }} :&nbsp; <input type="number" class="w-10 price" min="0" max="100" formControlName="mark_up" />%
                    </div>

                    <select formControlName="derogatory_article" class="form-control custom-select col-1-5">
                      <option [value]="''">{{ 'COMMON.NONE' | translate }}</option>
                      <option *ngFor="let article of articleCodes" [value]="article" [selected]="service | derogatoryInfosService : 'derogatory_article' : article">
                        {{ 'ARTICLE_CODES.' + article | translate }}
                      </option>
                    </select>
                    <select formControlName="derogatory_activity_code" class="form-control custom-select col-1-5">
                      <option [value]="''">{{ 'COMMON.NONE' | translate }}</option>
                      <option *ngFor="let activity of activityCodes" [value]="activity" [selected]="service | derogatoryInfosService : 'derogatory_activity_code' : activity">
                        {{ 'ACTIVITY_CODES.' + activity | translate }}
                      </option>
                    </select>
                  </ng-container>
                </div>
              </div>
            </div>
          </mcit-simple-accordion>
        </ng-container>
        <div class="mt-4" *ngIf="groupedChecks">
          <mcit-simple-accordion #inpsectionSettingsAccordion class="my-accordion" [open]="false">
            <div simple-accordion-header class="my-accordion-header d-flex flex-row justify-content-between align-items-center mx-1 mb-1 bg-light">
              <div class="my-title d-flex align-items-center">
                <i class="far fa-fw" aria-hidden="true" [ngClass]="inpsectionSettingsAccordion.open ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                <h5 class="m-2"><i class="fal fa-list m-2"></i>>{{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.DECLARE_CHECKS_MESSAGE' | translate }}</h5>
              </div>
            </div>
            <div class="my-2">
              <div class="d-flex flex-column">
                <div class="d-flex justify-content-end">
                  <div class="text-center font-weight-bold" style="width: 120px">
                    {{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.IN_PICKUP' | translate }}
                  </div>
                  <div class="text-center font-weight-bold" style="width: 120px">
                    {{ 'COMMON_CONTRACTS.INSPECTIONS_MODAL.IN_DELIVERY' | translate }}
                  </div>
                </div>
                <div cdkDropList (cdkDropListDropped)="drop($event, groupedChecks)">
                  <div class="d-flex flex-column box-grouped-checks" *ngFor="let checkArray of groupedChecks; let i = index" cdkDrag>
                    <div class="d-flex">
                      <div class="col-auto bg-white">
                        <button class="btn btn-icon fas fa-grip-lines" style="cursor: move"></button>
                      </div>
                      <div class="pt-2 bg-white flex-grow-1 flex-shrink-0 font-weight-bold" (click)="!isDisabled ? (isGroupExpanded[i] = !isGroupExpanded[i]) : null" [ngClass]="{ 'cursor-pointer': !isDisabled }">
                        <i class="fal" aria-hidden="true" [ngClass]="isGroupExpanded[i] ? 'fa-minus-square' : 'fa-plus-square'"></i>
                        {{ checkArray.key }}
                      </div>
                      <div class="pt-2 bg-white flex-grow-0 flex-shrink-0 d-flex justify-content-center" style="width: 120px">
                        <ui-switch id="damageOnPickup{{ i }}" color="#31394D" size="small" (valueChange)="onGroupChange($event, checkArray.value, 'pickup')" [checked]="isGroupChecked(checkArray.value, 'pickup')" [disabled]="isDisabled">
                        </ui-switch>
                      </div>
                      <div class="pt-2 bg-white flex-grow-0 flex-shrink-0 d-flex justify-content-center" style="width: 120px">
                        <ui-switch
                          id="damageOnDelivery{{ i }}"
                          color="#31394D"
                          size="small"
                          (valueChange)="onGroupChange($event, checkArray.value, 'delivery')"
                          [checked]="isGroupChecked(checkArray.value, 'delivery')"
                          [disabled]="isDisabled"
                        >
                        </ui-switch>
                      </div>
                    </div>
                    <div *ngIf="isGroupExpanded[i]" cdkDropList (cdkDropListDropped)="drop($event, checkArray.value)">
                      <div *ngFor="let check of checkArray.value" class="d-flex box-check-array" style="border-left: 1px solid rgba(128, 128, 128, 0.3); border-bottom: 1px solid rgba(128, 128, 128, 0.3)" cdkDrag>
                        <div class="flex-grow-1 flex-shrink-0 d-flex" style="line-height: 1.5">
                          <div class="pl-5 d-flex align-items-center">
                            <ng-container *ngIf="checkArray.value.length > 1">
                              <button class="btn btn-icon fas fa-grip-lines" style="cursor: move"></button>
                            </ng-container>
                            <div class="d-flex flex-column">
                              <div class="d-flex">
                                <ng-container *ngIf="getResponseType(check.type) === 'multi_answers'" class="pl-5 pt-1 pb-1 text-secondary">
                                  <i class="far fa-check-square fa-lg pt-1" aria-hidden="true"></i>
                                </ng-container>
                                <ng-container *ngIf="getResponseType(check.type) === 'unique_answer'" class="pl-5 pt-1 pb-1">
                                  <i class="far fa-scrubber fa-lg pt-1" aria-hidden="true"></i>
                                </ng-container>
                                <ng-container *ngIf="getResponseType(check.type) === 'yes_no'" class="pl-5 pt-1 pb-1">
                                  <i class="fal fa-toggle-on fa-lg pt-1" aria-hidden="true"></i>
                                </ng-container>
                                <ng-container *ngIf="getResponseType(check.type) === 'free_text'" class="pl-5 pt-1 pb-1">
                                  <i class="fal fa-comment-lines fa-lg pt-1" aria-hidden="true"></i>
                                </ng-container>
                                <ng-container *ngIf="getResponseType(check.type) === 'attachment'" class="pl-5 pt-1 pb-1">
                                  <i class="fal fa-images fa-lg pt-1" aria-hidden="true"></i>
                                </ng-container>
                                &nbsp;{{ (check[check.type].check_name | meaning) !== '!NOTHING_LABEL!' ? (check[check.type].check_name | meaning) : 'N/A' }}
                              </div>
                              <small class="d-flex">
                                <ng-container *ngIf="check.type === 'unique_answer' || check.type === 'multi_answers'">
                                  (
                                  <ng-container *ngFor="let choice of check[check.type].choices; last as isLast">
                                    {{ choice.choice | meaning }}
                                    <ng-container *ngIf="!isLast">,</ng-container>
                                  </ng-container>
                                  )
                                </ng-container>
                              </small>
                            </div>
                          </div>
                        </div>
                        <div class="pt-1 pb-1 flex-grow-0 flex-shrink-0 d-flex justify-content-center" style="width: 120px">
                          <ui-switch id="damageOnPickup3" color="#ccc" size="small" (valueChange)="onCheckChange($event, check, 'pickup')" [checked]="isCheckChecked(check, 'pickup')" [disabled]="isDisabled"> </ui-switch>
                        </div>
                        <div class="pt-1 pb-1 flex-grow-0 flex-shrink-0 d-flex justify-content-center" style="width: 120px">
                          <ui-switch id="damageOnDelivery" color="#ccc" size="small" (valueChange)="onCheckChange($event, check, 'delivery')" [checked]="isCheckChecked(check, 'delivery')" [disabled]="isDisabled"> </ui-switch>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mcit-simple-accordion>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-outline-primary mr-1" type="button" (click)="goBack()">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button class="btn btn-primary ml-1" type="submit" [disabled]="contractVersionForm.invalid">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</form>
