<div class="layout-container">
  <mat-toolbar class="layout-toolbar notch-header-back-layout-component">
    <mat-toolbar-row class="position-relative">
      <ng-container *ngIf="!title">
        <img class="my-logo py-2 d-md-none" src="./assets/layout/logo-mobile.png" alt="Logo Moveecar Dispatcher" />
        <img class="my-logo py-2 d-none d-md-inline-block" src="./assets/layout/logo-desktop.png" alt="Logo Moveecar Dispatcher" />
      </ng-container>
      <div class="my-content d-flex flex-row align-items-center w-100">
        <button *ngIf="!noBackButton" class="btn btn-icon back-button" (click)="doBack()">
          <i class="fal fa-arrow-left fa-2x" aria-hidden="true"></i>
        </button>
        <div *ngIf="title" class="d-flex flex-row align-items-baseline my-title minw-0">
          <span class="text-truncate font-weight-bold">{{ title }}</span>
          <span class="mcit-text-jaune-gefco font-weight-bold">&nbsp;/&nbsp;</span>
          <span class="text-truncate font-weight-light">{{ subtitle }}</span>
        </div>
        <ng-template cdkPortalOutlet></ng-template>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="layout-content notch-back-layout-component" cdkScrollable mcitContainer>
    <router-outlet></router-outlet>
    <div class="w-100 down-block notch-down-block-back-layout-component"></div>
  </div>
</div>
