@import '../../../../variables';

.layout-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .layout-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    padding-top: 0;

    background-color: $header-background-color;

    @include mcit-header-toolbar();

    .my-content {
      z-index: 1;

      .my-title {
        @include font(300, 16, 18);

        @include media-breakpoint-up(md) {
          @include font(300, 18, 20);
        }
      }

      .back-button {
        margin-right: 20px;
      }
    }

    .my-logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $mat-toolbar-row;
      object-fit: contain;
      z-index: 0;

      @include media-breakpoint-up(md) {
        height: $mat-toolbar-row-md;
      }
    }
  }

  .layout-content {
    position: relative;
    //overflow: auto;
    //overflow-x: hidden;
    padding: 16px 0 0 0;
    z-index: 1;

    margin-top: $mat-toolbar-row;
    margin-bottom: 0;
    height: calc(100% - #{$mat-toolbar-row});

    @include media-breakpoint-up(md) {
      margin-top: $mat-toolbar-row-md;
      height: calc(100% - #{$mat-toolbar-row-md});
    }

    .down-block {
      height: 16px;

      @include media-breakpoint-up(md) {
        height: 0;
      }
    }
  }
}
