<div class="modal-header">
  <h4 class="modal-title">
    {{ pdf.name }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <b aria-hidden="true">&times;</b>
  </button>
</div>
<div class="modal-body">
  <pdf-viewer [src]="pdf.content" [render-text]="true" [original-size]="false" class="pdf-viewer"></pdf-viewer>
</div>
<div class="modal-footer d-flex justify-content-end align-items-center">
  <button class="btn btn-outline-primary mr-1" type="button" (click)="doClose()">
    {{ 'COMMON.CLOSE' | translate }}
  </button>
</div>
