<div class="row" *ngIf="displaySwitchWheelPositionButton">
  <div class="col-12 text-center">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn" [ngClass]="wheelPosition === wheelPositionTypes.LEFT ? 'btn-secondary' : 'btn-outline-secondary'">
        <input type="radio" name="options" id="option1" value="{{ wheelPositionTypes.LEFT }}" [ngModel]="wheelPosition" (ngModelChange)="doChangeWheelPosition($event)" [checked]="wheelPosition === 'L'" />
        <i class="far fa-steering-wheel"></i>
        {{ 'COMMON.LEFT' | translate }}
      </label>
      <label class="btn" [ngClass]="wheelPosition === wheelPositionTypes.RIGHT ? 'btn-secondary' : 'btn-outline-secondary'">
        <input type="radio" name="options" id="option2" value="{{ wheelPositionTypes.RIGHT }}" [ngModel]="wheelPosition" (ngModelChange)="doChangeWheelPosition($event)" [checked]="wheelPosition === 'R'" />
        {{ 'COMMON.RIGHT' | translate }}
        <i class="far fa-steering-wheel"></i>
      </label>
    </div>
  </div>
</div>
<mcit-svg-map
  #svg
  [zones]="zones"
  [points]="points"
  [viewportWidth]="viewportWidth"
  [viewportHeight]="viewportHeight"
  [svgSource]="svgSource"
  (pointAdded)="damageLocationAddedFct($event, svg.selectedZone)"
  (pointSelected)="damageLocationSelectedFct($event, svg.selectedZone)"
  class="d-block"
></mcit-svg-map>
<button style="border-radius: 100%; aspect-ratio: 1;" *ngIf="svgComponentType === 'COMPOUND' && editable" type="button" class="btn btn-primary mx-auto mb-4 d-block rounded-pill" (click)="addDamageWithoutLocation()">
  <i class="far fa-plus fa-fw" aria-hidden="true"></i>
</button>