<div [formGroup]="groupForm">
  <div *ngIf="filterConfig.custom.data?.params?.display?.referential ?? true">
    <div class="form-row">
      <div class="col-11">
        <div class="input-group input-group-sm border-force mt-1">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <div *ngIf="!waitingReferentials" class="medium-font-size">{{ 'FILTER_REFERENTIAL.REFERENTIAL' | translate }}</div>
              <i *ngIf="waitingReferentials" class="fa-fw" [ngClass]="'far fa-spinner fa-pulse'"></i>
            </span>
          </div>
          <input
            [mcitDisableControlNoEvent]="groupForm.get('checkboxChecked')?.value === true"
            (focus)="referentialOnFocus()"
            (blur)="inputOnBlur()"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            autocomplete="off"
            placeholder="{{ 'COMMON.SEARCH' | translate }}"
            class="form-control medium-font-size"
            formControlName="referential"
          />
          <div *ngIf="this.groupForm.get('referential').value" class="input-group-append">
            <button class="btn btn-outline-secondary last-child-form-control medium-font-size" type="button" (click)="doClear('referential')" tabindex="-1">
              <i class="far fa-times"></i>
            </button>
          </div>
        </div>
        <ul *ngIf="referentials && referentials.length > 0; else referentialEmpty" class="nav flex-column border mt-1 text-truncate">
          <li *ngFor="let l of referentials">
            <button class="dropdown-item" type="button" (click)="doReferentialSelected(l)">
              <div class="d-flex flex-column">
                <div style="flex: 1.5">{{ l.name }}</div>
                <div class="font-weight-light" style="flex: 0.5; font-size: 80%">{{ l.description }}</div>
              </div>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-row" *ngIf="referentialsList?.length > 0">
      <div class="col-11">
        <div class="d-flex flex-row flex-wrap grey-background pl-1 pr-1">
          <div *ngFor="let referentialElement of referentialsList; let i = index" class="filter-list-container btn-group btn-group-sm">
            <div class="filter-list-element pl-1">{{ referentialElement.name }}&nbsp;<i style="cursor: pointer" class="pl-1 pr-1 far fa-times" (click)="doRemove(referentialsList, i)"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="filterConfig.custom.data?.params?.display?.damage ?? true">
    <div class="form-row">
      <div class="col-11">
        <div class="input-group input-group-sm border-force mt-1">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <div *ngIf="!waitingDamages" class="medium-font-size">{{ 'FILTER_REFERENTIAL.DAMAGE_CLASS' | translate }}</div>
              <i *ngIf="waitingDamages" class="fa-fw" [ngClass]="'far fa-spinner fa-pulse'"></i>
            </span>
          </div>
          <input
            [mcitDisableControlNoEvent]="referentialsList?.length === 0"
            (focus)="damageOnFocus()"
            (input)="damageOnFocus()"
            (blur)="inputOnBlur()"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            autocomplete="off"
            placeholder="{{ 'COMMON.SEARCH' | translate }}"
            class="form-control medium-font-size"
            formControlName="damage"
          />
          <div *ngIf="this.groupForm.get('damage').value" class="input-group-append">
            <button class="btn btn-outline-secondary last-child-form-control medium-font-size" type="button" (click)="doClear('damage')" tabindex="-1">
              <i class="far fa-times"></i>
            </button>
          </div>
        </div>
        <ul *ngIf="damages && damages.length > 0; else damageEmpty" class="nav flex-column border mt-1 text-truncate">
          <li *ngFor="let l of damages">
            <button class="dropdown-item" type="button" (click)="doDamageSelected(l)">
              <div class="d-flex flex-column">
                <div style="flex: 1.5">{{ l.meaning }}{{ ' (' + l.code + ')' }}</div>
              </div>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-row" *ngIf="damagesList?.length > 0">
      <div class="col-11">
        <div class="d-flex flex-row flex-wrap grey-background pl-1 pr-1">
          <div *ngFor="let damageElement of damagesList; let i = index" class="filter-list-container btn-group btn-group-sm">
            <div class="filter-list-element pl-1">{{ damageElement.meaning }}{{ ' (' + damageElement.code + ')' }}&nbsp;<i style="cursor: pointer" class="pl-1 pr-1 far fa-times" (click)="doRemove(damagesList, i)"></i></div>
          </div>
        </div>
      </div>
      <div *ngIf="damagesList?.length > 1" class="col-1 d-flex align-items-center">
        <div class="clear-list">
          <i style="cursor: pointer" class="far fa-times" (click)="doClearList(damagesList)"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #referentialEmpty>
  <div *ngIf="groupForm.get('referential').value || waitingReferentials" class="d-flex flex-row justify-content-center mt-1">
    <span class="font-italic font-weight-light small">{{ waiting ? '...' : ('COMMON.EMPTY_RESULT' | translate) }}</span>
  </div>
</ng-template>
<ng-template #damageEmpty>
  <div *ngIf="groupForm.get('damage').value || waitingDamages" class="d-flex flex-row justify-content-center mt-1">
    <span class="font-italic font-weight-light small">{{ waiting ? '...' : ('COMMON.EMPTY_RESULT' | translate) }}</span>
  </div>
</ng-template>
