@import '../../../variables';

.my-text-line {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    align-items: center;
  }

  & > .title {
    font-size: 0.75rem;
    font-weight: 300;
    font-style: italic;
    text-wrap: none;
  }

  & > .text {
    margin-left: 0.5rem;
    text-align: right;

    @include media-breakpoint-up(lg) {
      flex-grow: 1;
      overflow-wrap: anywhere;
    }
  }
}