@import '../../../variables';

.my-header {
  cursor: pointer;
  user-select: none;

  &.disabled {
    pointer-events: none;
    cursor: auto;
    opacity: .5;
  }
}

.my-sticky-top {
  top: var(--top, 3.5rem);
  position: -webkit-sticky;
  position: sticky;
  z-index: var(--zindex, 1020);
}

.d-grid {
  display: grid;
}

.my-height {
  height: 0;
  overflow: hidden;

  &.show {
    height: auto;
  }
}