:host {
  background: rgba(0, 68, 147, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.13);
  display: block;
  height: 100%;
  border-radius: 3px;
}
h4 {
  font-size: 1em;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 15px 15px 0 15px;
}
.reset {
  color: rgb(0, 68, 147);
  margin-right: 15px;
  cursor: pointer;
}
