:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-style: dashed !important;
  min-height: 200px;
  height: 100%;
  cursor: copy;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: rgb(0, 68, 147);
  border-radius: 3px;
}
h3 {
  font-size: 1em;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
