<div class="d-flex flex-fill flex-column justify-content-center align-items-stretch" style="padding: 10px; height: 100%; width: 100%; box-sizing: border-box">
  <mcit-upload-zone
    [ngClass]="uploads.length ? 'hidden' : 'visible'"
    [endpoint]="endpoint"
    [fileExtensions]="fileExtensions"
    (fileUpload)="onUploadStarted($event)"
    [maxMegabytes]="maxMegabytes"
    [fontAwesomeIcon]="fontAwesomeIcon"
    [localizedDescription]="localizedDescription"
    [allowPipeToService]="allowPipeToService"
    [responseType]="uploadResponseType"
    [directory]="directory"
    [multiple]="multiple"
    [parallelism]="parallelism"
  >
    <ng-content select="[slot=upload-zone]"></ng-content>
  </mcit-upload-zone>

  <ng-content select="[slot=upload-footer]"></ng-content>

  <div *ngFor="let upload$ of uploads">
    <mcit-upload-progress *ngIf="(upload$ | async) !== null" [upload$]="upload$" (uploadEnded)="afterUpload($event, upload$)" (resetUpload)="reset($event, upload$)" (uploadError)="onUploadError($event, upload$)"></mcit-upload-progress>
  </div>
</div>
