<div [formGroup]="groupForm">
  <div class="input-group border-force input-group-sm mb-1" formGroupName="date">
    <input type="text" formControlName="value" class="form-control" autocomplete="off" [matDatepicker]="datePicker" placeholder="{{ 'SEARCH_FIELD.FILTERS.DATE.SITUATION' | translate }}" />
    <mat-datepicker #datePicker autoTouchUi></mat-datepicker>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary last-child-form-control" type="button" (click)="datePicker.open()" tabindex="-1">
        <i class="far fa-calendar-alt"></i>
      </button>
    </div>
  </div>
</div>
