@import '../../../variables';

:host {
  width: 100%;
  height: 100%;
}

.info-gesture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($body-color, .5);
  @include font(500, 20, 30);
  color: $white;
  text-align: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s ease;

  &.show {
    opacity: 1;
  }
}

.no-supported {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  @include font(500, 20, 30);
  color: $body-color;
  text-align: center;
}

.map-overlay {
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  position: absolute;
  min-width: 25px;
  top: 10px;
  left: 10px;
  padding: 10px;
  display: block;
  z-index: 99;
  word-break: break-word;

  &.close {
    width: 26px !important;
  }
}

.overlay-popup-toggle-button {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0 3px 0 0;
  cursor: pointer;
  background-color: transparent;
}

.map-container {
  ::ng-deep {
    .mapboxgl-canvas-container {
      height: 100%;
    }

    .mapboxgl-canvas {
      outline: none;
    }
  }
}
