<div #map class="map-container w-100 h-100">
  <div *ngIf="mapConfig.overlay" class="map-overlay" [ngClass]="{ close: !overlayIsOpen }">
    <button class="overlay-popup-toggle-button" type="button" (click)="toggleOverlay()">
      <i style="font-size: 14px" class="fas fa-info-circle"></i>
    </button>
    <div [style.display]="overlayIsOpen ? 'block' : 'none'" [innerHTML]="mapConfig.overlayHtmlContent"></div>
  </div>
</div>
<div class="info-gesture d-flex flex-column justify-content-center align-items-center p-2" [class.show]="useCTRL">
  <div class="w-100">{{ 'MAP_COMPONENT.USE_CTRL_WHEEL' | translate }}</div>
</div>
<div class="info-gesture d-flex flex-column justify-content-center align-items-center p-2" [class.show]="useTwoFingers">
  <div class="w-100">{{ 'MAP_COMPONENT.USE_TWO_FINGERS' | translate }}</div>
</div>
<div *ngIf="!supported" class="no-supported d-flex flex-column justify-content-center align-items-center p-2">
  <div class="w-100">{{ 'MAP_COMPONENT.NO_SUPPORTED' | translate }}</div>
</div>
