<ul class="nav d-flex flex-column">
  <ng-container *ngIf="list$ | async as tmp; else waiting">
    <li *ngFor="let option of tmp; let i = index" class="nav-item">
      <div class="custom-control custom-checkbox">
        <input [id]="key + '_' + (i + 1)" class="custom-control-input" type="checkbox" [checked]="codes && codes.indexOf(option.name) !== -1" (change)="doChangeCode(option.name, $event)" />
        <label [for]="key + '_' + (i + 1)" class="custom-control-label">{{ option.name }}</label>
      </div>
    </li>
  </ng-container>
  <ng-template #waiting>
    <div class="d-flex flex-row justify-content-center align-items-center">
      <i class="far fa-spin fa-sync-alt my-waiting"></i>
    </div>
  </ng-template>
</ul>
