<div class="modal-header" xmlns="http://www.w3.org/1999/html">
  <h4 class="modal-title">
    {{ 'PILOTING_COMPONENT.TRIP_REPORT_MODAL.TITLE' | translate : { trip_no: trip.trip_no } }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="d-flex flex-column" *ngIf="valuationTrspRoad?.contract && valuationTrspRoad?.pricings; else noContract">
    <h5 class="font-size-1 text-uppercase font-bold">{{ 'PILOTING_COMPONENT.TRIP_REPORT_MODAL.RESULT' | translate }} : {{ valuationTrspRoad.contract.name + ' - ' + valuationTrspRoad.contract.code }}</h5>
    <span> {{ 'PILOTING_COMPONENT.TRIP_REPORT_MODAL.OWNER' | translate }} : {{ valuationTrspRoad.contract.owner?.name }} </span>
    <span>
      {{ 'PILOTING_COMPONENT.TRIP_REPORT_MODAL.TOTAL_PRICE' | translate }} :
      {{ valuationTrspRoad.pricings?.root?.calculated_price ? (valuationTrspRoad.pricings.root.calculated_price + (valuationTrspRoad.pricings.root.delta_price ?? 0) | currency : currency) : '' }}
    </span>
  </div>

  <div class="d-flex flex-column">
    <h5 class="mt-5 font-size-1 text-uppercase">
      {{ 'PILOTING_COMPONENT.TRIP_REPORT_MODAL.TRIP_DATA' | translate }}
    </h5>
    <span *ngIf="oldTripContract; else noContract">
      {{ 'PILOTING_COMPONENT.TRIP_REPORT_MODAL.CURRENT_CONTRACT_DESCRIPTION' | translate }} : {{ oldTripContract.name + ' - ' + oldTripContract.code + ' (' + oldTripContract.owner?.name + ')' }}
    </span>
    <span> {{ 'PILOTING_COMPONENT.TRIP_REPORT_MODAL.CALCULATED_PRICE' | translate }} : {{ oldTrip.purchase_pricing?.calculated_price ? (oldTrip.purchase_pricing.calculated_price | currency : currency) : '' }} </span>
    <span *ngIf="oldTrip.purchase_pricing?.delta_price"> {{ 'PILOTING_COMPONENT.TRIP_REPORT_MODAL.DELTA_PRICE' | translate }} : {{ oldTrip.purchase_pricing.delta_price | currency : currency }} </span>
    <span> {{ 'PILOTING_COMPONENT.TRIP_REPORT_MODAL.CHARTER' | translate }} : {{ charter?.name + ' (' + charter?.code + ' - ' + charter?.gefco_code + ')' }} </span>
    <span> {{ 'PILOTING_COMPONENT.TRIP_REPORT_MODAL.SUPPLIER' | translate }} : {{ supplier?.name + ' (' + supplier?.code + ' - ' + supplier?.gefco_code + ')' }} </span>
  </div>

  <ng-template #noContract>
    <span class="text-warning"> {{ 'PILOTING_COMPONENT.TRIP_REPORT_MODAL.NO_CONTRACT' | translate }} </span>
  </ng-template>

  <div class="mt-5 text-danger" *ngIf="!contractsSameSupplier?.length && !contractsAllSupplier?.length">
    {{ 'PILOTING_COMPONENT.TRIP_REPORT_MODAL.NO_CONTRACT_FROM_TAXATION' | translate }}
  </div>

  <div class="mt-5" *ngIf="contractsSameSupplier?.length || contractsAllSupplier?.length">
    <h5 class="font-size-1 text-uppercase">
      {{ 'PILOTING_COMPONENT.TRIP_REPORT_MODAL.CONTRACTS_SAME_SUPPLIER' | translate }}
    </h5>
    <div *ngIf="contractsSameSupplier?.length">
      <mcit-table [options]="tableContracts" [items]="contractsSameSupplier">
        <ng-template mcitColumnCustom="price" let-item="item">
          <ng-container [ngTemplateOutlet]="priceColumn" [ngTemplateOutletContext]="{ item: item }"></ng-container>
        </ng-template>
      </mcit-table>
    </div>
    <div class="text-warning" *ngIf="!contractsSameSupplier?.length">
      {{ 'PILOTING_COMPONENT.TRIP_REPORT_MODAL.NO_SAME_SUPPLIER' | translate }}
    </div>

    <div class="mt-5" *ngIf="contractsAllSupplier?.length">
      <h5 class="font-size-1 text-uppercase">
        {{ 'PILOTING_COMPONENT.TRIP_REPORT_MODAL.CONTRACTS_ALL_SUPPLIER' | translate }}
      </h5>
      <mcit-table [options]="tableContracts" [items]="contractsAllSupplier">
        <ng-template mcitColumnCustom="price" let-item="item">
          <ng-container [ngTemplateOutlet]="priceColumn" [ngTemplateOutletContext]="{ item: item }"></ng-container>
        </ng-template>
      </mcit-table>
    </div>
    <div class="mt-5 text-danger" *ngIf="contractOnSameRankError?.length; else noContractsAllSupplier">
      {{ 'PILOTING_COMPONENT.TRIP_REPORT_MODAL.RANK_ERROR' | translate }}
    </div>
    <ng-template #noContractsAllSupplier>
      <div class="text-warning" *ngIf="!contractsAllSupplier?.length && !valuationTrspRoad?.pricings">
        {{ 'PILOTING_COMPONENT.TRIP_REPORT_MODAL.NO_ALL_SUPPLIER' | translate }}
      </div>
    </ng-template>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-outline-primary mr-1" type="button" (click)="doClose()">
    {{ 'COMMON.OK' | translate }}
  </button>
</div>

<ng-template #priceColumn let-item="item">
  <div *ngIf="item.pricings?.root?.calculated_price" class="word-break text-center align-middle">
    <ng-container *ngIf="item.contract.transport_road?.service_type === 'VIN'">
      <div>
        {{ (item.pricings?.root?.calculated_price ? 'PILOTING_COMPONENT.TRIP_REPORT_MODAL.TAB_COLUMNS.CALCULATED_PRICE_TOTAL' : '') | translate }}
        {{ item.pricings?.root?.calculated_price | currency : item.contract?.currency }}
      </div>
      <div *ngFor="let pricing of item.pricings?.vehicles; let i = index">
        {{ 'PILOTING_COMPONENT.TRIP_REPORT_MODAL.TAB_COLUMNS.VEHICLE' | translate : { index: i } }}
        {{ pricing?.calculated_price | currency : item?.contract?.currency }}
      </div>
    </ng-container>
    <ng-container *ngIf="item.contract.transport_road?.service_type === 'TRIP'">
      <div>
        {{ (item.pricings?.root?.calculated_price ? 'PILOTING_COMPONENT.TRIP_REPORT_MODAL.TAB_COLUMNS.CALCULATED_PRICE_TOTAL' : '') | translate }}
        {{ item.pricings?.root?.calculated_price | currency : item.contract?.currency }}
      </div>
    </ng-container>
  </div>
</ng-template>
