<div class="mcit-dropdown-menu my-dropdown">
  <div #content class="px-2">
    <div class="position-relative">
      <div class="btn-toolbar justify-content-end">
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-icon btn-sm" (click)="import.click()" [mcitTooltip]="'TABLE_COMPONENT.SAVE.IMPORT' | translate">
            <i class="far fa-file-import" aria-hidden="true"></i>
            <input #import type="file" accept="application/json" class="my-input-file" (change)="doImport($event.target)" />
          </button>
          <button type="button" class="btn btn-icon btn-sm" (click)="doExport()" [mcitTooltip]="'TABLE_COMPONENT.SAVE.EXPORT' | translate" [disabled]="!(saveTableModel?.favorites?.length > 0)">
            <i class="far fa-file-export" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div>
        <h6 class="text-uppercase text-center">{{ 'TABLE_COMPONENT.SAVE.FAVORITES' | translate }}</h6>
        <ng-container *ngIf="favorites$ | async as tmp; else waiting">
          <div *ngIf="this.saveTableModel?.favorites?.length > per_page" class="mb-1">
            <div class="input-group input-group-sm my-search-favorites">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-search" aria-hidden="true"></i></span>
              </div>
              <input class="form-control" placeholder="{{ 'COMMON.SEARCH' | translate }}" type="text" [(ngModel)]="searchBox" (ngModelChange)="querySubject.next(searchBox)" />
              <div class="input-group-append">
                <button class="btn btn-outline-secondary last-child-form-control" type="button" (click)="doClearSearchBox()" tabindex="-1">
                  <i class="far fa-times" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="!tmp.length && searchBox" class="text-center">
            <h6>{{ 'COMMON.EMPTY_RESULT' | translate }}</h6>
            <h6 class="text-danger">{{ searchBox }}</h6>
          </div>
          <div *ngIf="!tmp.length && !searchBox">
            <div class="font-italic">{{ 'TABLE_COMPONENT.SAVE.NONE_FAVORITE' | translate }}</div>
          </div>
          <div class="my-group-item">
            <div *ngFor="let favorite of tmp" class="my-item d-flex flex-row align-items-stretch">
              <div class="flex-grow-1 cursor-pointer mr-1 d-flex flex-row align-items-center px-2 text-truncate my-select" (click)="doSelectFavorite(favorite)">
                <i class="far fa-star fa-sm mr-1" aria-hidden="true"></i>
                <span>{{ favorite.name }}</span>
              </div>
              <button class="btn btn-icon my-delete btn-sm" type="button" (click)="doDeleteFavorite(favorite)">
                <i class="fas fa-times" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div *ngIf="tmp && tmp.length > 0" class="mt-1">
            <mcit-pagination
              [options]="{
                page: page,
                total: total,
                totalPages: totalPages,
                per_page: per_page,
                showPerPageSelector: false,
                small: true
              }"
              (pageEvent)="doPage($event)"
            ></mcit-pagination>
          </div>
        </ng-container>
      </div>
    </div>
    <ng-template #waiting>
      <div class="d-flex flex-row justify-content-center align-items-center">
        <i class="far fa-spin fa-sync-alt my-waiting" aria-hidden="true"></i>
      </div>
    </ng-template>
  </div>
</div>
