@import "../../../../../variables";

.my-dropdown {
  overflow-y: auto;
  max-height: 100vh;
  min-width: 576px;
  max-width: 576px;
}

.my-title {
  &.not-empty {
    color: $bleu_primaire;
  }
}

.my-search-favorites {
  > .form-control,
  > .input-group-prepend > .btn,
  > .input-group-prepend > .input-group-text,
  > .input-group-append > .btn,
  > .input-group-append > .input-group-text {
    border-color: $gray-300 $gray-300 $gray-300 $gray-300
  }

  &:focus-within {
    > .form-control {
      &:not(:last-child):not(.last-child-form-control) {
        border-right-color: $gray-300;
      }

      &:not(:first-child) {
        border-left-color: $gray-300;
      }
    }
  }
}

:host {
  *:not(.my-waiting) {
    font-size: 0.875rem;
  }
}

.my-group-item {

  .my-item {
    .my-select {
      &:hover {
        background-color: $gray-300;
        border-radius: $border-radius;
      }
    }

    .my-delete {
      color: $gray-300;

      &:hover {
        color: $primary;
      }
    }
  }
}

.my-input-file {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: -1;
}