<ng-container [ngSwitch]="columnConfig | columngetorfn : 'boolean.value' : item : index | async">
  <ng-container *ngSwitchCase="true">
    <ng-container *ngIf="columnConfig.boolean.useIcon; else yesTextTemplate">
      <i class="far fa-check-circle" aria-hidden="true"></i>
    </ng-container>
    <ng-template #yesTextTemplate>
      {{ 'COMMON.YES' | translate }}
    </ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="false">
    <ng-container *ngIf="columnConfig.boolean.useIcon; else noTextTemplate"> </ng-container>
    <ng-template #noTextTemplate>
      {{ 'COMMON.NO' | translate }}
    </ng-template>
  </ng-container>
  <ng-container *ngSwitchDefault> </ng-container>
</ng-container>
