<div class="layout-container d-flex flex-column">
  <mcit-menu-sidenav #menuSidenav></mcit-menu-sidenav>
  <mat-toolbar class="layout-toolbar notch-header-menu-layout-component">
    <mat-toolbar-row class="position-relative">
      <ng-container *ngIf="!title">
        <img class="my-logo py-2 d-md-none" src="./assets/layout/logo-mobile.png" alt="Logo Moveecar Dispatcher" />
        <img class="my-logo py-2 d-none d-md-inline-block" src="./assets/layout/logo-desktop.png" alt="Logo Moveecar Dispatcher" />
      </ng-container>
      <div class="my-content d-flex flex-row align-items-center w-100">
        <button class="btn btn-icon menu-button" (click)="menuSidenav.doOpenSidenav()">
          <i class="fal fa-bars fa-2x" aria-hidden="true"></i>
        </button>
        <button *ngIf="backButton" class="btn btn-icon back-button" (click)="doBack()">
          <i class="fal fa-arrow-left fa-2x" aria-hidden="true"></i>
        </button>
        <div *ngIf="title" class="d-flex flex-row align-items-baseline my-title minw-0">
          <span class="text-truncate font-weight-bold">{{ title }}</span>
          <span class="mcit-text-jaune-gefco font-weight-bold">&nbsp;/&nbsp;</span>
          <span *ngIf="subtitle" class="text-truncate font-weight-light mr-2">{{ subtitle }}</span>
        </div>
        <ng-template cdkPortalOutlet></ng-template>
        <div *ngIf="useTabMenu" class="d-none d-md-block ml-auto mr-3">
          <mcit-tab-menu placement="top"></mcit-tab-menu>
        </div>
      </div>
      <div *ngIf="cordova" class="my-content d-flex flex-row align-items-center connection-status pr-5 cursor-pointer" (click)="doShowConnectionInfos()">
        <i *ngIf="syncStatus === SYNC_STATUS.in || syncStatus === SYNC_STATUS.out" class="fad fa-spin fa-sync-alt fa-xs off" aria-hidden="true"></i>
        <i class="fas fa-wifi fa-2x wifi grad" aria-hidden="true" [ngClass]="serverDown ? 'server-down' : networkStatus === NETWORK_STATUS.online ? 'online' : 'off'"></i>
        <i class="fas fa-arrow-up fa-2x up-arrow" aria-hidden="true" [ngClass]="syncStatus === SYNC_STATUS.out ? 'out' : 'off'"></i>
        <i class="fas fa-arrow-down fa-2x down-arrow" aria-hidden="true" [ngClass]="syncStatus === SYNC_STATUS.in ? 'in' : 'off'"></i>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="messageLayout" class="d-flex flex-row justify-content-center align-items-center message" [ngClass]="getTypeMessageLayoutClass()">
      <a *ngIf="messageLayout.link" [routerLink]="[messageLayout.link]">{{ messageLayout.messageKey | translate }}</a>
      <span *ngIf="!messageLayout.link">{{ messageLayout.messageKey | translate }}</span>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="messageLayout && !messageLayout.link && messageLayout.extraMessageKey" class="d-flex flex-row justify-content-center align-items-center message" [ngClass]="getTypeMessageLayoutClass()">
      <span>{{ messageLayout.extraMessageKey | translate }}</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mcit-tab-menu *ngIf="useTabMenu" class="d-block d-md-none layout-tab-menu notch-footer-menu-layout-component" placement="bottom"></mcit-tab-menu>
  <div class="my-layout-content notch-menu-layout-component" [class.offline]="messageLayout" cdkScrollable mcitContainer>
    <mcit-breadcrumbs></mcit-breadcrumbs>
    <div id="appBody" class="h-100">
      <router-outlet></router-outlet>
    </div>
    <!--mcit-footer class="d-none d-md-block"></mcit-footer-->
    <div class="w-100 down-block notch-down-block-menu-layout-component" [class.tabmenu]="useTabMenu"></div>
  </div>
</div>
