@import '../../../../variables';

.layout-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .layout-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    padding-top: 0;

    background-color: $header-background-color;

    @include mcit-header-toolbar();

    .my-content {
      z-index: 1;

      .my-title {
        @include font(300, 16, 18);

        @include media-breakpoint-up(md) {
          @include font(300, 18, 20);
        }
      }

      .menu-button {
        margin-right: 20px;
      }
    }

    .message {
      line-height: $menu-offline-height;
      height: $menu-offline-height;
      @include font(700, 14);

      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

      &.info {
        background-color: $vert-pomme;
        color: $body-color;
      }

      &.warning {
        background-color: $jaune-safran;
        color: $body-color;
      }

      &.error {
        background-color: $rouge-assistance;
        color: $white;
      }
    }

    .refresh {
      line-height: $menu-offline-height;
      height: $menu-offline-height;
      @include font(700, 14);
      box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.1);
      background-color: $background-color;
      color: $body-color;
    }

    .wifi {
      font-size: 1rem;
    }

    .up-arrow {
      font-size: 0.5rem;
    }

    .down-arrow {
      font-size: 0.5rem;
    }

    .server-down {
        color: $jaune-safran;
    }

    .online {
      color: $vert-pomme;
    }

    .off {
      color: $warm-gray_3;
    }

    .in {
      color: $bleu_primaire;
    }

    .out{
      color: $orange;
    }

    .connection-status {
      padding-bottom: 15px;
    }

    .my-logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $mat-toolbar-row;
      object-fit: contain;
      z-index: 0;

      @include media-breakpoint-up(md) {
        height: $mat-toolbar-row-md;
      }
    }
  }

  .layout-tab-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    padding-bottom: 0;

    background-color: $header-background-color;

    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .my-layout-content {
    position: relative;
    //overflow: auto;
    //overflow-x: hidden;
    padding: 16px 0 0 0;
    z-index: 1;
    overflow-y: scroll;
    -ms-overflow-y: scroll;

    margin-top: $mat-toolbar-row;
    margin-bottom: $tab-menu-height;
    height: calc(100% - #{$mat-toolbar-row + $tab-menu-height});

    @include media-breakpoint-up(md) {
      margin-top: $mat-toolbar-row-md;
      margin-bottom: 0;
      height: calc(100% - #{$mat-toolbar-row-md});
    }

    &.offline {
      margin-top: $mat-toolbar-row + $menu-offline-height;
      height: calc(100% - #{$mat-toolbar-row + $menu-offline-height + $tab-menu-height});

      @include media-breakpoint-up(md) {
        margin-top: $mat-toolbar-row-md + $menu-offline-height;
        height: calc(100% - #{$mat-toolbar-row-md + $menu-offline-height});
      }
    }

    .down-block {
      height: 16px;

      @include media-breakpoint-up(md) {
        height: 0;
      }

      &.tabmenu {
        height: $tab-menu-height + 16px;

        @include media-breakpoint-up(md) {
          height: 0;
        }
      }
    }
  }
}
