@import "../../../../../variables";

.my-dropdown {
  overflow-y: auto;
  max-height: 100vh;
  min-width: 767px;
  max-width: 767px;
}

.my-title {
  &.not-empty {
    color: $bleu_primaire;
  }
}

::ng-deep {
  .my-search-favorites {
    > .form-control,
    > .input-group-prepend > .btn,
    > .input-group-prepend > .input-group-text,
    > .input-group-append > .btn,
    > .input-group-append > .input-group-text {
      border-color: $gray-300 $gray-300 $gray-300 $gray-300
    }

    &:focus-within {
      > .form-control {
        &:not(:last-child):not(.last-child-form-control) {
          border-right-color: $gray-300;
        }

        &:not(:first-child) {
          border-left-color: $gray-300;
        }
      }
    }
  }
}
