.svg-map-wrapper {
  width: 100%;
  height: 100%;
  padding: 12px;

  .svg-map {
    display: block;

    .zone {
      fill: #ffffff;
      stroke: rgba(0, 0, 0, 0.5);
      stroke-width: 1;
      stroke-miterlimit: 10;
      stroke-linecap: round;
      stroke-linejoin: round;
      transition-property: stroke;
      transition-duration: 200ms;

      &.hovered:not(.background) {
        stroke: rgba(0, 0, 0, 1.0);
        stroke-width: 1.2;
        //fill: #e5e0df;
      }
    }

    .point {
      &.selected {
        circle {
          //fill: rgba(255, 0, 0, 0.6);
        }
      }

      &.hovered {
        &:not(.selected) {
          circle {
            //fill: rgba(0, 0, 255, 0.6);
          }
        }
      }

      circle {
        transition: fill 500ms;
        fill: #ffc107;
        cursor: pointer;
      }

      .label {
        stroke: black;
        cursor: pointer;
      }
    }
  }
}
