<div fxLayout="row" fxLayoutAlign="start center" class="svg-map-wrapper pl-1 pr-1">
  <svg (mouseenter)="selectedZone = null" class="svg-map" fxFlex="100">
    <use *ngFor="let background of backgrounds" class="background" [attr.xlink:href]="svgSource + '#' + background" />

    <use
      [id]="zone"
      *ngFor="let zone of zones"
      class="zone"
      (click)="selectedZone = zone && addPoint($event)"
      (mouseenter)="selectedZone = zone"
      [class.hovered]="selectedZone === zone"
      [attr.xlink:href]="svgSource + '#' + zone"
      pointer-events="bounding-box"
    />
  </svg>
</div>
