@import '../../../variables';

.my-items {
  .my-item {
    text-decoration: none;
    background-color: $white;
    border: 1px solid $gray-300;

    &:hover:not(.disable) {
      background-color: $gray-300;
    }

    &.active {
      background-color: $primary;
      color: $white;
    }

    &:not(:last-child) {
      border-right-width: 0;
    }

    &:focus {
      z-index: 1;
    }
  }

  &:not(:last-child) {
    .my-item {
      border-bottom-width: 0;
    }
  }

  &:first-child {
    .my-item:first-child {
      border-top-left-radius: 0.25rem;
    }

    .my-item:last-child {
      border-top-right-radius: 0.25rem;
    }
  }

  &:last-child {
    .my-item:first-child {
      border-bottom-left-radius: 0.25rem;
    }

    .my-item:last-child {
      border-bottom-right-radius: 0.25rem;
    }
  }
}