<div class="modal-header">
  <h4 class="modal-title">{{ 'COUNTRY-MODAL_COMPONENT.TITLE' | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()" tabindex="-1">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="input-group input-group-sm mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="far" [ngClass]="loading ? 'fa-spinner fa-pulse' : 'fa-search'" aria-hidden="true"></i></span>
    </div>
    <input
      id="search_country"
      name="search_country"
      type="text"
      class="form-control"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      autocomplete="off"
      placeholder="{{ 'COMMON.SEARCH' | translate }}"
      aria-label="Search"
      [(ngModel)]="searchBox"
      (ngModelChange)="querySubject.next(searchBox)"
      tabindex="0"
    />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="doClear()" tabindex="-1">
        <i class="far fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <ng-container *ngIf="searchBox && options.length === 0">
    <div class="card">
      <div class="card-body text-center">
        <div class="font-weight-light mb-2">
          {{ 'COMMON.EMPTY_RESULT' | translate }}
        </div>
        <h2 class="text-danger">{{ searchBox }}</h2>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="options.length >= 0">
    <div class="btn-toolbar justify-content-end mb-1">
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-link" (click)="doSelectAll()">
          {{ 'COMMON.SELECT_ALL' | translate }}
        </button>
        <button type="button" class="btn btn-link" (click)="doUnselectAll()">
          {{ 'COMMON.UNSELECT_ALL' | translate }}
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngFor="let os of options; let j = index">
    <div class="row my-items align-items-stretch no-gutters">
      <ng-container *ngFor="let option of os; let i = index">
        <a
          [id]="'item_' + option.code"
          href="javascript:void(0)"
          class="my-item col-12 col-md-6 col-lg-4 text-center d-flex flex-column justify-content-center"
          [class.active]="codes.indexOf(option.code) !== -1"
          (click)="doChooseOption(option)"
          tabindex="-1"
        >
          <div class="d-flex flex-row align-items-center">
            <div class="p-2 p-lg-1">
              <i class="flag-icon" [ngClass]="'flag-icon-' + option.flag" aria-hidden="true"></i>
            </div>
            <span class="flex-grow-1 p-2 p-lg-1 text-nowrap text-truncate">{{ option.name }}</span>
            <div class="p-2 p-lg-1">
              <i class="far fa-fw" [ngClass]="codes.indexOf(option.code) !== -1 ? 'fa-check' : 'fa-circle'" aria-hidden="true"></i>
            </div>
          </div>
        </a>
      </ng-container>
      <ng-container *ngIf="j === options.length - 1 && rest > 0">
        <div *ngFor="let option of rest | numarray" class="my-item col-12 col-md-6 col-lg-4 disable">&nbsp;</div>
      </ng-container>
    </div>
  </ng-container>
</div>
<div class="modal-footer">
  <button (click)="doFinishSelection()" type="button" class="btn btn-primary">{{ 'COMMON.SAVE' | translate }}</button>
</div>
