<div class="modal-header">
  <h4 class="modal-title">{{ 'EDIT-AVATAR-MODAL_COMPONENT.TITLE' | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div #container style="width: 100%">
    <img-cropper #imageCropperComponent [image]="cropperData" [settings]="cropperSettings" [cropper]="cropper"></img-cropper>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-primary mr-1" (click)="doClose()">{{ 'COMMON.CANCEL' | translate }}</button>
  <button class="btn btn-primary ml-1" (click)="doSave()">{{ 'COMMON.SAVE' | translate }}</button>
</div>
