<div *ngIf="contextContainer$ | async as contextContainer" [style.visibility]="contextData.hidden ? 'hidden' : 'visible'" class="input-group input-group-sm border-force">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="fas fa-building"></i></span>
  </div>
  <select [ngModel]="contextContainer.current" [compareWith]="compareContexts" class="custom-select custom-select-sm" (ngModelChange)="onChangeContext($event)">
    <option [ngValue]="context" *ngFor="let context of contextContainer.availables">
      {{ context?.name }}
    </option>
  </select>
</div>
