<ng-container *ngIf="result$ | async as result">
  <div class="my-notification-container d-flex flex-row" [class.my-open]="result.open" [class.my-none]="result.total === 0" [class.my-replay]="result.total > 0 && !result.open" (click)="doShowMessages(result.messageIds)">
    <div class="my-icon p-3" [class.my-warning]="result.message?.severity === 'WARN'" [class.my-important]="result.message?.severity === 'IMPORTANT'">
      <i class="far fa-bell fa-2x"></i>
    </div>
    <div class="my-message d-flex flex-column justify-content-center">
      <div class="my-title">{{ result.message?.objects | meaning }}</div>
      <div class="my-footer">
        {{ 'NOTIFICATION.BY_USER_DATE' | translate : { user: result.message?.from_name, date: (result.message?.created_date | dateTranslate : 'date_time') } }}
      </div>
    </div>
  </div>
</ng-container>
