@import '../../../variables';

$notif-width: 400px;
$notif-width-md: 300px;

.my-notification-container {
  position: fixed;
  right: -$notif-width-md;
  bottom: 10%;
  @include font(300, 20, 22);
  z-index: 500;
  transition: all 0.4s ease;
  cursor: pointer;

  @include media-breakpoint-up(md) {
    right: -$notif-width;
  }

  &:hover, &.my-open {
    right: 0;
  }

  &.my-none {
    right: calc(-#{$notif-width-md} - 70px);

    @include media-breakpoint-up(md) {
      right: calc(-#{$notif-width} - 70px);
    }
  }

  .my-icon {
    border: 1px solid $noir-bleu;
    border-radius: 100%;
    background-color: $noir-bleu;
    color: $white;
    margin-right: -35px;
    z-index: 1;

    &.my-warning {
      border-color: $jaune-safran;
      background-color: $jaune-safran;
    }

    &.my-important {
      border-color: $rouge-assistance;
      background-color: $rouge-assistance;
    }
  }

  .my-message {
    border: 1px solid $background-color;
    border-right: none;
    background-color: $white;
    padding: 8px 8px 8px calc(35px + 8px);
    width: $notif-width-md;

    @include media-breakpoint-up(md) {
      width: $notif-width;
    }

    .my-title {
      @include font(400, 20, 22);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 4px;
    }

    .my-footer {
      @include font(300, 14, 16);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
