<div class="modal-header">
  <h4 class="modal-title" *ngIf="data.type === 'INVOICING'; else publicHolidaysTitle">
    {{ 'CALENDARS.ADD_EDIT_CALENDARS_MODAL.' + (data.isEditForm ? 'EDIT' : 'ADD') + '_INVOICING_TITLE' | translate }}
  </h4>
  <ng-template #publicHolidaysTitle>
    <h4 class="modal-title">
      {{ 'CALENDARS.ADD_EDIT_CALENDARS_MODAL.ADD_PUBLIC_HOLIDAYS_TITLE' | translate }}
    </h4>
  </ng-template>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="calendarForm" (ngSubmit)="doSave()" novalidate>
  <div class="modal-body">
    <div class="form-row" *ngIf="data.type === 'INVOICING'">
      <div class="col-12 col-md-6 mb-2">
        <label for="code" class="mcit-mandatory">{{ 'CALENDARS.ADD_EDIT_CALENDARS_MODAL.CODE' | translate }}</label>
        <div class="input-group">
          <input type="text" id="code" class="form-control last-child-form-control" formControlName="code" [control-active]="(calendarForm.controls['code'].dirty && calendarForm.controls['code'].touched) || submitAttempt" />
          <div class="invalid-feedback">
            {{ 'CALENDARS.ADD_EDIT_CALENDARS_MODAL.CODE_REQUIRED' | translate }}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="name" class="mcit-mandatory">{{ 'CALENDARS.ADD_EDIT_CALENDARS_MODAL.NAME' | translate }}</label>
        <div class="input-group">
          <input
            id="name"
            name="name"
            class="form-control last-child-form-control"
            formControlName="name"
            type="text"
            maxlength="256"
            required
            autocomplete="no"
            [control-active]="(calendarForm.controls['name'].dirty && calendarForm.controls['name'].touched) || submitAttempt"
          />
          <div class="invalid-feedback">
            {{ 'CALENDARS.ADD_EDIT_CALENDARS_MODAL.NAME_REQUIRED' | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="form-row" *ngIf="data.type === 'PUBLIC_HOLIDAYS'">
      <div class="col-12">
        <label for="country" class="mcit-mandatory">{{ 'THIRD_PARTIES.MODAL.COUNTRY' | translate }}</label>
        <mcit-country-field id="country" formControlName="country" placeholder="{{ 'THIRD_PARTIES.MODAL.WRITE_COUNTRY' | translate }}" (countryEvent)="doCountryChange($event)" [submitAttempt]="submitAttempt" [required]="true">
        </mcit-country-field>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary mr-1" type="button" (click)="doClose()">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button class="btn btn-primary ml-1" type="submit" [disabled]="calendarForm.invalid">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</form>
