<form [formGroup]="pricingClientForm" (ngSubmit)="doSave()">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING_CLIENT.TITLE' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="goBack()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-row mb-2">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING_CLIENT.DESCRIPTION' | translate }}.</div>
    <div class="form-row">
      <div class="col">
        <select name="type" class="custom-select" formControlName="type">
          <option [value]="pricingType" *ngFor="let pricingType of pricingTypes">
            {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING_CLIENT.TYPE.' + pricingType | translate }}
          </option>
        </select>
      </div>
      <div class="col">
        <div class="input-group">
          <input [hidden]="this.pricingClientForm.get('type').value !== 'PERCENTAGE'" name="percentage" formControlName="percentage" type="number" class="form-control text-right" />
          <input [hidden]="this.pricingClientForm.get('type').value !== 'AMOUNT'" name="amount" formControlName="amount" type="number" class="form-control text-right" />
          <div class="input-group-prepend" *ngIf="this.pricingClientForm.get('type').value !== 'DEFAULT'">
            <span class="input-group-text">
              <span *ngIf="this.pricingClientForm.get('type').value === 'AMOUNT'">{{ this.modalData.currency }}</span>
              <span *ngIf="this.pricingClientForm.get('type').value === 'PERCENTAGE'">%</span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="modalData.purchaseOrSale === 'sale'">
      <ui-switch id="force-default-code" formControlName="price_mode_default_activity_code" color="#31394D" size="small"></ui-switch>
      <span class="ml-2" [class.font-weight-bold]="pricingClientForm.controls['price_mode_default_activity_code'].value" [ngClass]="pricingClientForm.get('price_mode_default_activity_code').value ? 'text-body' : 'text-secondary'">{{
        'COMMON_CONTRACTS.MODAL.VERSION.FORCE_DEFAULT_ACTIVITY_CODE' | translate
      }}</span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary mr-1" type="button" (click)="goBack()">
      {{ (modalData.isDisabled ? 'COMMON.CLOSE' : 'COMMON.CANCEL') | translate }}
    </button>
    <button *ngIf="!modalData.isDisabled" class="btn btn-primary ml-1" type="submit">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</form>
