<div #stickyPagination class="my-sticky">
  <div class="d-none m-2" [class.d-xl-block]="options?.sticky">
    <ng-container [ngTemplateOutlet]="pagesContainer"></ng-container>
  </div>
</div>
<div #pagination class="mt-1 mb-3">
  <ng-container [ngTemplateOutlet]="pagesContainer"></ng-container>
</div>
<ng-template #pagesContainer>
  <div class="d-flex flex-column flex-md-row align-items-center">
    <div *ngIf="!options?.small && !infMd; else smallNumbers">
      {{ (options?.totalPages === -1 ? 'PAGINATION_COMPONENT.PAGINATION_COUNT_WITHOUT_TOTAL' : 'PAGINATION_COMPONENT.PAGINATION_COUNT') | translate : { min: numMin, max: numMax, total: options?.total } }}
    </div>
    <ng-template #smallNumbers>
      <div style="font-size: 0.9rem">
        {{ (options?.totalPages === -1 ? 'PAGINATION_COMPONENT.SIMPLE_PAGINATION_COUNT_WITHOUT_TOTAL' : 'PAGINATION_COMPONENT.SIMPLE_PAGINATION_COUNT') | translate : { min: numMin, max: numMax, total: options?.total } }}
      </div>
    </ng-template>
    <div class="flex-grow-1 align-self-stretch">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end m-0" [class.pagination-sm]="options?.small">
          <li class="page-item" [class.disabled]="options?.page <= 1">
            <a class="page-link" href="javascript:void(0)" (click)="doPage(1)" aria-label="First page" [tabIndex]="options?.page <= 1 ? -1 : 0">
              <i class="fal fa-angle-double-left" aria-hidden="true"></i>
            </a>
          </li>
          <li class="page-item" [class.disabled]="options?.page <= 1">
            <a class="page-link" href="javascript:void(0)" (click)="doPage(options?.page - 1)" aria-label="Previous" [tabIndex]="options?.page <= 1 ? -1 : 0">
              <i class="fal fa-angle-left" aria-hidden="true"></i>
            </a>
          </li>
          <ng-container *ngIf="options?.showNumPageSelector">
            <li *ngIf="pages[0] > 1" class="page-item disabled">
              <a class="page-link" href="javascript:void(0)" tabindex="-1"> ... </a>
            </li>
            <li *ngFor="let p of pages" class="page-item" [class.active]="p === options?.page" (click)="doPage(p)">
              <a class="page-link" href="javascript:void(0)">
                {{ p }}
                <span *ngIf="p === options?.page" class="sr-only">(current)</span>
              </a>
            </li>
            <li *ngIf="pages[pages.length - 1] < options?.totalPages" class="page-item disabled">
              <a class="page-link" href="javascript:void(0)" tabindex="-1"> ... </a>
            </li>
          </ng-container>
          <li class="page-item" [class.disabled]="options?.totalPages !== -1 && options?.page >= options?.totalPages">
            <a class="page-link" href="javascript:void(0)" (click)="doPage(options?.page + 1)" aria-label="Next" [tabIndex]="options?.page >= options?.totalPages ? -1 : 0">
              <i class="fal fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
          <li class="page-item" [class.disabled]="options?.page >= options?.totalPages">
            <a class="page-link" href="javascript:void(0)" (click)="doPage(options?.totalPages)" aria-label="Last page" [tabIndex]="options?.page >= options?.totalPages ? -1 : 0">
              <i class="fal fa-angle-double-right" aria-hidden="true"></i>
            </a>
          </li>
          <li *ngIf="options?.showPerPageSelector" class="page-item d-none d-md-list-item">
            <a #showChangePerPageButton class="page-link dropdown-toggle" href="javascript:void(0)" (click)="doShowChangePerPage(showChangePerPageButton)" aria-label="Per page">
              <ng-container *ngIf="!options?.small">{{ options?.per_page }}</ng-container>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</ng-template>
