@import '../../../variables';

.page-item.disabled .page-link {
  color: $gray-300;
}

.my-sticky {
  position: fixed;
  left: 0;
  right: 0;
  background-color: $white;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
}