<ng-container>
  <c-container [fluid]="true" class="border-bottom px-4">
    <button
      [cSidebarToggle]="sidebarId()"
      cHeaderToggler
      class="btn"
      toggle="visible"
      style="margin-inline-start: -14px;"
      aria-label="Toggle sidebar navigation"
    >
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>

    <div class="header-app-title">k-maps</div>

    <c-header-nav class="ms-auto header-docs-nav">
      <a class="docs-link me-2" routerLink="/docs" routerLinkActive="active" aria-label="Docs">
        <span class="docs-icon" aria-hidden="true"></span>
      </a>
      <app-header-settings-dropdown />
    </c-header-nav>
  </c-container>

  <c-container [fluid]="true" class="px-4">
    <ng-container *ngIf="pageHeaderTabs(); else defaultBreadcrumb">
      <app-page-header-tabs [config]="pageHeaderTabs()!" />
    </ng-container>

    <ng-template #defaultBreadcrumb>
      <div class="header-breadcrumb">
        <div class="header-breadcrumb-row">
          <div class="header-breadcrumb-left" *ngIf="!showHeaderTitle">
            <div class="breadcrumb-row">
              <c-breadcrumb-router [items]="filteredBreadcrumbs()" />
            </div>
          </div>

          <div
            class="header-breadcrumb-search"
            *ngIf="showHeaderTitle || pageHeaderSearch() || showHeaderSearch || showDiscourseFilters"
          >
            <app-headerbar
              [title]="headerTitle"
              [showTitle]="showHeaderTitle"
              [showSearch]="!!(pageHeaderSearch() || showHeaderSearch)"
              [placeholder]="resolvedHeaderPlaceholder()"
              [value]="resolvedHeaderValue()"
              [primaryLabel]="resolvedPrimaryLabel()"
              [secondaryLabel]="resolvedSecondaryLabel()"
              [tertiaryLabel]="resolvedTertiaryLabel()"
              [filters]="resolvedHeaderFilters()"
              [pagination]="pageHeaderPagination()"
              (search)="onHeaderSearchInput($event)"
              (filterChange)="onHeaderFilterChange($event)"
              (primary)="onHeaderActionClick()"
              (secondary)="onHeaderSecondaryClick()"
              (tertiary)="onHeaderTertiaryClick()"
              (pageChange)="onHeaderPageChange($event)"
              (pageSizeChange)="onHeaderPageSizeChange($event)"
            />

            <div class="header-filter-row" *ngIf="showDiscourseFilters">
              <button
                class="btn btn-sm header-filter-pill"
                [class.btn-outline-secondary]="!discourseFilterActive(filter.key)"
                [class.btn-secondary]="discourseFilterActive(filter.key)"
                type="button"
                *ngFor="let filter of discourseFilters"
                (click)="toggleDiscourseFilter(filter.key)"
              >
                {{ filter.label }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </c-container>
</ng-container>
