@import '../../../variables';

.my-btn-color {
  background-color: $gray-200;
  border-color: $gray-200;
  color: $black;

  &:hover {
    color: $black;
    background-color: $gray-300;
    border-color: $gray-300;
  }
}

::ng-deep .red-not-in {
  color: $rouge-assistance;
}

::ng-deep .green-in {
  color: $vert-prairie;
} 
