<div class="modal-header">
  <h4 class="modal-title">
    {{ 'WORKER_TASK_EXECUTION.MODAL.TITLE' | translate }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col">
      <mcit-search-field [loading]="waiting" [options]="searchOptions" [(ngModel)]="searchBox" (ngModelChange)="querySubject.next(searchBox)"> </mcit-search-field>
    </div>
  </div>
  <ng-container *ngIf="workerTaskExecutions$ | async as workerTaskExecutions; else loading">
    <div *ngIf="!workerTaskExecutions.length && searchBox?.text?.length >= 3" class="row">
      <div class="col-12 text-center">
        <div class="font-weight-light mb-2" style="font-size: 2rem; line-height: 1.2">
          {{ 'COMMON.EMPTY_RESULT' | translate }}
        </div>
        <h2 class="text-danger">{{ searchBox?.text }}</h2>
      </div>
    </div>
    <div *ngIf="!workerTaskExecutions.length && searchBox?.text?.length < 3" class="row">
      <div class="col-12 text-center">
        <div class="font-weight-light mb-2" style="font-size: 2rem; line-height: 1.2">
          {{ 'COMMON.EMPTY_LIST' | translate }}
        </div>
      </div>
    </div>
    <ng-container *ngIf="workerTaskExecutions.length">
      <div class="row mb-2">
        <div class="col-12 d-flex flex-row justify-content-end">
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-secondary" (click)="doRecycles()">
              {{ 'WORKER_TASK_EXECUTION.MODAL.RECYCLE_ERRORS' | translate }}
            </button>
            <button type="button" class="btn btn-secondary" (click)="doDeletes()">
              {{ 'WORKER_TASK_EXECUTION.MODAL.DELETE_ERRORS' | translate }}
            </button>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" [mcitDropdown]="menuTemplate">
              <ng-template #menuTemplate let-dropdownRef="dropdownRef">
                <div class="mcit-dropdown-menu show">
                  <a class="dropdown-item" href="javascript:void(0)" (click)="dropdownRef.close(); doRecycles(true)">{{ 'WORKER_TASK_EXECUTION.MODAL.RECYCLE_ALL' | translate }}</a>
                  <a class="dropdown-item" href="javascript:void(0)" (click)="dropdownRef.close(); doDeletes(true)">{{ 'WORKER_TASK_EXECUTION.MODAL.DELETE_ALL' | translate }}</a>
                </div>
              </ng-template>
            </button>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12">
          <div class="list-group">
            <div *ngFor="let workerTaskExecution of workerTaskExecutions; trackBy: trackByWorkerTaskExecution" class="d-flex flex-row list-group-item list-group-item-action my-worker-info px-2 py-1" [ngClass]="workerTaskExecution.status">
              <div class="flex-grow-1 d-flex flex-column">
                <div class="d-flex flex-row mcr-1 align-items-baseline font-size-0_75">
                  <div>{{ workerTaskExecution.action }}</div>
                  <div *ngIf="workerTaskExecution.action_description" class="text-muted text-wrap">
                    {{ workerTaskExecution.action_description }}
                  </div>
                </div>
                <div class="flex-grow-1 d-flex flex-column justify-content-center">
                  <div class="font-weight-normal text-center">{{ workerTaskExecution.worker_name }}</div>
                  <div class="text-center">
                    {{ workerTaskExecution.status | listdico : 'WORKER_TASK_EXECUTION_STATUS' }}
                  </div>
                  <div *ngIf="workerTaskExecution.description" class="text-center text-muted font-size-0_75 text-wrap">
                    {{ workerTaskExecution.description }}
                  </div>
                </div>
                <div *ngIf="workerTaskExecution.error" class="small text-danger text-wrap">
                  {{ workerTaskExecution.error | json }}
                </div>
                <div class="d-flex flex-row justify-content-end text-muted font-italic mcr-1 font-size-0_75">
                  <div>{{ workerTaskExecution.action_by }}</div>
                  <div>{{ workerTaskExecution.action_date | dateTranslate : 'date_time' }}</div>
                </div>
              </div>
              <div *ngIf="workerTaskExecution.status === 'ERR'" class="d-flex flex-column justify-content-center align-items-center">
                <button class="btn btn-icon btn-sm" type="button" [mcitTooltip]="'WORKER_TASK_EXECUTION.MODAL.RECYCLE' | translate" (click)="doRecycle(workerTaskExecution)">
                  <i class="far fa-recycle"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div *ngIf="workerTaskExecutions && workerTaskExecutions.length > 0" class="row">
      <div class="col-12">
        <mcit-pagination [options]="{ page: page, total: total, totalPages: totalPages, per_page: per_page, sticky: true }" (pageEvent)="doPage($event)" (perPageEvent)="doPerPage($event)"></mcit-pagination>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="row">
      <div class="col-12 text-center">
        <i class="fas fa-spinner fa-pulse fa-3x" aria-hidden="true"></i>
      </div>
    </div>
  </ng-template>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="doClose()">
    {{ 'COMMON.CLOSE' | translate }}
  </button>
</div>
