@import 'projects/fvl/src/variables';

.my-worker-info {
  border-left-width: 5px;

  &.TOD {
    border-left-color: $waiting-status;
  }

  &.CUR {
    border-left-color: $current-status;
  }

  &.EXE {
    border-left-color: $executed-status;
  }

  &.ERR {
    border-left-color: $danger;
  }
}