@import "../../../variables";

.my-select {
  appearance: none;
  cursor: pointer;
  width: 0;
  padding: 0 50px 0 0;
  margin: 0;
  border: none;
  outline: none;
}

.my-before-last-button {
  position: absolute;
  right: 50px;
  width: 50px;
  pointer-events: none;
}

.my-last-button {
  position: absolute;
  right: 0px;
  width: 50px;
  pointer-events: none;
}
