<form [formGroup]="vehicleFieldForm" novalidate>
  <div class="input-group bg-white" [class.input-group-sm]="size === 'small'" [class.input-group-lg]="size === 'large'" [class.border-force]="forceBorder" *ngIf="!showCodification">
    <div class="input-group-prepend" *ngIf="!(shapes?.length > 0)">
      <span class="input-group-text">
        <i class="far" [ngClass]="loading ? 'fa-spinner fa-pulse' : 'fa-car'"></i>
      </span>
    </div>
    <select formControlName="_maker" class="custom-select">
      <option [value]="''">{{ 'VEHICLE_TYPE_FIELD.MAKER' | translate }}...</option>
      <option *ngFor="let make of makes" [value]="make?.code" [disabled]="!make">
        {{ make ? make.name : '-----' }}
      </option>
    </select>
    <select *ngIf="showModel" formControlName="_model" class="custom-select">
      <option [value]="''">{{ 'VEHICLE_TYPE_FIELD.MODEL' | translate }}...</option>
      <option *ngFor="let model of models" [value]="model.code">{{ model.name }}</option>
    </select>
    <ng-container *ngIf="shapes?.length > 0 && !isDisabled">
      <select formControlName="_shape" class="my-select" [mcitTooltip]="(vehicleFieldForm.get('_shape').value | find : shapes : 'code')?.name || ('VEHICLE_TYPE_FIELD.SHAPE' | translate)">
        <option [value]="''">{{ 'VEHICLE_TYPE_FIELD.SHAPE' | translate }}...</option>
        <option *ngFor="let shape of shapes" [value]="shape.code">{{ shape.name }}</option>
      </select>
      <div class="input-group-append" [ngClass]="useGefcoModel ? 'my-before-last-button' : 'my-last-button'">
        <button class="btn btn-outline-secondary dropdown-toggle" [ngClass]="{ 'text-danger': vehicleFieldForm.get('_shape').invalid }">
          <i class="far" [ngClass]="loading ? 'far fa-spinner fa-pulse' : vehicleFieldForm.get('_shape').value !== '' ? 'fas fa-shapes' : 'fal fa-shapes'"></i>
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="useGefcoModel && !isDisabled && vehicleFieldForm.get('_maker').value && vehicleFieldForm.get('_model').value">
      <select formControlName="_gefco_model" class="my-select" [mcitTooltip]="(vehicleFieldForm.get('_gefco_model').value?.meaning | find : gefcoModels : '_id')?.name || ('VEHICLE_TYPE_FIELD.GEFCO_MODEL' | translate)">
        <option [value]="''">{{ 'VEHICLE_TYPE_FIELD.GEFCO_MODEL' | translate }}...</option>
        <option *ngFor="let model of gefcoModels" [ngValue]="model">{{ model.meaning }}</option>
      </select>
      <div class="input-group-append my-last-button">
        <button class="btn btn-outline-secondary dropdown-toggle" [ngClass]="{ 'text-danger': vehicleFieldForm.get('_gefco_model').invalid }">
          <i class="far" [ngClass]="loading ? 'far fa-spinner fa-pulse' : vehicleFieldForm.get('_gefco_model').value !== '' ? 'fas fa-car' : 'fal fa-car'"></i>
        </button>
      </div>
    </ng-container>
  </div>
  <div class="form-row" *ngIf="vehicleFieldForm.invalid && vehicleFieldForm.touched">
    <div class="col-6">
      <div [class.d-block]="vehicleFieldForm.get('_maker').invalid && vehicleFieldForm.get('_maker').touched" class="invalid-feedback">
        {{ 'VEHICLE_TYPE_FIELD.MAKER_REQUIRED' | translate }}
      </div>
    </div>
    <div class="col-6">
      <div [class.d-block]="vehicleFieldForm.get('_model').invalid && vehicleFieldForm.get('_model').touched" class="invalid-feedback">
        {{ 'VEHICLE_TYPE_FIELD.MODEL_REQUIRED' | translate }}
      </div>
    </div>
  </div>

  <div *ngIf="showCodification">
    <div class="form-row mb-2">
      <div class="col-12 col-lg-6 mb-2">
        <div class="input-group">
          <div class="input-group-prepend" *ngIf="!(shapes?.length > 0)">
            <span class="input-group-text">
              <i class="far" [ngClass]="loading ? 'fa-spinner fa-pulse' : 'fa-car'"></i>
            </span>
          </div>
          <select formControlName="_maker" class="custom-select">
            <option [value]="''">{{ 'VEHICLE_TYPE_FIELD.MAKER' | translate }}...</option>
            <option *ngFor="let make of makes" [value]="make?.code" [disabled]="!make">
              {{ make ? make.name : '-----' }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-10 col-sm-6 col-lg-3 mb-2">
        <app-codification-search-field formControlName="_maker_codification" [placeholder]="'VEHICLE_TYPE_FIELD.CODIFICATION' | translate" [codificationKind]="CodificationKindRef.VEHICLE"></app-codification-search-field>
      </div>
      <div class="col-10 col-sm-6 col-lg-3 mb-2">
        <input class="form-control" formControlName="_maker_x_code" [placeholder]="'VEHICLE_TYPE_FIELD.X_CODE' | translate" />
      </div>
    </div>

    <div class="form-row mb-2">
      <div class="col-12 col-lg-6 mb-2">
        <div class="input-group">
          <select formControlName="_model" class="custom-select">
            <option [value]="''">{{ 'VEHICLE_TYPE_FIELD.MODEL' | translate }}...</option>
            <option *ngFor="let model of models" [value]="model.code">{{ model.name }}</option>
          </select>
          <div class="input-group-append" *ngIf="shapes?.length > 0 && !isDisabled">
            <button #shapeButton class="btn btn-outline-secondary dropdown-toggle" (click)="doSelectShape(shapeButton)">
              <i class="far" [ngClass]="loading ? 'far fa-spinner fa-pulse' : selectedShape !== 'none' ? 'fas fa-shapes' : 'fal fa-shapes'"></i>
            </button>
          </div>
          <div class="input-group-append" *ngIf="useGefcoModel && !isDisabled && vehicleFieldForm.get('_maker').value && vehicleFieldForm.get('_model').value">
            <button #gefcoModelButton class="btn btn-outline-secondary dropdown-toggle" (click)="doSelectGefcoModel(gefcoModelButton)">
              <i class="far" [ngClass]="loading ? 'far fa-spinner fa-pulse' : selectedGefcoModel !== 'none' ? 'fas fa-car' : 'fal fa-car'"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-10 col-sm-6 col-lg-3 mb-2">
        <app-codification-search-field formControlName="_model_codification" [placeholder]="'VEHICLE_TYPE_FIELD.CODIFICATION' | translate" [codificationKind]="CodificationKindRef.VEHICLE"></app-codification-search-field>
      </div>
      <div class="col-10 col-sm-6 col-lg-3 mb-2">
        <input class="form-control" formControlName="_model_x_code" [placeholder]="'VEHICLE_TYPE_FIELD.X_CODE' | translate" />
      </div>
    </div>
  </div>
</form>
