<div class="mcit-dropdown-menu" [ngStyle]="style">
  <ng-container *ngFor="let option of options">
    <ng-container *ngIf="option; else dividerTemplate">
      <h6 *ngIf="option.isHeader" class="dropdown-header">
        {{ option.noTranslate ? option.nameKey : (option.nameKey | translate : option.params) }}
        {{ option.nameKeyBis ? '- ' : '' }}
        {{ option.noTranslateBis ? option.nameKeyBis : (option.nameKeyBis | translate : option.paramsBis) }}
      </h6>
      <a *ngIf="!option.isHeader" href="javascript:void(0)" class="dropdown-item" (click)="doChooseOption(option.code)" [class.active]="code === option.code" [class.disabled]="option.disabled">
        <div class="d-flex flex-row">
          <div *ngIf="option.icon" class="mr-1">
            <i class="far fa-fw" [ngClass]="option.icon" aria-hidden="true"></i>
          </div>
          <div *ngIf="option.nameKey" class="flex-grow-1">{{ option.noTranslate ? option.nameKey : (option.nameKey | translate : option.params) }}{{ option.ellipse ? '...' : '' }}</div>
        </div>
      </a>
    </ng-container>
    <ng-template #dividerTemplate>
      <div class="dropdown-divider"></div>
    </ng-template>
  </ng-container>
</div>
