<div class="modal-header">
  <h4 class="modal-title">{{ modalData.title | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="goBack()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="kmPriceForm" (ngSubmit)="doSave()">
  <div class="modal-body">
    <div class="form-row">
      <div class="col-12 col-md-3 mb-2">
        <label for="threshold" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.KM.THRESHOLD' | translate }}</label>
        <div class="input-group">
          <input
            type="number"
            min="0"
            id="threshold"
            class="form-control last-child-form-control"
            formControlName="threshold"
            [control-active]="kmPriceForm.controls['threshold'].dirty && kmPriceForm.controls['threshold'].touched"
            placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.KM.THRESHOLD' | translate }}"
          />
        </div>
      </div>
      <div class="col-12 col-md-3 mb-2">
        <label for="base_price" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.KM.BASE_PRICE' | translate }}</label>
        <div class="input-group">
          <input
            type="number"
            min="0"
            id="base_price"
            class="form-control last-child-form-control"
            formControlName="base_price"
            [control-active]="kmPriceForm.controls['base_price'].dirty && kmPriceForm.controls['base_price'].touched"
            placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.KM.BASE_PRICE' | translate }}"
          />
        </div>
      </div>
      <div class="col-12 col-md-3 mb-2">
        <label for="unit_price" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.KM.UNIT_PRICE' | translate }}</label>
        <div class="input-group">
          <input
            type="number"
            id="unit_price"
            min="0"
            class="form-control last-child-form-control"
            formControlName="unit_price"
            [control-active]="kmPriceForm.controls['unit_price'].dirty && kmPriceForm.controls['unit_price'].touched"
            placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.KM.UNIT_PRICE' | translate }}"
          />
        </div>
      </div>
      <div class="col-12 col-md-3 mb-2">
        <label for="min_price" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.KM.MIN_PRICE' | translate }}</label>
        <div class="input-group">
          <input
            type="number"
            id="min_price"
            min="0"
            class="form-control last-child-form-control"
            formControlName="min_price"
            [control-active]="kmPriceForm.controls['min_price'].dirty && kmPriceForm.controls['min_price'].touched"
            placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.KM.MIN_PRICE' | translate }}"
          />
        </div>
      </div>
    </div>
    <div class="form-row">
      <ul>
        <li>
          {{ 'COMMON.IF' | translate }} nb km <
          {{ kmPriceForm.controls['threshold'].value || kmPriceForm.controls['threshold'].value === 0 ? kmPriceForm.controls['threshold'].value : ('COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.KM.THRESHOLD' | translate) }},=O
        </li>
        <li>
          {{ 'COMMON.IF' | translate }} nb km >=
          {{ kmPriceForm.controls['threshold'].value || kmPriceForm.controls['threshold'].value === 0 ? kmPriceForm.controls['threshold'].value : ('COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.KM.THRESHOLD' | translate) }},
          {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.KM.PRICE' | translate }} = Max ({{
            kmPriceForm.controls['min_price'].value || kmPriceForm.controls['min_price'].value === 0 ? kmPriceForm.controls['min_price'].value : ('COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.KM.MIN_PRICE' | translate)
          }},
          {{ kmPriceForm.controls['base_price'].value || kmPriceForm.controls['base_price'].value === 0 ? kmPriceForm.controls['base_price'].value : ('COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.KM.BASE_PRICE' | translate) }}
          + (nb km -
          {{ kmPriceForm.controls['threshold'].value || kmPriceForm.controls['threshold'].value === 0 ? kmPriceForm.controls['threshold'].value : ('COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.KM.THRESHOLD' | translate) }}) *
          {{ kmPriceForm.controls['unit_price'].value || kmPriceForm.controls['unit_price'].value === 0 ? kmPriceForm.controls['unit_price'].value : ('COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.KM.UNIT_PRICE' | translate) }})
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary mr-1" type="button" (click)="goBack()">
      {{ (modalData.isDisabled ? 'COMMON.CLOSE' : 'COMMON.CANCEL') | translate }}
    </button>
    <button *ngIf="!modalData.isDisabled" class="btn btn-primary ml-1" type="submit" [disabled]="kmPriceForm.invalid">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</form>
