<div class="modal-header">
  <h4 class="modal-title d-flex flex-column">
    {{ 'EDIT_GEOPOSITION_MAP_MODAL.CHOOSE_POINT' | translate }}
    <span class="font-italic font-size-0_75 font-weight-light">{{ 'EDIT_GEOPOSITION_MAP_MODAL.SELECT_POINT' | translate }}</span>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()" tabIndex="-1">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-0">
  <mat-grid-list cols="1" rowHeight="3:2">
    <mat-grid-tile>
      <mcit-map [config]="{ useCTRLZoom: false, withRoadNames: true }" (mapLoadEvent)="doLoadedMap($event)"></mcit-map>
      <div *ngIf="name != null" class="my-panel d-flex flex-column">
        <div class="my-name m-3 p-2 text-center border border-dark rounded-lg font-weight-normal">{{ name }}</div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-primary mr-1" type="button" (click)="doClose()">
    {{ 'COMMON.CANCEL' | translate }}
  </button>
  <button class="btn btn-primary ml-1" type="submit" [disabled]="marker == null" (click)="doSelect()">
    {{ 'COMMON.VALIDATE' | translate }}
  </button>
</div>
