@import '../../../variables';

.my-btn-toggle {
  width: 15em;
  background-color: $white;
  color: $primary;

  &:hover {
    color: $white;
    background-color: $secondary;
  }

  &.checked {
    color: $white;
    background-color: $secondary;
  }
}
  
.btn-primary {
  color: $white !important;
  background-color: $primary !important;
  border-color: $primary;
}
