@import '../../../variables';

.my-simple-progress {
  position: relative;
  width: 40px;
  height: 10px;
  background-color: $white;
  border: $cool-gray_5 1px solid;
  border-radius: 5px;
  overflow: hidden;

  .my-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $noir-bleu;
    transition: width .4s ease, background-color .4s ease;

    &.my-full {
      background-color: $noir-bleu;
    }
  }
}
