<div class="modal-header">
  <h4 class="modal-title">{{ 'DEROGATORY_INFO_MODAL.TITLE' | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul>
    <li *ngIf="derogatoryInformation.activity_code">{{ 'DEROGATORY_INFO_MODAL.ACTIVITY_CODE' | translate }} : {{ derogatoryInformation.activity_code }}</li>
    <li *ngIf="derogatoryInformation.article_code">{{ 'DEROGATORY_INFO_MODAL.ARTICLE_CODE' | translate }} : {{ derogatoryInformation.article_code }}</li>
    <li *ngIf="derogatoryInformation.customer_transcodification?.value">
      {{ 'DEROGATORY_INFO_MODAL.CUSTOMER_TRANSCODIFICATION' | translate }} : {{ derogatoryInformation.customer_transcodification.codification }} /
      {{ derogatoryInformation.customer_transcodification.value }}
    </li>
    <li *ngIf="derogatoryInformation.incoterm?.additional_info">
      {{ 'DEROGATORY_INFO_MODAL.INCOTERM' | translate }} : {{ derogatoryInformation.incoterm.code }}
      <span *ngIf="derogatoryInformation.incoterm.additional_info"> / {{ derogatoryInformation.incoterm.additional_info }} </span>
    </li>
    <li *ngIf="derogatoryInformation.billed_customer?.code">
      {{ 'DEROGATORY_INFO_MODAL.BILLED_CUSTOMER' | translate }} : {{ derogatoryInformation.billed_customer?.code }}
      <span *ngIf="derogatoryInformation.billed_customer.name"> ({{ derogatoryInformation.billed_customer?.name }}) </span>
    </li>
    <li *ngIf="derogatoryInformation.supplier?.code">
      {{ 'DEROGATORY_INFO_MODAL.SUPPLIER' | translate }} : {{ derogatoryInformation.supplier?.code }}
      <span *ngIf="derogatoryInformation.supplier.name"> ({{ derogatoryInformation.supplier?.name }}) </span>
    </li>
    <li *ngIf="derogatoryInformation.service_x_code">{{ 'DEROGATORY_INFO_MODAL.SERVICE_X_CODE' | translate }} : {{ derogatoryInformation.service_x_code }}</li>
  </ul>
</div>
