<div [formGroup]="groupForm">
  <div class="input-group input-group-sm border-force mt-1">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa-fw" [ngClass]="waiting ? 'far fa-spinner fa-pulse' : filterConfig.autocomplete.iconClass ? filterConfig.autocomplete.iconClass : 'far fa-search'"></i>
      </span>
    </div>
    <input
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      autocomplete="off"
      placeholder="{{ (filterConfig.autocomplete.placeholder ? filterConfig.autocomplete.placeholder : 'COMMON.SEARCH') | translate }}"
      class="form-control"
      formControlName="value"
    />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary last-child-form-control" type="button" (click)="doClear()" tabindex="-1">
        <i class="far fa-times"></i>
      </button>
    </div>
  </div>
  <ul *ngIf="list && list.length > 0; else empty" class="nav flex-row border mt-1 text-truncate" [ngStyle]="list.length > 5 ? { 'max-height': '200px', 'overflow-y': 'scroll' } : {}">
    <li *ngFor="let l of list" class="w-100">
      <button class="dropdown-item" type="button" (click)="doSelected(l)">
        <div class="d-flex flex-row">
          <div *ngIf="l.icon?.length" class="col-1 align-self-center d-flex justify-content-center">
            <i [ngClass]="l.icon"></i>
          </div>
          <div class="flex-grow-1 d-flex flex-column">
            <div style="flex: 1.5; white-space: normal">{{ l.name }}</div>
            <div *ngIf="l.description" class="font-weight-light" style="flex: 0.5; font-size: 80%">
              {{ l.description }}
            </div>
          </div>
        </div>
      </button>
    </li>
  </ul>
  <div *ngIf="select || !groupForm.get('value').value" class="d-flex flex-row justify-content-center text-truncate">
    <span>{{ select ? select.name : ('COMMON.EMPTY_LIST' | translate) }}</span>
  </div>
</div>
<ng-template #empty>
  <div *ngIf="groupForm.get('value').value || waiting" class="d-flex flex-row justify-content-center mt-1">
    <span class="font-italic font-weight-light small">{{ waiting ? '...' : ('COMMON.EMPTY_RESULT' | translate) }}</span>
  </div>
</ng-template>
