<form [formGroup]="vehicleFieldForm" novalidate>
  <div class="input-group">
    <div class="input-group-prepend">
      <button #modeButton class="btn btn-outline-secondary dropdown-toggle" type="button" (click)="doChangeMode(modeButton)">
        {{ getModeNameKey() | translate }}
      </button>
    </div>
    <input
      [class.d-none]="mode !== 'vin'"
      name="vin"
      type="text"
      formControlName="vin"
      class="form-control"
      mcitUppercase
      [control-active]="(vehicleFieldForm.controls['vin'].dirty && vehicleFieldForm.controls['vin'].touched) || submitAttempt"
    />
    <input
      [class.d-none]="mode !== 'license_plate'"
      name="license_plate"
      type="text"
      formControlName="license_plate"
      class="form-control"
      max="256"
      mcitUppercase
      [control-active]="(vehicleFieldForm.controls['license_plate'].dirty && vehicleFieldForm.controls['license_plate'].touched) || submitAttempt"
    />
    <input
      [class.d-none]="mode !== 'x_vin'"
      name="x_vin"
      type="text"
      formControlName="x_vin"
      class="form-control"
      max="256"
      [control-active]="(vehicleFieldForm.controls['x_vin'].dirty && vehicleFieldForm.controls['x_vin'].touched) || submitAttempt"
    />
    <div class="input-group-append">
      <span class="input-group-text last-child-form-control">
        <span
          class="text-monospace"
          [ngClass]="
            (vehicleFieldForm.get('vin').value && vehicleFieldForm.get('vin').value.length !== 17) || vehicleFieldForm.get('vin').errors
              ? 'font-weight-bold text-danger'
              : vehicleFieldForm.get('vin').value
              ? 'font-weight-bold'
              : 'text-black-50'
          "
          >{{ 'VEHICLE_ID_FIELD.VIN_SHORT' | translate }}</span
        >
        <span class="text-monospace" [ngClass]="vehicleFieldForm.get('x_vin').errors ? 'font-weight-bold text-danger' : vehicleFieldForm.get('x_vin').value ? 'font-weight-bold' : 'text-black-50'">{{
          'VEHICLE_ID_FIELD.X_VIN_SHORT' | translate
        }}</span>
        <span class="text-monospace" [ngClass]="vehicleFieldForm.get('license_plate').errors ? 'font-weight-bold text-danger' : vehicleFieldForm.get('license_plate').value ? 'font-weight-bold' : 'text-black-50'">{{
          'VEHICLE_ID_FIELD.LICENSE_PLATE_SHORT' | translate
        }}</span>
      </span>
    </div>
  </div>
  <div *ngIf="vehicleFieldForm.invalid && vehicleFieldForm.touched" class="text-danger">
    <div *ngIf="vehicleFieldForm.get('vin').hasError('pattern')">
      {{ 'VEHICLE_ID_FIELD.VIN_FORMAT_WRONG' | translate }}
    </div>
    <div *ngIf="vehicleFieldForm.hasError('identifier')" class="text-danger">
      {{ vehicleFieldForm.getError('identifier') | translate }}
    </div>
  </div>
</form>
