@import "../../../../../variables";

.my-body {
}

.my-bottom {
  position: absolute;
  background: $white;
  left: 0;
  right: 0;
  bottom: 0;

  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
}

.my-title {
  &.not-empty {
    color: $bleu_primaire;
  }
}
