<div class="modal-body my-body">
  <div class="d-flex flex-row align-items-center">
    <button type="button" class="btn btn-icon" aria-label="Close" (click)="doClose()">
      <i class="far fa-arrow-left"></i>
    </button>
    <h4 class="m-0">{{ 'FACET_FIELD.CATEGORIES.TITLE' | translate }}</h4>
  </div>
  <div class="mb-2">
    <mcit-categories-facet-container [loading]="false" [options]="options" [categoriesConfig]="options.categories?.categoriesConfig" [data]="data" [(ngModel)]="categories" (ngModelChange)="doApply()"> </mcit-categories-facet-container>
  </div>
</div>
