<nav class="my-navbar d-flex flex-row justify-content-around" [class.my-navbar-bottom]="placement === 'bottom'" [class.my-navbar-top]="placement === 'top'">
  <ng-container *ngIf="items$ | async; let tmp">
    <ng-container *ngFor="let item of tmp; let i = index">
      <ng-container *ngIf="!item.hide && (placement !== 'bottom' || !item.hideIfBottom)">
        <a
          *ngIf="item.link; else clickTemplate"
          [class.disable]="item.disable"
          [routerLink]="[item.link]"
          routerLinkActive="active"
          class="btn btn-link d-flex flex-column justify-content-center align-items-center"
          [@badge-anim]="item.count"
        >
          <ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
        </a>
        <ng-template #clickTemplate>
          <a #btn [class.disable]="item.disable" (click)="item.click(btn)" class="btn btn-link d-flex flex-column justify-content-center align-items-center" [@badge-anim]="item.count">
            <ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
          </a>
        </ng-template>
        <ng-template #innerTemplate>
          <div class="my-background"></div>
          <div class="my-icon">
            <i [ngClass]="item.icon" aria-hidden="true">
              <span [class.d-none]="item.count == undefined || item.count <= 0 || item.disable" class="my-badge">{{ item.count > 9 ? '9+' : item.count }}</span>
              <span [class.d-none]="item.count == undefined || item.count >= 0 || item.disable" class="my-badge-mini"></span>
            </i>
          </div>
          <div *ngIf="item.title" class="my-title">
            <span>{{ item.title | translate }}</span>
          </div>
        </ng-template>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="placement === 'top' && !cordova">
    <ng-container *ngIf="applications$ | async as applications">
      <ng-container *ngIf="applications?.length > 1">
        <a href="javascript:void(0)" class="btn btn-link d-flex flex-column justify-content-center align-items-center" [mcitDropdown]="appsMenu">
          <div class="my-icon">
            <i class="fas fa-grid" aria-hidden="true"></i>
          </div>
        </a>
        <ng-template #appsMenu let-dropdownRef="dropdownRef">
          <div class="mcit-dropdown-menu show">
            <h6 class="dropdown-header">{{ 'APPLICATIONS.TITLE' | translate }}</h6>
            <div class="my-apps-grid mx-3 mb-2" [style.grid-template-columns]="'repeat(' + (applications.length >= 3 ? 3 : applications.length) + ', 6rem)'">
              <a *ngFor="let application of applications; trackBy: trackByApplication" class="btn btn-light rounded d-flex flex-column align-items-center" [href]="application.url" target="_blank" (click)="dropdownRef.close()">
                <div class="flex-grow-1 d-flex flex-column justify-content-center">
                  <i class="fa-2x" [ngClass]="application.icon" aria-hidden="true"></i>
                </div>
                <div class="font-size-0_75">{{ application.nameKey | translate }}</div>
              </a>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </ng-container>
  </ng-container>
</nav>
