@import '../../../../../variables';

$tab-menu-item-padding: 5px 10px;
$tab-menu-icon-size: 24px;
$tab-menu-icon-md-size: 20px;
$tab-menu-badge-height: 20px;
$tab-menu-badge-top: -5px;
$tab-menu-badge-left: 20px;
$tab-menu-badge-border-size: 2px;
$tab-menu-badge-mini-size: 10px;
$tab-menu-badge-mini-top: -5px;
$tab-menu-badge-mini-left: 20px;
$tab-menu-badge-mini-border-size: 2px;
$tab-menu-badge-font-size: 12;
$tab-menu-title-font-size: 14;

.my-navbar {
  & > a {
    position: relative;
    text-decoration: none;
    color: $body-color;
    min-height: 100%;
    padding: $tab-menu-item-padding;
    transition: color .4s;

    .my-icon {
      text-align: center;
      vertical-align: baseline;

      i {
        position: relative;
        font-size: $tab-menu-icon-size;
        line-height: $tab-menu-icon-size;
        height: $tab-menu-icon-size;

        .my-badge {
          position: absolute;
          top: $tab-menu-badge-top;
          left: $tab-menu-badge-left;
          min-width: $tab-menu-badge-height + $tab-menu-badge-border-size * 2;
          height: $tab-menu-badge-height + $tab-menu-badge-border-size * 2;
          background-color: $danger;
          border: $tab-menu-badge-border-size solid $background-color;
          border-radius: $tab-menu-badge-height;
          color: $white;
          text-align: center;
          vertical-align: baseline;
          @include font(500, $tab-menu-badge-font-size);
          line-height: $tab-menu-badge-height;
          padding: 1 (calc((#{$tab-menu-badge-height} / 4) + 1));
          background-clip: content-box;
        }

        .my-badge-mini {
          position: absolute;
          top: $tab-menu-badge-mini-top;
          left: $tab-menu-badge-mini-left;
          width: $tab-menu-badge-mini-size + $tab-menu-badge-mini-border-size * 2;
          height: $tab-menu-badge-mini-size + $tab-menu-badge-mini-border-size * 2;
          background-color: $danger;
          border: $tab-menu-badge-mini-border-size solid $background-color;
          border-radius: $tab-menu-badge-mini-size;
          text-align: center;
          vertical-align: baseline;
          line-height: $tab-menu-badge-mini-size;
          padding: 0;
        }
      }
    }

    .my-title {
      position: relative;

      @include font(300, $tab-menu-title-font-size, $tab-menu-title-font-size);
      text-align: center;
      vertical-align: baseline;
    }

    &.active {
      .my-title {
        font-weight: bold;
      }
    }

    &.disable {
      color: $gray-400;
      pointer-events: none;
    }
  }
}

.my-navbar-bottom {
  box-sizing: border-box;
  background-color: $header-background-color;
  border: none;
  outline: 0;
  //overflow: hidden;
  display: inline-block;
  width: 100%;
  min-height: $tab-menu-height;

  & > a {
    flex-grow: 1;

    .my-background {
      position: absolute;
      top: -8px;
      bottom: -8px;
      right: 0;
      left: 0;
      transition: 400ms ease-in-out;

      &:before {
        content: '';
        position: absolute;
        top: -1px;
        bottom: 0;
        right: -1px;
        left: -1px;
        background: linear-gradient(to top, transparent 25%, rgba(0, 0, 0, 0.1));
        filter: blur(4px);
        transition: 400ms ease-in-out;
        opacity: 0;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: $white;
        border-top: 1px $jaune-gefco solid;
        transition: 400ms ease-in-out;
        opacity: 0;
      }
    }

    &.active {
      .my-background {
        &:before {
          opacity: 1;
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }
}

.my-navbar-top {
  & > a {
    flex-grow: 1;
    min-width: 80px;

    .my-icon {
      padding-bottom: 5px;

      i {
        font-size: $tab-menu-icon-md-size;
        line-height: $tab-menu-icon-md-size;
        height: $tab-menu-icon-md-size;
      }
    }

    .my-title {
      @include font(300, 12, 14);
    }

    .my-background {
      position: absolute;
      top: -18px;
      bottom: -18px;
      right: 0;
      left: 0;
      transition: 400ms ease-in-out;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: -1px;
        right: -1px;
        left: -1px;
        background: linear-gradient(to bottom, transparent 25%, rgba(0, 0, 0, 0.1));
        filter: blur(2px);
        transition: 400ms ease-in-out;
        opacity: 0;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: $white;
        border-bottom: 1px $jaune-gefco solid;
        transition: 400ms ease-in-out;
        opacity: 0;
      }
    }

    &:hover {
      .my-background {
        background: $gray-200;

        &:after {
          background-color: transparent;
          border-bottom: 1px $gray-500 solid;
          opacity: 1;
        }
      }
    }

    &.active {
      .my-background {
        &:before {
          opacity: 1;
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }
}

.my-apps-grid {
  display: grid;
  grid-gap: 1rem;
  grid-auto-rows: 6rem;
  justify-content: center;
}
