<ngx-loading [show]="waitingMessages" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
<ng-container *ngIf="chatMessages$ | async as chatMessages">
  <div class="position-fixed w-100 h-95" [class.adjust-top]="from === CHAT_ACTOR_FROM.MOVEECAR_DRIVER">
    <!-- DIV PRINCIPALE -->
    <ng-container *ngIf="formGroup && msgType === CHAT_MESSAGE_TYPE.TRANSPORT">
      <form [formGroup]="formGroup">
        <div class="custom-control custom-checkbox d-flex justify-content-end mx-2 mb-2" style="font-size: 0.65rem">
          <input id="show_message_auto_phone" type="checkbox" class="custom-control-input" formControlName="show_auto_messages" />
          <label for="show_message_auto_phone" class="custom-control-label pt-1">{{ 'CHAT.SHOW_MESSAGES_AUTO' | translate }}</label>
        </div>
      </form>
    </ng-container>
    <div *ngIf="!isChatOffline" class="d-flex justify-content-center cursor-pointer" (click)="loadPreviousMessages()">
      <i class="far fa-chevron-double-left fa-rotate-90 mb-1"></i>
    </div>
    <div class="d-flex flex-column position-fixed w-100 my-read-view" [class.my-read-view-driver]="from === CHAT_ACTOR_FROM.MOVEECAR_DRIVER">
      <div
        *ngFor="let chatMessage of chatMessages | chatMessagesFilterMsgAuto : formGroup?.controls?.['show_auto_messages']?.value ; let index = index; trackBy: trackByMessage"
        [id]="index === numberMessageLoad ? 'messageBeforeLoad' : undefined"
        class="hack2"
      >
        <h6 *ngIf="chatMessages | chatDate : index" class="text-center ml-auto mr-auto">
          {{ chatMessage.created_date | dateTranslate : 'day_of_week' | chatFirstUpercase }}
          {{ chatMessage.created_date | dateTranslate : 'day_month_long' }}
        </h6>
        <h6 *ngIf="chatMessages | chatIsDayBefore : index" class="text-center ml-auto mr-auto">
          {{ 'CHAT.GENERIC.YESTERDAY' | translate }}
        </h6>
        <h6 *ngIf="chatMessages | chatIsCurrentDay : index" class="text-center ml-auto mr-auto">
          {{ 'CHAT.GENERIC.TODAY' | translate }}
        </h6>
        <div>
          <div *ngIf="!(chatMessage | chatMessageAuto)" [ngClass]="chatMessage | chatConvCorner : from"></div>
          <div
            #divMessage
            (contextmenu)="onRightClick($event, divMessage, chatMessage)"
            *ngIf="!(chatMessage | chatMessageAuto)"
            class="{{ chatMessage | chatConv : from }} d-flex flex-column mb-3"
            style="width: fit-content; max-inline-size: 75%; word-wrap: break-word"
          >
            <span *ngIf="chatMessage.sender?.sent_by_username !== user?.username" class="mr-1 font-weight {{ chatMessage | chatInfo : user }}" style="font-size: 9px">
              {{ chatMessage?.sender?.sent_by }}
            </span>
            <span class="font-weight">
              <ng-container *ngIf="chatMessage?.link_infos?.rto_no && chatMessage?.link_infos?.title">
                <a *ngIf="from !== CHAT_ACTOR_FROM.MOVEECAR_DRIVER" class="d-flex link-primary" href="/carrier/kanban?show_order={{ chatMessage.link_infos?.rto_no }}">
                  {{ chatMessage.link_infos?.title?.text | translate : chatMessage?.link_infos?.title?.interpolate_params }}
                </a>
                <a *ngIf="from === CHAT_ACTOR_FROM.MOVEECAR_DRIVER" class="d-flex link-primary" [routerLink]="['/rto', chatMessage.link_infos.rto_no, 'details']" [queryParams]="{ start: true }">
                  {{ chatMessage.link_infos?.title?.text | translate : chatMessage?.link_infos?.title?.interpolate_params }}
                </a>
              </ng-container>
              <span [innerHTML]="chatMessage | chatDecoratorAt"></span>
            </span>
            <span class="ml-auto" style="font-size: xx-small">
              {{ chatMessage?.sender?.sent_date?.date | dateTranslate : 'hour_minutes' }}
              <i *ngIf="chatMessage.sender?.sent_from === from && chatMessage?.receiver?.read_date" class="fa fa-check fa-lg" aria-hidden="true" style="font-size: xx-small"> </i>
            </span>
          </div>
          <!-- div specifique aux messages auto-->
          <div *ngIf="chatMessage | chatMessageAuto" style="display: flex; align-items: center; justify-content: center; margin-bottom: 10px">
            <span *ngIf="chatMessage?.event?.text_auto">
              {{ chatMessage?.event?.text_auto?.text | translate : chatMessage?.event?.text_auto?.interpolate_params }}
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="showIsTyping" class="d-flex justify-content ml-3 align-items-center pb-3">
        <i class="fa fa-spinner fa-spin fa-lg"></i>
        <span class="ml-2 fa-bounce">
          <small> {{ userTyping | chatUserTyping }} {{ 'CHAT.GENERIC.TYPING' | translate }} &#x2026;</small></span
        >
      </div>
      <div id="anchorLastmessage" [style.height]="from === CHAT_ACTOR_FROM.MOVEECAR_DRIVER ? '20px' : ''"></div>
    </div>
  </div>
  <div
    class="{{ from === CHAT_ACTOR_FROM.MOVEECAR_DRIVER ? 'fixed-bottom hack' : '' }} input-group"
    [style]="from === CHAT_ACTOR_FROM.MOVEECAR_DRIVER ? 'height: 41px; background-color: white;' : 'height: 40px; width: 100%; position: fixed; bottom: 0; right: 0; margin-bottom: 40px;'"
  >
    <div *ngIf="msgType === CHAT_MESSAGE_TYPE.TRANSPORT" class="input-group-prepend">
      <mcit-chat-messages-predefined [isDriver]="from === CHAT_ACTOR_FROM.MOVEECAR_DRIVER" (messagePredefinedEvent)="processMessagePredefinedEvent($event)"></mcit-chat-messages-predefined>
    </div>
    <input
      #inputMessage
      [value]="draftMessage$ | async"
      type="text"
      class="form-control"
      (keydown.enter)="doSendMessage(inputMessage, currentDiscussion)"
      (input)="isTyping(inputMessage)"
      (keydown.backspace)="doDeleteSelectedAtUser($event)"
    />
    <ng-container *ngIf="foundUsers$ | async as users">
      <div *ngIf="users?.length && showAt" class="list-group list-users">
        <span class="list-group-item list-group-item-action p-1" *ngFor="let user of users; let i = index" [class.active]="isActive(user)" (mouseenter)="selectActive(user)" (click)="selectSearchedUser(user, inputMessage)">
          <div class="mx-2">
            <div>{{ user.firstname }} {{ user.lastname }}</div>
          </div>
        </span>
      </div>
    </ng-container>

    <div class="input-group-append">
      <button class="btn btn-outline-secondary far fa-times" type="button" (click)="deleteMessage()"></button>
      <button class="btn btn-outline-primary fa fa-paper-plane" type="button" (click)="doSendMessage(inputMessage, currentDiscussion)"></button>
    </div>
  </div>
  <div *ngIf="!loading && !discussionId && error" class="alert alert-primary" role="alert">
    {{ 'CHAT.' + error | translate }}
  </div>
</ng-container>
