@import '../../../../../theme/colors';

.workshop-me {
  color: white;
  background-color: $orange-abricot-sombre;
}

.workshop-other {
  color: $bleu-gris-sombre;
  background-color: $orange-abricot-pastel;
}

.workshop-icon {
  color: $orange-abricot-sombre;
}

.fuel-me {
  color: white;
  background-color: $bootstrap-info;
}

.fuel-other {
  color: $bleu-gris-sombre;
  background-color: $bleu-clair;
}

.fuel-icon {
  color: $bootstrap-info;
}

.transport-me {
  color: white;
  background-color: $bootstrap-secondary;
}

.transport-other {
  color: $bleu-gris-sombre;
  background-color: $bleu-gris-clair;
}

.transport-icon {
  color: $bootstrap-secondary;
}

.human_resource-me {
  color: white;
  background-color: $violet;
}

.human_resource-other {
  color: black;
  background-color: $violet-clair;
}

.human_resource-icon {
  color: $violet-fonce;
}

.corner {
  display: inline-block;
  height: 0;
  width: 0;
}

.corner-me {
  border-right: 15px solid transparent;
  position: absolute;
  right: 7px;
  border-top-right-radius: 0.25rem;
}

.corner-other {
  border-left: 15px solid transparent;
  position: absolute;
  left: 7px;
  border-top-left-radius: 0.25rem;
}

.corner-me-workshop {
  border-top: 15px solid $orange-abricot-sombre;
}

.corner-other-workshop {
  border-top: 15px solid $orange-abricot-pastel;
}

.corner-me-human_resource {
  border-top: 15px solid $violet;
}

.corner-other-human_resource {
  border-top: 15px solid $violet-clair;
}

.corner-me-fuel {
  border-top: 15px solid $bootstrap-info;
}

.corner-other-fuel {
  border-top: 15px solid $bleu-clair;
}

.corner-me-transport {
  border-top: 15px solid $bootstrap-secondary;
}

.corner-other-transport {
  border-top: 15px solid $bleu-gris-clair;
}
.list-users {
  width: 65%;
  position: fixed;
  bottom: 40px;
  right: 0;
  left: 5em;
}
.at-decorate {
  color: rgb(24 74 199 / 93%);
  display: inline-block;
  padding: 0.15em 0.2em;
  font-size: 85%;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  border-radius: 2.25rem;
  background-color: #e9ecef;
}

.mr-40 {
  margin-right: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.my-read-view {
  bottom: 2.5rem;
  top: 6.5rem;
  overflow-y: auto;
}

.my-read-view-driver {
  top: 12rem !important;
}

.link-primary {
  text-decoration: underline !important;
  color: #31394d;
}

.h-95 {
  height: 95%;
}

.adjust-top {
  top: 8.5rem !important;
}

.hack {
  margin-bottom: 50px;
}

.hack2 {
  margin-bottom: 50px;
}
