@import '../../../variables';

.password-quality span {
  box-sizing: border-box;
  height: $password_quality_height;
  margin: 0 1px;
  border-radius: $password_quality_height;

  &.quality-0 {
    background-color: $rouge-assistance;
  }

  &.quality-1 {
    background-color: $orange;
  }

  &.quality-2 {
    background-color: $jaune-safran;
  }

  &.quality-3 {
    background-color: $vert-pomme;
  }
}
