<div class="modal-header">
  <h4 class="modal-title">{{ modalData.title | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="goBack()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="rangePriceForm" (ngSubmit)="doSave()">
  <div class="modal-body">
    <div class="form-row">
      <div class="col-12 col-md-4 mb-2">
        <label for="min" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.RANGE.MIN' | translate }}</label>
        <div class="input-group">
          <input
            type="number"
            id="min"
            min="0"
            class="form-control last-child-form-control"
            [class.is-invalid]="checkError() || rangePriceForm.controls['min'].value < 0"
            formControlName="min"
            [control-active]="rangePriceForm.controls['min'].dirty && rangePriceForm.controls['min'].touched"
            placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.RANGE.MIN' | translate }}"
            required
          />
        </div>
        <div class="invalid-feedback d-block" *ngIf="checkError()">
          {{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.RANGE.ERROR' | translate }}
        </div>
      </div>
      <div class="col-12 col-md-4 mb-2">
        <label for="max" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.RANGE.MAX' | translate }}</label>
        <div class="input-group">
          <input
            type="number"
            id="max"
            min="0"
            class="form-control last-child-form-control"
            [class.is-invalid]="checkError() || rangePriceForm.controls['max'].value < 0"
            formControlName="max"
            [control-active]="rangePriceForm.controls['max'].dirty && rangePriceForm.controls['max'].touched"
            placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.RANGE.MAX' | translate }}"
            required
          />
        </div>
      </div>
      <div class="col-12 col-md-4 mb-2">
        <label for="price" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.RANGE.PRICE' | translate }}</label>
        <div class="input-group">
          <input
            type="number"
            id="price"
            min="0"
            class="form-control last-child-form-control"
            formControlName="price"
            [control-active]="rangePriceForm.controls['price'].dirty && rangePriceForm.controls['price'].touched"
            placeholder="{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.PRICING.RANGE.PRICE' | translate }}"
            required
          />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary mr-1" type="button" (click)="goBack()">
      {{ (modalData.isDisabled ? 'COMMON.CLOSE' : 'COMMON.CANCEL') | translate }}
    </button>
    <button *ngIf="!modalData.isDisabled" class="btn btn-primary ml-1" type="submit" [disabled]="rangePriceForm.invalid">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</form>
