@import "../../../variables";

$vertical-strip-color: rgb(248, 248, 248);
$horizontal-strip-color: rgb(243, 243, 243);
$hover-color: $gray-100;

.my-table-container {
  .my-select-all {
    cursor: pointer;
    color: inherit;

    i {
      color: inherit;
    }
  }

  .my-select {
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;

      i {
        background: $gray-300;
      }
    }
  }

  .my-double-scroll-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    height: 20px;
    padding: 0 .5rem;
    margin: 0 -.5rem;

    .my-double-scroll {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  .my-sticky {
    position: fixed;
    z-index: 100;
    margin-left: 0;
    margin-right: 0;
    overflow-y: hidden;
    overflow-x: hidden;

    &.my-double-scroll {
      overflow-x: auto;
    }
  }

  table {
    > tbody > tr.hover {
      background-color: $hover-color;
    }

    > tbody > tr > th.line {
      padding: 0.1rem;
    }

    &.my-horizontal-striped {
      > tbody > tr:not(.hover).odd {
        background-color: $horizontal-strip-color;
      }
    }

    &.my-vertical-striped {
      > tbody > tr:not(.hover) > td.odd {
        background-color: $vertical-strip-color;
      }
    }

    &.my-both-striped {
      > tbody > tr:not(.hover).odd {
        background-color: $horizontal-strip-color;
      }

      > tbody > tr:not(.hover):not(.odd) > td.odd {
        background-color: $vertical-strip-color;
      }
    }

    &.my-mode-visible {
      > thead > tr > th {
        background-color: $gray-300;
        color: $body-color;
      }

      > thead > tr > th,
      > tbody > tr > td {
        &.my-column-hidden {
          opacity: 0.5;
        }
      }
    }

    &.my-mode-resize {
      > thead > tr > th {
        background-color: $gray-300;
        color: $body-color;

        .my-resize-container {
          position: absolute;
          right: -0.3rem;
          top: -0.3rem;
          bottom: -0.3rem;
          padding: 0 0.3rem;
          background-color: $gray-200;
          color: $body-color;
          cursor: col-resize;
        }
      }
    }

    &.mcit-table-small.my-mode-resize {
      > thead > tr > th .my-resize-container {
        right: -0.1rem;
        top: -0.05rem;
        bottom: -0.05rem;
        padding: 0 0.1rem;
      }
    }

    &.mcit-table-large.my-mode-resize {
      > thead > tr > th .my-resize-container {
        right: -0.4rem;
        top: -0.4rem;
        bottom: -0.4rem;
        padding: 0 0.4rem;
      }
    }
  }
}

.my-count-data {
  color: $prune;
}

.my-space {
  padding: 0 0;
  width: 11px;
}

.center-nb-lines {
  position: relative;
}