<div class="my-table-container">
  <mcit-table-options *ngIf="!customTableOptionsComponent" #defaultTableOptions [ngClass]="options?.config?.hide ? 'd-none' : ''" [options]="options" [pagination]="pagination"></mcit-table-options>
  <ng-content select="[mcitTableToolbar]"></ng-content>
  <ng-container *ngIf="options?.header?.type === 'normal'">
    <div #doubleNormalScroll class="my-double-scroll-wrapper d-none" [class.d-xl-block]="options?.doubleScroll">
      <div class="my-double-scroll"></div>
    </div>
    <div #normalScroll (scroll)="horizontalScrollList($event)" (mouseover)="horizontalScrollList($event)" class="table-responsive mcit-table-shadow">
      <div class="mcit-table-container">
        <ng-container [ngTemplateOutlet]="tableContainer" [ngTemplateOutletContext]="{ hideBody: false }"></ng-container>
      </div>
    </div>
  </ng-container>

  <ng-template #headerColumns>
    <th [class.d-none]="!isXl || !showLineNumber || startLine == null" scope="col" class="p-0"></th>
    <th [class.d-none]="!isXl || !options?.row?.select?.selectable" scope="col" class="p-0">
      <ng-container *ngIf="selecteds | selectall : items : options?.row?.select as tmp">
        <button *ngIf="options?.row?.select?.selectAll" type="button" class="btn btn-icon my-select-all" (click)="doToggleSelectAll()">
          <i class="far" [class.fa-square]="tmp === 'NONE'" [class.fa-check-square]="tmp === 'ALL'" [class.fa-minus-square]="tmp === 'PARTIAL'" aria-hidden="true"></i>
        </button>
      </ng-container>
    </th>
    <ng-container *ngIf="options?.actions?.column?.position && options?.actions?.column?.position === 'start'" [ngTemplateOutlet]="headerActions"></ng-container>
    <th [class.d-none]="!options?.row?.header && !rowHeaderCustom" scope="col" [ngStyle]="options?.row?.header | rowheaderstyle" class="p-0 border-right-0"></th>
    <ng-container *ngIf="columns | columnssort as tmpColumns">
      <ng-container *ngFor="let column of tmpColumns; trackBy: trackColumnByFn; let i = index">
        <ng-container
          *ngIf="
            tmpColumns
              | columnsindex
                : i
                : {
                    isXl: isXl,
                    selectable: options?.row?.select?.selectable,
                    showLineNumber: showLineNumber && startLine != null
                  } as tmpIndex
          "
        >
          <th
            #th
            scope="col"
            class="text-center align-middle text-truncate"
            [ngClass]="column | columnheaderclass : isXl : mode"
            [ngSwitch]="column.type"
            [ngStyle]="column | columnheaderstyle : isXl"
            [class.my-column-hidden]="!column.visible"
            [class.border-left-0]="tmpIndex.col === 0 && (options?.row?.header || rowHeaderCustom)"
          >
            <div *ngIf="mode == null">{{ column.nameKey | translate }}</div>
            <div *ngIf="mode === 'resize'" class="d-flex flex-column align-items-center position-relative">
              <div class="my-resize-container" (mousedown)="doResizeColumn($event, column, th)">
                <div class="h-100 d-flex flex-column justify-content-center align-items-center">
                  <i class="far fa-bars fa-rotate-90 fa-fw" aria-hidden="true"></i>
                </div>
              </div>
              <div class="mb-1">
                <button type="button" class="btn btn-icon btn-auto text-inherit" (click)="doResetWidth(column, th)">
                  <i class="far fa-sm fa-fw fa-undo" aria-hidden="true"></i>
                </button>
              </div>
              <div class="flex-grow-1">{{ column.nameKey | translate }}</div>
            </div>
            <div *ngIf="mode === 'visible'" class="d-flex flex-column align-items-center cursor-pointer" (click)="(customTableOptionsComponent || tableOptionsComponent).doToggleVisibleColumn(column)">
              <div class="mb-1">
                <i class="far fa-sm fa-fw" [class.fa-eye]="column.visible" [class.fa-eye-slash]="!column.visible" aria-hidden="true"></i>
              </div>
              <div class="flex-grow-1">{{ column.nameKey | translate }}</div>
            </div>
          </th>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!options?.actions?.column?.position || options?.actions?.column?.position === 'end'" [ngTemplateOutlet]="headerActions"></ng-container>
  </ng-template>
  <ng-template #headerActions>
    <ng-container *ngIf="options?.actions?.mode === 'column'">
      <ng-container *ngIf="options?.actions?.column?.type !== 'custom' && actions?.length > 0">
        <th
          scope="col"
          class="text-center align-middle"
          [ngStyle]="options.actions.column | actioncolumnheaderstyle"
          [ngClass]="{
            'd-none': options.actions?.column?.type == null || options.actions?.column?.type === 'auto' || options.actions?.column?.type === 'mini',
            'd-md-table-cell': options.actions?.column?.type == null || options.actions?.column?.type === 'auto'
          }"
        >
          {{ 'COMMON.ACTIONS' | translate }}
        </th>
        <th
          scope="col"
          class="text-center align-middle"
          [ngClass]="{
            'd-md-none': options.actions?.column?.type == null || options.actions?.column?.type === 'auto',
            'd-none': options.actions?.column?.type === 'full'
          }"
          style="width: 50px"
        ></th>
      </ng-container>
      <ng-container *ngIf="options?.actions?.column?.type === 'custom'">
        <th scope="col" class="text-center align-middle" [ngStyle]="options.actions.column | actioncolumnheaderstyle">
          {{ 'COMMON.ACTIONS' | translate }}
        </th>
      </ng-container>
    </ng-container>
  </ng-template>

  <ng-template #tableContainer let-hideBody="hideBody">
    <table
      *ngIf="columns?.length > 0"
      class="table table-sm mcit-table-bordered"
      [style.table-layout]="options?.columns?.resizable ? 'fixed' : 'auto'"
      [class.mcit-table-large]="textSize === 'large'"
      [class.mcit-table-small]="textSize === 'small'"
      [class.my-mode-visible]="mode === 'visible'"
      [class.my-mode-resize]="mode === 'resize'"
      [class.my-horizontal-striped]="isXl && stripe === 'horizontal'"
      [class.my-vertical-striped]="isXl && stripe === 'vertical'"
      [class.my-both-striped]="isXl && stripe === 'both'"
    >
      <thead class="mcit-thead-dark" [ngClass]="options?.header | headerclass">
        <tr #header>
          <ng-container [ngTemplateOutlet]="headerColumns"></ng-container>
        </tr>
      </thead>
      <tbody *ngIf="!hideBody">
        <ng-container *ngTemplateOutlet="containerTemplate; context: { container: container, index: 0 }"></ng-container>
      </tbody>
    </table>
  </ng-template>
</div>

<ng-template #containerTemplate let-container="container" let-index="index">
  <ng-container *ngIf="container?.type === 'groups'">
    <ng-container *ngTemplateOutlet="groupsContainerTemplate; context: { container, index }"></ng-container>
  </ng-container>
  <ng-container *ngIf="container?.type === 'elements'">
    <ng-container *ngTemplateOutlet="elementsContainerTemplate; context: { container, index }"></ng-container>
  </ng-container>
</ng-template>
<ng-template #groupsContainerTemplate let-container="container" let-index="index">
  <ng-container *ngIf="container.groups | async as gs">
    <ng-container *ngIf="gs.value != null">
      <ng-container *ngIf="gs.value.results?.length > 0; else emptyTemplate">
        <ng-container *ngFor="let g of gs.value.results; trackBy: trackByGroup; let j = index">
          <tr class="border-bottom bg-gray-200">
            <td *ngIf="index > 0" [attr.colspan]="index" class="bg-gray-200 my-space align-middle text-right">
              <i class="fal fa-arrow-turn-down-right fa-xs" aria-hidden="true"></i>
            </td>
            <td [attr.colspan]="groups?.length - index + columns?.length + 1 + 1" class="p-1 cursor-pointer" (click)="g.open = !g.open">
              <div class="d-flex flex-row align-items-center">
                <div class="mr-1">
                  <i class="far" [ngClass]="g.open ? 'fa-chevron-down' : 'fa-chevron-right'" aria-hidden="true"></i>
                </div>
                <h6 class="m-0 text-uppercase mr-1" [class.not-empty]="g.open" style="font-size: 0.875rem">
                  {{ g.name ?? ('COMMON.NONE' | translate) }}
                </h6>
                <div class="font-weight-normal my-count-data mr-1">({{ g.count }})</div>
                <h6 class="m-0 text-uppercase mr-1" *ngIf="g.description" style="font-size: 0.875rem">
                  {{ g.description ?? ('COMMON.NONE' | translate) }}
                </h6>
                <ng-container *ngIf="actionGroupRowCustom">
                  <ng-container *ngTemplateOutlet="actionGroupRowCustom.templateRef; context: { group: g, index: index + 1 }"></ng-container>
                </ng-container>
              </div>
            </td>
          </tr>
          <ng-container *ngIf="g.open">
            <ng-container *ngTemplateOutlet="containerTemplate; context: { container: g.child, index: index + 1 }"></ng-container>
          </ng-container>
        </ng-container>
        <tr *ngIf="options?.config?.showPagination" class="pt-2">
          <td class="align-middle p-0" [attr.colspan]="groups?.length - index + columns?.length + 1 + 1">
            <div class="pl-2" style="width: 60vw">
              <mcit-pagination
                [options]="{ page: gs.value.page, total: gs.value.total, totalPages: computeTotalPages(gs.value.total), per_page: pagination.per_page }"
                (pageEvent)="doPage($event, gs)"
                (perPageEvent)="doPerPage($event)"
              ></mcit-pagination>
            </div>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    <tr *ngIf="gs?.type === 'loading'">
      <td *ngIf="index > 0" [attr.colspan]="index" class="my-space bg-gray-200"></td>
      <td class="text-center align-middle" [attr.colspan]="groups?.length - index + columns?.length + 1 + 1">
        <i class="fas fa-spinner fa-pulse fa-3x" aria-hidden="true"></i>
      </td>
    </tr>
  </ng-container>
</ng-template>
<ng-template #elementsContainerTemplate let-container="container" let-index="index">
  <ng-container *ngIf="container.elements | async as vs">
    <ng-container *ngIf="vs.value != null">
      <ng-container *ngIf="vs.value.results?.length > 0; else emptyTemplate">
        <ng-container *ngFor="let item of vs.value.results; trackBy: trackByFn.bind(this); let i = index">
          <ng-container *mcitRowHover>
            <tr [class.mcit-no-border-bottom]="rowExpendableCustom" [ngClass]="options?.row | rowclass : item : i" [class.first]="rowExpendableCustom" [class.even]="i % 2 === 0" [class.odd]="i % 2 === 1">
              <td class="align-top text-right font-weight-light line even" [class.d-none]="!isXl || !showLineNumber || startLine == null" [attr.rowspan]="rowExpendableCustom ? 2 : 1">
                {{ startLine + i }}
              </td>
              <td class="p-0 align-middle text-center" [class.d-none]="!isXl || !options?.row?.select?.selectable" [ngClass]="!isXl || !showLineNumber || startLine == null ? 'even' : 'odd'">
                <button type="button" class="btn btn-icon my-select" (click)="doToggleSelect(item, i)" [disabled]="options?.row?.select | rowselectdisabled : item : i">
                  <i class="far" [ngClass]="selecteds[i] ? 'fa-check-square' : 'fa-square'" aria-hidden="true"></i>
                </button>
              </td>
              <ng-container *ngIf="options?.actions?.column?.position && options?.actions?.column?.position === 'start'" [ngTemplateOutlet]="rowActions" [ngTemplateOutletContext]="{ item: item, i: i }"></ng-container>
              <td [class.d-none]="!options?.row?.header && !rowHeaderCustom" class="border-right-0" [ngClass]="options.row.header | rowheaderclass : item : i">
                <ng-container [ngTemplateOutlet]="rowHeaderCustom?.templateRef" [ngTemplateOutletContext]="{ item: item, index: i }"></ng-container>
              </td>
              <ng-container *ngIf="columns | columnssort as tmpColumns">
                <ng-container *ngFor="let column of tmpColumns; trackBy: trackColumnByFn; let j = index">
                  <ng-container
                    *ngIf="
                      tmpColumns
                        | columnsindex
                          : j
                          : {
                              isXl: isXl,
                              selectable: options?.row?.select?.selectable,
                              showLineNumber: showLineNumber && startLine != null
                            } as tmpIndex
                    "
                  >
                    <td
                      [class.border-left-0]="tmpIndex.col === 0 && (options.row?.header || rowHeaderCustom)"
                      [ngClass]="column | columnclass : item : i : isXl : mode"
                      [ngSwitch]="column?.type"
                      [ngStyle]="column | columnstyle : item : i"
                      [class.my-column-hidden]="!column.visible"
                      [class.even]="tmpIndex.index % 2 === 0"
                      [class.odd]="tmpIndex.index % 2 === 1"
                      style="overflow: hidden"
                    >
                      <ng-container *ngSwitchCase="'text'">
                        <mcit-column-text-container [columnConfig]="column" [item]="item" [index]="i"></mcit-column-text-container>
                      </ng-container>
                      <ng-container *ngSwitchCase="'date'">
                        <mcit-column-date-container [columnConfig]="column" [item]="item" [index]="i"></mcit-column-date-container>
                      </ng-container>
                      <ng-container *ngSwitchCase="'currency'">
                        <mcit-column-currency-container [columnConfig]="column" [item]="item" [index]="i"></mcit-column-currency-container>
                      </ng-container>
                      <ng-container *ngSwitchCase="'distance'">
                        <mcit-column-distance-container [columnConfig]="column" [item]="item" [index]="i"></mcit-column-distance-container>
                      </ng-container>
                      <ng-container *ngSwitchCase="'tags'">
                        <mcit-column-tags-container [columnConfig]="column" [item]="item" [index]="i"></mcit-column-tags-container>
                      </ng-container>
                      <ng-container *ngSwitchCase="'custom'">
                        <mcit-column-custom-container [columnConfig]="column" [item]="item" [index]="i" [elements]="columnCustoms"></mcit-column-custom-container>
                      </ng-container>
                      <ng-container *ngSwitchCase="'meaning'">
                        <mcit-column-meaning-container [columnConfig]="column" [item]="item" [index]="i"></mcit-column-meaning-container>
                      </ng-container>
                      <ng-container *ngSwitchCase="'translate'">
                        <mcit-column-translate-container [columnConfig]="column" [item]="item" [index]="i"></mcit-column-translate-container>
                      </ng-container>
                      <ng-container *ngSwitchCase="'listdico'">
                        <mcit-column-listdico-container [columnConfig]="column" [item]="item" [index]="i"></mcit-column-listdico-container>
                      </ng-container>
                      <ng-container *ngSwitchCase="'boolean'">
                        <mcit-column-boolean-container [columnConfig]="column" [item]="item" [index]="i"></mcit-column-boolean-container>
                      </ng-container>
                      <ng-container *ngSwitchDefault> Not found type {{ column?.type }} </ng-container>
                    </td>
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="!options?.actions?.column?.position || options?.actions?.column?.position === 'end'" [ngTemplateOutlet]="rowActions" [ngTemplateOutletContext]="{ item: item, i: i }"></ng-container>
            </tr>
            <tr class="d-none mcit-no-border-top" [class.d-table-row]="rowExpendableCustom" [class.second]="rowExpendableCustom" [class.even]="i % 2 === 0" [class.odd]="i % 2 === 1">
              <td
                [attr.colspan]="(columns | columnsvisible : !isXl || mode === 'visible')?.length + 1 + (options?.row?.header || rowHeaderCustom ? 1 : 0) + (options?.row?.select?.selectable ? 1 : 0)"
                [ngClass]="options.row?.extension ? (options.row?.extension | rowextensionclass : item : i) : ''"
              >
                <ng-container [ngTemplateOutlet]="rowExpendableCustom?.templateRef" [ngTemplateOutletContext]="{ item: item, index: i, $implicit: { item: item, index: i } }"></ng-container>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <tr *ngIf="groups?.length && options?.config?.showPagination">
          <td [attr.colspan]="(columns | columnsvisible : !isXl || mode === 'visible')?.length + 1 + (options?.row?.header || rowHeaderCustom ? 1 : 0) + (options?.row?.select?.selectable ? 1 : 0)">
            <div class="pl-2" style="width: 60vw">
              <mcit-pagination
                [options]="{ page: vs.value.page, total: vs.value.total, totalPages: computeTotalPages(vs.value.total), per_page: pagination.per_page }"
                (pageEvent)="doPage($event, vs)"
                (perPageEvent)="doPerPage($event, vs)"
              ></mcit-pagination>
            </div>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    <tr *ngIf="vs?.type === 'loading'">
      <td *ngIf="index > 0" [attr.colspan]="index" class="my-space bg-gray-200"></td>
      <td class="text-center align-middle" [attr.colspan]="groups?.length - index + columns?.length + 1 + 1">
        <i class="fas fa-spinner fa-pulse fa-3x" aria-hidden="true"></i>
      </td>
    </tr>
  </ng-container>
</ng-template>
<ng-template #emptyTemplate>
  <tr>
    <td class="text-center align-middle" [attr.colspan]="groups?.length + columns?.length + 1 + 1">
      <div class="font-weight-light mb-2" style="font-size: 2rem; line-height: 1.2">
        {{ 'COMMON.EMPTY_RESULT' | translate }}
      </div>
    </td>
  </tr>
</ng-template>
<ng-template #rowActions let-item="item" let-i="i">
  <ng-container *ngIf="options?.actions?.mode === 'column'">
    <ng-container *ngIf="options?.actions?.column?.type !== 'custom' && actions?.length > 0">
      <td class="align-middle">
        <div
          class="flex-row justify-content-center align-items-center"
          [ngClass]="{
            'd-none': options.actions?.column?.type == null || options.actions?.column?.type === 'auto' || options.actions?.column?.type === 'mini',
            'd-md-flex': options.actions?.column?.type == null || options.actions?.column?.type === 'auto',
            'd-flex': options.actions?.column?.type === 'full'
          }"
        >
          <ng-container *ngFor="let action of actions">
            <ng-container *ngIf="action.action">
              <button
                #button
                class="btn btn-icon"
                [ngClass]="action | actionstringorfn : 'cssClass' : item : i"
                (click)="action.action(item, i, action.key, button)"
                [mcitTooltip]="action.nameKey | translate : (action | actionparams : item : i)"
                [mcitTooltipDisabled]="!action.nameKey || action.disableTooltip"
                [disabled]="action | actiondisabled : item : i | async"
                [class.d-none]="action | actionhidden : item : i | async"
              >
                <i [ngClass]="action | actionstringorfn : 'icon' : item : i" aria-hidden="true"></i>
              </button>
            </ng-container>
            <ng-container *ngIf="action.routerLink">
              <a
                class="btn btn-icon"
                [ngClass]="action | actionstringorfn : 'cssClass' : item : i"
                [routerLink]="action.routerLink(item, i, action.key)"
                [target]="action?.target ?? '_self'"
                [queryParams]="action.routerQueryParam ? action.routerQueryParam(item, i, action.key) : null"
                [state]="action.routerState ? action.routerState(item, i, action.key) : null"
                [mcitTooltip]="action.nameKey | translate : (action | actionparams : item : i)"
                [mcitTooltipDisabled]="!action.nameKey || action.disableTooltip"
                [class.disabled]="action | actiondisabled : item : i | async"
                [class.d-none]="action | actionhidden : item : i | async"
              >
                <i [ngClass]="action | actionstringorfn : 'icon' : item : i" aria-hidden="true"></i>
              </a>
            </ng-container>
          </ng-container>
        </div>
        <div
          class="flex-row justify-content-center align-items-center"
          [ngClass]="{
            'd-md-none': options.actions?.column?.type == null || options.actions?.column?.type === 'auto',
            'd-none': options.actions?.column?.type === 'full',
            'd-flex': options.actions?.column?.type == null || options.actions?.column?.type === 'auto' || options.actions?.column?.type === 'mini'
          }"
        >
          <button #button class="btn btn-icon text-primary" (click)="doShowMenu(button, item, i)">
            <i class="far fa-ellipsis-v" aria-hidden="true"></i>
          </button>
        </div>
      </td>
    </ng-container>
    <ng-container *ngIf="options?.actions?.column?.type === 'custom'">
      <td class="align-middle">
        <ng-container [ngTemplateOutlet]="actionColumnCustom?.templateRef" [ngTemplateOutletContext]="{ item: item, index: i }"></ng-container>
      </td>
    </ng-container>
  </ng-container>
</ng-template>
