<div class="modal-header">
  <h4 class="modal-title">
    {{ 'COMMON_CONTRACTS.MODAL.' + (data.isDisabled ? 'INFORMATION' : data.isEditForm ? 'EDIT' : 'ADD_TRSP_ROAD') + '_TITLE' | translate }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="goBack()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="contractForm" (ngSubmit)="doSave()" novalidate>
  <div class="modal-body">
    <div class="form-row">
      <div class="col-12 col-md-6 mb-2">
        <label for="code" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.CODE' | translate }}</label>
        <div class="input-group">
          <input type="text" id="code" class="form-control last-child-form-control" formControlName="code" [control-active]="(contractForm.controls['code'].dirty && contractForm.controls['code'].touched) || submitAttempt" />
          <div class="invalid-feedback">
            {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="name" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.NAME' | translate }}</label>
        <div class="input-group">
          <input
            id="name"
            name="name"
            class="form-control last-child-form-control"
            formControlName="name"
            type="text"
            maxlength="256"
            required
            autocomplete="no"
            [control-active]="(contractForm.controls['name'].dirty && contractForm.controls['name'].touched) || submitAttempt"
          />
          <div class="invalid-feedback">
            {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 col-lg-6 mb-2">
        <label for="supplier">{{ 'COMMON_CONTRACTS.MODAL.SUPPLIER' | translate }}</label>
        <div class="form-row">
          <div class="col-12 mb-2 d-flex flex-row">
            <input
              id="supplier"
              class="form-control"
              placeholder="{{ contractForm.get('supplier').value ? contractForm.get('supplier').value.name : ('COMMON_CONTRACTS.MODAL.SUPPLIER' | translate) }}"
              disabled="true"
              *ngIf="data.purchaseOrSale === 'sale'; else memberRoleFiler"
            />
            <ng-template #memberRoleFiler>
              <mcit-member-role-field
                id="supplier"
                class="form-control"
                formControlName="supplier"
                class="flex-grow-1"
                [role]="'CARRIER,CHARTER'"
                [options]="{ useThirdParty: true, editable: true, apiRoute: data.apiRoute }"
                [submitAttempt]="submitAttempt"
                placeholder="{{ 'COMMON_CONTRACTS.MODAL.WRITE_SUPPLIER' | translate }}"
                (memberRoleEvent)="doChangeSupplier($event)"
              >
              </mcit-member-role-field>
              <button type="button" class="btn btn-primary" (click)="doEditDefaultSupplier()">
                <i class="far fa-sliders-v fa-fw" aria-hidden="true"></i>
              </button>
            </ng-template>
          </div>
        </div>
        <ng-container *ngIf="data.purchaseOrSale === 'purchase'">
          <div *ngIf="contractForm.get('default_supplier').value as value" class="form-row">
            <div class="col-12">
              <div class="font-size-0_75 font-italic text-right">
                {{ 'COMMON_CONTRACTS.MODAL.NB_SUBSCRIPTIONS' | translate : { num: value.subscriptions?.length || 0 } }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 col-xl-6 mb-2">
        <label for="_billed_customer">{{ 'COMMON_CONTRACTS.MODAL.BILLED' | translate }}</label>
        <div class="form-row">
          <div class="col-12 mb-2 d-flex flex-row">
            <mcit-member-role-field
              id="_billed_customer"
              formControlName="_billed_customer"
              class="flex-grow-1"
              placeholder="{{ 'COMMON_CONTRACTS.MODAL.WRITE_BILLED' | translate }}"
              [role]="'BILLED'"
              [options]="{ useThirdParty: true, editable: true, useSubscriptions: true, apiRoute: data.apiRoute }"
              [submitAttempt]="false"
              [isDisabled]="data.isDisabled"
            >
            </mcit-member-role-field>
            <button *ngIf="!data.isDisabled" type="button" class="btn btn-primary" [disabled]="!billedCustomer" (click)="doAddBilled()">
              <i class="far fa-plus fa-fw" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12 mb-2 text-center">
            <strong *ngIf="!contractForm.get('billed_customers').value || !contractForm.get('billed_customers').value.length">{{ 'COMMON_CONTRACTS.MODAL.NONE_BILLED' | translate }}</strong>
            <table *ngIf="contractForm.get('billed_customers').value && contractForm.get('billed_customers').value.length" class="table table-striped table-sm">
              <tbody>
                <tr *ngFor="let memberRole of contractForm.get('billed_customers').value; let i = index">
                  <th class="text-left align-middle" scope="row">{{ i + 1 }}</th>
                  <td class="text-center align-middle">
                    {{ memberRole.name }}
                    <span *ngIf="memberRole | getGefcoTransco">({{ memberRole | getGefcoTransco }})</span>
                    <span *ngIf="memberRole?.obplatform?.platform_id">({{ memberRole.obplatform.platform_id }})</span>
                    <span *ngIf="memberRole?.obcenter?.center_id">({{ memberRole.obcenter.center_id }})</span>
                  </td>
                  <td class="align-middle" style="width: 94px">
                    <div class="d-flex flex-row justify-content-end align-items-center">
                      <button type="button" class="btn btn-icon" (click)="doEditBilled(i)">
                        <i class="fas fa-edit" aria-hidden="true" [ngClass]="{ 'text-warning': memberRole.check_derogatory_main_infos }"></i>
                      </button>
                      <button *ngIf="!data.isDisabled" type="button" class="btn btn-icon text-danger" (click)="doDeleteBilled(i)">
                        <i class="fas fa-trash" aria-hidden="true"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6 mb-2">
        <label for="_principal_customer">{{ 'COMMON_CONTRACTS.MODAL.PRINCIPAL' | translate }}</label>
        <div class="form-row">
          <div class="col-12 mb-2 d-flex flex-row">
            <mcit-member-role-field
              id="_principal_customer"
              formControlName="_principal_customer"
              class="flex-grow-1"
              placeholder="{{ 'COMMON_CONTRACTS.MODAL.WRITE_PRINCIPAL' | translate }}"
              [role]="'PRINCIPAL'"
              [options]="{ useThirdParty: true, editable: true, useSubscriptions: true, apiRoute: data.apiRoute }"
              [submitAttempt]="false"
              [isDisabled]="data.isDisabled"
              [textArea]="true"
              [parentForm]="contractForm"
            >
            </mcit-member-role-field>
            <button *ngIf="!data.isDisabled" type="button" class="btn btn-primary" [disabled]="!principalCustomer" (click)="doAddPrincipal()">
              <i class="far fa-plus fa-fw" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12 mb-2 text-center">
            <strong *ngIf="!contractForm.get('principal_customers').value || !contractForm.get('principal_customers').value.length">{{ 'COMMON_CONTRACTS.MODAL.NONE_PRINCIPAL' | translate }}</strong>
            <table *ngIf="contractForm.get('principal_customers').value && contractForm.get('principal_customers').value.length" class="table table-striped table-sm">
              <tbody>
                <tr *ngFor="let memberRole of contractForm.get('principal_customers').value; let i = index">
                  <th class="text-left align-middle" scope="row">{{ i + 1 }}</th>
                  <td class="text-center align-middle">
                    {{ memberRole.name }}
                    <span *ngIf="memberRole | getGefcoTransco">({{ memberRole | getGefcoTransco }})</span>
                    <span *ngIf="memberRole?.obplatform?.platform_id">({{ memberRole.obplatform.platform_id }})</span>
                    <span *ngIf="memberRole?.obcenter?.center_id">({{ memberRole.obcenter.center_id }})</span>
                  </td>
                  <td class="align-middle" style="width: 94px">
                    <div class="d-flex flex-row justify-content-end align-items-center">
                      <button type="button" class="btn btn-icon" (click)="doEditPrincipal(i)">
                        <i class="fas fa-edit" aria-hidden="true"></i>
                      </button>
                      <button *ngIf="!data.isDisabled" type="button" class="btn btn-icon text-danger" (click)="doDeletePrincipal(i)">
                        <i class="fas fa-trash" aria-hidden="true"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="invalid-feedback d-block text-center" *ngIf="checkSupplierAndCustomers()">
        {{ 'COMMON_CONTRACTS.MODAL.NO_SUPPLIER_OR_CUSTOMER_ERROR' | translate }}
      </div>
      <div class="invalid-feedback d-block text-center" *ngIf="!checkSupplierAndCustomers() && checkCustomersPurchaseContract()">
        {{ 'COMMON_CONTRACTS.MODAL.OWNER_NOT_IN_CUSTOMERS' | translate }}
      </div>
    </div>

    <div class="form-row">
      <div class="col-6 col-lg-3 mb-2">
        <label for="mean_order">{{ 'COMMON_CONTRACTS.MODAL.MEAN_ORDER_CHECK' | translate }}</label>
        <div class="d-flex flex-row form-control">
          <ui-switch id="mean_order" formControlName="mean_order" color="#31394D" size="small"></ui-switch>
          <span class="ml-2 font-weight-bold" [ngClass]="contractForm.get('mean_order').value ? 'text-body' : 'text-secondary'">{{
            (contractForm.get('mean_order').value ? 'COMMON_CONTRACTS.MODAL.VISIBLE' : 'COMMON_CONTRACTS.MODAL.INVISIBLE') | translate
          }}</span>
        </div>
      </div>
      <div class="col-6 col-lg-3 mb-2">
        <label for="rolling_vehicles_only">{{ 'COMMON_CONTRACTS.MODAL.ROLLING_VEHICLES_ONLY_CHECK' | translate }}</label>
        <div class="d-flex flex-row form-control">
          <ui-switch id="rolling_vehicles_only" formControlName="rolling_vehicles_only" color="#31394D" size="small"> </ui-switch>
          <span class="ml-2 font-weight-bold" [ngClass]="contractForm.get('rolling_vehicles_only').value ? 'text-body' : 'text-secondary'">{{
            (contractForm.get('rolling_vehicles_only').value ? 'COMMON_CONTRACTS.MODAL.ROLLING_VEHICLES_ONLY' : 'COMMON_CONTRACTS.MODAL.ALL_VEHICLES') | translate
          }}</span>
        </div>
      </div>
      <div class="col-6 col-lg-3 mb-2">
        <label for="role_restriction">{{ 'COMMON_CONTRACTS.MODAL.ROLE_RESTRICTION.LABEL' | translate }}</label>
        <div class="input-group">
          <select id="role_restriction" name="role_restriction" class="form-control custom-select" formControlName="role_restriction">
            <option *ngFor="let role of contractRolesRestrictions" [value]="role">
              {{ 'COMMON_CONTRACTS.MODAL.ROLE_RESTRICTION.' + role | translate }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-6 col-lg-3 mb-2">
        <label for="distance_calculator">{{ 'COMMON_CONTRACTS.MODAL.DISTANCE_CALCULATOR.LABEL' | translate }}</label>
        <div class="input-group">
          <select id="distance_calculator" name="distance_calculator" class="form-control custom-select" formControlName="distance_calculator">
            <option *ngFor="let distanceCalculator of distanceCalculatorList" [value]="distanceCalculator.code">
              {{ distanceCalculator.label }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 col-md-6 mb-2">
        <label for="activity_code" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.ACTIVITY_CODE' | translate }}</label>
        <div class="input-group">
          <select
            id="activity_code"
            name="activity_code"
            class="form-control custom-select last-child-form-control"
            formControlName="activity_code"
            [control-active]="(contractForm.controls['activity_code'].dirty && contractForm.controls['activity_code'].touched) || submitAttempt"
          >
            <option [value]="''">{{ 'COMMON.NONE' | translate }}</option>
            <option *ngFor="let activity of activityCodes" [value]="activity">
              {{ 'ACTIVITY_CODES.' + activity | translate }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="transport_type" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.TRANSPORT_TYPE' | translate }}</label>
        <div class="input-group">
          <select
            id="transport_type"
            name="transport_type"
            class="form-control custom-select last-child-form-control"
            formControlName="transport_type"
            [control-active]="(contractForm.controls['transport_type'].dirty && contractForm.controls['transport_type'].touched) || submitAttempt"
          >
            <option *ngFor="let transport of transportTypes" [value]="transport">
              {{ 'TRANSPORT_TYPES.' + transport | translate }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 col-xl-6 mb-2">
        <label for="_departure" [class.mcit-mandatory]="contractForm.get('mean_order').value">{{ 'COMMON_CONTRACTS.MODAL.DEPARTURE' | translate }}</label>
        <div class="form-row">
          <div class="col-12 mb-2 d-flex flex-row">
            <mcit-member-role-field
              id="_departure"
              formControlName="_departure"
              class="flex-grow-1"
              [priority_role]="'PICKUP'"
              [isDisabled]="data.isDisabled"
              placeholder="{{ 'COMMON_CONTRACTS.MODAL.WRITE_DEPARTURE' | translate }}"
              [options]="{
                useThirdParty: true,
                usePlace: true,
                editable: true,
                useSubscriptions: true,
                apiRoute: data.apiRoute
              }"
              [submitAttempt]="false"
            ></mcit-member-role-field>

            <button *ngIf="!data.isDisabled" type="button" class="btn btn-primary" [disabled]="!departure" (click)="doAddDeparture()">
              <i class="far fa-plus fa-fw" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-primary" (click)="doEditDefaultDeparture()">
              <i class="far fa-sliders-v fa-fw" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div *ngIf="contractForm.get('default_departure').value as value" class="form-row">
          <div class="col-12">
            <div class="font-size-0_75 font-italic text-right">
              {{
                [(value.has_appointment ? 'COMMON_CONTRACTS.MODAL.PUT_APPOINTMENT' : 'COMMON_CONTRACTS.MODAL.NO_APPOINTMENT') | translate, 'COMMON_CONTRACTS.MODAL.NB_SUBSCRIPTIONS' | translate : { num: value.subscriptions?.length || 0 }]
                  | join : ' ; '
              }}
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12 mb-2 text-center">
            <strong *ngIf="!contractForm.get('departure').value || !contractForm.get('departure').value.length">{{ 'COMMON_CONTRACTS.MODAL.NONE_DEPARTURE' | translate }}</strong>
            <table *ngIf="contractForm.get('departure').value && contractForm.get('departure').value.length" class="table table-striped table-sm">
              <tbody>
                <tr *ngFor="let memberRole of contractForm.get('departure').value; let i = index">
                  <th class="text-left align-middle" scope="row">{{ i + 1 }}</th>
                  <td class="text-center align-middle">
                    {{ memberRole.name }}{{ memberRole.name !== memberRole.address1 ? ' ' + ([memberRole.address1, memberRole.zip, memberRole.city, memberRole.country.name] | join : ', ') : '' }}
                    <span *ngIf="memberRole | getGefcoTransco">({{ memberRole | getGefcoTransco }})</span>
                    <span *ngIf="memberRole?.obplatform?.platform_id">({{ memberRole.obplatform.platform_id }})</span>
                    <span *ngIf="memberRole?.obcenter?.center_id">({{ memberRole.obcenter.center_id }})</span>
                  </td>
                  <td class="align-middle" style="width: 94px">
                    <div class="d-flex flex-row justify-content-end align-items-center">
                      <button type="button" class="btn btn-icon" (click)="doEditDeparture(i)">
                        <i class="fas fa-edit" aria-hidden="true"></i>
                      </button>
                      <button *ngIf="!data.isDisabled" type="button" class="btn btn-icon text-danger" (click)="doDeleteDeparture(i)">
                        <i class="fas fa-trash" aria-hidden="true"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6 mb-2">
        <label for="_arrival" [class.mcit-mandatory]="contractForm.get('mean_order').value">{{ 'COMMON_CONTRACTS.MODAL.ARRIVAL' | translate }}</label>
        <div class="form-row">
          <div class="col-12 mb-2 d-flex flex-row">
            <mcit-member-role-field
              id="_arrival"
              formControlName="_arrival"
              class="flex-grow-1"
              [priority_role]="'DELIVERY'"
              [isDisabled]="data.isDisabled"
              placeholder="{{ 'COMMON_CONTRACTS.MODAL.WRITE_ARRIVAL' | translate }}"
              [options]="{
                useThirdParty: true,
                usePlace: true,
                editable: true,
                useSubscriptions: true,
                apiRoute: data.apiRoute
              }"
              [submitAttempt]="false"
            ></mcit-member-role-field>
            <button *ngIf="!data.isDisabled" type="button" class="btn btn-primary" [disabled]="!arrival" (click)="doAddArrival()">
              <i class="far fa-plus fa-fw" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-primary" (click)="doEditDefaultArrival()">
              <i class="far fa-sliders-v fa-fw" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div *ngIf="contractForm.get('default_arrival').value as value" class="form-row">
          <div class="col-12">
            <div class="font-size-0_75 font-italic text-right">
              {{
                [(value.has_appointment ? 'COMMON_CONTRACTS.MODAL.PUT_APPOINTMENT' : 'COMMON_CONTRACTS.MODAL.NO_APPOINTMENT') | translate, 'COMMON_CONTRACTS.MODAL.NB_SUBSCRIPTIONS' | translate : { num: value.subscriptions?.length || 0 }]
                  | join : '; '
              }}
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12 mb-2 text-center">
            <strong *ngIf="!contractForm.get('arrival').value || !contractForm.get('arrival').value.length">{{ 'COMMON_CONTRACTS.MODAL.NONE_ARRIVAL' | translate }}</strong>
            <table *ngIf="contractForm.get('arrival').value && contractForm.get('arrival').value.length" class="table table-striped table-sm">
              <tbody>
                <tr *ngFor="let memberRole of contractForm.get('arrival').value; let i = index">
                  <th class="text-left align-middle" scope="row">{{ i + 1 }}</th>
                  <td class="text-center align-middle">
                    {{ memberRole.name }}{{ memberRole.name !== memberRole.address1 ? ' ' + ([memberRole.address1, memberRole.zip, memberRole.city, memberRole.country.name] | join : ', ') : '' }}
                    <span *ngIf="memberRole | getGefcoTransco">({{ memberRole | getGefcoTransco }})</span>
                    <span *ngIf="memberRole?.obplatform?.platform_id">({{ memberRole.obplatform.platform_id }})</span>
                    <span *ngIf="memberRole?.obcenter?.center_id">({{ memberRole.obcenter.center_id }})</span>
                  </td>
                  <td class="align-middle" style="width: 94px">
                    <div class="d-flex flex-row justify-content-end align-items-center">
                      <button type="button" class="btn btn-icon" (click)="doEditArrival(i)">
                        <i class="fas fa-edit" aria-hidden="true"></i>
                      </button>
                      <button *ngIf="!data.isDisabled" type="button" class="btn btn-icon text-danger" (click)="doDeleteArrival(i)">
                        <i class="fas fa-trash" aria-hidden="true"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 col-lg-4 mb-2">
        <label for="service_type" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.VERSION.SERVICE_TYPE' | translate }}</label>
        <div class="input-group">
          <select id="service_type" name="service_type" (change)="resetPricingLines()" class="form-control custom-select last-child-form-control" formControlName="service_type">
            <option *ngFor="let service of serviceTypes" [value]="service">
              {{ 'SERVICE_TYPES.' + service | translate }}
            </option>
          </select>
          <div class="invalid-feedback">
            {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-2 mb-2">
        <label for="vnvo_type">VN/VO</label>
        <div class="input-group">
          <select id="vnvo_type" name="vnvo_type" class="form-control custom-select" formControlName="vnvo_type">
            <option *ngFor="let state of states" [value]="state">{{ state }}</option>
          </select>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-2 mb-2">
        <label for="currency" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.CURRENCY' | translate }}</label>
        <div class="input-group">
          <select
            id="currency"
            name="currency"
            class="form-control custom-select last-child-form-control"
            formControlName="currency"
            [control-active]="(contractForm.get('currency').dirty && contractForm.get('currency').touched) || submitAttempt"
          >
            <option *ngFor="let c of currencyOptions" [value]="c.name">
              {{ c.symbol }}
            </option>
          </select>
          <div class="invalid-feedback">
            {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mb-2 d-flex align-items-end">
        <button class="btn btn-primary btn-block" type="button" (click)="doAddValorization()">{{ 'COMMON_CONTRACTS.MODAL.VALORIZATION.TITLE' | translate }}...</button>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 col-lg-6 mb-2">
        <label for="check_pod_manually">{{ 'COMMON_CONTRACTS.MODAL.POD.CHECK_POD_MANUALLY' | translate }}</label>
        <div class="d-flex flex-row form-control">
          <ui-switch id="check_pod_manually" formControlName="check_pod_manually" color="#31394D" size="small"> </ui-switch>
          <span class="ml-2 font-weight-bold" [ngClass]="contractForm.get('check_pod_manually').value ? 'text-body' : 'text-secondary'">{{
            (contractForm.get('check_pod_manually').value ? 'COMMON_CONTRACTS.MODAL.POD.CHECK_POD' : 'COMMON_CONTRACTS.MODAL.POD.NO_CHECK_POD') | translate
          }}</span>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-2">
        <label *ngIf="!data.isDisabled">{{ 'COMMON_CONTRACTS.MODAL.TAGS' | translate }}</label>
        <mcit-tags-input [tagList]="contractForm.get('tags').value" maxLength="10" [disabled]="data.isDisabled" (valueChange)="onTagListChange($event)"></mcit-tags-input>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-2">
        <label *ngIf="!data.isDisabled">{{ 'COMMON_CONTRACTS.MODAL.CUSTOMER_TAGS' | translate }}</label>
        <mcit-tags-input [tagList]="contractForm.get('customer_tags').value" maxLength="10" [disabled]="data.isDisabled" (valueChange)="onCustomerTagListChange($event)"></mcit-tags-input>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-2">
        <label>{{ 'COMMON_CONTRACTS.MODAL.DATE_TARIF_CALCULATION' | translate }}</label>
        <div class="mb-2 d-flex text-center align-items-center">
          <span class="mr-2" [class.font-weight-bold]="!contractForm.controls['tarif_use_end_date'].value">{{ 'COMMON_CONTRACTS.MODAL.DATE_START' | translate }}</span>
          <ui-switch id="tarif_use_start_date" color="#31394D" size="small" formControlName="tarif_use_end_date"> </ui-switch>
          <span class="ml-2" [class.font-weight-bold]="contractForm.controls['tarif_use_end_date'].value">{{ 'COMMON_CONTRACTS.MODAL.DATE_END' | translate }}</span>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-2">
        <label *ngIf="!data.isDisabled">{{ 'COMMON_CONTRACTS.MODAL.REQUIRED_EXPERTISE' | translate }}</label>
        <mcit-tags-input [tagList]="contractForm.get('required_expertise').value" maxLength="10" [disabled]="data.isDisabled" (valueChange)="onRequiredExpertiseListChange($event)"></mcit-tags-input>
      </div>
    </div>

    <div class="form-row" *ngIf="contractForm.get('versions')['controls'].length > 1">
      <div class="flex-grow-1 d-flex flex-row justify-content-start align-items-center ng-star-inserted col-2">
        <div class="list-group list-group-horizontal mr-2">
          <a
            href="javascript:void(0)"
            class="list-group-item list-group-item-action px-2 py-1"
            [class.active]="versionsOpenMode === 'first'"
            [mcitTooltip]="'GROUPAGE_COMPONENT.OPEN_MODES.FIRST' | translate"
            (click)="doToggleVersionsOpenMode('first')"
          >
            <i class="fas fa-1 fa-xs fa-fw" aria-hidden="true"></i>
          </a>
          <a
            href="javascript:void(0)"
            class="list-group-item list-group-item-action px-2 py-1"
            [class.active]="versionsOpenMode === 'all'"
            [mcitTooltip]="'GROUPAGE_COMPONENT.OPEN_MODES.ALL' | translate"
            (click)="doToggleVersionsOpenMode('all')"
          >
            <i class="fas fa-chevron-double-down fa-xs fa-fw" aria-hidden="true"></i>
          </a>
          <a
            href="javascript:void(0)"
            class="list-group-item list-group-item-action px-2 py-1"
            [class.active]="versionsOpenMode === 'close'"
            [mcitTooltip]="'GROUPAGE_COMPONENT.OPEN_MODES.CLOSE' | translate"
            (click)="doToggleVersionsOpenMode('close')"
          >
            <i class="fas fa-chevron-double-right fa-xs fa-fw" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 mb-2">
        <mcit-simple-accordion
          #versionsAccordion
          formArrayName="versions"
          *ngFor="let version of contractForm.get('versions')['controls']; let i = index"
          [open]="versionsOpenStatus[i] || ((version.value | isContractVersionActive) && versionsOpenMode !== 'close')"
          (openEvent)="doToggleVersionOpenStatus($event, i)"
        >
          <div simple-accordion-header class="mcit-accordion-header d-flex flex-row justify-content-between align-items-center p-2 mb-2" [ngClass]="(version.value | isContractVersionActive) ? 'accordion-header-active' : ''">
            <div class="my-title">
              <i class="fas" aria-hidden="true" [ngClass]="versionsAccordion.open ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
              {{ 'COMMON_CONTRACTS.MODAL.VERSION_NUM' | translate : { num: i + 1 } }}
              <div *ngIf="!versionsAccordion.open" class="original-capitalization d-inline ml-2">
                <span [ngClass]="!version.get('pricing_lines').length ? 'font-italic text-danger' : ''">
                  {{ version.get('pricing_lines').length ? 'Nb formulas: ' + version.get('pricing_lines').length : ('COMMON_CONTRACTS.MODAL.VERSION.NO_FORMULA' | translate) }}
                </span>
              </div>
            </div>
            <div *ngIf="!versionsAccordion.open">
              <span class="font-italic">
                {{ (version.get('date_start').value | dateTranslate : 'date') || ('COMMON_CONTRACTS.MODAL.VERSION.NO_VERSION_START_DATE' | translate) }}
                -
                {{ (version.get('date_end').value | dateTranslate : 'date') || ('COMMON_CONTRACTS.MODAL.VERSION.NO_VERSION_END_DATE' | translate) }}
              </span>
            </div>
          </div>
          <div [formGroupName]="i">
            <div class="form-row">
              <div class="col-12 mb-2">
                <div class="form-row">
                  <div class="col-12 col-md-6 mb-2">
                    <label [for]="'date_start_' + i" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.VERSION.DATE_START' | translate }}</label>
                    <mcit-date-local-field [id]="'date_start_' + i" formControlName="date_start" [submitAttempt]="submitAttempt" [isDisabled]="data.isDisabled"></mcit-date-local-field>
                  </div>
                  <div class="col-12 col-md-6 mb-2">
                    <label [for]="'date_end_' + i">{{ 'COMMON_CONTRACTS.MODAL.VERSION.DATE_END' | translate }}</label>
                    <mcit-date-local-field [id]="'date_end_' + i" formControlName="date_end" [submitAttempt]="submitAttempt" [isDisabled]="data.isDisabled"></mcit-date-local-field>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-2 mb-2">
                    <label [for]="'time_limit_type_' + i"> {{ 'COMMON_CONTRACTS.MODAL.TIME_LIMIT_TITLE' | translate }}</label>
                    <div class="input-group">
                      <select
                        [id]="'time_limit_type_' + i"
                        name="time_limit_type"
                        class="form-control custom-select"
                        formControlName="time_limit_type"
                        (change)="onTimeLimitTypeChange(version, $event.target.value)"
                        [control-active]="(version.get('time_limit_type').dirty && version.get('time_limit_type').touched) || submitAttempt"
                      >
                        <option *ngFor="let timeLimit of timeLimits" [value]="timeLimit">
                          {{ 'TIME_LIMIT_TYPE.' + timeLimit | translate }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-md-2 mb-2">
                    <label for="time_limit_value"> {{ 'COMMON_CONTRACTS.MODAL.DELIVERY_TIME' | translate }}</label>
                    <div class="input-group">
                      <input id="time_limit_value" name="time_limit_value" formControlName="time_limit_value" type="number" class="form-control last-child-form-control" />
                    </div>
                  </div>
                  <div class="col-12 col-md-2 mb-2">
                    <label [for]="'start_event_' + i"> {{ 'COMMON_CONTRACTS.MODAL.START_EVENT.TITLE' | translate }}</label>
                    <div class="input-group">
                      <select
                        [id]="'start_event_' + i"
                        name="start_event"
                        class="form-control custom-select last-child-form-control"
                        formControlName="start_event"
                        [control-active]="(version.get('start_event').dirty && version.get('start_event').touched) || submitAttempt"
                      >
                        <option *ngFor="let startEvent of startEvents" [value]="startEvent">
                          {{ 'COMMON_CONTRACTS.MODAL.START_EVENT.' + startEvent | translate }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div *ngIf="!contractForm.get('rolling_vehicles_only').value" class="col-12 col-md-6 mb-2">
                    <label for="non_rolling_fixed_malus"> {{ 'COMMON_CONTRACTS.MODAL.NON_ROLLING_FIXED_MALUS' | translate }}</label>
                    <div class="input-group">
                      <input id="non_rolling_fixed_malus" name="non_rolling_fixed_malus" formControlName="non_rolling_fixed_malus" type="number" class="form-control last-child-form-control" />
                    </div>
                  </div>
                </div>
                <div class="form-row" *ngIf="version.get('pricing_lines')" formArrayName="pricing_lines">
                  <div class="col-12 mb-2" cdkDropList (cdkDropListDropped)="drop($event, version.get('pricing_lines')['controls'])">
                    <label [for]="'formula_' + i" class="mcit-mandatory">{{ 'COMMON_CONTRACTS.MODAL.VERSION.PRICING_LINES.FORMULA' | translate }}</label>
                    <div class="form-row align-items-center box-pricing-line" *ngFor="let pricing_line of version.get('pricing_lines')['controls']; let j = index" [formGroupName]="j" cdkDrag>
                      <div class="col-auto mb-1 mt-1">
                        <button class="btn btn-icon fas fa-grip-lines" style="cursor: move"></button>
                      </div>
                      <div class="col">
                        <div class="form-row">
                          <div class="col-12 col-md-4 mb-1 mt-1">
                            <div class="input-group">
                              <select
                                [id]="'formula_' + i"
                                name="formula"
                                class="form-control custom-select last-child-form-control"
                                formControlName="formula"
                                [control-active]="(pricing_line.controls['formula'].dirty && pricing_line.controls['formula'].touched) || submitAttempt"
                              >
                                <option [hidden]="true">
                                  {{ 'COMMON_CONTRACTS.FORMULAS.' + pricing_line.get('formula').value | translate }}
                                </option>
                                <option *ngFor="let pricingFormula of pricingFormulas" [value]="pricingFormula">
                                  {{ 'COMMON_CONTRACTS.FORMULAS.' + pricingFormula | translate }}
                                </option>
                              </select>
                              <div class="invalid-feedback">
                                {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-8 mb-1 mt-1">
                            <div class="form-row">
                              <div class="col-12">
                                <div class="input-group">
                                  <input type="text" class="form-control last-child-form-control" value="{{ pricing_line.getRawValue() | pricinglineparameter }}" readonly />
                                  <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" (click)="doAddPrice(pricing_line.controls.formula.value, pricing_line)">
                                      <i class="far fa-edit" aria-hidden="true"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="input-group">
                          <select name="bunker_index" class="form-control custom-select last-child-form-control" formControlName="bunker_index">
                            <option [value]="null"></option>
                            <option *ngFor="let bunker of bunkers" [value]="bunker?._id">
                              {{ bunker.code }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div *ngIf="!data.isDisabled" class="col-auto mb-1 mt-1">
                        <button class="btn btn-icon text-danger" type="button" (click)="doDeletePricingLine(i, j)">
                          <i class="fas fa-trash" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="!data.isDisabled" class="form-row">
                  <div class="col-12 mb=2 my-auto">
                    <button class="btn btn-primary" type="button" (click)="doAddPricingLine(version)">
                      {{ 'COMMON_CONTRACTS.MODAL.VERSION.ADD_PRICING_LINE' | translate }}
                    </button>
                  </div>
                </div>
                <div *ngIf="!data.isDisabled" class="form-row">
                  <div class="col-12 mb-3 text-right my-auto">
                    <button class="btnpurchaseOrSale === 'sale' btn-danger btn-sm" type="button" (click)="doDeleteVersion(i)">
                      {{ 'COMMON_CONTRACTS.MODAL.VERSION.DELETE_VERSION' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mcit-simple-accordion>

        <div *ngIf="!data.isDisabled" class="form-row">
          <div class="col-12 mb-2 my-auto">
            <button class="btn btn-primary" type="button" (click)="doAddVersion(null)">
              {{ 'COMMON_CONTRACTS.MODAL.VERSION.ADD_VERSION' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary mr-1" type="button" (click)="goBack()">
      {{ (data.isDisabled ? 'COMMON.CLOSE' : 'COMMON.CANCEL') | translate }}
    </button>
    <button *ngIf="!data.isDisabled" class="btn btn-primary ml-1" type="submit" [disabled]="contractForm.invalid || checkSupplierAndCustomers() || checkCustomersPurchaseContract()">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</form>
