<div class="modal-header">
  <h4 class="modal-title">{{ title | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul class="nav d-flex flex-column">
    <li *ngFor="let option of options; let i = index" class="nav-item">
      <div class="custom-control custom-checkbox">
        <input [id]="option.code" class="custom-control-input" type="checkbox" [checked]="codes.indexOf(option.code) !== -1" (change)="doChangeCode(option.code, $event)" />
        <label [for]="option.code" class="custom-control-label">{{ option.name | translate }}</label>
      </div>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-primary mr-1" (click)="doClose()">{{ 'COMMON.CANCEL' | translate }}</button>
  <button class="btn btn-primary ml-1" (click)="doFilter()">{{ 'COMMON.CHOOSE' | translate }}</button>
</div>
