$margin: 20px;
$margin-bottom: 10px;
$padding: 10px;
$size: 15px;
.color-picker {
  background: #fff;
  max-width: 280px;

  .circle {
    height: $size;
    width: $size;
    box-sizing: border-box;
    border-radius: 100%;
    cursor: pointer;
    &:hover {
      border: #fff solid 0.5px;
      box-shadow: 0px 0px 1px 1px#7d91a7 
    }
  }

  .no-colors {
    padding: $padding;
    font-size: $size;
    min-width: 38px;
    border-right: #7d91a7 solid 1px;
    .clickable {
      cursor: pointer;
    }
  }

  .colors {
    padding: $padding;
    display: flex;
    flex-wrap: wrap;

    .circle {
      margin-right: $margin;
      
      &:nth-child(-n+6) {
        margin-bottom: $margin-bottom;
      };

      &:nth-child(6n) {
        margin-right: 0;
      };
    }
    
  }
  .selected {
    border: #fff solid 0.5px;
    box-shadow: 0px 0px 1px 1px#7d91a7;
    border-radius: 50%;
  }
}

.my-border {
  border-bottom: #7d91a7 solid 1px;
  border-top: #7d91a7 solid 1px;
}
