<div class="d-flex justify-content-center my-border">
  <div class="color-picker d-flex">
    <div class="no-colors d-flex align-items-center">
      <i class="far fa-ban clickable" (click)="deleteColor()" [class.selected]="checkIfInColors('nocolor')"></i>
    </div>
    <div class="colors">
      <div (click)="changeColor(paint)" *ngFor="let paint of defaultColors" class="circle" [ngStyle]="{ background: paint }" [class.selected]="checkIfInColors(paint)"></div>
    </div>
  </div>
</div>
