.tag-parent {
  background-color: #fff;
  transition: none;
}

.tag-parent-inline {
  overflow: hidden;
  display:flex;
  height: 28px;
}

.tag-parent-twoline {
  overflow: hidden;
  display:flex;
  height: 40px;
}

.tag-parent-disabled {
  background: transparent;
}

.tag-parent-center {
  justify-content: center;
}

.tag-input {
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  display: inline;
  margin: 0;
  max-width: inherit;
  width: auto;
  flex-grow: 100;
}

.tag {
  padding: 0.2rem 0.5rem;
  margin: 0.2em 0.1em;
}

.tag-btn {
  padding: .2rem;
  line-height: .5;
  border-radius: .5rem;
  margin: .1rem;
  cursor: pointer;
}

.font-mini{
  font-size: .5rem;
}