<div
  class="tag-parent d-flex flex-row align-items-center"
  (click)="doFocusInput()"
  [ngClass]="{
    'tag-parent-disabled': disabled !== false,
    'tag-parent-inline': inline !== false && expanded === false,
    'tag-parent-twoline': twoline !== false,
    'd-flex flex-wrap': inline === false || expanded === true,
    border: disabled === false,
    'tag-parent-center': center !== false
  }"
>
  <i *ngIf="tagList?.length > 0 && inline !== false" (click)="doToggleExpanded()" class="far fa-fw fa-sm" [ngClass]="{ 'fa-minus': expanded === true, 'fa-plus': expanded !== true }"></i>
  <i *ngIf="tagList?.length > 0 && charactersLength > maxCharactersLength && twoline !== false" (click)="doToggleExpanded()" class="far fa-fw fa-sm fa-plus"></i>
  <span *ngFor="let tag of tagList; let i = index" class="badge badge-pill tag" [ngClass]="{ 'd-flex align-items-center': inline === false }" [mcitRandomColor]="tag">
    <i *ngIf="iconClass" [ngClass]="iconClass"></i>
    <span>{{ tag[displayAttr] || tag }}</span>
    <span class="font-italic font-weight-lighter font-mini" *ngIf="displayAdditionalAttr.length">{{ displayAdditionalAttr | additionalAttr : tag }}</span>
    <span class="btn btn-primary tag-btn" (click)="doRemoveTag(tag, i)" *ngIf="disabled === false || isTagRemovable === true" [mcitRandomColor]="tag">&times;</span>
  </span>
  <input
    [placeholder]="placeholder"
    *ngIf="tagList && tagList?.length < maxLength && disabled === false"
    #newTagInput
    type="text"
    [maxLength]="max != null ? max : isEmail ? 1000 : 14"
    class="form-control tag-input"
    autocomplete="off"
    (keydown.backspace)="doDeleteLastTag($event)"
    (keydown.enter)="doValidTag($event); (false)"
    (keydown.;)="doValidTag($event)"
  />
  <span class="badge badge-light"
    ><small *ngIf="tagList && tagList?.length >= maxLength">
      {{ 'TAG_INPUT.MAXIMUM_REACHED' | translate }}
    </small></span
  >
</div>
