<!--List discussions-->
<ngx-loading [show]="waiting" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
<ng-container *ngIf="discussions$ | async as discussions">
  <!--  PHONE  -->
  <ng-container *ngIf="from === CHAT_ACTOR_FROM.MOVEECAR_DRIVER">
    <div class="my-fixed-nav">
      <ul class="d-flex justify-content-center nav nav-tabs pt-3 text-secondary" [ngClass]="msgType + '-nav-tabs'">
        <li *ngFor="let type of discussions | discussionsMessagesTypes" class="nav-item">
          <a class="nav-link cursor-pointer" [class.active]="msgType === type" [ngClass]="msgType === type ? type + '-active' : ''" aria-current="page" (click)="doChangeTypeDiscussion(type, discussions)">
            <span class="fa-layers fa-fw">
              <i [ngClass]="(type | chatForType : true) + ' p-3 ' + (msgType === type ? type : 'text-secondary')"></i>
              <ng-container *ngIf="countByType[type] as count">
                <span *ngIf="count > 0" class="fa-layers-counter bg-danger">
                  {{ count }}
                </span>
              </ng-container>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <mcit-chat-messages [user]="user" [from]="from" [msgType]="msgType" (actionEvent)="onActionEvent($event)" (sendMessageEvent)="onSendMessage($event)"> </mcit-chat-messages>
  </ng-container>

  <!--  WEB  -->
  <ng-container *ngIf="from !== CHAT_ACTOR_FROM.MOVEECAR_DRIVER">
    <ng-container *ngIf="currentDiscussion$ | async as currentDiscussion; else showDiscussions">
      <div class="row no-gutters border-bottom border-top bg-white pt-1 mb-2">
        <h5 class="col-1 pl-3 fa-solid fa-arrow-left cursor-pointer" (click)="doCloseChat()"></h5>
        <h5 class="col-10 text-center" [ngClass]="msgType">
          {{ (currentDiscussion | chatFindDriverActor)?.resource?.code }}
        </h5>
      </div>
      <mcit-chat-messages [user]="user" [msgType]="currentDiscussion?.key?.msg_type" (actionEvent)="onActionEvent($event)"> </mcit-chat-messages>
    </ng-container>
  </ng-container>

  <ng-template #showDiscussions>
    <ng-container *ngIf="from !== CHAT_ACTOR_FROM.MOVEECAR_DRIVER">
      <div style="display: flex; justify-content: space-between; align-items: center">
        <h5 class="px-3 mb-0">Chat</h5>
        <i class="btn px-3 py-2 fa-solid fa-ellipsis-vertical" (click)="doSendMassMessage(msgType)" [mcitTooltip]="'MASS_MESSAGE.TOOLTIP' | translate" mcitTooltipPosition="left"></i>
      </div>
      <div class="p-3 mb-3">
        <mcit-search-field [loading]="waiting" [options]="searchOptions" [(ngModel)]="searchBox" (ngModelChange)="querySubject.next(searchBox)">
          <div class="ml-1">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ 'COMMON.SORT' | translate }}</span>
              </div>
              <select class="custom-select" (change)="doChangeSort($event.target.value)">
                <option [value]="option.code" *ngFor="let option of options" [selected]="storageSortKey === option.code">
                  {{ option.nameKey | translate }}
                </option>
              </select>
            </div>
          </div>
        </mcit-search-field>
      </div>
      <ul class="d-flex nav nav-tabs pl-3 mb-4" [ngClass]="msgType + '-nav-tabs'">
        <li *ngFor="let type of chatMessageTypes" class="nav-item">
          <a class="nav-link cursor-pointer" [class.active]="msgType === type" [ngClass]="msgType === type ? type + '-active' : ''" aria-current="page" (click)="doChangeTypeDiscussion(type, discussions)">
            <span class="fa-layers fa-fw">
              <i [ngClass]="(type | chatForType : true) + ' p-3 ' + (msgType === type ? type : 'text-secondary')"></i>
              <ng-container *ngIf="countByType[type] as count">
                <span *ngIf="count > 0" class="fa-layers-counter bg-danger">
                  {{ count }}
                </span>
              </ng-container>
            </span>
          </a>
        </li>
      </ul>

      <ul class="list-group scroll-discussion" (scroll)="onScrollDiscussions($event)">
        <li *ngFor="let discussion of discussions | filterMsgType : msgType | checkingSortUnread : this.storageSortKey" class="list-group-item d-flex flex-column cursor-pointer" (click)="doOpenChat(discussion)">
          <div class="d-flex justify-content-between w-100">
            <div class="d-flex" [ngClass]="msgType">
              <i *ngIf="(discussion | chatFindDriverActor)?.resource?.type === 'truck'" class="far fa-fw fa-xs fa-truck" style="align-self: center"></i>
              <i *ngIf="(discussion | chatFindDriverActor)?.resource?.type === 'driver'" class="far fa-fw fa-xs fa-steering-wheel" style="align-self: center"></i>
              <div class="item-author text-color font-weight-bold pl-2">
                {{ (discussion | chatFindDriverActor)?.resource?.code }}
              </div>
            </div>
            <span *ngIf="(discussion?.unread_messages | countUnreadMessagesTotal : CHAT_ACTOR_FROM.MOVEECAR_CARRIER : msgType) > 0" class="badge badge-primary badge-pill my-badge">
              {{ discussion?.unread_messages | countUnreadMessagesTotal : CHAT_ACTOR_FROM.MOVEECAR_CARRIER : msgType }}
            </span>
          </div>
          <span>{{ (discussion | chatFindDriverActor)?.resource?.label_full_name_with_associated }}</span>
          <div class="item-except text-muted text-sm  h-1x {{ (discussion?.unread_messages | countUnreadMessagesTotal : CHAT_ACTOR_FROM.MOVEECAR_CARRIER : msgType) > 0 ? 'font-weight-bold' : '' }}">
            {{ discussion?.last_messages | discussionsLastMessage : msgType | discussionsLastMessageFormated }}
            <span class="ml-auto" style="font-size: xx-small; float: right">{{ (discussion?.last_messages | discussionsLastMessage : msgType)?.created_date | discussionsDateFormater }}</span>
          </div>
        </li>
        <li class="text-center align-middle p-0" *ngIf="shouldShowLoadMoreButton()">            
          <button type="button" class="btn p-0 font-weight-light font-size-0_75" (click)="loadMoreDiscussions()">
              <i class="far fa-chevron-down"></i>
              <span class="mx-1 load-more-btn">
                {{ 'COMMON.LOAD_MORE' | translate }}...
              </span>
              <i class="far fa-chevron-down"></i>
          </button>
        </li>
      </ul>
      <div class="text-center my-2" *ngIf="shouldShowLoadMoreButton()">

      </div>
    </ng-container>
  </ng-template>
</ng-container>
