@import '../../../../../variables';

$menu-header-color: $white;
$menu-text-color: $body-color;
$menu-active-text-color: mat-color($mcit-accent-palette, default-contrast);
$menu-active-background-color: mat-color($mcit-accent-palette);
$menu-active-hover-background-color: mat-color($mcit-accent-palette, darker);
$menu-hover-background-color: transparentize($menu-text-color, .9);
$menu-line-color: rgba($body-color, 0.3);
$menu-avatar-size: 56px;

.header {
  padding: 10px;
  min-height: $menu-header-height;
  background-color: $noir-bleu;
  color: $white;

  .profil {
    position: relative;
    cursor: pointer;
  }

  h1 {
    padding: 0;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
  }

  .avatar {
    min-width: $menu-avatar-size;
    width: $menu-avatar-size;
    min-height: $menu-avatar-size;
    height: $menu-avatar-size;
    text-align: center;
    border-radius: 100%;
    margin: 0 10px 0 0;
    background: url('./unknown_avatar.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: $white;
    overflow: hidden;
    border: $cool-gray_5 solid 2px;

    img {
      width: $menu-avatar-size;
      height: $menu-avatar-size;
      object-fit: contain;
      background-color: $white;
    }
  }

  .user-name {
    @include font(500, 18, 20);
    text-align: left;
    vertical-align: baseline;
    text-transform: capitalize;
  }

  .description {
    @include font(300, 14, 16);
    text-align: left;
    vertical-align: baseline;
    text-overflow: ellipsis;
  }
}

div.menu {
  margin: 0 10px;
  height: calc(100% - #{$menu-header-height + $footer-height});
  font-size: 1.33333rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
    height: calc(100% - #{$menu-header-height});
  }

  & > nav {
    border-bottom: 1px solid $menu-line-color;
    padding: 5px 0;

    &:last-child {
      border-bottom: 0;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      & > li {
        padding: 0;
        margin: 5px 0;

        & > .action {
          position: relative;
          user-select: none;
          box-sizing: border-box;
          display: block;
          text-decoration: none;
          transition: all .3s;
          padding: 10px;
          color: $menu-text-color;
          border-radius: 3px;
          overflow: hidden;
          white-space: nowrap;
          outline: none;
          border: 0;
          background-color: transparent;
          width: 100%;
          text-align: left;
          cursor: pointer;

          &:hover {
            background-color: $menu-hover-background-color;
          }

          &.active {
            background-color: $menu-active-background-color;
            color: $menu-active-text-color;
            @include mat-elevation(2);

            &:hover {
              background-color: $menu-active-hover-background-color;
            }
          }

          &.disable {
            color: mat-color($mcit-primary-palette, lighter);
            pointer-events: none;
          }

          & > i {
            min-width: 30px;
            max-width: 30px;
          }

          & > span {
            @include font(300, 18, 30);

            text-align: left;
            vertical-align: baseline;
            margin-left: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
