<div class="d-flex flex-column h-100">
  <div class="header notch-header-menu-component d-flex flex-column justify-content-center border-bottom">
    <div class="profil d-flex flex-row align-items-center minw-0" [routerLink]="infoUser?.local ? ['/local-profil'] : ['/profil']" (click)="doItemClicked()">
      <div class="avatar">
        <img *ngIf="avatarUrl" [src]="avatarUrl" />
        <img *ngIf="!avatarUrl && defaultAvatarUrl" [src]="defaultAvatarUrl" />
      </div>
      <div class="minw-0">
        <div class="user-name text-truncate">{{ infoUser?.firstname }} {{ infoUser?.lastname }}</div>
        <div class="description text-truncate">{{ infoUser?.description }}</div>
      </div>
    </div>
  </div>
  <div class="menu flex-fill">
    <nav *ngFor="let items of itemss">
      <ul>
        <li *ngFor="let item of items">
          <a *ngIf="!item.hide" class="action d-flex flex-row align-items-center minw-0" [routerLink]="[item.link]" (click)="doItemClicked()" [class.disable]="item.disable">
            <i class="fa-fw" [ngClass]="item.icon"></i>
            <span class="text-truncate">{{ item.title | translate }}</span>
          </a>
        </li>
      </ul>
    </nav>
    <nav *ngIf="infoUser && !infoUser?.local">
      <ul>
        <li>
          <a class="action d-flex flex-row align-items-center minw-0" [routerLink]="['/notifications']" (click)="doItemClicked()">
            <i class="fas fa-bell"></i>
            <span class="text-truncate">{{ 'NOTIFICATION.TITLE' | translate }}</span>
          </a>
        </li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li>
          <button class="action d-flex flex-row align-items-center" (click)="doLogout()">
            <i class="fas fa-sign-out-alt fa-fw"></i>
            <span>{{ 'COMMON.LOGOUT' | translate }}</span>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
