<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="row" *ngIf="selectedCalendar; else noneCalendar">
    <mcit-year-calendar
      [dates]="checkedDates"
      [selectedCalendar]="selectedCalendar"
      [displayDerogatory]="true"
      (selectDateEvent)="doSelectDate($event)"
      (setDerogatoryDate)="setDerogatoryDate($event)"
      (yearOutput)="setYear($event)"
      [year]="year"
    >
    </mcit-year-calendar>
  </div>
  <ng-template #noneCalendar>
    <div class="col-12 text-center mt-5">
      <div class="font-weight-light mb-2" style="font-size: 2rem; line-height: 1.2">
        {{ 'CALENDARS.NONE_CALENDAR' | translate }}
      </div>
    </div>
  </ng-template>
</div>
