<div [formGroup]="groupForm">
  <select class="custom-select custom-select-sm border mb-1" formControlName="mode">
    <option [value]="'range'">{{ 'SEARCH_FIELD.FILTERS.DATE.MODES.RANGE' | translate }}</option>
    <option [value]="'rangeWithTime'">{{ 'SEARCH_FIELD.FILTERS.DATE.MODES.RANGE_WITH_TIME' | translate }}</option>
    <option [value]="'today'">{{ 'SEARCH_FIELD.FILTERS.DATE.MODES.TODAY' | translate }}</option>
    <option [value]="'todayBefore'">{{ 'SEARCH_FIELD.FILTERS.DATE.MODES.TODAY_BEFORE' | translate }}</option>
    <option [value]="'todayAfter'">{{ 'SEARCH_FIELD.FILTERS.DATE.MODES.TODAY_AFTER' | translate }}</option>
    <option [value]="'todayYesterday'">{{ 'SEARCH_FIELD.FILTERS.DATE.MODES.TODAY_YESTERDAY' | translate }}</option>
    <option [value]="'yesterday'">{{ 'SEARCH_FIELD.FILTERS.DATE.MODES.YESTERDAY' | translate }}</option>
    <option [value]="'yesterdayBefore'">{{ 'SEARCH_FIELD.FILTERS.DATE.MODES.YESTERDAY_BEFORE' | translate }}</option>
    <option [value]="'tomorrow'">{{ 'SEARCH_FIELD.FILTERS.DATE.MODES.TOMORROW' | translate }}</option>
    <option [value]="'tomorrowAfter'">{{ 'SEARCH_FIELD.FILTERS.DATE.MODES.TOMORROW_AFTER' | translate }}</option>
    <option [value]="'currentWeek'">{{ 'SEARCH_FIELD.FILTERS.DATE.MODES.CURRENT_WEEK' | translate }}</option>
    <option [value]="'currentMonth'">{{ 'SEARCH_FIELD.FILTERS.DATE.MODES.CURRENT_MONTH' | translate }}</option>
    <option [value]="'lastWeek'">{{ 'SEARCH_FIELD.FILTERS.DATE.MODES.LAST_WEEK' | translate }}</option>
    <option [value]="'lastCurrentMonth'">{{ 'SEARCH_FIELD.FILTERS.DATE.MODES.LAST_CURRENT_MONTH' | translate }}</option>
    <option [value]="'lastMonth'">{{ 'SEARCH_FIELD.FILTERS.DATE.MODES.LAST_MONTH' | translate }}</option>
    <option *ngIf="!hideEmpty" [value]="'filled'">{{ 'SEARCH_FIELD.FILTERS.DATE.MODES.FILLED' | translate }}</option>
    <option *ngIf="!hideEmpty" [value]="'empty'">{{ 'SEARCH_FIELD.FILTERS.DATE.MODES.EMPTY' | translate }}</option>
  </select>
  <ng-container *ngIf="groupForm.get('mode').value === 'range'">
    <div class="input-group border-force input-group-sm mb-1" formGroupName="min">
      <input type="text" formControlName="value" class="form-control" autocomplete="off" [matDatepicker]="minDatePicker" placeholder="{{ 'SEARCH_FIELD.FILTERS.DATE.FROM' | translate }}" />
      <mat-datepicker #minDatePicker autoTouchUi></mat-datepicker>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary last-child-form-control" type="button" (click)="minDatePicker.open()" tabindex="-1" [disabled]="groupForm.get('min.value').disabled">
          <i class="far fa-calendar-alt"></i>
        </button>
      </div>
    </div>
    <div class="input-group border-force input-group-sm" formGroupName="max">
      <input type="text" formControlName="value" class="form-control" autocomplete="off" [matDatepicker]="maxDatePicker" placeholder="{{ 'SEARCH_FIELD.FILTERS.DATE.TO' | translate }}" />
      <mat-datepicker #maxDatePicker autoTouchUi></mat-datepicker>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary last-child-form-control" type="button" (click)="maxDatePicker.open()" tabindex="-1" [disabled]="groupForm.get('max.value').disabled">
          <i class="far fa-calendar-alt"></i>
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="groupForm.get('mode').value === 'rangeWithTime'">
    <div class="form-row mb-1" formGroupName="min">
      <div class="col-6 input-group border-force input-group-sm">
        <input type="text" formControlName="value" class="form-control" autocomplete="off" [matDatepicker]="minDatePicker" placeholder="{{ 'SEARCH_FIELD.FILTERS.DATE.FROM' | translate }}" />
        <mat-datepicker #minDatePicker autoTouchUi></mat-datepicker>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary last-child-form-control" type="button" (click)="minDatePicker.open()" tabindex="-1" [disabled]="groupForm.get('min.value').disabled">
            <i class="far fa-calendar-alt"></i>
          </button>
        </div>
      </div>
      <div class="col-6 input-group border-force input-group-sm">
        <input class="form-control" type="time" required formControlName="time" [typeahead]="times" [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="5" [typeaheadMinLength]="0" [typeaheadOptionsLimit]="times.length" />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary last-child-form-control" type="button" (click)="doClearTime('min')" tabindex="-1">
            <i class="far fa-times"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="form-row" formGroupName="max">
      <div class="col-6 input-group border-force input-group-sm">
        <input type="text" formControlName="value" class="form-control" autocomplete="off" [matDatepicker]="maxDatePicker" placeholder="{{ 'SEARCH_FIELD.FILTERS.DATE.TO' | translate }}" />
        <mat-datepicker #maxDatePicker autoTouchUi></mat-datepicker>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary last-child-form-control" type="button" (click)="maxDatePicker.open()" tabindex="-1" [disabled]="groupForm.get('max.value').disabled">
            <i class="far fa-calendar-alt"></i>
          </button>
        </div>
      </div>
      <div class="col-6 input-group border-force input-group-sm">
        <input class="form-control" type="time" required formControlName="time" [typeahead]="times" [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="5" [typeaheadMinLength]="0" [typeaheadOptionsLimit]="times.length" />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary last-child-form-control" type="button" (click)="doClearTime('max')" tabindex="-1">
            <i class="far fa-times"></i>
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
