<form [formGroup]="movingFieldForm" novalidate>
  <div class="input-group">
    <div class="d-flex flex-row form-control">
      <ui-switch formControlName="moving" size="small" color="#31394D"></ui-switch>
      <span class="ml-2 font-weight-bold" [ngClass]="movingFieldForm.controls['moving'].value ? 'text-body' : 'text-secondary'">
        {{ (movingFieldForm.controls['moving'].value ? 'VEHICLE_MOVING_FIELD.MOVING' : 'VEHICLE_MOVING_FIELD.NOT_MOVING') | translate }}
      </span>
    </div>
  </div>
</form>
