<ng-container *ngIf="columnConfig | isColumnConfig : 'custom'">
  <ng-container
    [ngTemplateOutlet]="templateRef"
    [ngTemplateOutletContext]="{
      item: item,
      index: index,
      key: this.columnConfig.key,
      context: this.columnConfig.custom.context,
      $implicit: { item: item, index: index, key: this.columnConfig.key, context: this.columnConfig.custom.context }
    }"
  >
  </ng-container>
</ng-container>
<ng-template #notFoundElement> Not found Element {{ columnConfig.custom?.value }} </ng-template>
