<div class="modal-header">
  <h4 class="modal-title">{{ title | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()" tabIndex="-1">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="my-2" [formGroup]="textForm" (ngSubmit)="doSubmit()" novalidate>
    <ng-container *ngIf="type === 'text'">
      <div class="input-group">
        <input [id]="id" class="form-control last-child-form-control" formControlName="text" maxlength="256" type="text" [required]="mandatory" [control-active]="true" mcitAutofocus />
        <div class="invalid-feedback">
          {{ getTextMessage() | translate }}
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="type === 'number'">
      <div class="input-group">
        <input [id]="id" class="form-control last-child-form-control" formControlName="text" maxlength="256" type="number" [required]="mandatory" [control-active]="true" mcitAutofocus />
        <div class="invalid-feedback">
          {{ getTextMessage() | translate }}
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="type === 'email'">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="far fa-at" [ngClass]="textForm.controls['text'].pending ? 'fa-spinner fa-pulse' : 'fa-at'"></i></span>
        </div>
        <input [id]="id" class="form-control last-child-form-control" formControlName="text" maxlength="256" type="email" [required]="mandatory" [control-active]="true" mcitAutofocus />
        <div class="invalid-feedback">
          {{ getTextMessage() | translate }}
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="type === 'phone'">
      <mcit-phone-field formControlName="text" [required]="mandatory"></mcit-phone-field>
    </ng-container>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-primary mr-1" type="button" (click)="doClose()">
    {{ 'COMMON.CANCEL' | translate }}
  </button>
  <button class="btn btn-primary ml-1" type="submit" [disabled]="textForm.invalid" (click)="doSubmit()">
    {{ 'COMMON.SAVE' | translate }}
  </button>
</div>
