<div class="modal-header">
  <h4 class="modal-title">{{ title | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" novalidate>
    <div class="input-group">
      <input id="targetDate" type="text" formControlName="targetDate" class="form-control" autocomplete="off" [matDatepicker]="targetDatePicker" [value]="initialDate" required />
      <mat-datepicker #targetDatePicker autoTouchUi></mat-datepicker>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="targetDatePicker.open()" tabindex="-1">
          <i class="far fa-calendar-alt"></i>
        </button>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-primary mr-1" (click)="doClose()">{{ negativeAction | translate }}</button>
  <button class="btn ml-1" [class.btn-primary]="!danger" [class.btn-danger]="danger" (click)="doPositive()">
    {{ positiveAction | translate }}
  </button>
</div>
