@import 'variables';

.title-tab {
  @include font(500, 22, 24);
}

.word-break {
  word-break: break-word;
}

td,
th {
  background-color: #fff;
}

.table-design {
  border: 0px;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6;
}
