<div class="modal-header">
  <h4 class="modal-title">
    {{ 'SYNTHESIS.SYNTHESIS_SCREEN.CONTRACTS_FIND_MODAL.TITLE' | translate }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="goBack()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-row mb-3 mt-3 border-bottom" *ngIf="valuationTrspRoad.contract">
    <div class="col-12 col-md mb-4 title-tab">
      {{ 'SYNTHESIS.SYNTHESIS_SCREEN.CONTRACTS_FIND_MODAL.FINAL_CONTRACT' | translate }} :
      {{ valuationTrspRoad?.contract?.name }}
    </div>
  </div>
  <div class="form-row">
    <div class="col-12 text-center pt-4 table-container pl-5 pr-5 d-none d-lg-table">
      <table class="table table-bordered table-sm table-design">
        <tbody>
          <tr>
            <th scope="col" class="text-center align-middle">
              {{ 'SYNTHESIS.SYNTHESIS_SCREEN.CONTRACTS_FIND_MODAL.NAME' | translate }}
            </th>
            <th scope="col" class="text-center align-middle">
              {{ 'SYNTHESIS.SYNTHESIS_SCREEN.CONTRACTS_FIND_MODAL.CODE' | translate }}
            </th>
            <th scope="col" class="text-center align-middle">
              {{ 'SYNTHESIS.SYNTHESIS_SCREEN.CONTRACTS_FIND_MODAL.SERVICE_TYPE' | translate }}
            </th>
            <th scope="col" class="text-center align-middle">
              {{ 'SYNTHESIS.SYNTHESIS_SCREEN.CONTRACTS_FIND_MODAL.RANK' | translate }}
            </th>
            <th scope="col" class="text-center align-middle">
              {{ 'SYNTHESIS.SYNTHESIS_SCREEN.CONTRACTS_FIND_MODAL.VALORIZATION' | translate }}
            </th>
          </tr>
          <tr *ngFor="let valuationTrspRoadDebug of valuationTrspRoad?.pricingsDebug">
            <td class="word-break text-center align-middle">{{ valuationTrspRoadDebug?.contract?.name }}</td>
            <td class="word-break text-center align-middle">{{ valuationTrspRoadDebug?.contract?.code }}</td>
            <td class="word-break text-center align-middle">
              {{ valuationTrspRoadDebug?.contract?.transport_road?.service_type }}
            </td>
            <td class="word-break text-center align-middle">
              {{ valuationTrspRoadDebug?.contract?.transport_road?.rank }}
            </td>
            <td class="word-break text-center align-middle">
              <ng-container *ngIf="valuationTrspRoadDebug?.contract?.transport_road?.service_type === 'VIN'">
                <div>
                  {{ (valuationTrspRoadDebug?.pricings?.root?.calculated_price ? 'SYNTHESIS.SYNTHESIS_SCREEN.CONTRACTS_FIND_MODAL.CALCULATED_PRICE_TOTAL' : '') | translate }}
                  {{ valuationTrspRoadDebug?.pricings?.root?.calculated_price | currency : valuationTrspRoadDebug?.contract?.currency }}
                </div>
                <div *ngFor="let pricing of valuationTrspRoadDebug?.pricings?.vehicles; let i = index">
                  {{ 'SYNTHESIS.SYNTHESIS_SCREEN.CONTRACTS_FIND_MODAL.VEHICLE' | translate : { index: i } }}
                  {{ pricing?.calculated_price | currency : valuationTrspRoadDebug?.contract?.currency }}
                </div>
              </ng-container>
              <ng-container *ngIf="valuationTrspRoadDebug?.contract?.transport_road?.service_type === 'TRIP'">
                <div>
                  {{ (valuationTrspRoadDebug?.pricings?.root?.calculated_price ? 'SYNTHESIS.SYNTHESIS_SCREEN.CONTRACTS_FIND_MODAL.CALCULATED_PRICE_TOTAL' : '') | translate }}
                  {{ valuationTrspRoadDebug?.pricings?.root?.calculated_price | currency : valuationTrspRoadDebug?.contract?.currency }}
                </div>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-primary mr-1" type="button" (click)="goBack()">
    {{ 'COMMON.CANCEL' | translate }}
  </button>
</div>
