@import "../../../variables.scss";

.my-codemirror {
  width: 100%;
}

.my-codemirror-readonly {
  opacity: 0.5;
}

.my-references-type-list {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-xs {
  font-size: small;
  border-right: 1px $gris-clair_3 solid;
}

.btn-xs:hover {
  background-color: white;
}

.width-fit-content {
  width: fit-content;
}
