<div class="modal-header">
  <h4 class="modal-title">{{ 'MULTIPLE_FILTERS_MODAL.TITLE' | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="d-flex flex-row">
    <div class="d-flex flex-column my-references-type-list col-3 p-0 border-right">
      <div class="bg-gray-100">
        <button type="button" class="btn btn-xs my-btn-all-erase px-3 py-1" (click)="doClearAllFilters()" [disabled]="allFilters?.length <= 0" [mcitTooltip]="'MULTIPLE_FILTERS_MODAL.ALL_ERASE' | translate">
          <i class="far fa-eraser mr-1"></i>
        </button>
      </div>
      <ul class="list-group border-top bg-white flex-grow-1 rounded-0">
        <li
          *ngFor="let type of referenceTypes | keys"
          [ngClass]="selectedFiltersType === type ? 'active' : ''"
          class="d-flex d-row justify-content-between list-group-item list-group-item-action p-1 border-0 user-select-none"
          (click)="doChangeReferencesTypes(type)"
        >
          <small>
            {{ referenceTypes[type].nameKey | translate }}
            <ng-container *ngIf="allFilters[type]?.value.length as count">&nbsp;({{ count }})</ng-container>
          </small>
          <i *ngIf="allFilters[type]?.value.length" [ngClass]="selectedFiltersType === type ? 'fas' : 'far'" class="fa-times pr-1 pl-1 cursor-pointer" (click)="doClearFilter($event, type)"></i>
        </li>
      </ul>
    </div>
    <div *ngIf="selectedFiltersType" class="d-flex flex-column justify-content-end col-9 ml-auto">
      <div class="d-flex flex-row align-items-center justify-content-between mb-2">
        <div style="font-weight: bold">
          {{ referenceTypes[selectedFiltersType].nameKey | translate }}
        </div>
      </div>
      <div class="d-flex flex-row align-items-center bg-gray-100 border border-bottom-0">
        <button *ngIf="options.importLines" type="button" class="btn btn-xs px-3 py-1" (click)="uploader.click()" [mcitTooltip]="importToolTipText | translate : { maxLines: getNbMaxLines() }">
          <i class="far fa-upload mr-1" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-xs px-3 py-1" (click)="doPaste()" [mcitTooltip]="'MULTIPLE_FILTERS_MODAL.PASTE' | translate">
          <i class="far fa-paste mr-1" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-xs border-right px-3 py-1" (click)="doClearFilter($event)" [mcitTooltip]="'MULTIPLE_FILTERS_MODAL.ERASE' | translate" [disabled]="!allFilters[selectedFiltersType]?.value.length">
          <i class="far fa-eraser mr-1" aria-hidden="true"></i>
        </button>
        <input hidden #uploader type="file" (change)="onUploadEnded($event)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
      </div>
      <div class="d-flex flex-row" [ngClass]="codeMirrorOptions.readOnly ? 'my-codemirror-readonly' : ''">
        <ngx-codemirror class="my-codemirror border" [(ngModel)]="referenceFilterList" (input)="onChange()" (keydown)="onChange()" (keydown.enter)="!isMaxLineReached()" (paste)="onChange()" [options]="codeMirrorOptions"></ngx-codemirror>
      </div>
      <div class="d-flex flex-row align-items-center justify-content-end">
        <small>
          {{ 'SEARCH_FIELD.LIST.LINES' | translate : { num: getNbLines(), total: getNbMaxLines() } }}
        </small>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-primary mr-1" (click)="doClose()">{{ 'COMMON.CANCEL' | translate }}</button>
  <button class="btn btn-primary mr-1" (click)="doApplyFilters()">
    {{ 'MULTIPLE_FILTERS_MODAL.FILTER' | translate }}
  </button>
</div>
