@import '../../../../variables';

.layout-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .layout-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    padding-top: 0;

    background-color: $header-background-color;

    @include mcit-header-toolbar();

    .my-content {
      z-index: 1;

      .my-title {
        @include font(300, 16, 18);

        @include media-breakpoint-up(md) {
          @include font(300, 18, 20);
        }
      }

      .close-button {
        margin-right: 20px;
      }

      .action-button {
        text-transform: uppercase;
      }
    }

    .my-logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $mat-toolbar-row;
      object-fit: contain;
      z-index: 0;

      @include media-breakpoint-up(md) {
        height: $mat-toolbar-row-md;
      }
    }
  }

  .layout-content {
    position: relative;
    //overflow: auto;
    //overflow-x: hidden;
    padding: 16px 0 0 0;
    z-index: 1;

    margin-top: $mat-toolbar-row;
    margin-bottom: 0;
    height: calc(100% - #{$mat-toolbar-row});

    @include media-breakpoint-up(md) {
      margin-top: $mat-toolbar-row-md;
      height: calc(100% - #{$mat-toolbar-row-md + $footer-md-height});
    }

    .down-block {
      height: 16px;

      @include media-breakpoint-up(md) {
        height: 0;
      }
    }
  }
}

.primary-button {
  background-color: #28a745 ! important;
  color: white ! important;
}

.disabled-button {
  background-color: #cccccc;
  color: #666666;
}

.button {
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%,-50%,0);
    background: rgba(white,.1);
    border-radius: 100%;
    transition: width .3s ease, height .3s ease;
  }
  &:active {
    &:after {
      width: 300px;
      height: 300px;
    }
  }
}
