<div class="layout-container">
  <mat-toolbar class="layout-toolbar notch-header-close-action-layout-component">
    <mat-toolbar-row class="position-relative">
      <ng-container *ngIf="!title">
        <img class="my-logo py-2 d-md-none" src="./assets/layout/logo-mobile.png" alt="Logo Moveecar Dispatcher" />
        <img class="my-logo py-2 d-none d-md-inline-block" src="./assets/layout/logo-desktop.png" alt="Logo Moveecar Dispatcher" />
      </ng-container>
      <div class="my-content d-flex flex-row align-items-center w-100">
        <button class="btn btn-icon close-button" (click)="doClose()">
          <i class="fal fa-times fa-2x"></i>
        </button>
        <div *ngIf="title" class="d-flex flex-row align-items-baseline my-title minw-0">
          <span class="text-truncate font-weight-bold">{{ title }}</span>
          <span class="mcit-text-jaune-gefco font-weight-bold">&nbsp;/&nbsp;</span>
          <span class="text-truncate font-weight-light">{{ subtitle }}</span>
        </div>
        <button *ngIf="showAction" [ngClass]="isPrimaryBtn ? 'primary-button' : 'disabled-button'" class="ml-auto btn btn-transparent action-button button" (click)="doAction()">
          {{ action | translate }}
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="layout-content notch-close-action-layout-component" cdkScrollable mcitContainer>
    <router-outlet></router-outlet>
    <!--mcit-footer class="d-none d-md-block"></mcit-footer-->
    <div class="w-100 down-block notch-down-block-close-action-layout-component"></div>
  </div>
</div>
