<form [formGroup]="phoneFieldForm" novalidate>
  <div class="input-group">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="button" (click)="doShowCountryModal()" [disabled]="phoneFieldForm.controls['phone'].disabled">
        <i class="flag-icon" [ngClass]="'flag-icon-' + countryPhone.flag"></i>
      </button>
      <span class="input-group-text">{{ countryPhone.indicatif }}</span>
    </div>
    <input
      [id]="labelId ?? 'phone'"
      [autocomplete]="autocomplete ?? 'phone'"
      name="phone"
      class="form-control last-child-form-control"
      formControlName="phone"
      [placeholder]="customPlaceholder"
      type="phone"
      maxlength="256"
      ng-required="required"
      [control-active]="(phoneFieldForm.controls['phone'].dirty && phoneFieldForm.controls['phone'].touched) || submitAttempt"
      (focusout)="focusOutPhone()"
    />
    <div class="invalid-feedback">
      {{ getPhoneErrorMessage() | translate }}
    </div>
  </div>
</form>
