<div class="modal-header">
  <h4 class="modal-title">{{ options?.titleKey ?? 'REFERENCES_MODAL.TITLE' | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="btn-toolbar bg-gray-100 border border-bottom-0">
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-icon" (click)="doCopy()">
        <i class="far fa-copy" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="d-flex flex-row">
    <ngx-codemirror class="w-100 border" [(ngModel)]="text" [options]="codeMirrorOptions"></ngx-codemirror>
  </div>
  <div class="text-right font-italic">
    {{ 'REFERENCES_MODAL.NUM_LINES' | translate : { num: references?.length || 0 } }}
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-primary mr-1" (click)="doClose()">{{ 'COMMON.CLOSE' | translate }}</button>
</div>
