.chat-bar {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0px;
  width: 35px;
  height: 100%;
}

.chat-icon {
  background-color: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: center;
  flex-direction: inherit;
  position: absolute;
  height: 80px;
  right: 0px;
  width: 70px;
  border-radius: 50% 0 0 50%;
  padding-top: 10px;
}

.chat-icon::before {
  content: "";
  position: absolute;
  background-color: transparent;
  height: 40px;
  width: 10px;
  top: 79px;
  right: 34px;
  border-top-right-radius: 15px;
  box-shadow: 0 -10px 0 0 #31394D;
}

.chat-icon::after {
  content: "";
  position: absolute;
  background-color: transparent;
  height: 40px;
  width: 10px;
  top: -39px;
  right: 34px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 10px 0 0 #31394D;
}

.unread-messages {
  font-size: 12px;
  right: 10px;
  top: 10px;
}
