<div *ngIf="user$ | async | rulesUserChatDispatcherCarrier" class="chat-bar d-flex flex-column justify-content-center align-items-center btn-primary cursor-pointer" (click)="doShowConv()" [@openClose]="convOffCanvasRef ? 'open' : 'closed'">
  <div class="chat-icon">
    <i class="fas fa-comments" style="font-size: 25px">
      <span *ngIf="chatService.discussionsCount$ | async as total" class="position-absolute badge rounded-pill bg-danger unread-messages">
        <ng-container *ngIf="total && total.total > 0">
          {{ total.total }}
        </ng-container>
      </span>
    </i>
    <span>Chat</span>
  </div>
</div>
