<div class="json-tree-node" *ngIf="isCollection; else scalarNode">
  <details [open]="!collapsed" class="json-tree-details" *ngIf="showRoot; else nestedCollection">
    <summary>
      <span class="json-tree-type">{{ isArray ? 'Array' : 'Object' }}</span>
      <span class="json-tree-count">({{ count }})</span>
    </summary>
    <div class="json-tree-children">
      <div class="json-tree-row" *ngFor="let entry of entries">
        <span class="json-tree-key">{{ entry.key }}</span>
        <span class="json-tree-sep">:</span>
        <app-json-tree [value]="entry.value" [collapsed]="collapsed" [showRoot]="true"></app-json-tree>
      </div>
    </div>
  </details>
  <ng-template #nestedCollection>
    <div class="json-tree-children">
      <div class="json-tree-row" *ngFor="let entry of entries">
        <span class="json-tree-key">{{ entry.key }}</span>
        <span class="json-tree-sep">:</span>
        <app-json-tree [value]="entry.value" [collapsed]="collapsed" [showRoot]="true"></app-json-tree>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #scalarNode>
  <span class="json-tree-scalar">{{ formatScalar(value) }}</span>
</ng-template>
