<div class="modal-header">
  <h4 class="modal-title">{{ this.dataImport.options.titleKey | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="goBack()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-row">
    <div class="col-12 mb-2 txt">
      <mcit-movee-upload
        *ngIf="status === 'UPLOADING'"
        [endpoint]="serviceUploadEndpoint"
        [allowPipeToService]="true"
        [fileExtensions]="uploadFileTypes"
        localizedDescription="{{ this.dataImport.options.descriptionKey }}"
        (uploadEnded)="onUploadEnded($event)"
        (uploadError)="onUploadError($event)"
        (uploadReset)="onUploadReset($event)"
      ></mcit-movee-upload>
      <div *ngIf="status === 'CHECKING'">
        <i class="fas fa-circle-notch fa-spin"></i>
        {{ 'IMPORTS.CHECKING' | translate }}
      </div>
      <div *ngIf="status === 'IMPORTING'">
        <i class="fas fa-circle-notch fa-spin"></i>
        {{ 'IMPORTS.IMPORTING' | translate }}
      </div>
    </div>
  </div>
</div>
