<ng-container *ngIf="subcheckForm?.controls">
  <ng-container [formGroup]="subcheckForm">
    <div class="col" *ngIf="subcheckQuestion?.type" formGroupName="choice_subcheck">
      <mcit-subcheck-yes-no
        *ngIf="subcheckQuestion?.type === 'yes_no'"
        formControlName="yes_no"
        [localMode]="localMode"
        [localAttachmentsDirectoryName]="localAttachmentsDirectoryName"
        [yesNoSubcheckQuestion]="subcheckQuestion.yes_no"
        [environment]="environment"
        [isEditable$]="isEditable$"
        [forceA4]="forceA4"
        [baseUrl]="baseUrl"
        [prefix_attach_url]="prefix_attach_url"
        [suffix_attach_url]="suffix_attach_url"
        [actions$]="actions$"
        (attachAdded)="onAttachAdded($event)"
        (click)="doChangeCheckPath('.choice_subcheck.yes_no.choice.choice_attachment')"
      >
      </mcit-subcheck-yes-no>
      <mcit-subcheck-unique-answer
        *ngIf="subcheckQuestion?.type === 'unique_answer'"
        formControlName="unique_answer"
        [localMode]="localMode"
        [localAttachmentsDirectoryName]="localAttachmentsDirectoryName"
        [uniqueSubcheckQuestion]="subcheckQuestion.unique_answer"
        [environment]="environment"
        [isEditable$]="isEditable$"
        [forceA4]="forceA4"
        [baseUrl]="baseUrl"
        [prefix_attach_url]="prefix_attach_url"
        [suffix_attach_url]="suffix_attach_url"
        [actions$]="actions$"
        (attachAdded)="onAttachAdded($event)"
        (click)="doChangeCheckPath('.choice_subcheck.unique_answer.choice.choice_attachment')"
      >
      </mcit-subcheck-unique-answer>
      <mcit-subcheck-multi-answers
        *ngIf="subcheckQuestion?.type === 'multi_answers'"
        formControlName="multi_answers"
        [localMode]="localMode"
        [localAttachmentsDirectoryName]="localAttachmentsDirectoryName"
        [multiSubcheckQuestion]="subcheckQuestion.multi_answers"
        [environment]="environment"
        [isEditable$]="isEditable$"
        [forceA4]="forceA4"
        [baseUrl]="baseUrl"
        [prefix_attach_url]="prefix_attach_url"
        [suffix_attach_url]="suffix_attach_url"
        [actions$]="actions$"
        (attachAdded)="onAttachAdded($event)"
        (checkPathChanged)="onCheckPathChanged('.choice_subcheck.multi_answers', $event)"
      >
      </mcit-subcheck-multi-answers>
    </div>
  </ng-container>
</ng-container>
