<ul class="nav d-flex flex-column">
  <li *ngFor="let option of filterConfig.checkList.values; let i = index" class="nav-item">
    <div class="custom-control custom-checkbox">
      <input
        [id]="key + '_' + (i + 1)"
        class="custom-control-input"
        type="checkbox"
        [checked]="codes && codes.indexOf(option.code) !== -1"
        (change)="doChangeCode(option.code, $event, option.unSelectAll)"
        [disabled]="option.disabled || (tempDisabled && tempDisabled.indexOf(option.code) !== -1)"
      />
      <label [for]="key + '_' + (i + 1)" class="custom-control-label">{{ option.ignoreTranslate ? option.nameKey : (option.nameKey | translate : option.params) }}</label>
    </div>
  </li>
</ul>
