@import '../../../variables';

$ribbon-position: 21px;

.my-env-container {
  position: fixed;
  top: 15px;
  width: 200px;
  padding: 1px 0;
  color: $white;
  z-index: 10000;
  right: -73px;
  transform: rotate(45deg);
  background: $framboise;
  pointer-events: none;
  opacity: .5;
  transition: opacity 400ms ease;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  span {
    display: block;
    padding: 1px 0;
    height: 18px;
    line-height: 14px;

    color: inherit;
    text-align: center;
    text-decoration: none;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 12px;
    font-weight: 500;

    border: 1px solid rgba(255, 255, 255, 0.3);

    text-shadow: 0 0 10px rgba(0, 0, 0, 0.31);
  }

  &.local {
    background: $prune;
  }

  &.dev {
    background: $framboise;
  }

  &.demo {
    background: $bleu_primaire;
  }

  &.test {
    background: $vert-prairie;
  }

  @include media-breakpoint-up(lg) {
    top: 21px;
    right: -63px;

    span {
      height: 24px;
      line-height: 20px;

      font-size: 16px;
    }
  }
}

.my-version-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: $noir-bleu;
  color: white;
  @include font(300, 20, 22);

  a {
    color: white;
  }
}
