<div class="modal-header">
  <h4 class="modal-title">{{ 'EDIT_BILLING_CONTACT.TITLE' | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="billingContactForm" (ngSubmit)="doSave()">
  <div class="modal-body">
    <div class="form-row">
      <div class="col-12 mb-2">
        <h6>{{ 'EDIT_BILLING_CONTACT.BILLING_ADDRESS.TITLE' | translate }}</h6>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-4 d-flex flex-row text-center justify-content-center">
        <span class="mr-2" [class.font-weight-bold]="!billingContactForm.controls['address'].value">
          {{ 'EDIT_BILLING_CONTACT.BILLING_ADDRESS.MAIN_ADDRESS' | translate }}
        </span>
        <ui-switch size="small" color="#31394D" formControlName="address" (change)="clearAddress($event)"></ui-switch>
        <span class="ml-2" [class.font-weight-bold]="billingContactForm.controls['address'].value">
          {{ 'EDIT_BILLING_CONTACT.BILLING_ADDRESS.SPECIFIC_ADDRESS' | translate }}
        </span>
      </div>
    </div>

    <div *ngIf="billingContactForm.controls['address'].value" formGroupName="address_info">
      <div class="form-row">
        <div class="col-12 mb-2">
          <label for="_place">{{ 'THIRD_PARTIES.MODAL.PLACE' | translate }}</label>
          <mcit-place-field id="_place" formControlName="_place" (placeEvent)="doPlaceChange($event)" placeholder="{{ 'THIRD_PARTIES.MODAL.WRITE_PLACE' | translate }}" [submitAttempt]="submitAttempt" [required]="false"> </mcit-place-field>
        </div>
      </div>

      <div class="form-row">
        <div class="col-12 mb-2">
          <label for="address1" class="mcit-mandatory">{{ 'THIRD_PARTIES.MODAL.ADDRESS1' | translate }}</label>
          <div class="input-group">
            <input
              id="address1"
              name="address1"
              class="form-control last-child-form-control"
              formControlName="address1"
              type="text"
              maxlength="256"
              autocomplete="on"
              [control-active]="(billingContactForm.get('address_info.address1').dirty && billingContactForm.get('address_info.address1').touched) || submitAttempt"
            />
            <div class="invalid-feedback">
              {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-12 col-md-6 mb-2">
          <label for="address2">{{ 'THIRD_PARTIES.MODAL.ADDRESS2' | translate }}</label>
          <div class="input-group">
            <input
              id="address2"
              name="address2"
              class="form-control"
              type="text"
              formControlName="address2"
              [control-active]="(billingContactForm.get('address_info.address2').dirty && billingContactForm.get('address_info.address2').touched) || submitAttempt"
              maxlength="256"
              autocomplete="on"
            />
          </div>
        </div>

        <div class="col-12 col-md-6 mb-2">
          <label for="address3">{{ 'THIRD_PARTIES.MODAL.ADDRESS3' | translate }}</label>
          <div class="input-group">
            <input
              id="address3"
              name="address3"
              class="form-control"
              type="text"
              formControlName="address3"
              [control-active]="(billingContactForm.get('address_info.address3').dirty && billingContactForm.get('address_info.address3').touched) || submitAttempt"
              maxlength="256"
              autocomplete="on"
            />
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-12 col-md-6 mb-2">
          <label for="zip" class="mcit-mandatory">{{ 'THIRD_PARTIES.MODAL.ZIP' | translate }}</label>
          <div class="input-group">
            <input
              id="zip"
              name="zip"
              class="form-control last-child-form-control"
              formControlName="zip"
              [control-active]="(billingContactForm.get('address_info.zip').dirty && billingContactForm.get('address_info.zip').touched) || submitAttempt"
              type="text"
              maxlength="256"
              autocomplete="on"
            />
            <div class="invalid-feedback">
              {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-2">
          <label for="city" class="mcit-mandatory">{{ 'THIRD_PARTIES.MODAL.CITY' | translate }}</label>
          <div class="input-group">
            <input
              id="city"
              name="city"
              class="form-control last-child-form-control"
              formControlName="city"
              [control-active]="(billingContactForm.get('address_info.city').dirty && billingContactForm.get('address_info.city').touched) || submitAttempt"
              type="text"
              maxlength="256"
              autocomplete="on"
            />
            <div class="invalid-feedback">
              {{ 'COMMON.FIELD_IS_MANDATORY' | translate }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-12 col-md-6 mb-2">
          <label for="_country" class="mcit-mandatory">{{ 'THIRD_PARTIES.MODAL.COUNTRY' | translate }}</label>
          <mcit-country-field id="_country" formControlName="_country" (countryEvent)="doCountryChange($event)" [submitAttempt]="submitAttempt" placeholder="{{ 'THIRD_PARTIES.MODAL.WRITE_COUNTRY' | translate }}"> </mcit-country-field>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-2 mt-5">
        <h6>{{ 'EDIT_BILLING_CONTACT.BILLING_CONTACT.TITLE' | translate }}</h6>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-4 d-flex flex-row text-center justify-content-center">
        <span class="mr-2" [class.font-weight-bold]="!billingContactForm.controls['contact'].value">
          {{ 'EDIT_BILLING_CONTACT.BILLING_CONTACT.MAIN_CONTACT' | translate }}
        </span>
        <ui-switch size="small" color="#31394D" formControlName="contact" (change)="clearContact($event)"></ui-switch>
        <span class="ml-2" [class.font-weight-bold]="billingContactForm.controls['contact'].value">
          {{ 'EDIT_BILLING_CONTACT.BILLING_CONTACT.SPECIFIC_CONTACT' | translate }}
        </span>
      </div>
    </div>

    <div *ngIf="billingContactForm.controls['contact'].value" formGroupName="contact_info">
      <div class="form-row">
        <div class="col-12 col-md-6 mb-2">
          <label for="contact_name">{{ 'THIRD_PARTIES.MODAL.CONTACT.NAME' | translate }}</label>
          <div class="input-group">
            <input id="contact_name" name="contact_name" class="form-control" formControlName="name" type="text" maxlength="256" autocomplete="on" />
          </div>
        </div>

        <div class="col-12 col-md-6 mb-2">
          <label for="contact_phone">{{ 'THIRD_PARTIES.MODAL.CONTACT.PHONE' | translate }}</label>
          <mcit-phone-field id="contact_phone" formControlName="phone"> </mcit-phone-field>
        </div>

        <div class="col-12 col-md-6 mb-2">
          <label for="contact_email">{{ 'THIRD_PARTIES.MODAL.CONTACT.EMAIL' | translate }}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="far fa-at" aria-hidden="true"></i>
              </span>
            </div>
            <input id="contact_email" name="contact_email" class="form-control" type="email" maxlength="256" formControlName="email" />
          </div>
        </div>

        <div class="col-12 col-md-6 mb-2">
          <label for="contact_language">{{ 'THIRD_PARTIES.MODAL.CONTACT.LANGUAGE' | translate }}</label>
          <div class="input-group">
            <select id="contact_language" name="contact_language" class="custom-select" formControlName="language">
              <option *ngFor="let language of languages" [value]="language.code">
                {{ language.name | translate }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-outline-primary mr-1" type="button" (click)="doClose()">
      {{ (data.isDisabled ? 'COMMON.CLOSE' : 'COMMON.CANCEL') | translate }}
    </button>

    <button *ngIf="!data.isDisabled" class="btn btn-primary ml-1" type="submit" [disabled]="billingContactForm.invalid || disableSaveButton()">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</form>
