<form class="row" [formGroup]="groupForm" novalidate>
  <div class="col-12 col-lg-6">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="far fa-fw" [ngClass]="loadings[InputsNameRef.MODEL] ? 'fa-spinner fa-pulse' : 'fal fa-car'"></i>
        </span>
      </div>
      <input
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        autocomplete="off"
        placeholder="{{ placeHolders[InputsNameRef.MODEL] | translate }}"
        class="form-control"
        formControlName="{{ InputsNameRef.MODEL }}"
        [typeahead]="dataSources[InputsNameRef.MODEL]"
        [typeaheadOptionField]="'meaning'"
        [typeaheadItemTemplate]="myItemTemplate"
        [typeaheadMinLength]="0"
        (typeaheadLoading)="doLoading($event, InputsNameRef.MODEL)"
        (typeaheadOnSelect)="doModelSelected($event)"
        [control-active]="groupForm.controls[InputsNameRef.MODEL].dirty && groupForm.controls[InputsNameRef.MODEL].touched"
        [required]="required"
      />
      <div class="input-group-append">
        <span class="align-self-center mx-1" *ngIf="currentModel?.model_code as code">{{ code }}</span>
        <button class="btn btn-outline-secondary last-child-form-control" type="button" tabindex="-1" (click)="doClear(InputsNameRef.MODEL)" [disabled]="groupForm.controls[InputsNameRef.MODEL].disabled">
          <i class="far fa-times"></i>
        </button>
      </div>
      <div class="invalid-feedback">
        {{ getModelErrorMessage() | translate }}
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="d-flex flex-row">
      <div class="my-text">
        <span>{{ 'GEFCO_MODEL_FIELD.MAKE' | translate }}</span>
        <span>{{ currentModel?.make?.meaning }}</span>
      </div>
      <div class="my-text">
        <span>{{ 'GEFCO_MODEL_FIELD.ARTICLE' | translate }}</span>
        <span>{{ currentModel?.article?.meaning }}</span>
      </div>
      <div class="my-text">
        <span>{{ 'GEFCO_MODEL_FIELD.LINE' | translate }}</span>
        <span>{{ currentModel?.line?.meaning }}</span>
      </div>
      <div class="my-text">
        <span>{{ 'GEFCO_MODEL_FIELD.TYPE' | translate }}</span>
        <span>{{ currentModel?.type?.meaning }}</span>
      </div>
      <div class="my-text">
        <span>{{ 'GEFCO_MODEL_FIELD.ENGINE' | translate }}</span>
        <span>{{ currentModel?.engine?.meaning }}</span>
      </div>
      <div class="my-text">
        <span>{{ 'GEFCO_MODEL_FIELD.TRANSMISSION' | translate }}</span>
        <span>{{ currentModel?.transmission?.meaning }}</span>
      </div>
    </div>
  </div>

  <div class="col-12 mt-2">
    <div class="d-flex flex-row">
      <div class="my-separator"></div>
      <div>
        <label>{{ 'GEFCO_MODEL_FIELD.REFINE_SEARCH' | translate }}</label>
        <div class="row">
          <ng-container *ngFor="let key of InputsNameRef | keys">
            <div class="col-12 col-md-6 col-xl-4 mb-1" *ngIf="InputsNameRef[key] !== InputsNameRef.MODEL">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="far fa-fw" [ngClass]="loadings[InputsNameRef[key]] ? 'fa-spinner fa-pulse' : 'fal fa-car'"></i>
                  </span>
                </div>
                <input
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="false"
                  autocomplete="off"
                  placeholder="{{ placeHolders[InputsNameRef[key]] | translate }}"
                  class="form-control"
                  formControlName="{{ InputsNameRef[key] }}"
                  [typeahead]="dataSources[InputsNameRef[key]]"
                  [typeaheadOptionField]="'meaning'"
                  [typeaheadItemTemplate]="myItemTemplate"
                  (typeaheadLoading)="doLoading($event, InputsNameRef[key])"
                  [required]="required"
                />
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary last-child-form-control" type="button" tabindex="-1" (click)="doClear(InputsNameRef[key])" [disabled]="groupForm.controls[InputsNameRef[key]].disabled">
                    <i class="far fa-times"></i>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</form>
<ng-template #myItemTemplate let-item="item">
  <div class="d-flex flex-row justify-content-between">
    <span>{{ item.meaning }}</span>
    <span class="text-right text-muted">&nbsp;({{ item.code }})</span>
  </div>
</ng-template>
