@import "../../../variables";

.my-text {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  margin: 0 0.3rem;

  &>span:nth-child(2) {
    font-weight: 500;
  }
}

.my-separator {
  border-right: 1px solid lightgray;
  margin-left: 1rem;
  margin-right: 1rem;
}