<div [formGroup]="groupForm">
  <div class="input-group border-force input-group-sm mb-1" formGroupName="min">
    <div class="input-group-prepend">
      <button #minButton class="btn btn-outline-secondary dropdown-toggle" type="button" tabindex="-1" style="min-width: 45px" (click)="doChangeMinOperator(minButton)">
        {{ groupForm.get('min.operator').value === 'gte' ? '>=' : '>' }}
      </button>
    </div>
    <input class="form-control" type="number" [name]="key + 'min'" placeholder="{{ 'SEARCH_FIELD.FILTERS.NUMBER.MIN' | translate }}" formControlName="value" />
  </div>
  <div class="input-group border-force input-group-sm" formGroupName="max">
    <div class="input-group-prepend">
      <button #maxButton class="btn btn-outline-secondary dropdown-toggle" type="button" tabindex="-1" style="min-width: 45px" (click)="doChangeMaxOperator(maxButton)">
        {{ groupForm.get('max.operator').value === 'lte' ? '<=' : '<' }}
      </button>
    </div>
    <input class="form-control" type="number" [name]="key + 'max'" placeholder="{{ 'SEARCH_FIELD.FILTERS.NUMBER.MAX' | translate }}" formControlName="value" />
  </div>
</div>
