<div class="printable print-section m-auto" style="max-width: 21cm">
  <ngx-loading [show]="cmrRecap === undefined" [config]="{ animationType: 'circleSwish' }"></ngx-loading>

  <div id="mcit-cmr-recap" style="margin: auto !important">
    <!-- LOGO -->
    <div class="my-row d-flex align-items-center">
      <div class="my-col-3">
        <ng-container *ngIf="cmrRecap?.cmrDetails?.logo">
          <img class="mb-2 ceva-img" [src]="(cmrRecap?.cmrDetails?.logo === 'MOVEECAR' ? 'assets/shared/icons/logo-moveecar.png' : 'assets/shared/icons/ceva-horizontal-logo.png') | secure" />
        </ng-container>
      </div>
      <div class="my-col-6">
        <!-- TITRE CMR -->
        <div class="my-little-row">
          <div class="my-col-12 text-center my-title">
            <div>{{ 'CMR.CONSIGNMENT_NOTE' | translate }}</div>
            <span class="my-sub-text">
              {{ 'CMR.DATE' | translate }} :
              {{ cmrRecap?.cmrDetails?.localdate | dateTranslate : 'date' }}
              {{ cmrRecap?.cmrDetails?.localdate | dateTranslate : 'hour_minutes' }}
            </span>
          </div>
        </div>
      </div>
      <div class="my-col-3 text-right">
        <qr-code [value]="cmrRecap?.cmrDetails?.reference" [size]="50"></qr-code>
        <div class="my-sub-text">{{ cmrRecap?.cmrDetails?.reference }}</div>
      </div>
    </div>

    <!-- TYPE TRANSPORT  -->
    <div class="my-row">
      <div class="my-col-12 my-border p-1">
        <div class="my-sub-text">
          {{ 'CMR.TRANSPORT_TYPE' | translate }} :
          <span class="font-weight-bold text-uppercase">{{ cmrRecap?.cmrDetails?.transportType }}</span>
        </div>
        <div class="my-little-sub-text">{{ 'CMR.TRANSPORT_TYPE_DETAILS' | translate }}</div>
      </div>
    </div>

    <!-- DONNEUR D'ORDRE / REFERENCE DOCUMENT -->
    <div class="my-row">
      <!-- DONNEUR D'ORDRE -->
      <div class="my-col-6 my-border p-1">
        <div class="my-little-row">
          <div class="my-col-12">
            <div class="my-sub-text py-1">{{ 'CMR.CLIENT' | translate }} :</div>
            <div class="my-text font-weight-bold text-uppercase">{{ cmrRecap?.client?.name }}</div>
            <div class="my-text font-weight-bold text-uppercase">{{ cmrRecap?.client?.infos?.address }}</div>
            <div class="my-text font-weight-bold text-uppercase">
              {{ cmrRecap?.client?.infos?.city }}
              <span *ngIf="cmrRecap?.client?.infos?.city?.length > 0">,</span>
              {{ cmrRecap?.client?.infos?.country }}
            </div>
            <div class="my-sub-text py-1">
              {{ 'CMR.PHONE' | translate }} :
              <span class="my-text font-weight-bold text-uppercase">{{ cmrRecap?.client?.infos?.phone }}</span>
            </div>
          </div>
        </div>
      </div>
      <!--  REFERENCE DOCUMENT -->
      <div class="my-col-6 my-border p-1">
        <div class="my-text">{{ cmrRecap?.cmrDetails?.reference }}</div>
        <div *ngIf="cmrRecap?.cmrDetails?.gefcoRefs?.length > 0">
          <table>
            <thead>
              <tr style="background-color: #dedede">
                <th class="my-sub-text border text-center">{{ 'CMR.JFO' | translate }}</th>
                <th class="my-sub-text border text-center">{{ 'CMR.SHIP' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ref of cmrRecap?.cmrDetails?.gefcoRefs">
                <td class="my-sub-text border text-center">ref?.jfoNo</td>
                <td class="my-sub-text border text-center">ref?.shipNo</td>
              </tr>
            </tbody>
          </table>
        </div>
        <mcit-tags-input [tagList]="cmrRecap?.cmrDetails?.tags" [disabled]="true"></mcit-tags-input>
      </div>
    </div>

    <!-- EXPEDITEUR / DESTINATAIRE -->
    <div class="my-row">
      <!-- EXPEDITEUR -->
      <div class="my-col-6 my-border p-1">
        <div class="my-little-row pb-1">
          <div class="my-col-12">
            <div class="my-sub-text py-1">{{ 'CMR.SENDER' | translate }} :</div>
            <div class="my-text font-weight-bold text-uppercase">{{ cmrRecap?.sender?.name }}</div>
            <div class="my-text font-weight-bold text-uppercase">{{ cmrRecap?.sender?.infos?.address }}</div>
            <div class="my-text font-weight-bold text-uppercase">
              {{ cmrRecap?.sender?.infos?.city }}<span *ngIf="cmrRecap?.sender?.infos?.city?.length > 0">,</span>
              {{ cmrRecap?.sender?.infos?.country }}
            </div>
            <div class="my-sub-text py-1">
              {{ 'CMR.PHONE' | translate }} :
              <span class="my-text font-weight-bold text-uppercase">{{ cmrRecap?.sender?.infos?.phone }}</span>
            </div>
          </div>
        </div>
        <div class="my-sub-text">{{ 'CMR.SENDER_OBS' | translate }} :</div>
        <div class="my-text">{{ cmrRecap?.sender?.observations }}</div>
        <div style="height: 40px"></div>
      </div>
      <!--  DESTINATAIRE -->
      <div class="my-col-6 my-border p-1">
        <div class="my-little-row pb-1">
          <div class="my-col-12">
            <div class="my-sub-text py-1">{{ 'CMR.CONSIGNEE' | translate }} :</div>
            <div class="my-text font-weight-bold text-uppercase">{{ cmrRecap?.consignee?.name }}</div>
            <div class="my-text font-weight-bold text-uppercase">{{ cmrRecap?.consignee?.infos?.address }}</div>
            <div class="my-text font-weight-bold text-uppercase">
              {{ cmrRecap?.consignee?.infos?.city }}<span *ngIf="cmrRecap?.consignee?.infos?.city?.length > 0">,</span>
              {{ cmrRecap?.consignee?.infos?.country }}
            </div>
            <div class="my-sub-text py-1">
              {{ 'CMR.PHONE' | translate }} :
              <span class="my-text font-weight-bold text-uppercase">{{ cmrRecap?.consignee?.infos?.phone }}</span>
            </div>
          </div>
        </div>
        <div class="my-sub-text">{{ 'CMR.CONSIGNEE_OBS' | translate }} :</div>
        <div class="my-text">{{ cmrRecap?.consignee?.observations }}</div>
        <div style="height: 40px"></div>
      </div>
    </div>

    <!-- TRANSPORTEUR / INFO TRANSPORT -->
    <div class="my-row">
      <!-- TRANSPORTEUR -->
      <div class="my-col-6 my-border p-1">
        <div class="my-little-row">
          <div class="my-col-12">
            <div class="my-sub-text py-1">{{ 'CMR.CARRIER' | translate }} :</div>
            <div class="my-text font-weight-bold text-uppercase">{{ cmrRecap?.real_carrier?.name }}</div>
            <div class="my-text font-weight-bold text-uppercase">{{ cmrRecap?.real_carrier?.infos?.address }}</div>
            <div class="my-text font-weight-bold text-uppercase">
              {{ cmrRecap?.real_carrier?.infos?.city }}<span *ngIf="cmrRecap?.real_carrier?.infos?.city?.length > 0">,</span>
              {{ cmrRecap?.real_carrier?.infos?.country }}
            </div>
            <div class="my-sub-text py-1">
              {{ 'CMR.PHONE' | translate }} :
              <span class="my-text font-weight-bold text-uppercase">{{ cmrRecap?.real_carrier?.infos?.phone }}</span>
            </div>
          </div>
        </div>
      </div>
      <!--  INFO TRANSPORT -->
      <div class="my-col-6 my-border p-1">
        <div class="my-sub-text">
          {{ 'CMR.IMMAT_TRACTEUR' | translate }} :
          <ng-container *ngIf="cmrRecap?.driver?.licensePlateList?.length > 0">
            <ng-container *ngFor="let licensePlate of cmrRecap?.driver?.licensePlateList">
              <span class="my-text font-weight-bold text-uppercase">{{ licensePlate }}</span>
            </ng-container>
          </ng-container>
        </div>
        <!-- <div> {{'CMR.IMMAT_REMORQUE' | translate}} : immatRemorque </div> -->
        <!-- <div> establishedAt </div> -->
        <div class="my-sub-text">
          {{ 'CMR.DRIVER_NAME' | translate }} :
          <ng-container *ngIf="cmrRecap?.driver?.nameList?.length > 0">
            <ng-container *ngFor="let name of cmrRecap?.driver?.nameList">
              <span class="my-text font-weight-bold text-uppercase">{{ name }}</span>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- INSTRUCTIONS TRANSPORT  -->
    <div class="my-row">
      <div class="my-col-12 my-border p-1">
        <div class="my-sub-text">{{ 'CMR.CARRIER_INSTRUCTIONS' | translate }} :</div>
        <div class="my-text">{{ cmrRecap?.real_carrier?.observations }}</div>
        <div style="height: 60px"></div>
      </div>
    </div>

    <!-- LISTE VIN  -->
    <div class="my-row" style="padding: 1px">
      <div class="my-col-12 justify-content-center" style="height: auto">
        <table style="width: 755px; display: block">
          <thead>
            <tr style="background-color: #dedede">
              <th class="my-sub-text border text-center" height="15px" width="150px">
                {{ 'CMR.MAKER' | translate }}
              </th>
              <th class="my-sub-text border text-center" height="15px" width="150px">
                {{ 'CMR.MODEL' | translate }}
              </th>
              <th class="my-sub-text border text-center" height="15px" width="50px">
                {{ 'CMR.COLOR' | translate }}
              </th>
              <th class="my-sub-text border text-center" height="15px" width="100px">
                {{ 'CMR.PLACE' | translate }}
              </th>
              <th class="my-sub-text border text-center" height="15px" width="105px">
                {{ 'CMR.VIN_LICENSE_PLATE' | translate }}
              </th>
              <th class="my-sub-text border text-center" height="15px" width="50px">
                {{ 'CMR.WEIGHT' | translate }}
              </th>
              <th class="my-sub-text border text-center" height="15px" width="50px">
                {{ 'CMR.INSURED_VALUE' | translate }}
              </th>
              <th class="my-sub-text border text-center" height="15px" width="50px">
                {{ 'CMR.PICKUP_RESERVES' | translate }}
              </th>
              <th class="my-sub-text border text-center" height="15px" width="50px">
                {{ 'CMR.DELIVERY_RESERVES' | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vehicle of cmrRecap?.vehicleList; let i = index">
              <td class="my-sub-text border text-uppercase">
                {{ vehicle?.maker ? vehicle?.maker : ('CMR.VEHICLE_UNKNOWN' | translate) }}
              </td>
              <td class="my-sub-text border text-uppercase">{{ vehicle?.model }}</td>
              <td class="my-sub-text border text-uppercase">{{ vehicle?.color }}</td>
              <td class="my-sub-text border text-uppercase">{{ vehicle?.place }}</td>
              <td class="my-sub-text border text-uppercase">{{ vehicle?.vin_licence }}</td>
              <td class="my-sub-text border text-uppercase">{{ vehicle?.weight }}</td>
              <td class="my-sub-text border text-uppercase">{{ vehicle?.insuredValue }}</td>
              <td class="my-sub-text border text-uppercase text-center">
                {{ vehicle?.pickupReserves ? 'x' : '' }}
              </td>
              <td class="my-sub-text border text-uppercase text-center">
                {{ vehicle?.deliveryReserves ? 'x' : '' }}
              </td>
            </tr>
            <tr style="background-color: #dedede">
              <td class="my-sub-text border" colspan="4">{{ 'CMR.TOTAL' | translate }}</td>
              <td class="my-sub-text border text-center">{{ cmrRecap?.vehicleList?.length }}</td>
              <td class="my-sub-text border text-center"></td>
              <td class="my-sub-text border text-center"></td>
              <td class="my-sub-text border text-center" colspan="2"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- SIGNATURES  -->
    <div class="my-row">
      <div class="my-col-4 p-1">
        <div class="my-little-sub-text text-center">{{ 'CMR.SENDER_SIGNATURE' | translate }} :</div>
        <div class="my-little-sub-text font-weight-bold text-uppercase text-center">
          {{ cmrRecap?.sender?.infos?.placeName }}
        </div>
        <div style="height: 80px; width: 170px">
          <ng-container *ngIf="cmrRecap?.sender?.signature">
            <img [src]="environment.apiUrl + cmrRecap?.sender?.signature | secure" height="80" width="170" />
          </ng-container>
        </div>
        <div class="my-little-sub-text">
          {{ 'CMR.SIGNATORY' | translate }} :<span class="font-weight-bold text-uppercase">
            {{ cmrRecap?.sender?.signature_contact }}
          </span>
        </div>
        <div class="my-little-sub-text">
          {{ 'CMR.SENDER_NAME' | translate }} :<span class="font-weight-bold text-uppercase">{{ cmrRecap?.sender?.contact }} </span>
        </div>
        <div class="my-little-sub-text">
          {{ 'CMR.START_DATE_TIME' | translate }} :
          {{ cmrRecap?.sender?.endDatetime | dateTranslate : 'date_time' }}
        </div>
        <div class="my-little-sub-text">{{ 'CMR.LOCATION' | translate }} : {{ cmrRecap?.sender?.endPosition }}</div>
      </div>

      <div class="my-col-4 my-sign-border">
        <div class="my-little-sub-text text-center">{{ 'CMR.CARRIER_SIGNATURE' | translate }} :</div>
        <div class="my-little-sub-text font-weight-bold text-uppercase text-center">
          {{ cmrRecap?.real_carrier?.infos?.placeName }}
        </div>
        <div style="height: 80px; width: 170px">
          <ng-container *ngIf="cmrRecap?.real_carrier?.signature">
            <img [src]="environment.apiUrl + cmrRecap?.real_carrier?.signature | secure" height="80" width="170" />
          </ng-container>
        </div>
      </div>

      <div class="my-col-4 p-1">
        <div class="my-little-sub-text text-center">{{ 'CMR.CONSIGNEE_SIGNATURE' | translate }} :</div>
        <div class="my-little-sub-text font-weight-bold text-uppercase text-center">
          {{ cmrRecap?.consignee?.infos?.placeName }}
        </div>
        <div style="height: 80px; width: 170px">
          <ng-container *ngIf="cmrRecap?.consignee?.signature">
            <img [src]="environment.apiUrl + cmrRecap?.consignee?.signature | secure" height="80" width="170" />
          </ng-container>
        </div>
        <div class="my-little-sub-text">
          {{ 'CMR.SIGNATORY' | translate }} :<span class="font-weight-bold text-uppercase">
            {{ cmrRecap?.consignee?.signature_contact }}
          </span>
        </div>
        <div class="my-little-sub-text">
          {{ 'CMR.CONSIGNEE_NAME' | translate }} :
          <span class="font-weight-bold text-uppercase">{{ cmrRecap?.consignee?.contact }}</span>
        </div>
        <div class="my-little-sub-text">
          {{ 'CMR.END_DATE_TIME' | translate }} :
          {{ cmrRecap?.consignee?.endDatetime | dateTranslate : 'date_time' }}
        </div>
        <div class="my-little-sub-text">{{ 'CMR.LOCATION' | translate }} : {{ cmrRecap?.consignee?.endPosition }}</div>
      </div>
    </div>
  </div>
</div>
