@import '../../../../variables.scss';

.ceva-img {
    height: 1.5cm;
}
.my-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}

.my-title-label {
    float: none;
}
.my-date {
    float: none;
}
.my-border {
    border: solid 1px #31394D !important;
}
.my-sign-border {
    border-left: solid 1px #31394D !important;
    border-right: solid 1px #31394D !important;
}
.my-sub-text {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
}
.my-little-sub-text {
    font-weight: 300;
    font-size: 8px;
    line-height: 10px;
}
.my-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}
.print-section {
    -webkit-print-color-adjust: exact; 
    print-color-adjust: exact;
}
#tr-table, #tr-last-td  {
    color: white !important;
}

.my-row {
    width: 20cm !important;
    max-width: 20cm !important;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
}
.my-little-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.my-col-3 {
    width: 25%;
}
.my-col-4 {
    width: 33.3%;
}
.my-col-6 {
    width: 50%;
}
.my-col-8 {
    width: 66.6%;
}
.my-col-12 {
    width: 100%;
    height: inherit;
}
