<div class="modal-header">
  <h4 class="modal-title">{{ title | translate : options?.titleParams }}</h4>
  <button *ngIf="!options?.disableClose" type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{ question | translate : options?.questionParams }}</p>
</div>
<div class="d-flex modal-footer">
  <button class="btn btn-outline-danger mr-auto" (click)="doDiscard()">
    {{ discardAction | translate : options?.discardParams }}
  </button>
  <div>
    <button class="btn btn-outline-primary mr-1" (click)="doClose()">
      {{ cancelAction | translate : options?.cancelParams }}
    </button>
    <button class="btn btn-primary ml-1" (click)="doSave()">{{ saveAction | translate : options?.saveParams }}</button>
  </div>
</div>
