<div class="row">
  <div class="col-12">
    <div *ngFor="let damage of damageList; let i = index">
      <li *ngIf="damage?.type === damageType" class="list-group-item p-1">
        <footer class="d-flex flex-row">
          <div class="w-50">
            <div class="badge badge-secondary align-self-center m-2" style="color: black; background-color: #ffc107; cursor: pointer">
              {{ i + 1 }}
            </div>
            <h6 class="card-title d-flex flex-column p-1">
              <div class="my-damage">{{ damage?.element?.name | meaning }}</div>
              <div class="my-damage">
                <small> {{ damage?.element?.damage?.name | meaning }}</small>
                <small *ngIf="damage?.element?.damage?.dimensions">-- {{ damage?.element?.damage?.dimensions }} mm</small>
              </div>
            </h6>
            <p class="card-text my-comment m-1 p-1" *ngIf="damage?.comment">
              {{ damage?.comment }}
            </p>
          </div>
          <div class="w-50" *ngIf="damage?.attachments?.length > 0 && environment">
            <ng-container *ngFor="let document of damage?.attachments; let i = index">
              <img [src]="baseUrl + document?.document_id + '?lang=fr' | secure" class="w-100 h-auto p-1" />
              <ngx-loading [show]="upload" [config]="{ animationType: 'circleSwish' }"></ngx-loading>
            </ng-container>
          </div>
        </footer>
      </li>
    </div>
  </div>
</div>
