@import '../../../../../../variables.scss';

$add-pciture-icon-size: 96px;

.rectangle {
	height: 30px;
	width: 250px;
	opacity: 0.43;
	background-color: #FFFFFF;
}

.my-comment {
	background-color: #f2f2f2;
}

mat-grid-tile {

	.image-preview-container {
	  position: relative;
	  width: 100%;
	  height: 100%;
  
	  img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all .4s;
		cursor: pointer;
		image-orientation: from-image;
  
		&:hover {
		  transform: scale(1.1);
		}
	  }
  
	  &:hover img {
		transform: scale(1.1);
	  }
  
	  .delete {
		position: absolute;
		bottom: 0;
		right: 0;
		color: $white;
		background-color: rgba($cool-gray_5, .85);
	  }
	}
  
	.add-action-container {
	  position: relative;
	  width: 100%;
	  height: 100%;
  
	  .add-action {
		position: relative;
		width: 100%;
		height: 100%;
		cursor: pointer;
  
		i {
		  width: $add-pciture-icon-size;
		  height: $add-pciture-icon-size;
		  line-height: $add-pciture-icon-size;
		  font-size: $add-pciture-icon-size;
		}
	  }
	}
  }
  