@import '../../../../../variables';

.my-sidenav {
  position: relative;
  width: auto;
  max-width: 240px;
  height: 100%;
  pointer-events: auto;
  background-color: $sidenav-background-color;
  -webkit-transform: translateZ(0) !important;
  margin-right: auto;

  @include media-breakpoint-up(md) {
    max-width: 300px;
  }

  .my-sidenav-content {
    pointer-events: auto;
    width: 100%;
    background-color: $sidenav-background-color;


    .my-logo {
      width: 100%;
      height: $mat-toolbar-row;
      object-fit: contain;

      @include media-breakpoint-up(md) {
        height: $mat-toolbar-row-md;
      }
    }
  }

  .accessibility-statement {
    display: block;
    font-size: 0.85rem;
    text-decoration: underline;
    position: relative;
  }
}

.my-version {
  color: $gray-500;

  .version {
    display: inline;
  }
  .build-date {
    display: none;
  }

  &:hover {
    .version {
      display: none;
    }
    .build-date {
      display: inline;
    }
  }
}
