<div class="mcit-dialog-backdrop" [@sidenavBackdrop]="state"></div>
<div class="my-sidenav" [@sidenavContainer]="state" (@sidenavContainer.done)="onAnimationDone($event)">
  <div class="my-sidenav-content d-flex flex-column minh-100">
    <mcit-menu class="mb-auto" (itemSelectedEvent)="doCloseSidenav()"></mcit-menu>
    <div class="mx-2 mt-2">
      <img class="my-logo d-md-none" src="./assets/layout/logo-mobile.png" alt="Logo Moveecar Dispatcher" />
      <img class="my-logo d-none d-md-inline-block" src="./assets/layout/logo-desktop.png" alt="Logo Moveecar Dispatcher" />
    </div>
    <div *ngIf="version$ | async as version" class="mb-1 my-version text-center">
      <small class="version">{{ version.version }}</small>
      <small class="build-date">{{ version.buildDate | dateTranslate : 'date_time' }}</small>
    </div>
    <div class="mt-1 mb-3 text-center">
      <a target="_blank" class="accessibility-statement c-bleu-gefco" href="https://www.cma-cgm.com/assets/public/documents/DC%20RGAA%20non%20conforme%20EN.docx">
        {{ 'ACCESSIBILITY_COMPLIANCE' | translate }}
      </a>
    </div>
  </div>
</div>
