<img *ngIf="code && !notFoundBrand" [src]="'https://cdn.dev.moveecar.io/brand/' + code + '.png'" alt="logo brand" (error)="doNotFoundBrand(code)" [style.width]="width" [style.height]="height" style="object-fit: contain" />
<ng-container *ngIf="!code || notFoundBrand">
  <ng-container [ngSwitch]="options?.notFound?.type">
    <div *ngSwitchCase="'icon'" class="d-flex flex-column justify-content-center align-items-center" [style.width]="width" [style.height]="height">
      <i [ngClass]="options.notFound.icon?.icon" aria-hidden="true" [style.font-size]="height"></i>
    </div>
    <img *ngSwitchCase="'image'" [src]="options.notFound.image?.src" alt="not found logo brand" [style.width]="width" [style.height]="height" style="object-fit: contain" />
    <div *ngSwitchDefault [style.width]="width" [style.height]="height"></div>
  </ng-container>
</ng-container>
