<form [formGroup]="placeFieldForm" novalidate>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="far fa-fw" [ngClass]="placeLoading ? 'fa-spinner fa-pulse' : 'fa-location-arrow'"></i></span>
    </div>
    <input
      #mytypeahead="bs-typeahead"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      autocomplete="off"
      placeholder="{{ placeholder }}"
      class="form-control"
      formControlName="place"
      [typeahead]="placeDataSource"
      [typeaheadOptionField]="'name'"
      (typeaheadLoading)="doChangePlaceLoading($event)"
      (typeaheadOnSelect)="doPlaceSelected($event)"
      [optionsListTemplate]="myListTemplate"
      [control-active]="(placeFieldForm.controls['place'].dirty && placeFieldForm.controls['place'].touched) || submitAttempt"
      [required]="required"
    />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary last-child-form-control" type="button" (click)="doClearPlace()" tabindex="-1" [disabled]="placeFieldForm.controls['place'].disabled">
        <i class="far fa-times"></i>
      </button>
    </div>
    <div class="invalid-feedback">
      {{ getPlaceErrorMessage() | translate }}
    </div>
  </div>
</form>
<ng-template #myItemTemplate let-match="match" let-query="query" let-item="item">
  <div class="d-flex flex-row">
    <div class="d-flex flex-column justify-content-center align-items-center mr-1">
      <i class="fa-fw fa-lg" [ngClass]="item.types | placeicon"></i>
    </div>
    <div class="flex-grow-1 d-flex flex-column">
      <div style="flex: 1.5" [innerHtml]="mytypeahead?._container?.highlight(match, query)"></div>
      <small class="font-weight-light" style="flex: 0.5; font-size: 80%">{{ item.structured_formatting?.secondary_text }}</small>
    </div>
  </div>
</ng-template>
<ng-template #myListTemplate let-matches="matches" let-query="query">
  <ng-template ngFor let-match let-i="index" [ngForOf]="matches">
    <h6 *ngIf="match.isHeader()" class="dropdown-header">{{ match }}</h6>
    <ng-template [ngIf]="!match.isHeader()">
      <button
        class="dropdown-item px-2 py-1 font-weight-normal"
        style="font-size: 95%"
        (click)="mytypeahead?._container?.selectMatch(match, $event)"
        (mouseenter)="mytypeahead?._container?.selectActive(match)"
        [class.active]="mytypeahead?._container?.isActive(match)"
      >
        <ng-template [ngTemplateOutlet]="myItemTemplate" [ngTemplateOutletContext]="{ item: match.item, index: i, match: match, query: query }"></ng-template>
      </button>
    </ng-template>
  </ng-template>
</ng-template>
