<div class="modal-header">
  <h4 class="modal-title">
    {{ 'COMMON_CONTRACTS.MODAL.EDIT_DEFAULT_SUBSCRIPTION.' + type?.toUpperCase() + '_TITLE' | translate }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="goBack()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="form" (ngSubmit)="doSave()">
  <div class="modal-body">
    <div class="form-row">
      <div class="col-12 mb-2">
        <h6>{{ 'COMMON_CONTRACTS.MODAL.EDIT_DEFAULT_DEPARTURE_ARRIVAL.SUBSCRIPTIONS_TITLE' | translate }}</h6>
      </div>
    </div>

    <div *ngIf="!readOnly" class="form-row">
      <div class="col-12 mb-2">
        <button type="button" class="btn btn-sm btn-primary" (click)="doAddSubscription()">
          {{ 'COMMON.ADD' | translate }}
        </button>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 mb-2">
        <table class="table table-sm" style="height: 1px">
          <thead>
            <tr>
              <th scope="col" style="width: 10px">#</th>
              <th scope="col" style="width: 25%">
                {{ 'COMMON_CONTRACTS.MODAL.EDIT_DEFAULT_DEPARTURE_ARRIVAL.EVENT_TYPE' | translate }}
              </th>
              <th scope="col" style="width: 25%">
                {{ 'COMMON_CONTRACTS.MODAL.EDIT_DEFAULT_DEPARTURE_ARRIVAL.MODE' | translate }}
              </th>
              <th scope="col" style="width: 25%">
                {{ 'COMMON_CONTRACTS.MODAL.EDIT_DEFAULT_DEPARTURE_ARRIVAL.NB_CONTACTS' | translate }}
              </th>
              <th scope="col" style="width: 50px"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sub of form.get('subscriptions').value; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td class="text-center align-middle">{{ sub.event_type | listdico : 'SUBSCRIPTION_EVENT_TYPES' }}</td>
              <td class="text-center align-middle">{{ sub.mode | listdico : 'SUBSCRIPTION_MODES' }}</td>
              <td class="align-middle">
                <i *ngIf="sub.use_member_role_contact" class="far fa-id-badge" aria-hidden="true"></i>
                {{ sub.contacts?.length }}
              </td>
              <td class="align-middle">
                <div *ngIf="!readOnly" class="d-flex flex-row justify-content-center align-items-center">
                  <button class="btn btn-icon text-primary" (click)="doEditSubscription(i, sub)" type="button">
                    <i class="fas fa-edit" aria-hidden="true"></i>
                  </button>
                  <button class="btn btn-icon text-danger" (click)="doDeleteSubscription(i)" type="button">
                    <i class="fas fa-trash" aria-hidden="true"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary mr-1" type="button" (click)="goBack()">
      {{ (readOnly ? 'COMMON.CLOSE' : 'COMMON.CANCEL') | translate }}
    </button>
    <button *ngIf="!readOnly" class="btn btn-primary ml-1" [disabled]="form.invalid" type="submit">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</form>
