<div [formGroup]="form">
  <div class="d-flex flex-row">
    <div *ngIf="!noQuery" class="mr-1">
      <app-codification-search-field formControlName="codification" [placeholder]="'VEHICLE_TYPE_FIELD.CODIFICATION' | translate" [codificationKind]="codificationKind" [filterStyle]="true"></app-codification-search-field>
    </div>
    <div *ngIf="noQuery" class="mr-1 input-group-sm">
      <input class="form-control custom-border" formControlName="codification" [placeholder]="'VEHICLE_TYPE_FIELD.CODIFICATION' | translate" />
    </div>
    <div class="ml-1 input-group-sm">
      <input class="form-control custom-border" formControlName="x_code" [placeholder]="'VEHICLE_TYPE_FIELD.X_CODE' | translate" />
    </div>
  </div>
</div>
