.legend-value {
  font-size: 12px;
}

#legend {
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  margin-bottom: 40px;
  cursor: pointer;
}

#legend_hidden {
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  margin-bottom: 40px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}