<div [hidden]="!display" id="legend" (click)="display = !display">
  <ng-container>
    <div *ngFor="let item of legends; let index = index">
      <div *ngIf="!item.lastGroup">
        <span [class]="item.class" [ngStyle]="{ color: item.color, width: '20px' }"> </span>
        <span *ngIf="item.lastGroup" class="legend-value mb-2">
          {{ item.description | translate }}
        </span>
        <span *ngIf="!item.lastGroup" class="legend-value">
          {{ item.description | translate }}
        </span>
      </div>
      <div *ngIf="item.lastGroup">
        <span [class]="item.class" [ngStyle]="{ color: item.color, width: '20px', marginBottom: '20px' }"> </span>
        <span class="legend-value mb-2">
          {{ item.description | translate }}
        </span>
      </div>
    </div>
  </ng-container>
</div>
<div [hidden]="display" id="legend_hidden" (click)="display = !display">
  {{ 'LEGEND.TITLE_LEGEND' | translate }}
  <span class="fas fa-info-circle"></span>
</div>
