@import "../../../../../variables";

:host {
  *:not(.my-waiting) {
    font-size: 0.875rem;
  }
}

.my-group-item {

  .my-item {
    .my-select {
      &:hover {
        background-color: $gray-300;
        border-radius: $border-radius;
      }
    }

    .my-delete {
      color: $gray-300;

      &:hover {
        color: $primary;
      }
    }
  }
}
