<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 col-md-12 col-sm-12">
      <div class="d-flex justify-content-center" [@pictures-anim]>
        <mcit-internal-external-vehicle-svg
          class="col-12"
          #internalExternalVehicleSvgComponent
          [displayInternalExternalSwitchButton]="false"
          [editable]="false"
          [damageType]="damagedElement?.type"
          [externalPoints]="[damagedElement?.coordinates]"
          [internalPoints]="[damagedElement?.coordinates]"
          [wheelPosition]="wheelPosition"
        >
        </mcit-internal-external-vehicle-svg>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center align-items-center">
      <div class="w-100">
        <h6 class="card-title d-flex flex-column w-100 p-1">
          <div class="my-damage">{{ damagedElement?.element?.name | meaning }}</div>
          <div class="my-damage">
            <small> {{ damagedElement?.element?.damage?.name | meaning }}</small> --
            <small *ngIf="damagedElement?.element?.damage?.dimensions"> {{ damagedElement?.element?.damage?.dimensions }} mm</small>
          </div>
        </h6>
        <div *ngIf="attachmentLocals?.length > 0">
          <mat-grid-list [cols]="gridCols" rowHeight="1:1" [@pictures-anim]>
            <mat-grid-tile *ngFor="let localAtt of attachmentLocals; let i = index">
              <img [src]="localAtt | attachToBase64 | async" alt="" height="150" style="cursor: pointer" (load)="(localAtt?.is_loaded)" (click)="doShowPictures(attachmentLocals, i)" />
              <ngx-loading [show]="!localAtt?.is_loaded" [config]="{ animationType: 'circleSwish' }"></ngx-loading>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        <div *ngIf="!attachmentLocals?.length && attachmentUrls.length > 0">
          <mat-grid-list [cols]="gridCols" rowHeight="1:1" [@pictures-anim]>
            <mat-grid-tile *ngFor="let url of attachmentUrls; let i = index">
              <img [src]="url | secure" alt="" height="150" style="cursor: pointer" (load)="stopLoading()" (click)="doShowPictures(attachmentUrls, i)" />
              <ngx-loading [show]="upload" [config]="{ animationType: 'circleSwish' }"></ngx-loading>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        <p class="card-text my-comment m-1 p-1" *ngIf="damagedElement?.comment">
          {{ damagedElement?.comment }}
        </p>
      </div>
    </div>
  </div>
</div>
