<div class="modal-header">
  <h4 class="modal-title">
    {{ 'CALENDARS.CHOSE_DEROGATORY.DEROGATORY_DATE' | translate }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="addDerogatoryDateForm" (ngSubmit)="doSave()">
  <div class="modal-body container-fluid">
    <div class="d-flex justify-content-around row align-items-center">
      <div class="col-auto pb-3">
        {{ 'CALENDARS.CHOSE_DEROGATORY.SELECT_DEROGATORY' | translate }}
      </div>
      <div class="col-auto">
        <mcit-date-local-field [id]="'derogatory_date'" [showClearDate]="true" formControlName="derogatory_date" [required]="true" [submitAttempt]="submitAttempt" [minDate]="minDate" [maxDate]="date" [startAt]="date">
        </mcit-date-local-field>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <div>
      <button type="submit" class="btn btn-outline-danger mr-auto" (click)="setDelete()" [disabled]="derogatoryDate | equalDate : date">
        {{ 'COMMON.DELETE' | translate }}
      </button>
    </div>
    <div>
      <button class="btn btn-outline-primary mr-1" (click)="doClose()">{{ 'COMMON.CANCEL' | translate }}</button>
      <button type="submit" class="btn ml-1 btn-primary" [disabled]="!isFormValid()">
        {{ 'COMMON.CONFIRM' | translate }}
      </button>
    </div>
  </div>
</form>
