<div class="modal-header">
  <h4 class="modal-title">{{ title | translate : extras?.titleParams }}</h4>
</div>
<div class="modal-body">
  <div class="form-row">
    <p *ngIf="!extras?.innerHtmlMessage">{{ messageKey | translate : extras?.messageParams }}</p>
    <p *ngIf="extras?.innerHtmlMessage" [innerHTML]="messageKey | translate : extras?.messageParams"></p>
  </div>
  <div *ngIf="extras?.extraKey1?.length" class="form-row">
    <p *ngIf="!extras?.innerHtmlKey1">{{ extras.extraKey1 | translate : extras?.extraParams1 }}</p>
    <p *ngIf="extras?.innerHtmlKey1" [innerHTML]="extras.extraKey1 | translate : extras?.extraParams1"></p>
  </div>
  <div *ngIf="extras?.extraKey2?.length" class="form-row">
    <p *ngIf="!extras?.innerHtmlKey2">{{ extras.extraKey2 | translate : extras?.extraParams2 }}</p>
    <p *ngIf="extras?.innerHtmlKey2" [innerHTML]="extras.extraKey2 | translate : extras?.extraParams2"></p>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary ml-1" (click)="doConfirm()">
    {{ (extras?.extrasActionKey ? extras?.extrasActionKey : 'COMMON.OK') | translate }}
  </button>
</div>
