@import '../../../../../variables.scss';

$tab-menu-badge-height: 15px;
$tab-menu-badge-top: -5px;
$tab-menu-badge-left: 20px;
$tab-menu-badge-border-size: 2px;
$tab-menu-badge-font-size: 10;

.btn.disabled, .btn:disabled {
    opacity: 0.3 !important;
}
.my-sub-text {
    @include font(300, 12, 14)
}
.my-badge {
    position: absolute;
    top: $tab-menu-badge-top;
    left: $tab-menu-badge-left;
    min-width: $tab-menu-badge-height + $tab-menu-badge-border-size * 2;
    height: $tab-menu-badge-height + $tab-menu-badge-border-size * 2;
    background-color: #28a745;
    border: $tab-menu-badge-border-size solid $background-color;
    border-radius: $tab-menu-badge-height;
    color: $white;
    text-align: center;
    vertical-align: baseline;
    @include font(500, $tab-menu-badge-font-size);
    line-height: $tab-menu-badge-height;
  padding: 1 (calc((#{$tab-menu-badge-height} / 4) + 1));
  background-clip: content-box;
}
.notvalid{
    border: solid 1px red;
}