<div class="position-relative">
  <div class="d-flex flex-row justify-content-between mt-2 mb-2">
    <div class="d-flex ml-3" style="font-weight: bold">
      {{ 'SEARCH_FIELD.FILTERS.STRINGLIST.DEFAULT_TITLE' | translate : { objectKey: objectKey } }}
    </div>
    <div class="flex-grow-1"></div>
    <button type="button" class="close mr-2" aria-label="Close" (click)="doClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="d-flex flex-row">
    <div class="input-group" [class.border-force]="true">
      <textarea class="form-control" type="text" [(ngModel)]="searchBox" (input)="onChange()" rows="15" (keydown.enter)="isMaxLineReached() ? false : true"> </textarea>
    </div>
  </div>
  <div class="d-flex flex-row align-items-center justify-content-between">
    <div [ngClass]="isMaxLineReached() ? 'red-text' : ''">
      {{ 'SEARCH_FIELD.LIST.LINES' | translate : { num: getNbLines(), total: getNbMaxLines() } }}
    </div>
    <button type="button" class="btn btn-icon mr-2" (click)="doApply()">
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>
<ng-template #waiting>
  <div class="d-flex flex-row justify-content-center align-items-center">
    <i class="far fa-spin fa-sync-alt my-waiting"></i>
  </div>
</ng-template>
