<div class="modal-header">
  <h4 class="modal-title">{{ options?.titleKey ?? 'EDIT_VEHICLE_IDS_MODAL.TITLE' | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="textForm" (ngSubmit)="doSubmit()" novalidate>
  <div class="modal-body">
    <div class="form-row">
      <div *ngIf="!options?.disableVin" class="col-12 col-md-4 col-lg mb-2">
        <label for="vins">{{ 'EDIT_VEHICLE_IDS_MODAL.VINS' | translate }}</label>
        <div class="border rounded">
          <ngx-codemirror id="vins" formControlName="vins" [options]="{ lineNumbers: true, theme: 'default', readOnly: isDisabled }"></ngx-codemirror>
        </div>
      </div>
      <div *ngIf="!options?.disableXVin && displayRefs" class="col-12 col-md-4 col-lg mb-2">
        <label for="x_vins">{{ 'EDIT_VEHICLE_IDS_MODAL.X_VINS' | translate }}</label>
        <div class="border rounded">
          <ngx-codemirror id="x_vins" formControlName="x_vins" [options]="{ lineNumbers: true, theme: 'default', readOnly: isDisabled }"></ngx-codemirror>
        </div>
      </div>
      <div *ngIf="!options?.disableLicensePlate" class="col-12 col-md-4 col-lg mb-2">
        <label for="license_plate">{{ 'EDIT_VEHICLE_IDS_MODAL.LICENSE_PLATES' | translate }}</label>
        <div class="border rounded">
          <ngx-codemirror id="license_plate" formControlName="license_plates" [options]="{ lineNumbers: true, theme: 'default', readOnly: isDisabled }"></ngx-codemirror>
        </div>
      </div>
      <div *ngIf="!options?.disableMaker" class="col-12 col-md-4 col-lg mb-2">
        <label for="maker">{{ 'EDIT_VEHICLE_IDS_MODAL.MAKER' | translate }}</label>
        <div class="border rounded">
          <ngx-codemirror id="maker" formControlName="maker" [options]="{ lineNumbers: true, theme: 'default', readOnly: isDisabled }"></ngx-codemirror>
        </div>
      </div>
      <div *ngIf="!options?.disableModel" class="col-12 col-md-4 col-lg mb-2">
        <label for="model">{{ 'EDIT_VEHICLE_IDS_MODAL.MODEL' | translate }}</label>
        <div class="border rounded">
          <ngx-codemirror id="model" formControlName="model" [options]="{ lineNumbers: true, theme: 'default', readOnly: isDisabled }"></ngx-codemirror>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary mr-1" type="button" (click)="doClose()">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button *ngIf="!isDisabled" class="btn btn-primary ml-1" type="submit" [disabled]="textForm.invalid">
      {{ 'COMMON.VALIDATE' | translate }}
    </button>
  </div>
</form>
