<div *ngIf="!categoryConfig.bucket?.showOnlyWithCount || data?.length > 0; else emptyData" class="d-flex flex-column">
  <ng-container *ngFor="let boundary of categoryConfig.bucket?.boundaries">
    <ng-container [ngTemplateOutlet]="lineContainerTemplate" [ngTemplateOutletContext]="{ boundary: boundary, line: (boundary.value | find : data : '_id') }"> </ng-container>
  </ng-container>
  <ng-template #lineContainerTemplate let-boundary="boundary" let-line="line">
    <ng-container *ngIf="!categoryConfig.bucket?.showOnlyWithCount || (line?.count || 0) > 0">
      <ng-container *ngIf="value == null || value.value === boundary.value">
        <ng-container [ngTemplateOutlet]="lineTemplate" [ngTemplateOutletContext]="{ boundary: boundary, count: line?.count || 0 }"> </ng-container>
      </ng-container>
    </ng-container>
  </ng-template>
</div>
<ng-template #emptyData>
  <ng-container *ngIf="value != null" [ngTemplateOutlet]="lineTemplate" [ngTemplateOutletContext]="{ boundary: value, count: 0 }"> </ng-container>

  <div class="text-muted font-italic text-center font-size-0_75">
    {{ 'FACET_FIELD.CATEGORIES.NO_DATA' | translate }}
  </div>
</ng-template>
<ng-template #lineTemplate let-boundary="boundary" let-count="count">
  <div class="d-flex flex-row align-items-center" [class.font-size-0_75]="options?.categories?.size === 'sm'">
    <div
      class="my-line flex-grow-1 d-flex flex-row align-items-center cursor-pointer minw-0"
      [class.disabled]="count === 0 && value?.value !== boundary.value"
      (click)="doCheckChange(boundary)"
      [class.font-weight-normal]="value?.value === boundary.value"
    >
      <i class="far" [ngClass]="value?.value === boundary.value ? 'fa-check-square' : 'fa-square'" aria-hidden="true"></i>
      <div class="flex-grow-1 mx-1">
        <ng-container *ngIf="boundary.max != null; else plus">
          {{ boundary.name ?? ('FACET_FIELD.CATEGORIES.MIN_TO_MAX' | translate : { min: boundary.min, max: boundary.max }) }}
        </ng-container>
        <ng-template #plus>
          <ng-container *ngIf="boundary.min != null; else default">{{ 'FACET_FIELD.CATEGORIES.PLUS_MIN' | translate : { min: boundary.min } }}</ng-container>
          <ng-template #default>
            {{ defaultValue }}
          </ng-template>
        </ng-template>
      </div>
      <div *ngIf="count != null" class="my-count">({{ count }})</div>
    </div>
  </div>
</ng-template>
