<ng-container *ngIf="yesNoSubcheckQuestion; else empty">
  <form *ngIf="subcheckForm?.controls?.choice?.controls" [formGroup]="subcheckForm" class="row no-gutters mb-1">
    <ng-container formGroupName="choice">
      <div *ngIf="(yesNoSubcheckQuestion?.subcheck_name | meaning) !== '!NOTHING_LABEL!'" class="col-12 minh25 pr-2 pl-2 pb-2 font-weight-bold">
        {{ yesNoSubcheckQuestion?.subcheck_name | meaning }}
      </div>
      <div class="col-12 m-1 d-flex justify-content-around">
        <label class="col-3 p-0 text-center minh25 m-0 bg-white" [class.selected]="selectedValue === true">
          <i *ngIf="selectedValue === true" class="fas fa-check-circle pr-1 text-success h5 m-0"></i>
          <i *ngIf="!(selectedValue === true)" class="fas fa-circle pr-1 text-secondary h5 m-0"></i>
          <input class="m-1 d-none" type="radio" [value]="true" formControlName="value" />
          {{ 'COMMON.YES' | translate }}
        </label>
        <label class="col-3 m-0 p-0 text-center minh25 bg-white" [class.selected]="selectedValue === false">
          <i *ngIf="selectedValue === false" class="fas fa-check-circle pr-1 text-success h5 m-0"></i>
          <i *ngIf="!(selectedValue === false)" class="fas fa-circle pr-1 text-secondary h5 m-0"></i>
          <input class="m-1 d-none" type="radio" [value]="false" formControlName="value" />
          {{ 'COMMON.NO' | translate }}
        </label>
      </div>
      <div class="col-12">
        <div class="col-12" *ngIf="yesNoSubcheckQuestion?.yes?.yes_attachment && selectedValue === true">
          <div class="m-1 pl-1 my-sub-text font-italic" *ngIf="yesNoSubcheckQuestion?.yes?.yes_attachment?.required === true">
            {{ 'INSPECTIONS.CHECKS.MANDATORY_PICTURE' | translate }}
          </div>
          <mcit-attachments
            [localMode]="localMode"
            [directoryName]="localAttachmentsDirectoryName"
            [attachments]="subcheckForm?.value?.choice?.choice_attachment"
            (attachlistChanged)="onChoiceAttachListChanged($event)"
            (attachAdded)="onAttachAdded($event)"
            [environment]="environment"
            [editable]="isEditable$ | async"
            [forceGrid4]="forceA4"
            [baseUrl]="prefix_attach_url || baseUrl"
            [suffixUrl]="suffix_attach_url"
            [actions$]="actions$"
          >
          </mcit-attachments>
        </div>
        <div class="col-12" *ngIf="yesNoSubcheckQuestion?.no?.no_attachment && selectedValue === false">
          <div class="m-1 pl-1 my-sub-text font-italic" *ngIf="yesNoSubcheckQuestion?.no?.no_attachment?.required === true">
            {{ 'INSPECTIONS.CHECKS.MANDATORY_PICTURE' | translate }}
          </div>
          <mcit-attachments
            [localMode]="localMode"
            [directoryName]="localAttachmentsDirectoryName"
            [attachments]="subcheckForm?.value?.choice?.choice_attachment"
            (attachlistChanged)="onChoiceAttachListChanged($event)"
            (attachAdded)="onAttachAdded($event)"
            [environment]="environment"
            [baseUrl]="prefix_attach_url || baseUrl"
            [suffixUrl]="suffix_attach_url"
            [actions$]="actions$"
          >
          </mcit-attachments>
        </div>
      </div>

      <ng-container *ngIf="yesNoSubcheckQuestion?.yes?.yes_comment && selectedValue === true">
        <textarea
          class="col-12 p-1 border"
          rows="2"
          formControlName="choice_comment"
          placeholder="{{ (yesNoSubcheckQuestion?.yes?.yes_comment?.required === true ? 'INSPECTIONS.CHECKS.MANDATORY_COMMENTS' : 'INSPECTIONS.CHECKS.COMMENTS') | translate }}"
        ></textarea>
      </ng-container>
      <ng-container *ngIf="yesNoSubcheckQuestion?.no?.no_comment && selectedValue === false">
        <textarea
          class="col-12 p-1 border"
          rows="2"
          formControlName="choice_comment"
          placeholder="{{ (yesNoSubcheckQuestion?.no?.no_comment?.required === true ? 'INSPECTIONS.CHECKS.MANDATORY_COMMENTS' : 'INSPECTIONS.CHECKS.COMMENTS') | translate }}"
        ></textarea>
      </ng-container>
    </ng-container>
  </form>
</ng-container>

<ng-template #empty>
  <div class="d-flex flex-column justify-content-center h-100">
    <h4 class="text-center">{{ 'COMMON.EMPTY_DATA' | translate }}</h4>
  </div>
</ng-template>
