<div
  class="app-tabs"
  [class.app-tabs--vertical]="isVertical"
  [class.app-tabs--horizontal]="!isVertical"
  [class.app-tabs--pills]="isPills"
  [class.app-tabs--tabs]="!isPills"
>
  <ul
    class="nav"
    [class.nav-tabs]="!isPills"
    [class.nav-pills]="isPills"
    [class.flex-column]="isVertical"
    role="tablist"
    [attr.aria-label]="ariaLabel"
    [attr.aria-orientation]="isVertical ? 'vertical' : null"
  >
    <li class="nav-item" *ngFor="let tab of primaryTabs; trackBy: trackByTabId">
      <button
        type="button"
        class="nav-link"
        [class.active]="tab.id === activeId"
        [class.disabled]="tab.disabled"
        [disabled]="tab.disabled"
        [attr.aria-disabled]="tab.disabled"
        (click)="selectTab(tab)"
      >
        <span *ngIf="tab.iconUrl" class="app-tab-icon" [style.background-image]="'url(' + tab.iconUrl + ')'" aria-hidden="true"></span>
        <span class="app-tab-label">{{ tab.label || tab.id }}</span>
        <span *ngIf="tab.badge !== undefined" class="app-tab-badge">{{ tab.badge }}</span>
      </button>
    </li>
    <li class="nav-item dropdown" *ngIf="overflowTabs.length">
      <button
        type="button"
        class="nav-link dropdown-toggle"
        [class.active]="isOverflowActive"
        [attr.aria-expanded]="dropdownOpen"
        (click)="toggleDropdown()"
      >
        {{ overflowLabel }}
      </button>
      <ul class="dropdown-menu" [class.show]="dropdownOpen">
        <li *ngFor="let tab of overflowTabs; trackBy: trackByTabId">
          <button
            type="button"
            class="dropdown-item"
            [class.active]="tab.id === activeId"
            [class.disabled]="tab.disabled"
            [disabled]="tab.disabled"
            (click)="selectTab(tab)"
          >
            {{ tab.label || tab.id }}
          </button>
        </li>
      </ul>
    </li>
  </ul>
</div>
