<div class="my-table-options d-none d-xl-flex flex-row align-items-baseline">
  <div *ngIf="totalLines" style="font-size: 1.3rem" class="py-2" [innerHTML]="totalLines"></div>
  <div *ngIf="pagination?.total && showLineNumber$.value" class="d-flex flex-row">
    <div class="font-weight-light position-relative" style="line-height: 1.5rem; bottom: -0.5rem" [innerHTML]="'TABLE_COMPONENT.TOTAL_PAGINATION' | translate : { total: pagination.total } | sanitizeHtml"></div>
  </div>
  <div *ngIf="options?.save?.id" class="flex-grow-1 d-flex flex-row justify-content-end align-items-center">
    <span *ngIf="title" style="font-size: 0.8rem" class="mr-2">{{ title }}</span>
    <div class="list-group list-group-horizontal mr-2" style="font-size: 0.5rem">
      <a
        href="javascript:void(0)"
        class="list-group-item list-group-item-action px-2 py-1"
        [class.active]="textSize$.value === 'small'"
        (click)="doChangeTextSize('small')"
        [mcitTooltip]="'TABLE_COMPONENT.SMALL_FONT' | translate"
        [mcitTooltipShowDelay]="1000"
      >
        <i class="fal fa-text-size fa-sm" aria-hidden="true"></i>
      </a>
      <a
        href="javascript:void(0)"
        class="list-group-item list-group-item-action px-2 py-1"
        [class.active]="textSize$.value === 'normal'"
        (click)="doChangeTextSize('normal')"
        [mcitTooltip]="'TABLE_COMPONENT.NORMAL_FONT' | translate"
        [mcitTooltipShowDelay]="1000"
      >
        <i class="far fa-text-size" aria-hidden="true"></i>
      </a>
      <a
        href="javascript:void(0)"
        class="list-group-item list-group-item-action px-2 py-1"
        [class.active]="textSize$.value === 'large'"
        (click)="doChangeTextSize('large')"
        [mcitTooltip]="'TABLE_COMPONENT.BIG_FONT' | translate"
        [mcitTooltipShowDelay]="1000"
      >
        <i class="fas fa-text-size fa-lg" aria-hidden="true"></i>
      </a>
    </div>
    <div *ngIf="options?.columns?.resizable || options?.columns?.hiddenable || options?.columns?.moveable" class="list-group list-group-horizontal mr-2" style="font-size: 0.5rem">
      <a
        *ngIf="options?.columns?.resizable"
        href="javascript:void(0)"
        class="list-group-item list-group-item-action px-2 py-1"
        [class.active]="mode === 'resize'"
        [class.rounded]="!options?.columns?.hiddenable && !options?.columns?.moveable"
        (click)="doToggleMode('resize')"
        [mcitTooltip]="'TABLE_COMPONENT.RESIZE_COLUMNS' | translate"
        [mcitTooltipShowDelay]="1000"
      >
        <i class="fas fa-arrows-h fa-lg" aria-hidden="true"></i>
      </a>
      <a
        *ngIf="options?.columns?.hiddenable"
        href="javascript:void(0)"
        class="list-group-item list-group-item-action px-2 py-1"
        [class.active]="mode$.value === 'visible'"
        [class.rounded]="!options?.columns?.resizable && !options?.columns?.moveable"
        (click)="doToggleMode('visible')"
        [mcitTooltip]="'TABLE_COMPONENT.SHOW_ALL_COLUMNS' | translate"
        [mcitTooltipShowDelay]="1000"
      >
        <i class="fas fa-eye fa-lg" aria-hidden="true"></i>
      </a>
      <a
        *ngIf="options?.columns?.moveable"
        href="javascript:void(0)"
        class="list-group-item list-group-item-action px-2 py-1"
        (click)="doShowMove()"
        [class.rounded]="!options?.columns?.resizable && !options?.columns?.hiddenable"
        [mcitTooltip]="'TABLE_COMPONENT.MOVE_COLUMNS' | translate"
        [mcitTooltipShowDelay]="1000"
      >
        <i class="fas fa-arrows fa-lg" aria-hidden="true"></i>
      </a>
    </div>
    <div *ngIf="startLine != null" class="list-group list-group-horizontal mr-2" style="font-size: 0.5rem">
      <a
        href="javascript:void(0)"
        class="list-group-item list-group-item-action px-2 py-1 rounded"
        [class.active]="showLineNumber$.value"
        (click)="doToggleShowLineNumber()"
        [mcitTooltip]="'TABLE_COMPONENT.LINE_NUMBER' | translate"
        [mcitTooltipShowDelay]="1000"
      >
        <i class="fas fa-list-ol fa-lg" aria-hidden="true"></i>
      </a>
    </div>
    <div *ngIf="!options?.stripe?.disable" class="list-group list-group-horizontal mr-2" style="font-size: 0.5rem">
      <a
        #button
        href="javascript:void(0)"
        class="list-group-item list-group-item-action px-2 py-1 rounded dropdown-toggle"
        (click)="doChooseStripe(button)"
        [class.active]="stripe$.value !== 'none'"
        [mcitTooltip]="'TABLE_COMPONENT.STRIPE' | translate"
        [mcitTooltipShowDelay]="1000"
      >
        <i class="fad fa-th fa-lg" aria-hidden="true"></i>
      </a>
    </div>
    <div class="list-group list-group-horizontal" [class.d-none]="options?.save?.hidden" style="font-size: 0.5rem">
      <a href="javascript:void(0)" class="list-group-item list-group-item-action px-2 py-1" [mcitTooltip]="'TABLE_COMPONENT.ADD_FAVORITE' | translate" [mcitTooltipShowDelay]="1000" (click)="doSaveFavorite()">
        <i class="far fa-star fa-lg" aria-hidden="true"></i>
      </a>
      <a #button href="javascript:void(0)" class="list-group-item list-group-item-action px-2 py-1" [mcitTooltip]="'TABLE_COMPONENT.SHOW_FAVORITES' | translate" [mcitTooltipShowDelay]="1000" (click)="doShowFavorites(button)">
        <i class="far fa-history fa-lg" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
