<div class="my-modal-header d-flex p-2">
  <div class="close my-auto mx-1 cursor-pointer" (click)="doClose()">
    <i class="fal fa-times p-2"></i>
  </div>
</div>

<div class="modal-body">
  <div class="action-item cursor-pointer mr-2" (click)="doPicture(true)">
    <i class="fas fa-camera fa-lg text-center pr-2"> </i>
    {{ 'ATTACHMENTS.CAMERA' | translate }}
  </div>
  <div class="action-item cursor-pointer mr-2" (click)="doPicture(false)">
    <i class="fas fa-image fa-lg text-center pr-2"> </i>
    {{ 'ATTACHMENTS.GALLERY' | translate }}
  </div>
  <!--  <div  class="action-item cursor-pointer mr-2" (click)="doAddPdf()">-->
  <!--    <i class="fas fa-file-pdf fa-lg text-center pr-2">-->
  <!--    </i>-->
  <!--    {{'ATTACHMENTS.PDF' | translate}}-->
  <!--  </div>-->
  <div class="action-item cursor-pointer mr-2" (click)="doScanDocumentPhotoAndPdf()">
    <i class="fas fa-scanner-image fa-lg text-center pr-2"> </i>
    {{ 'ATTACHMENTS.SCAN' | translate }}
  </div>
</div>
