<div [formGroup]="groupForm">
  <select class="custom-select custom-select-sm border" formControlName="value">
    <option [ngValue]="null" selected>
      {{ (filterConfig.selectList.emptyNameKey ? filterConfig.selectList.emptyNameKey : 'COMMON.NONE') | translate }}
    </option>
    <option *ngFor="let value of filterConfig.selectList.values; let i = index" [ngValue]="value.code">
      {{ value.ignoreTranslate ? value.nameKey : (value.nameKey | translate : value.params) }}
    </option>
  </select>
</div>
