<form [formGroup]="dateFieldForm" novalidate>
  <div class="input-group" [class.border-force]="borderForce" [ngClass]="size === 'large' ? 'input-group-lg' : size === 'small' ? 'input-group-sm' : ''">
    <div *ngIf="showPrevNext" class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="button" (click)="doPrev()" tabindex="-1" [disabled]="dateFieldForm.controls['date'].disabled">
        <i class="far fa-fw fa-chevron-left"></i>
      </button>
    </div>
    <input
      type="text"
      formControlName="date"
      class="form-control"
      autocomplete="off"
      [matDatepicker]="datePicker"
      [matDatepickerFilter]="myFilter"
      [control-active]="(dateFieldForm.controls['date'].dirty && dateFieldForm.controls['date'].touched) || submitAttempt"
      [required]="required"
    />
    <mat-datepicker #datePicker autoTouchUi [startAt]="startAt"></mat-datepicker>
    <div *ngIf="!isDisabled" class="input-group-append">
      <button *ngIf="showClearDate && dateFieldForm.get('date').value" class="btn btn-outline-secondary" type="button" [disabled]="dateFieldForm.controls['date'].disabled" (click)="doClearDate()" tabindex="-1">
        <i class="far fa-times"></i>
      </button>
      <button class="btn btn-outline-secondary" type="button" [class.last-child-form-control]="!showPrevNext && !showTodayButton" (click)="datePicker.open()" tabindex="-1" [disabled]="dateFieldForm.controls['date'].disabled">
        <i class="far fa-calendar-alt"></i>
      </button>
      <button *ngIf="showTodayButton" class="btn btn-outline-secondary" type="button" [class.last-child-form-control]="!showPrevNext" (click)="doToday()" tabindex="-1" [disabled]="dateFieldForm.controls['date'].disabled">
        <i class="far fa-calendar-day"></i>
      </button>
      <button *ngIf="showPrevNext" class="btn btn-outline-secondary last-child-form-control" type="button" (click)="doNext()" tabindex="-1" [disabled]="dateFieldForm.controls['date'].disabled">
        <i class="far fa-fw fa-chevron-right"></i>
      </button>
    </div>
    <div class="invalid-feedback" *ngIf="dateFieldForm.controls['date'].errors">
      <label *ngIf="dateFieldForm.controls['date'].hasError('required')">
        {{ 'CALENDAR.DATE_IS_MANDATORY' | translate }}
      </label>

      <label *ngIf="!dateFieldForm.controls['date'].hasError('required') && dateFieldForm.controls['date'].hasError('date')">
        {{ 'CALENDAR.DATE_IS_WRONG' | translate }}
      </label>

      <label *ngIf="!dateFieldForm.controls['date'].hasError('required') && !dateFieldForm.controls['date'].hasError('date') && dateFieldForm.controls['date'].hasError('validateDateRelativeTo')">
        {{ dateFieldForm.controls['date'].getError('validateDateRelativeTo').message | translate : { date: dateFieldForm.controls['date'].getError('validateDateRelativeTo').value | dateTranslate } }}
      </label>

      <label
        *ngIf="
          !dateFieldForm.controls['date'].hasError('required') &&
          !dateFieldForm.controls['date'].hasError('date') &&
          !dateFieldForm.controls['date'].hasError('validateDateRelativeTo') &&
          dateFieldForm.controls['date'].hasError('matDatepickerFilter')
        "
      >
        {{ 'CALENDAR.NOT_IN_RANGE' | translate }}
      </label>
      <label
        *ngIf="
          !dateFieldForm.controls['date'].hasError('required') &&
          !dateFieldForm.controls['date'].hasError('date') &&
          !dateFieldForm.controls['date'].hasError('validateDateRelativeTo') &&
          !dateFieldForm.controls['date'].hasError('matDatepickerFilter')
        "
      >
        {{ 'CALENDAR.FORMAT' | translate }}
      </label>
    </div>
  </div>
</form>
