<!--Conv-->
<div style="overflow: auto">
  <i class="btn btn-outline-primary p-2 fa-star far" [mcitDropdown]="msgMenu"></i>
  <ng-template #msgMenu let-dropdownRef="dropdownRef">
    <div class="mcit-dropdown-menu show" role="menu" aria-labelledby="button-basic">
      <a #msgRef class="dropdown-item" href="javascript:void(0)" *ngFor="let predefMsg of predefinedMessages | messagesPredefinedFilter : isDriver" (click)="dropdownRef.close(); chooseMessage(msgRef)">{{
        'CHAT.GENERIC.' + predefMsg | translate
      }}</a>
    </div>
  </ng-template>
</div>
