<div class="my-panel d-none d-lg-block">
  <!-- Panel toggle button (side tab) -->
  <button
    type="button"
    class="my-panel-toggle btn btn-primary btn-sm"
    (click)="doTogglePanel()"
    [mcitTooltip]="showPanel ? ('ADV_TRACKING.PANEL.HIDE_PANEL' | translate) : ('ADV_TRACKING.PANEL.SHOW_PANEL' | translate)"
    [hidden]="noItemsSelected$ | async"
  >
    <i class="fas" [ngClass]="showPanel ? 'fa-chevron-right' : 'fa-chevron-left'" aria-hidden="true"></i>
  </button>

  <!-- Panel content -->
  <div class="my-editor" [class.d-none]="(noItemsSelected$ | async) || !showPanel">
    <div class="my-body d-flex flex-column">
      <ng-content></ng-content>
    </div>
  </div>
</div>
