<form [formGroup]="formGroup" novalidate>
  <div class="input-group" [ngClass]="filterStyle ? 'input-group-sm custom-border' : ''">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="far fa-fw" [ngClass]="loading ? 'fa-spinner fa-pulse' : faIcon"></i>
      </span>
    </div>
    <input
      placeholder="{{ placeholder }}"
      class="form-control"
      formControlName="field"
      [typeahead]="dataSource"
      [typeaheadOptionField]="displayedField"
      [typeaheadItemTemplate]="itemTemplate"
      (typeaheadLoading)="doLoading($event)"
      (typeaheadOnSelect)="doSelected($event)"
      [typeaheadMinLength]="typeaheadMinLength"
      [control-active]="formGroup.controls['field'].dirty && formGroup.controls['field'].touched"
      [required]="required"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      autocomplete="off"
    />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary last-child-form-control" type="button" (click)="doClear()" tabindex="-1" [disabled]="formGroup.controls['field'].disabled">
        <i class="far fa-times"></i>
      </button>
    </div>
    <div class="invalid-feedback">
      {{ getErrorMessage() | translate }}
    </div>
  </div>
</form>

<ng-template #itemTemplate let-item="item">
  <div class="d-flex flex-column">
    <div *ngIf="!customTemplate">{{ item | lodashGet : displayedField }}</div>
    <ng-container *ngTemplateOutlet="customTemplate; context: { item: item }"></ng-container>
    <div *ngIf="displayedSecondaryFields" class="text-muted" style="font-size: 80%">
      <ng-container *ngFor="let info of displayedSecondaryFields">
        {{ item | lodashGet : info }}
      </ng-container>
    </div>
  </div>
</ng-template>
