@import '../../../../../theme/colors';

.workshop-icon {
    color: $orange-abricot-sombre;
}

.fuel-icon {
    color: $bootstrap-info;
}

.transport-icon {
    color: $bootstrap-secondary;
}

.red-text {
    color: $rouge-assistance;
}