<div class="modal-header">
  <h4 class="modal-title text-danger">{{ 'MASS_MESSAGE.ALERT' | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="doClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
  <div class="col-12 mb-2 modal-body">
    <div class="col-12 font-italic text-danger text-center" style="height: 20px">
      <ng-container *ngIf="isMRI">
        {{ 'MASS_MESSAGE.ONLY_MRI' | translate }}
      </ng-container>
    </div>
    <textarea id="text" [placeholder]="'MASS_MESSAGE.PLACEHOLDER' | translate" class="form-control mt-2" formControlName="text" type="text" autocomplete="no" rows="5"></textarea>
  </div>

  <div class="modal-footer">
    <button class="btn btn-outline-primary mr-1" type="button" (click)="doClose()">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button [disabled]="!messageForm.valid" class="btn btn-primary" type="submit">
      {{ 'COMMON.SEND' | translate }}
    </button>
  </div>
</form>
