<div class="container">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="mb-2 font-weight-bold font-italic">{{ readableMonth | titlecase }} {{ year }}</div>
    <div class="table-responsive">
      <div class="mcit-table-container">
        <table class="table table-sm mcit-table-bordered">
          <thead class="mcit-thead-dark">
            <tr>
              <th scope="col" class="text-center align-middle week-num-col">N°</th>
              <th *ngFor="let day of readableDays" scope="col" class="text-center align-middle d-none d-md-table-cell">
                {{ day }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let week of weeks | keyvalue : asIsOrder">
              <td class="text-center align-middle d-none d-md-table-cell week-num-col font-italic">{{ week.key }}</td>
              <ng-container *ngFor="let day of week.value; let i = index">
                <td
                  *ngIf="day.date && day.background !== INVOICING_BACKGROUND && day.background !== PERIODS_BACKGROUND"
                  class="text-center align-middle d-none d-md-table-cell"
                  style="cursor: pointer"
                  [class.week-end]="day.isWeekEnd"
                  [class.date_closing]="isDateForClosing(day.date)"
                  [style.background]="day.background"
                  (click)="doSelectDate(day.date)"
                >
                  {{ day.date }}
                </td>
                <!--Jour des calendriers pour les périodes comptables-->
                <td
                  *ngIf="day.date && day.background === PERIODS_BACKGROUND"
                  class="text-center align-middle d-none d-md-table-cell periodType"
                  style="cursor: pointer"
                  [class.week-end]="day.isWeekEnd"
                  [style.background]="day.background"
                  (click)="doSelectDate(day.date)"
                >
                  <span *ngFor="let period of day.periodDates" [class]="getClassPeriod(period.type)" [mcitTooltip]="getTextToolTip(period)">
                    {{ period.type }}
                  </span>
                  {{ day.date }}
                </td>
                <!--Jour des calendriers pour la facturation avec date dérogatoire-->
                <td
                  *ngIf="day.date && day.background === INVOICING_BACKGROUND"
                  [ngClass]="{ topLeftHalf: day.closing_period === 'AM', bottomRightHalf: day.closing_period === 'PM' }"
                  class="text-center align-middle d-none d-md-table-cell"
                  style="cursor: pointer"
                  [class.week-end]="day.isWeekEnd"
                  [style.background]="day.background"
                  (click)="doSelectDate(day.date)"
                  (mouseleave)="day.selected = false"
                  (mouseover)="day.selected = true"
                >
                  <div class="d-flex flex-column">
                    <div class="derogDate" *ngIf="day['derogatory_date'] && displayDerogatory">
                      <span class="position-absolute">
                        {{ day['derogatory_date'].getDate() }}
                      </span>
                      <i class="fad fa-arrow-to-left position-absolute"></i>
                    </div>
                    {{ day.date }}
                    <i class="far fa-calendar-plus fa-xs position-absolute addDate" *ngIf="day.selected && displayDerogatory" (click)="setDerogatory(day.date, day['derogatory_date'])"></i>
                  </div>
                </td>
                <td *ngIf="!day.date" class="text-center align-middle d-none d-md-table-cell"></td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
