@import '../../../variables';

.week-end {
  background-color: $gris-clair_1 ;
}

.week-num-col {
  background-color: $gris-clair_3;
  color: $warm-gray_5;
}

.addDate {
  margin-left: 19px;
  margin-top: 17px;
}

.seeDate {
  margin-right: -5px;
  margin-bottom: -2px;
}

.derogDate {
  font-weight: bold;
  font-size: 9px !important;
}

.derogDate > span {
  margin-top: -6px;
  margin-left: -19px;
}

.derogDate > i {
  margin-top: -4px;
  margin-left: -8px;
}

.date_closing {
  background-image: repeating-linear-gradient(-45deg, rgba(255, 160, 122, 0.64) 0px,  rgba(255, 160, 122, 0.64) 0px, transparent 3px, transparent 11px);
}

.periodType {
  position: relative;
}

.topLeft {
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  font-weight: bold;
  font-size: 9px !important;
}

.topRight{
  display: block;
  position: absolute;
  right: 0;
  top: -2px;
  font-weight: bold;
  font-size: 9px !important;
}

.botLeft{
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  font-weight: bold;
  font-size: 9px !important;
}

.botRight{
  display: block;
  position: absolute;
  right: 0;
  bottom: -2px;
  font-weight: bold;
  font-size: 9px !important;
}
.topLeftHalf {
  background: -moz-linear-gradient(135deg, lightgreen 50%, #ffffff 50%) !important;
  background: -webkit-linear-gradient(135deg, lightgreen 50%, #ffffff 50%) !important;
  background: linear-gradient(135deg, lightgreen 50%,#ffffff 50%) !important;
}
.bottomRightHalf {
  background: -moz-linear-gradient(315deg, lightgreen 50%, #ffffff 50%) !important;
  background: -webkit-linear-gradient(315deg, lightgreen 50%, #ffffff 50%) !important;
  background: linear-gradient(315deg, lightgreen 50%,#ffffff 50%) !important;
}