.my-park-table {
  .table-container {
    border-top: 1px solid #dee2e6;

    td, th {
      background-color: #fff;
    }

    .table-design {
      border: 0;
    }

    .empty-cell {
      visibility: hidden;
      border: 0;
    }
  }
}